[2016-03-01 04:00] bucaran commented on #130
@pickfire That's a bug in 1.0.0-rc, and it's now fixed in my local build. We'll be pushing VERY soon :smile:

[2016-03-01 04:01] pickfire commented on #130
Ah, this works:
[code]

[2016-03-01 05:06] bucaran commented on #130
@pickfire That's sweet. If only `parallel` was installed by default everywhere.

[2016-03-01 05:56] pickfire commented on #130
Okay, I will submit a pull request for this.

[2016-03-01 06:10] jethrokuan commented on #130
I'm not sure if this will work: `fisher list | xargs -n 1 -P20 fish -c "fisher u -"`

It says for me:
[code]

[2016-03-01 07:02] pickfire commented on #130
@jethrokuan, it won't work, there is no input for that.

[2016-03-01 08:47] predmijat opened #137 ""fisher search --tags=theme" returns no result"
"fisher search --tags=theme" returns no result and I'm not sure how to debug it.
Note: it's not a fresh install, but I'd really like to know why it doesn't work now, any way to debug it?

[2016-03-01 09:07] bucaran commented on #137
@predmijat The correct search query is `fisher search --tag=prompt`.

[2016-03-01 09:24] predmijat commented on #137
:+1:

[2016-03-01 09:24] #137 closed

[2016-03-01 09:31] #129 closed

[2016-03-01 09:31] #130 closed

[2016-03-01 09:31] #132 closed

[2016-03-01 09:31] #133 closed

[2016-03-01 09:31] #134 closed

[2016-03-01 09:32] bucaran commented on #72
Closing as it is understood now that Fisherman stores the downloaded plugins into XDG_CONFIG.

[2016-03-01 09:32] #72 closed

[2016-03-01 09:51] bucaran commented on #92
Closing as won't fix.

Better, let's add the plugin to the index and that's it.

[2016-03-01 09:51] #92 closed

[2016-03-01 10:11] pickfire commented on #130
For this, only parallelism for `fisher update all` is useless, I think I will add support the update feature.
And I need to split another update function to just update a single plugin.

I am not sure how to use the `debug` thing, for me I need to split:
[code]

So that it can update concurrently but there is a fallback which is that those variables won't be shared with other functions.

[2016-03-01 10:28] bucaran commented on #130
@pickfire Update has an --all option now which is why I closed this issue. But we can create a new one to track the parallel feature. I can assign it to you too if you wish.

[2016-03-01 11:03] pickfire opened #138 "Parallel fish_update"
For work to be done easier:

1. The `fisher update --all` should be something like the following to upgrade each plugin easily:
[code]
2. There should be a `__fisher_update_plugin` so that I can easily do something like:
[code]

I really don't know what needs to be done at the current case, there is too much needed to be changed, I don't have any idea how to update it now unless the function is re

[2016-03-01 11:13] bucaran commented on #138
If you need to write a `__fisher_update_plugin` function go ahead.

[2016-03-01 11:13] pickfire commented on #138
@bucaran Assign this to me, don't work on this yet, it seems like there is some bugs with fish.

[2016-03-01 11:20] pickfire commented on #138
@bucaran I tried to write it but it seems like it can't share the variables, any help here?

[2016-03-01 11:36] bucaran commented on #138
Another problem I see here is, how are we going to reset completions and key bindings within the same shell process.

I think this is going to be hard.

[2016-03-01 12:00] jethrokuan opened #139 "fisher update -A gives odd indexes"
Eg.
[code]

The count `-1` should be the number of plugins installed.

[2016-03-01 12:30] pickfire commented on #138
@bucaran Oh, I forgot it needs to reset completions and key bindings. I think we can probably do something like:
[code]

After that:
[code]

Is that okay, I don't think it would be that bad that two files are writing on top of each other simultaneously.

Second solution:
[code]
Then:
[code]
The second approach might be better.

[2016-03-01 12:30] pickfire commented on #138
@bucaran Oh, I forgot it needs to reset completions and key bindings. I think we can probably do something like:
[code]

After that:
[code]

Is that okay, I don't think it would be that bad that two files are writing on top of each other simultaneously.

Second solution:
[code]
Then:
[code]
The second approach might be better.

[2016-03-01 13:13] nklmilojevic opened #140 "Assertion failed"
Hi,

I'm having this error. I'm using fish 2.2.0 from homebrew.

nkl@Nikolas-MacBook-Pro ~> curl -sL get.fisherman.sh | fish
Assertion failed: (is_interactive >= 0), function get_is_interactive, file proc.cpp, line 141.
 ✓ Downloading Fisherman to ~/.local/share/fisherman
Assertion failed: (is_interactive >= 0), function get_is_interactive, file proc.cpp, line 141.
 ✓ Creating the configuration in

[2016-03-01 13:24] bucaran commented on #140
I think @pickfire was having the exact same issue at one point.

@faho Would you mind commenting on this issue?

[2016-03-01 13:28] bucaran commented on #138
@pickfire And TBH it's unlikely fish will implement a way to background functions in the near future, so I'll leave it up to you to decide to close or keep open.

[2016-03-01 13:36] faho commented on #140
This is fish issue [2280](https://github.com/fish-shell/fish-shell/issues/2280) - fish_indent may call something meant for interactive use, tripping an assertion.

You'll want [81cdceddd33bf831d206f6cd167c6bae5ef81225](https://github.com/fish-shell/fish-shell/commit/81cdceddd33bf831d206f6cd167c6bae5ef81225), which will be in the next release.

[2016-03-01 13:37] faho commented on #140
Or otherwise, you'll want to not override your normal locale via LC_ALL.

[2016-03-01 13:39] bucaran commented on #140
@faho Thanks. @nklmilojevic Let me know if this works for you!

[2016-03-01 13:56] bucaran commented on #127
@luan Done, but not exactly like you proposed.

To modify fisher_home, export FISHER_HOME.
To modify fisher_config, export FISHER_CONFIG.

The reason we used the variable in upper case is for consistency with the Makefile and to not interfere with an existing installation.

[2016-03-01 13:56] #127 closed

[2016-03-01 15:00] #139 closed

[2016-03-01 15:05] bucaran commented on #120
Closing as won't fix. If someone wants to take a stab at I won't complain, but I would like to focus on plugins now.

[2016-03-01 15:05] #120 closed

[2016-03-01 20:26] domoritz opened #141 "Issues with updating plugins"
Looks like there are some issues with the git command.

[code]

[2016-03-01 21:38] paxy97 commented on #135
I'm not adding the tildes by myself, the system is. Here are the outputs
[code]

[code]
here's the ~/.profile just to show there's nothing there either, I just use it to run the ssh-agent at boot:
[code]
I'm not noticing anything shady

[2016-03-02 01:42] bucaran commented on #141
Thanks! aa8a98a96602eba9289aa29f4ee1aa5b044bb8b9

It was a regression introduced in 1.0 that was causing plugins to be updated only if a branch other than `master` was checked out, that's wrong, so now it updates any branch.

[2016-03-02 01:42] #141 closed

[2016-03-02 01:56] domoritz commented on #141
All good

[2016-03-02 01:59] bucaran commented on #141
:fish: Great.

[2016-03-02 02:14] domoritz opened #142 "Update all complains about missing errno"
[code]

[2016-03-02 02:26] bucaran commented on #142
Problem may be something carrying over from the last update bug. Check `errno` is not in your $fisher_file.

What is the output of

[code]

[2016-03-02 02:28] domoritz commented on #142
Yes, that was the problem.

[code]

Removing all those empty lines and errno fixed it.

[2016-03-02 02:28] #142 closed

[2016-03-02 02:30] bucaran commented on #142
Knew it :trollface:

[2016-03-02 02:32] domoritz commented on #142
I hope uninstalling and installing packages doesn't cause empty lines over time. I'll keep monitoring.

[2016-03-02 02:45] bucaran commented on #142
Ok, _that_ would definitely be a bug.

[2016-03-02 02:47] jethrokuan commented on #135
@paxy97 is your fisher_home still at `set fisher_home ~.local/share/fisherman`, because you're missing a backslash there: `~/.local/share/fisherman`

[2016-03-02 03:21] domoritz opened #143 "Plugin wishlist"
Now that 1.0 is out, more plugins can be ported to fisherman.

### Wishlist

- [x] [grc](https://github.com/oh-my-fish/plugin-grc) command output highlighting. Seems to work in the session where the plugin in installed but not in new sessions.
- [x] More "native" plugins that do not incur cost of event handling
- [ ] Plugin to give suggestions for unknown commands

### Cancelled

* ~~Make plugins

[2016-03-02 03:30] domoritz commented on #143
More explanations for grc:

Installing it causes the following issue

[code]

[2016-03-02 05:21] bucaran commented on #143
@domoritz In the case of `grc` the fix is simple, we just need to ask the maintainers of the plugin to change the name `grc.fish` to `init.fish`.

![xxxxx](https://cloud.githubusercontent.com/assets/8317250/13451400/0155bf40-e082-11e5-8e0f-c0dd87ef71c9.jpg)

[2016-03-02 05:21] bucaran commented on #143
Good idea, let's keep track of that plugin wishlist here. :+1:

[2016-03-02 06:14] iONsky commented on #132
@bucaran Awesome :+1:

[2016-03-02 15:37] pickfire commented on #138
@bucaran I will keep it open and make this the oldest issue, hehe.

By the way, I am a bit busy setting up my static site generator in github, I hope I can remember this issue.

[2016-03-03 10:17] pickfire commented on #140
@nklmilojevic Try the latest fish git or fish 2.2.0, both works. But at some point between both of it, fails.

[2016-03-03 10:25] pickfire commented on #143
- [ ] Make plugins compatible with other shells/applications

[2016-03-05 15:53] bucaran opened #144 "Introduce set_color_custom"
Sometimes a prompt would like to set default syntax highlighting colors.

Introduce set_color_custom function that prompts can define to customize *fish_color_* variables. The user current color palette is saved to $fisher_config/fish_colors and restored when the prompt is disabled

[2016-03-05 18:06] #144 closed

[2016-03-06 11:15] bucaran opened #145 "Prompts can't define prompt functions inside a functions directory."
Fix bug where fisher_path_is_prompt was not picking up prompts that define its functions inside a functions directory.

[2016-03-06 11:32] #145 closed

[2016-03-06 11:33] bucaran commented on #145
4deb81260680ad5b4cd773a4e23257996b7d713b

[2016-03-07 10:02] corysimmons opened #146 "Quick Start guide doesn't exist"
Link in Terminal (`→ Quickstart Guide http://start.fisherman.sh`) goes to https://github.com/fisherman/fisherman/wiki/Quickstart-Guide which is gone.

[2016-03-07 10:05] bucaran commented on #146
Thanks, I have fixed the DNS to point to the wiki now, which was merged with the quickstart guide, but I forgot to update the link.

[2016-03-07 10:05] #146 closed

[2016-03-07 10:15] corysimmons opened #147 "Is there any way to hide themes in plugin search?"
I think plugins and themes should be separate in search results. Otherwise I have to sift through 300 themes to sift through 30 plugins.

[2016-03-07 10:25] corysimmons opened #148 "thefuck seems buggy"
![image](https://cloud.githubusercontent.com/assets/224636/13566732/f71acde4-e424-11e5-8858-f6856ee18346.png)

[2016-03-07 10:26] corysimmons commented on #148
Derp

[2016-03-07 10:26] #148 closed

[2016-03-07 10:31] bucaran commented on #148
@corysimmons Mistake?

[2016-03-07 10:32] bucaran commented on #147
@corysimmons This goes often unknown, but Fisherman's search command is quite powerful.

[code]

[2016-03-07 11:02] corysimmons commented on #148
Yeah I didn't install it first. =)

[2016-03-07 11:03] corysimmons commented on #147
Thanks

[2016-03-07 11:03] #147 closed

[2016-03-08 13:21] bucaran commented on #140
@nklmilojevic Ping.

[2016-03-08 13:21] nklmilojevic commented on #140
Sorry for not responding. Works ok now, thanks!

[2016-03-08 13:24] bucaran commented on #140
:+1: Thanks.

Closing as resolved.

[2016-03-08 13:24] #140 closed

[2016-03-09 04:22] bucaran opened #149 "Merge tutorial with main documentation, make README more useful."
The current README looks cool, but it lacks essential information.

+ [ x ] Merge tutorial docs with CLI docs.
+ [ x ] Include this information in the README.
+ [ x ] Update wiki accordingly.
+ [ x ] Use the QuickStart guide as the home page for the wiki.

[2016-03-09 04:24] bucaran opened #150 "Display default aliases in fisher menu."
The current menu shows the available commands, but does not show any aliases.

Display the default aliases, use --underline or $fish_color_command.

[code]

[2016-03-09 04:25] #149 closed

[2016-03-09 04:26] #150 closed

[2016-03-09 04:43] bucaran opened #151 "Review new simplified docs and align with README"
With the exception of individial command help, all the docs have been integrated into a single document. The README has been updated to include this document too.

+ [x] Revise and proof-read man/man1/fisher.md
+ [x] Update README accordingly.
+ [ ] Add animated Gifs to the README.
+ [ ] ~~Emphasize $fisher_ variables.~~

Proof-read help wanted.

/cc @pickfire @jethrokuan

[2016-03-09 11:28] pickfire commented on #151
proof-read?

[2016-03-09 11:59] bucaran commented on #151
Read and mark errors or inconsistencies.

[2016-03-09 15:01] mariuszs opened #152 "Cannot install on Fedora 23"
[code]

fish-2.2.0-11.fc23.x86_64
git-2.5.0-4.fc23.x86_64

[2016-03-09 15:03] bucaran commented on #152
Does XDG_* directories exist in Fedora?

You can type `curl -sL get.fisherman.sh | env TRY_ME=true fish` to see exactly what the installer does.

If any of those steps look weird to you or you are unable to execute, then we could solve this issue quickly.

[2016-03-09 15:04] bucaran commented on #152
Also, does Fedora have `make` or `gmake`? Because I remember that was an issue with FreeBSD we fixed.

[2016-03-09 15:17] pickfire commented on #151
I think it is better to put the `code` as another color (type):
![2016-03-09-231417_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/13639715/fc6f2f72-e64c-11e5-8052-a501f91ad6d3.png)

[2016-03-09 15:21] bucaran commented on #151
For the README right? Yes, I agree.

Also, I think the README should be a simplified version of `fisher.1`.

[2016-03-09 16:14] mariuszs commented on #152
Cannot, because we have /home instead of /Users :no_good:

    fatal: could not create leading directories of '/Users/mariuszs/.local/share/fisherman': Permission denied

[2016-03-09 16:15] mariuszs commented on #152
[code]

[2016-03-09 16:19] mariuszs commented on #152
I have make and gmake

     GNU Make 4.0

[2016-03-09 16:20] mariuszs commented on #152
Second install try looks like this:

[code]

[2016-03-09 16:23] mariuszs commented on #152
Yes

[2016-03-09 16:30] mariuszs commented on #152
Ok, I have installed fisher manually, thanks...

[code]

[2016-03-10 00:09] pickfire commented on #151
No, I mean for the man page.

[2016-03-10 02:05] bucaran commented on #151
You can't change the color in the man page.

[2016-03-10 03:18] decors opened #153 "Dangling symbolic link"
Hi @bucaran
man/man1/fisher-tutorial.1 is a dangling link.

https://github.com/fisherman/fisherman/blob/master/man/man1/fisher-tutorial.1

[2016-03-10 03:28] bucaran commented on #153
@decors I think this is on purpose, see https://github.com/fisherman/fisherman/blob/master/completions/fisher.fish#L5

The idea is that users could:

[code]

and get `tutorial` as one of the options.

<img width="1280" alt="screen shot 2016-03-10 at 12 28 21 pm" src="https://cloud.githubusercontent.com/assets/8317250/13658561/a401e5cc-e6bb-11e5-9037-2de2ef17cf07.png">

Does that make sense?

[2016-03-10 04:29] decors commented on #153
@bucaran Thanks!

I tried it.  Then, an error has occurred .
[code]

It refers to a file under your home directory
[code]

[2016-03-10 04:51] bucaran commented on #153
@decors Thanks! I see the problem now :sweat_smile:

Will submit a patch shortly.

[2016-03-10 05:11] bucaran commented on #153
d24a4f0

The dangling link has been exterminated! :smile:

[2016-03-10 05:11] #153 closed

[2016-03-10 06:00] decors commented on #153
Thank you for your fix :smiley:

[2016-03-10 12:50] pickfire commented on #151
You can use something like:
[code]

[2016-03-10 14:00] bucaran commented on #151
Ha! Nice trick. I am using ronn to generate the *.1* files so those would be overwritten.

[2016-03-10 14:42] pickfire commented on #151
@bucaran, I know about that but I think there might be some method to do that in `ronn`, not sure about ronn, haven't used it.

And the `VARIABLES` like `$fisher_home` should be underlined or emphasized.

Idea: A bug section.

[code]

[2016-03-10 15:17] bucaran commented on #151
Noted.

[2016-03-11 09:12] bucaran commented on #152
@mariuszs Thanks! Good thing there is always a manual method.

[2016-03-11 20:48] michaelperrygoodman opened #154 "Conflict with pre-existing function"
Hi. I have a pre-existing function that I load from an init.fish

config.fish
[code]

init.fish
[code]

The function (from aliases.fish):
[code]

And when this function is loaded, fisher is no longer to able to install plugins, z for instance. Here is what the output looks like (with the function; I cancel at a point so it doesn't continue to output obviously wrong info):

[code]
As you can see, i

[2016-03-11 20:52] bucaran commented on #154
Fisherman should not be calling `cd`, but rather `command cd`. I think we missed a few from https://github.com/fisherman/fisherman/issues/79.

So, the function you have a custom alias for is `cd` right?

[2016-03-11 22:03] michaelperrygoodman commented on #154
That's correct, the custom cd alias posted above.

[2016-03-11 22:11] bucaran commented on #154
I'll patch this and send it your way later today! Thanks for calling this one out.

[2016-03-11 22:24] michaelperrygoodman commented on #154
No problem, thanks for your project

[2016-03-13 03:02] bucaran commented on #143
@domoritz Any other plugins in the wish list?

[2016-03-13 03:16] domoritz commented on #143
Right now I'm using a mix is omf and fisherman plugins. fasd, thefuck, grc, bobthefish, osx, and spin. I'm not quite sure what the performance impact of some of the non-fisherman plugins is but I haven't had any major problems.

I'm quite happy right now but if I had to name some improvements to my terminal it would be better autocorrection as done by zsh. Fish only prints `fish: Unknown command`

[2016-03-13 03:49] bucaran commented on #143
Thanks for the update! I have deprecated autoinit and the legacy plugins as all OMF plugins work now out of the box with Fisherman and without any hacks.

I'll check out your suggestions and try to come up with something.

[2016-03-13 03:51] bucaran commented on #143
@pickfire

Do you mean porting the existing plugins to Zsh, etc?

[2016-03-13 13:16] pickfire commented on #143
@bucaran, I mean like make it usable on other platform like bash/zsh/mksh or maybe even in programming languages such as C.

[2016-03-13 13:32] bucaran commented on #143
@pickfire I see. Well, that's a nice idea, but certainly out of the scope of Fisherman, so we should remove that one from the list.

[2016-03-13 13:37] bucaran commented on #143
Also, I am scratching number 2 as well, since OMF plugins work out of the box in Fisherman now.
 https://github.com/fisherman/fisherman/issues/143#issuecomment-195863402

[2016-03-13 13:40] bucaran opened #155 "Add "Did you mean?" like feature"
* Improve suggestions for unknown Fisherman commands / plugins.

**See Also**
#144

/cc @domoritz

[2016-03-13 13:41] bucaran commented on #143
That leaves only 3.

Tracking in #155.

[2016-03-13 13:41] #143 closed

[2016-03-13 13:43] bucaran commented on #152
Closing as resolved. Thanks @mariuszs

[2016-03-13 13:43] #152 closed

[2016-03-13 14:16] bucaran commented on #16
@pickfire Do you have any updates on this?

[2016-03-13 14:42] pickfire commented on #138
This issue won't be solved any sooner as there are some issues with fish-shell/fish-shell#2782, I think you should check it there.

[2016-03-13 14:46] pickfire commented on #16
No, I don't have any idea how to get it working on a single simlink file but instead a symlinked directory worked. I think I don't have any idea how help to work on this, hope you can takeover.

[2016-03-13 16:01] jethrokuan commented on #151
Issues:
1. `fisher help --all` is not a legitimate command. Documentation should read `fisher help` for showing help.
2. Update all plugins in cache should be `fisher update -a`
3. Steps to manually submitting plugins are incorrect (need to fork, push, then send PR)

[2016-03-13 19:40] bucaran commented on #138
2587ca9aebf59592c1d8ee5932bfa7260359e96c

Done.

[2016-03-13 19:40] #138 closed

[2016-03-13 20:50] taylon opened #156 "Are completions supposed to be plugins?"
I was about to submit a completion, but I didn't find any completion in the fisherman index and the README does not mention completions as plugins

[2016-03-13 21:08] bucaran commented on #156
Totally. Completions can be plugins. Having said that, fish usually ships with completions for everything, so if you created completions for a known command, adding it to fish directly would benefit even more people.

What command did you create completions for?

[2016-03-13 21:24] taylon commented on #156
Nice, I created one for [Ember-CLI](http://ember-cli.com/) https://github.com/taylon/fish-ember-completion  =D

[2016-03-13 21:27] bucaran commented on #156
Nice. Ember-CLI is a large project used by possibly thousands of people and I think submitting these completions directly to fish upstream would help the community more, but it's up to you! :smile:

[2016-03-13 21:28] taylon commented on #156
Yeah, you are right, I'll improve it and submit to Fish =D

Thanks,

[2016-03-13 21:28] #156 closed

[2016-03-15 11:43] brenogil opened #158 "Error when trying to "fisher u""
I am getting a problem when running `fisher u`

after some activity the line `test: unexpected argument at index 2: '3	40416	stopped	sleep 0.02'` is printed repeatedly.

[code]

[2016-03-15 12:53] bucaran commented on #158
Hey @brenogil I am working on a patch to fix a little bug in the update, but this is not it.

What's your fish version? Also, can you drop by http://join.fisherman.sh?

[2016-03-15 13:01] brenogil commented on #158
Hello, Just joined

[code]

[2016-03-15 17:17] bucaran commented on #158
@brenogil Thanks! Problem was lingering `legacy` and `autoinit` deprecated deps in the *fishfile*.

They had to be removed manually. After doing so, the problem sink away.

Closing as fixed.

[2016-03-15 17:17] #158 closed

[2016-03-16 08:31] pantasio opened #159 "theme bobthefish cant autoload in new session"
open new terminal, fisher still run but bobthefish dont

[2016-03-16 08:56] bucaran commented on #159
@pantasio That's odd and I can't repro.

![bob](https://cloud.githubusercontent.com/assets/8317250/13806680/589aa300-eba0-11e5-9fc9-91bddeaf7439.gif)

What is your OS, fisherman version, and the contents of your config.fish?

[2016-03-17 10:13] mkaito opened #160 "Archlinux package"
Anyone can contribute packages to the [Arch User Repository](https://wiki.archlinux.org/index.php/Arch_User_Repository#Sharing_and_maintaining_packages). I would really appreciate a package for fisherman. The link explains how it can be done.

[2016-03-17 10:17] bucaran commented on #160
@mkaito That would be sweet.

Ping @jethrokuan

[2016-03-17 10:24] jethrokuan commented on #160
@mkaito I'll get on it (:

[2016-03-17 10:24] mkaito commented on #160
Awesome :smile:

[2016-03-17 12:11] anatoo opened #161 "Why plugin install skipped?"
Hi guys,

I have a problem about installing plugin.
Fisherman display "1 plugins/s skipped(plugin name)" when I try to install plugin like the below.

[code]

Why plugin install skipped?

Fish shell and Fisherman's version:
[code]

Thanks.

[2016-03-17 12:24] bucaran commented on #161
@anatoo That means that your fishfile got corrupted somehow. Fisherman thinks `pure` is already installed, hence it skipped _it_.

[code]

If you still have problems you are welcome aboard [join.fisherman.sh](http://join.fisherman.sh).

[2016-03-17 12:35] anatoo commented on #161
@bucaran Thanks for quick response.
I removed "pure" from $fisher_file and my problems are resolved!

[2016-03-17 12:35] #161 closed

[2016-03-17 12:45] bucaran commented on #161
@anatoo Do you have any recollection of the steps you made that led to the file getting corrupted?

I'll confess I have experienced this a couple of times too, but I have never been able to repro the problem.

[2016-03-17 12:54] anatoo commented on #161
@bucaran I uninstalled fisherman several times because fisherman seems to be broken when I installed some bad plugins.
Probably I forgotten to remove "~/.config/fisherman" on uninstalling fisherman.

[2016-03-17 12:57] bucaran commented on #161
Ok, I'll see if I can find something, thanks for reporting this.

By the way, which "bad" plugins?

[2016-03-17 13:10] jethrokuan commented on #160
@mkaito do you have experience making AUR packages? maybe we could do a bit of pair programming. (:

[2016-03-17 13:16] mkaito commented on #160
Yes, I maintain a bunch of packages. I'd have made it myself already, but I don't want to overburden myself with the maintenance work.

[2016-03-17 13:18] jethrokuan commented on #160
@mkaito are you on our slack? we could chat about it.

[2016-03-17 13:52] jethrokuan commented on #160
@mkaito I have something preliminary up [here](https://github.com/jethrokuan/fisherman-aur). The installation works, but I'm having troubles trying to figure out how to uninstall this thing with `pacman -R`. Would be great if you could advise me on this.

[2016-03-17 13:53] anatoo commented on #161
Sorry I forgotten which plugin. Some prompt plugin output many errors after the installation and just seems to be broken.

[2016-03-17 13:55] bucaran commented on #161
Alright, perhaps it was one o the git_util plugins that were renamed recently.

[2016-03-17 14:07] mkaito commented on #160
I'm not on your slack. Are you on Freenode by any chance? Just `/query mkaito`. I use a bouncer, so if I'm marked as away, I'm probably not home.

Re: PKGBUILD

You probably want the `make` call to place files in `$pkgdir`, duplicating the root file system structure. So `/usr/bin/foo` would need to be placed in `$pkgdir/usr/bin/foo`. After that, pacman should be able to take care of file managemen

[2016-03-17 14:27] bucaran commented on #160
@mkaito If you have the Slack application you are welcome aboard [join.fisherman.sh](http://join.fisherman.sh).

[2016-03-17 14:39] edouard-lopez opened #162 "Updating: error: cannot open .git/FETCH_HEAD: Permission denied"
Following rafaelrinaldi/pure#25 discussion, I tried to update my fisherman install with

    $ fisher update

### Error

[code]

### Env

[code]

### Question

I can't find the `.git` repo in question. Any hint?

[2016-03-17 14:58] bucaran commented on #162
@edouard-lopez I am pretty sure the problem is because the change from 0.7.0 to 1.3.1 was really huge.

You can (1) uninstall Fisherman and start clean or (2) navigate to your `$fisher_home` and run `git status` to see if there is anything funny going on there.

[2016-03-17 14:59] edouard-lopez commented on #162
I went to read the `fisherman` installer with:

    curl -sL get.fisherman.sh | less

I see there is a `$fisher_home` variable. So I checked the directory permissions:

[code]

So indeed the `.git/` directory belong to `root`

### Solution

Updating the directory permission and running update did the trick:

[code]

[2016-03-17 14:59] #162 closed

[2016-03-17 14:59] jethrokuan commented on #162
I think this is because you're running your shell from a different user. The `git pull` is failing because you don't own the directory.

[2016-03-17 15:00] bucaran commented on #162
@edouard-lopez Thanks.

[2016-03-17 15:07] pickfire commented on #69
@bucaran, Why isn't this in wiki instead it is here? It will definitely looks better in wiki. (Someone else can help to add more information to it too.)

[2016-03-17 15:11] pickfire commented on #160
I have some experience creating packages but I don't have any experience uploading those build files to arch linux, I guess @mkaito can really do a good job here.

[2016-03-17 15:14] bucaran commented on #69
OK, let's port this to the wiki.

[2016-03-18 02:51] mkaito commented on #160
It works through git. Each package is a magic gitoliite repo. You just clone it to create it. The process is described in the wiki page I linked above.

If you need a hand, I can pop into slack. @jethrokuan poked me on IRC, but caught me during my nap time (sorry :stuck_out_tongue:)

[2016-03-18 10:15] Globegitter opened #163 "Can't switch to theme vibrant anymore"
I am not sure what happened, but first I switched around between a few themes, then I actually started using https://github.com/derhuerst/vibrant for a few days. Due to https://github.com/derhuerst/vibrant/issues/1 I switched theme and now I can not switch back to vibrant anymore or even uninstall it, it seems. I can switch to some other themes though.

`fisher i vibrant` and nothing happens.

[co

[2016-03-18 10:17] Globegitter commented on #163
Removing vibrant from the cache and then installing it again seemed to do the trick though.

[2016-03-18 10:24] bucaran commented on #163
@Globegitter I wish I had received a notification when you started having the problem. Perhaps the $fisher_prompt variable was set to `vibrant` incorrectly for some reason.

If you could repro this, I'd love to know.

[2016-03-18 10:35] Globegitter commented on #163
Ahhh, good to know there is a `$fisher_prompt` env variable. I'll try to play around with that at some point again and see if I can reproduce it. Thanks for the quick response though.

[2016-03-18 10:40] bucaran commented on #163
Yes, that is a universal variable we set to know the name of the prompt that is currently installed, so that when you install/switch to another prompt we know which one to disable.

[2016-03-18 12:09] fsquillace opened #164 "Which fish version is fisherman compatible?"
Hi,

I have used the fish version 2.1.1 and during the manual installation I've got the following error:

    mkdir -p $HOME/.config/fish/ && touch $HOME/.config/fish/config.fish
    echo "set fisher_home /home/travis/build/fsquillace/pearl/mods/misc/fisherman/" | sed "s|/$||;s|$HOME|~|" > $HOME/.config/fish/config.fish.fisher
    echo "set fisher_config $HOME/.config/fisherman" | sed "s|$HOME|~|"

[2016-03-18 12:21] bucaran commented on #164
@fsquillace That's not an error, that's make's output.

Fisherman is mostly compatible with 2.1.1, I haven't fully tested it in 2.1.1, but it should run basically.

[code]

Seems like an error introduced in the latest update that introduced parallel updates and we are using `set_color` to colorize the spinner.

[2016-03-18 12:56] jethrokuan commented on #164
iirc there is a check for fish version `2.1.2` and prompts you to upgrade to `2.2.0`.

https://github.com/fisherman/install/blob/master/install.fish#L106

@bucaran is probably right in that the recent changes made it less backward compatible

[2016-03-19 07:46] rodonn opened #165 "Is it possible to have an option to link plugins with symlinks instead of hardlinks?"
When I run `fisher install pure` (or any other plugin)

I get errors of the form
`ln: failed to create hard link 'MYHOME/.config/fisherman/functions/__format_time.fish' => 'MYHOME/.config/fisherman/cache/pure/__format_time.fish': Invalid cross-device link`

(one for each file that needs to get copied from the cache folder)

I think the problem may be due to the fact I'm running on a server with al

[2016-03-19 08:07] jethrokuan commented on #165
Soft-linking the cache directory to the working should work in theory, @bucaran any thoughts?

[This](https://github.com/fisherman/fisherman/blob/1493292cd28b7dc33aa3b22eaf4fe9aa4ee03910/functions/__fisher_plugin_enable.fish#L13-L17) seems to be the only area where `ln`'s options are involved.

[2016-03-19 10:11] bucaran commented on #165
@rodonn We only create symbolic links when the path is already a symbolic link, which is the case of plugins which are installed from local files.

We could add an option `--link` or `--soft` to install to force creating a symlink from a plugin downloaded to $fisher_cache, but I wonder if this could potentially break anything.

[2016-03-20 00:50] alexmsmartins opened #166 "Cannot install fisherman"
Here is the shell session where I present all the versions of the necessary software and then try to do an installation. Since I use vim-mode, you can identify the new commands by `[I] ~ $`.
[code]
I could have simplified this but maybe leaving it complete will give someone extra hints about what extra information you need from me.

[2016-03-20 01:13] bucaran commented on #166
@alexmsmartins Ok, so it seems you couldn't even download Fisherman. Do you have write permissions in `~/.local/share`?

[2016-03-20 02:33] alexmsmartins commented on #166
Hi @bucaran . I double checked permissions and I do have write permissions to `~/.local/share`. This is inside a regular $HOME directory and I have right permissions everywhere.

[2016-03-20 02:44] bucaran commented on #166
@alexmsmartins

In that case, Fisherman must be downloaded to ~/.local/share.

But here is one fun thing you can try:

[code]

Can we troubleshoot this together? [join.fisherman.sh](http://join.fisherman.sh)

[2016-03-21 19:58] alexmsmartins commented on #166
@bucaran

I do not see anything strange.

Here is the output

[code]

[2016-03-22 01:38] bucaran commented on #166
@alexmsmartins OK, we are making progress. Fisherman actually runs that exactly. If you try running each of those instructions one by one we could find exactly the place where you are getting stuck.

Start with

[code]

and let me know what happened.

[2016-03-22 14:44] xMrWhite commented on #166
I was having this problem today the requirements do not let you know that you are missing make. You should test if make ran and report that as the problem rather than the git and fish versions.

[2016-03-22 14:45] jethrokuan commented on #166
The curl installer has no dependency on make, just fish and some basic unix
tools like sed.

wrote:

you are missing make. You should test if make ran and report that as the
problem rather than the git and fish versions.

You are receiving this because you are subscribed to this thread.
Reply to this email directly or [view it on GitHub](https://github.com/fisherm
an/fisherman/issues/166#issuecomm

[2016-03-22 14:47] xMrWhite commented on #166
Are you sure because your commands up there
[code]
run make

[2016-03-22 14:49] jethrokuan commented on #166
oh wow how'd I miss that. Thanks! :smile:

[2016-03-22 14:50] bucaran commented on #166
@xMrWhite Oh, so _that_ was the problem! Thanks. This should be easy to check and explain in the troubleshoot report.

https://github.com/fisherman/install/issues/3

[2016-03-22 14:54] xMrWhite commented on #166
I mean i'm not @alexmsmartins but I was installing fish and fisher only a new ubuntu 14.04 cloud today and got the exact same output  `sudo apt-get install build-essential` made it work. I did not try just installing make.

[2016-03-22 14:57] bucaran commented on #166
@xMrWhite Yes, and thanks for the solution snippet.

[2016-03-22 23:19] alexmsmartins commented on #166
@bucaran

Running the commands one by one works with a little tweak. Basically, I need to reload the shell before running `__fisher_index_update`.

Here is the shell session.
[code]

I have fisherman installed now but if you want me to run any more experiments, let me know.

[2016-03-23 19:29] domoritz opened #168 "Show changes when updating"
After reading https://medium.com/@robbyrussell/d-oh-my-zsh-af99ca54212c I think two simple additions could increase engagement. One is that when you update fisherman or a plugin, a short description of the changes  (commit messages/ what files have changed) could be shown (this issue). Second, fisherman could automatically update every other week to make sure that people stay up to date with the l

[2016-03-23 19:29] domoritz opened #169 "Auto updater"
After reading https://medium.com/@robbyrussell/d-oh-my-zsh-af99ca54212c I think two simple additions could increase engagement. One is that when you update fisherman or a plugin, a short description of the changes  (commit messages/ what files have changed) could be shown (#168). Second, fisherman could automatically update every other week to make sure that people stay up to date with the latest

[2016-03-24 02:22] bucaran commented on #168
This could be a simple addition, but it depends on what and how we do it exactly. Like, just write the contents of `git log <options>` after the update. Or do you have something more elaborate in mind?

[2016-03-24 05:38] jimfleming commented on #166
Just wanted to add that I ran into the same issue as @alexmsmartins. To fix it I ran the steps from `TRY_ME` but reloaded the fish config before running any of the fisher commands. Seems to work now.

[2016-03-24 05:38] bucaran commented on #166
@jimfleming Hey, thanks, what was the OS in your case?

[2016-03-24 05:57] jimfleming commented on #166
I edited my original post shortly after hitting enter. Here's the full OS version: OS X (El Capitan) 10.11 (15A284).

[2016-03-24 05:59] bucaran commented on #166
@jimfleming Do you have `make`? Try `make -v`.

[2016-03-24 06:02] jimfleming commented on #166
Yup, here's the output:

[code]

[2016-03-24 06:23] domoritz commented on #168
Oh my zsh seems to show the file change stats from git (https://raw.githubusercontent.com/babun/babun.github.io/master/images/screenshots/screen_zsh_update.png). I think the commit messages are more useful. Or even better: when fisherman updates to a new version, show the release log from https://github.com/fisherman/fisherman/releases.

Right now I don't even know whether updating actually instal

[2016-03-24 07:12] bucaran commented on #166
In that case the problem was not `make`. I understand that @alexmsmartins's problem (or maybe that was @xMrWhite or someone else) was they didn't have `make`.

Well, I am going to close this as resolved, since all of you were able to install Fisherman correctly, but do please ping me if you try to re-install Fisherman and something does not go well as I was not able to reproduce this problem in tw

[2016-03-24 07:12] #166 closed

[2016-03-24 07:13] bucaran commented on #168
@domoritz So we could print a message saying `Visit ...` with a link to the releases page. Or do you want to read the file in your terminal?

[2016-03-24 07:20] domoritz commented on #168
But not even that for plugins. And yes, if the latest version is already installed it's odd to get a message.

Just as a reference, this is the current output.

[code]

What I'm suggesting is this issue is a) only show the items that actually changed, b) show from what version to what version we updated, or c) show a little summary of the commit messages or the release log since the last update (c

[2016-03-24 07:26] bucaran commented on #168
Gotcha.

BTW plugins have **no versions**, but we could check whether there are any updates available and then update only if so.

So, hat kind of summary exactly? Since this is just text, can you write the desired output and post it here? That way we would be discussing something more concrete.

[2016-03-24 12:04] bucaran commented on #16
@pickfire Does a symlinked directory works?

[2016-03-24 12:04] bucaran commented on #160
@mkaito @pickfire @jethrokuan Any updates on this?

[2016-03-24 12:05] bucaran commented on #159
@pantasio Ping.

[2016-03-24 12:06] bucaran commented on #163
@Globegitter Please reopen if you get the same misbehavior again. :smile:

[2016-03-24 12:06] #163 closed

[2016-03-24 12:07] bucaran commented on #164
Mostly compatible with 2.1.2 and perfectly compatible with 2.2.0

Closing as answered/resolved.

[2016-03-24 12:07] #164 closed

[2016-03-24 12:08] bucaran commented on #165
@rodonn Does adding a --link option to the install method fix the problem?

[2016-03-24 13:51] pickfire commented on #16
@bucaran Yeah, it works. Except if it is a symlink file.

[2016-03-24 13:52] bucaran commented on #16
How would the solution look like? Even if we can't write it now, what do you think we need to do?

[2016-03-24 13:53] pickfire commented on #160
@bucaran Not sure, I am not working on this. I guess @mkaito knows more.

[2016-03-24 13:53] jethrokuan commented on #160
Tried to tackle this, was not successful.

[2016-03-24 14:03] mkaito commented on #160
I haven't done any work on this so far, but I'll try to write a PKGBUILD as soon as I have some time. I'll bug you on Slack if I need help correctly placing files.

IMHO, it should be a repo under the fisherman organization that mirrors the AUR repo, so that it can be maintained by the community via pull request.

[2016-03-24 14:32] pickfire commented on #16
It should work if we assue the symlink file to be just a file, we should care whether it is a symlink file.

This seems weird to me as I have never get this kind of problems, no idea what the solution looks like.

[2016-03-24 14:37] jethrokuan commented on #160
@mkaito thanks for taking this up. Adding the repo to the organization would be no problem.

[2016-03-24 14:39] mkaito commented on #160
I'll create the repo and transfer it when I'm done.

[2016-03-24 14:40] bucaran commented on #16
I am going to close this a _wontfix_ for the time being. Seems like something easy to fix on the side of the user, especially one who is using a symlink for their config.fish.

May reopen someday when all the other issues are closed :smile:

[2016-03-24 14:40] #16 closed

[2016-03-24 14:42] bucaran commented on #160
@mkaito Thanks! :heart:

[2016-03-24 16:51] domoritz commented on #168
But they have git hashes and dates when they were been updated.

[2016-03-24 17:03] bucaran commented on #168
Yes, they certainly do. There is a lot of data and I am wondering, what would be the best way to display this data to the user. Can you take a stab at the ideal text output while / after you update plugins.

[2016-03-24 17:20] domoritz commented on #168
[code]

[code]

(it's odd that there is an arrow in front on different things (the message or the thing that has been updated)

[code]

And if fisherman is up to date

[code]

If you also want to show the changes, it could look like this:

[code]

or just a link

[code]

[2016-03-24 18:02] bucaran commented on #168
I totally dig this :smile:

[2016-03-26 01:36] aristidesfl commented on #16
This breaks the user configuration system silently.
The symlink will be lost and the user will never know, until he spends some time figuring out why his `~/.dotfiles/.config/fish/config.fish` is not working.

[2016-03-26 03:25] bucaran commented on #16
@aristidesfl What are some use cases for having a symlink to your config.fish instead of your config.fish. Also, what do you suggest we could do?

For example, does ditching `make` in favor of a fish-only install solution script help?

[2016-03-26 03:33] tuvistavie commented on #16
I think this should be enough to solve the issue.

[code]

[2016-03-26 03:48] bucaran commented on #16
Oh, but that's really clever!! :smile:

Alright, will test that out soon.

BTW @tuvistavie you are on Arch right? Maybe you could check this out for me https://aur.archlinux.org/packages/fisherman-git/

[2016-03-26 03:59] tuvistavie commented on #16
Seems to be working fine!

[code]

[2016-03-26 04:03] bucaran commented on #16
@tuvistavie Thanks!!

[2016-03-26 04:49] orangecms opened #170 "Fix load order during installation"
When installing `ssh-agent`, one would get the following error:
[code]

@bucaran figured out that the snippet is sourced before linking the actual function to the config.

[2016-03-26 04:50] bucaran commented on #170
Thanks @orangecms.

This is affecting @herrbischoff ssh-agent too. I'll submit a patch shortly.

[2016-03-26 05:56] #170 closed

[2016-03-26 07:06] jethrokuan commented on #160
@mkaito https://aur.archlinux.org/packages/fisherman-git/

This was created by @orangecms , any comments?

[2016-03-26 07:08] jethrokuan commented on #160
For one, fisherman uses git internally to install and update plugins, so git should merely be a dependency to build the package.

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=fisherman-git#n12

[2016-03-26 08:26] mkaito commented on #160
That looks fine to me. Seems to put things in the right places, at least. If git is used at runtime, it needs to be made a dependency rather than a build-time dependency, though. I've pointed the maintainer at this issue for discussion.

[2016-03-26 14:28] aristidesfl commented on #16
@bucaran The symlink is for the config.fish to be synchronised with the [dotfiles](https://github.com/aristidesfl/dotfiles) repository. Do you have a better way to do it?

[2016-03-26 14:38] bucaran commented on #16
I haven't tested yet, but @tuvistavie's trick may just be it.

Can I ask you to edit your Makefile, replace that line and try it out? If that works I would love to merge that PR :smile:

[2016-03-26 15:15] aristidesfl commented on #16
It works. However the file is left with uncommitted changes in my repo. I can commit them, but would be nice if fisherman detected that the lines are already in the file and not add them as duplicates.

I wonder if there is a way to prevent touching `~/.config/fish/config.fish` entirely.

[2016-03-26 15:21] bucaran commented on #16
You could delete the file.

[2016-03-26 15:26] aristidesfl commented on #16
haha, I meant: to setup fisherman without editing `~/.config/fish/config.fish`.

For example, if fisherman was installed as function in `~/.config/fish/function`, and functions were also installed directly there, either directly or via symlinks. Would something like this be feasible?

[2016-03-26 16:18] bucaran commented on #16
**Yes**, this will be possible in a future version of fish when support for `conf.d` is widespread.

[2016-03-26 16:22] aristidesfl commented on #16
Cool, is there a timeline for it?

[2016-03-26 16:23] bucaran commented on #16
No :cry: because even if they release it next month, it will take a while before it's widespread.

**But** when the time is right, we will move to it smoothly because this is exactly how Fisherman works already.

[2016-03-26 19:43] orangecms commented on #160
I just saw your comment in the AUR. So, the `make` cannot be used. It doesn't actually *work* if you put that in a PKGBUILD. It only circumvents pacman. Like @mkaito described, a Makefile should create a directory structure that allows installing to a prefix. @mkaito we have been discussing quite a lot on Slack already, and I wouldn't see a problem doing that in IRC as well, but then again... we w

[2016-03-26 19:53] bucaran commented on #160
FTR I am entirely open to modify how the Fisherman installation works. Rewrite the config.fish, do not rewrite it, all works. :smile:

What I'd like to see is some actual code, in the form of a PR or a gist that shows with code how things will look like so that I can figure out how I would need to modify the [external](https://github.com/fisherman/install) installer in order to continue to support

[2016-03-27 09:26] orangecms opened #172 "Add enable/disable commands and drop uninstall in favor of remove"
Some people do not expect `fisher uninstall` to actually just disable a plugin, and as a side-effect, they not only have their cache directory full of old / unwanted plugins, but they also see them in `fisher l`, which might be confusing. Actual deletion, i.e. `fisher uninstall -f` (`--force`), isn't well-documented.

I'd rather propose two new commands / one replacement:
- `enable` (`e`) to actua

[2016-03-27 10:36] bucaran commented on #172
No design can be perfect™. Your proposal liberates uninstall and splits it into two commands whose behavior may be more obvious to some users, but it also forces other users to remember new commands as well as us to document those commands.

Adding new commands to Fisherman is very simple:

[code]

For a fuller template, you can use `new`:

[code]

[2016-03-27 12:58] jethrokuan commented on #172
On the same note, perhaps the merits of keeping it in the cache should be discussed.

Pros:
1. Faster reinstalls

Cons:
1. Reinstalls installs from the cache, and does not install an updated copy of the plugin
2. Potentially confusing options

A different approach would be to list only "active" plugins during `fisher list`.

Looking at it from the bigger picture, I think the fact that plugins are

[2016-03-27 14:13] orangecms commented on #172
A big plus on that. A `fisher cache` command or something like `fisher purge` could be used for cache maintenance.

[2016-03-27 14:17] orangecms commented on #172
About remembering commands @bucaran: People are used to such commands from other tools, so it would just be intuitive/convenient imho. AAMOF, I was looking for such commands because I read that Fisherman supports enabling/diasabling plugins and I couldn't find them. Maybe they could be added for convenience nevertheless, while still keeping uninstall.

[2016-03-27 14:35] jethrokuan commented on #172
It's unlikely that the CLI will undergo any major changes like this at this point in time. It was decided at 1.0 that the core API is decided and will not change. Changes may benefit new users, but this will also affect current users.

The user should technically not need to touch the cache at all. If a `fisher cache` or `fisher purge` command is needed, we're not doing something right.

`fisher l

[2016-03-27 14:57] orangecms commented on #172
We just had that question in Slack, and I was also wondering about it first, that when you uninstall and then list, you still see what you thought was uninstalled. The disabled plugins could just be hidden then and * becomes unnecessary.

[2016-03-27 14:59] orangecms commented on #172
The confusion is, after all, that uninstall only disables things, which you wouldn't expect. If you say that a list commands shows which plugins are enabled and which are not but there is no enable/disable commands, you have more cognitive load here actually where you wanted to reduce it.

[2016-03-27 15:59] jethrokuan commented on #172
I agree that `uninstall` implies complete removal,  and that `disable` may
be more appropriate here. How do we make the transition,  if any,  to the
new commands smooth?

This does not account for the fact that `enable` would not be appropriate
when things need to be downloaded,  and I'm against having two separate
commands for installation.
On 27 Mar 2016 10:59 pm, "Daniel Maslowski" <notificatio

[2016-03-27 23:47] bucaran commented on #172
@orangecms What about simply _not_ displaying plugins that are disabled, but exist in the cache when doing `fisher l`?

[2016-03-27 23:53] orangecms commented on #172
Yup, that's one idea we had in common.

[2016-03-27 23:54] bucaran commented on #172
@orangecms The current `fisher l` shows you disabled plugins by simply _not_ adding a legend, `*` is for enabled, `>` is for prompt and `@` for link.

But `fisher list` supports `--disabled` anyway.

[2016-03-28 02:53] rodonn commented on #165
Sorry for the delay in getting back to you.

I tested editing __fisher_plugin_link so that it creates softlinks.
[code]

For the handful of plugins that I tried this worked without any errors on my system. I'm not sure if there are any other situations where this would break things.

I'd love a --link option. (Though as I've shown above it's a pretty simple manual fix using funced)

[2016-03-28 11:19] jethrokuan commented on #172
:+1: on hiding stuff in the cache during `fisher list`. And during installation, if installed from cache, it should show, just so they know it might need updating.

[2016-03-28 11:35] jethrokuan commented on #165
In theory, I think soft links would work just as well as hard links, but you may run into surprises when users change their plugins drastically. Cases like these are rare, because the file name usually also corresponds to the function name.

That said, hard links should remain the default option. Perhaps instead of a --link option, we could use a variable like `$fisher_soft_links`, so you don't ha

[2016-03-28 11:37] bucaran commented on #165
@rodonn If all your plugins are installed as symlinks, I wonder what the output for `fisher list` looks like. Would you mind posting a screenshot or copy paste the output?

Thanks.

[2016-03-28 11:40] bucaran commented on #172
This would be cumbersome as the use might be throw off by having that message constantly showing up, (like if you switch ~themes~ prompts a lot).

Instead, we need to consider adding an update-notifier feature, basically a simple check inside `fisher.fish` that should occur every n million of seconds or something.

[2016-03-28 11:43] jethrokuan commented on #172
yeah the update notifier feature works as well.

[2016-03-28 16:26] bucaran commented on #168
@domoritz I think we have a wrapper c11ac1f.

[2016-03-28 16:26] #168 closed

[2016-03-28 23:26] rolyreyes commented on #172
To be honest, if the notifier works like oh-my-zsh's, I would uninstall Fisherman (and I *really* like Fisherman) just as I did omz when it first occurred to me using that framework. Interrupting a user with what I think of as a 'pop-up' in the middle of whatever work they're doing. Especially since I've already done the work of staying updated by running a script that repeats every 24 hours.

May

[2016-03-29 00:27] herrbischoff commented on #172
Please **don't** add any kind of interrupting notification. I usually know what I am doing in the shell and don't need handholding by any tool except for possibly extremely destructive tasks.

Another example for annoying default settings is Prezto's `rm` alias that resolves to `rm -i`. This was driving me nuts. Users should update when they decide to update and should not be pushed. It should not

[2016-03-29 00:54] domoritz commented on #168
Cool!

[code]

[2016-03-29 02:22] rodonn commented on #165
![image](https://cloud.githubusercontent.com/assets/2594443/14096013/5990f6dc-f51a-11e5-89bb-6b7bd61752f8.png)

[2016-03-29 02:23] rodonn commented on #165
![image](https://cloud.githubusercontent.com/assets/2594443/14096048/968efcb4-f51a-11e5-946d-a129bf557486.png)

[2016-03-29 02:24] rodonn commented on #165
Currently my editted __fisher_plugin_link looks like
[code]

[2016-03-29 12:29] bucaran commented on #69
@PeterFour @arthua196 @inoicouldalwaysturn2u
@cleverlycoding @xu-c @vinchaud @fltermare
@namezhouji @donkalar

[2016-03-29 12:30] bucaran commented on #69
@PeterFour @arthua196 @inoicouldalwaysturn2u
@cleverlycoding @xu-c @vinchaud @fltermare
@namezhouji @donkalar

[2016-03-29 12:49] bucaran opened #176 "Make fisher uninstall to use force by default and replace current behavior with new option."
The current behavior of `fisher uninstall` is to **disable** the given plugin/s, that is, remove it from the autoload path, but it does not delete the files from $fisher_cache. This means that you will still see the plugin name when using `fisher list`, it will appear _without_ a legend to indicate it's disabled.

In addition, you can use `--force`, to disable *and* delete the plugin/s files.

Thi

[2016-03-29 12:52] bucaran commented on #172
Thank you all for your input folks. I agree that people should decide when they want to update Fisherman, as opposed to get a notification that a new update is available.

Perhaps an `update-notifier` plugin could be created to get these sort of notifications.

Closing this in favor of #176.

[2016-03-29 12:52] #172 closed

[2016-03-29 12:54] bucaran commented on #169
@domoritz Rather than adding this functionality right into Fisherman, I'd rather create a plugin that only users willing to let Fisherman update itself can run. What do you think?

[2016-03-29 12:54] bucaran commented on #160
@orangecms Can we close this or is the package still WIP?

[2016-03-29 12:56] bucaran commented on #159
@pantasio You are welcome to reopen if you still have this problem.

Closing.

[2016-03-29 12:56] #159 closed

[2016-03-29 12:58] bucaran commented on #165
@rodonn Thanks, that looks alright to me.

So let me get this double clear again. The option would simply install plugins that are in cache into $fisher_config/{functions,completions,etc} as symlinks instead of copying the files. Correct?

[2016-03-29 13:04] jethrokuan commented on #160
@orangecms installed the AUR package, and faced some issues, mainly because you don't copy everything in. The VERSION file is important for fisherman to update, for example. I foresee issues downloading the index as well, although I didn't go this far.

[2016-03-29 15:12] bucaran commented on #69
@aximario @v-for-vincent

[2016-03-29 15:12] bucaran commented on #69
@aximario @v-for-vincent

[2016-03-29 15:51] bucaran commented on #69
@nkatte
@antoniordo
@lightonflux
@liulu72056
@JollySun
@andrewjlm
@JangJaeseok
@hang-h
@HoneyHyeok
@ykelvis
@don-makaron
@masateru
@pelchats

[2016-03-29 15:51] bucaran commented on #69
@nkatte
@antoniordo
@lightonflux
@liulu72056
@JollySun
@andrewjlm
@JangJaeseok
@hang-h
@HoneyHyeok
@ykelvis
@don-makaron
@masateru
@pelchats

[2016-03-29 15:51] bucaran commented on #69
@nkatte
@antoniordo
@lightonflux
@liulu72056
@JollySun
@andrewjlm
@JangJaeseok
@hang-h
@HoneyHyeok
@ykelvis
@don-makaron
@masateru
@pelchats

[2016-03-29 15:51] bucaran commented on #69
@nkatte
@antoniordo
@lightonflux
@liulu72056
@JollySun
@andrewjlm
@JangJaeseok
@hang-h
@HoneyHyeok
@ykelvis
@don-makaron
@masateru
@pelchats

[2016-03-29 16:50] bucaran commented on #69
@natrim
@angelrl
@AndreasScheffczyk
@CsCdanNyx
@ly95
@by-the-wei
@thulio
@talexand
@orociic
@zxp86021
@phra
@wo0621
@guweigang
@JoeyTeng
@hernanm92
@qiansen1386
@Wen777
@GYXie
@h0d
@ryuever
@kaibacorp
@debben
@xiaoyi001yeye
@Sparklexs
@logos-lee
@gcdeng
@syokoyama
@Depado
@cola1129
@spappier
@fatelei
@mardigras45
@HappyHackingNinja
@adstastic
@Leovim
@Kooooya
@arooni
@GQHero
@willchen90
@wilsonsss

[2016-03-29 16:50] bucaran commented on #69
@natrim
@angelrl
@AndreasScheffczyk
@CsCdanNyx
@ly95
@by-the-wei
@thulio
@talexand
@orociic
@zxp86021
@phra
@wo0621
@guweigang
@JoeyTeng
@hernanm92
@qiansen1386
@Wen777
@GYXie
@h0d
@ryuever
@kaibacorp
@debben
@xiaoyi001yeye
@Sparklexs
@logos-lee
@gcdeng
@syokoyama
@Depado
@cola1129
@spappier
@fatelei
@mardigras45
@HappyHackingNinja
@adstastic
@Leovim
@Kooooya
@arooni
@GQHero
@willchen90
@wilsonsss

[2016-03-29 16:50] bucaran commented on #69
@natrim
@angelrl
@AndreasScheffczyk
@CsCdanNyx
@ly95
@by-the-wei
@thulio
@talexand
@orociic
@zxp86021
@phra
@wo0621
@guweigang
@JoeyTeng
@hernanm92
@qiansen1386
@Wen777
@GYXie
@h0d
@ryuever
@kaibacorp
@debben
@xiaoyi001yeye
@Sparklexs
@logos-lee
@gcdeng
@syokoyama
@Depado
@cola1129
@spappier
@fatelei
@mardigras45
@HappyHackingNinja
@adstastic
@Leovim
@Kooooya
@arooni
@GQHero
@willchen90
@wilsonsss

[2016-03-29 16:50] bucaran commented on #69
@zukif

[2016-03-29 17:35] domoritz commented on #169
I think a lot of people will not update then. I think it would help to have an auto updater that updates even very infrequently.

[2016-03-29 17:47] bucaran commented on #169
What do @jethrokuan @orangecms @pickfire @herrbischoff @rolyreyes think?

I don't like the idea to update automatically, maybe just show a notification "there is an update available"?

What do other plugin/pkg managers do?

[2016-03-29 17:51] domoritz commented on #169
Definitely. Never update without the user's consent. I was thinking about "There is an update available. Do you want to install it? [Y/n]"

[2016-03-29 17:57] orangecms commented on #160
Updating system packages is the sole responsibility of the system's package manager. The package would test and choose the current version. Or in this case, as it is a git package, it will always be fetched from the repo. So you would e.g. `pacaur -S fisherman-git` or whatever AUR helper you use to update. Is the index stored in the home or config dir? It should be in config, as the user deals wit

[2016-03-29 18:00] bucaran commented on #160
The index is in the config, yes.

[2016-03-29 18:02] orangecms commented on #160
@bucaran the package is there so far, so I'd say the issue is resolved. It may still undergo improvements or changes depending on the development of Fisherman. But I would rather like @mkaito to have a final word on it and close it himself then.

[2016-03-29 18:07] orangecms commented on #169
Updating Fisherman should only happen on the user's demand, preferably through their system's package manager (apt, pkg, zypper, portage, pacman, you name it) as they are used to that.

[2016-03-29 18:13] bucaran commented on #82
Does anyone want to take a stab at this? I might someday, but I'd rather focus on tidying things up internally with Fisherman and plugins.

[2016-03-29 18:20] domoritz commented on #169
Then the preferred way should be to install fisherman through a package manager. Right now the recommended way to to run `curl -sL get.fisherman.sh | fish`. Also, how would that work on OSX and Windows?

[2016-03-29 18:29] orangecms commented on #169
OSX has Homebrew, and on Windows I think there is cyg-apt or something like that.

[2016-03-29 19:55] herrbischoff commented on #172
Sounds like the most sensible approach. This equals explicitly enabling said function.

[2016-03-29 20:19] herrbischoff commented on #82
I found this discussion to be very interesting and it raises some valid questions. Even more interesting is that package repositories like `npm` are not validated or verified. So basically you could just upload a malicious package with worm-like code that infects other packages along the way. Now that I write this, something rings in the back of my head about having read about exactly that scenari

[2016-03-29 21:58] herrbischoff commented on #169
What's the issue with that? Just because you (or anyone) feels that everyone should use the latest version, does not automatically make it the right approach for everybody. Certainly this is no reason to annoy people into updating. Besides, we're talking about shell-savvy people here, not mainstream customers who are getting notified to update to the latest iOS — and even that is a one-time affair

[2016-03-30 00:28] mkaito commented on #160
As far as I can tell, the package works. I still think there should be a mirror of the AUR repo here on Github, under the fisherman organization. @orangecms may continue to update the AUR repo itself, but Github is pretty useful for issues and contributions.

[2016-03-30 00:36] rodonn commented on #165
Yes. I think having the option to install plugins using symlinks would fix the problem I was having.

But if I am interpreting the code correctly, currently fisher does not "copy" the files, it makes hard links from the cache into the config folder.

[2016-03-30 01:53] bucaran commented on #69
@octoroid @LostCore

[2016-03-30 01:59] bucaran commented on #82
Absolutely, I'd love to see what you come up with.

[2016-03-30 02:29] bucaran commented on #69
@eqw3rty

[2016-03-30 02:36] bucaran commented on #69
@changyuheng

[2016-03-30 03:00] pickfire commented on #169
@bucaran, I don't support auto update. The update process is fast currently and can run in parallel. The user can just use a timer to set auto update.

[2016-03-30 04:37] bucaran commented on #69
@quininer

[2016-03-30 04:37] bucaran commented on #69
@kelvincobanaj

[2016-03-30 04:38] bucaran commented on #69
@yinheli

[2016-03-30 04:38] bucaran commented on #69
@stalayhan

[2016-03-30 04:38] bucaran commented on #69
@benjohnston

[2016-03-30 04:38] bucaran commented on #69
@maoabc1818

[2016-03-30 04:38] bucaran commented on #69
@fadion https://github.com/fishery/tirana

[2016-03-30 04:39] bucaran commented on #69
@Rex-Diego

[2016-03-30 04:39] bucaran commented on #69
@dan-c-underwood

[2016-03-30 04:39] bucaran commented on #69
@zhost

[2016-03-30 05:29] bucaran opened #177 "Do not show disabled plugins when using fisher list."
Instead of modifying how uninstalling plugin works, we can simply ignore disabled plugins when using `fisher list`.

This way, `fisher uninstall` keeps a copy in the cache, but this is an implementation detail that does not concern most users.

The reason we need to keep the cache is so that we don't have to re-download a plugin if we already have it as well as making ~~theme~~ prompt switching po

[2016-03-30 05:30] bucaran commented on #176
Closing in favor of #177.

[2016-03-30 05:30] #176 closed

[2016-03-30 05:34] bucaran opened #178 "Create soft links instead of copies when installing stuff from the cache..."
and rename cache to stage to avoid confusion.

[2016-03-30 05:36] bucaran commented on #165
In 1.4.0 we will simply create symlinks always, as the internal cache will be used more like a stage to move plugins in and out the function path. tl;dr; you need neither `__fisher_plugin_link` or any `--link` option anymore as this will be the default behavior.

Closing and tracking this in #178.

[2016-03-30 05:36] #165 closed

[2016-03-30 06:03] bucaran commented on #69
@LaurentFough

[2016-03-30 06:04] bucaran commented on #69
@GManzato

[2016-03-30 06:23] bucaran commented on #154
@michaelperrygoodman I am sorry it took me 18 days to get back at you, but could you list what other functions besides `cd` you are redefining?

I am almost ready to release 1.4.0 :smile:

[2016-03-30 06:30] orangecms commented on #160
Sure, I can just put it here as well. Before Arch switched to Git repos for AUR I versioned my PKGBUILDs on my other GitHub account https://github.com/cyrevolt - now thinking that I don't need it anymore because web have Git in AUR I haven't touched it for a while though. You can always clone the repo yourself anyway. I wouldn't want to keep duplicates if the same repo updated though (I know you c

[2016-03-30 07:23] orangecms commented on #169
@herrbischoff If Homebrew is that weird and complicated, that's a fair point. I thought it was more evolved. The benefit would be a clean home dir and install/uninstall procedure without (what package managers have been invented for anyway), which is why I created the AUR package, done easily. I also write packages for portage (Gentoo's port/package manager), which is also straightforward. Is it r

[2016-03-30 08:26] bucaran commented on #69
@oddeirik

[2016-03-30 08:39] jethrokuan commented on #160
To paraphrase,  if someone installs fisherman with the AUR package and runs
`fisher u` and sees "could not update fisherman",  this is expected
behavior and people would be okay with that? `fisher u` is also the
mechanism for updating all plug-ins, and I think it's by far my most run
fisher command, so I don't think having it broken in AUR installs is a good
idea.
On 30 Mar 2016 2:30 pm, "Daniel M

[2016-03-30 08:43] jethrokuan commented on #169
I think auto updating can come as a plug in,  so it's something users can
opt in to have. It's not something I'd use personally either.
On 30 Mar 2016 3:23 pm, "Daniel Maslowski" <notifications@github.com> wrote:

[2016-03-30 09:24] bucaran commented on #69
@demidovakatya

[2016-03-30 11:06] bucaran commented on #69
@alvarete

[2016-03-30 12:29] bucaran commented on #69
Ping @chenweiyj

[2016-03-30 12:42] bucaran commented on #69
@frapsoft

[2016-03-30 12:46] bucaran commented on #69
Ping @lordlycastle

[2016-03-30 13:26] alphapapa commented on #82
@herrbischoff Thanks for that thoughtful comment.  One question:

What do you mean?  If the Fisherman project had the keys for each plugin author on-file, then it could verify the signature of new plugin versions' git tags.  If a different key was used, it would fail to verify.  The attack vector then would be to compromise the plugin author's GPG key, which would require stealing his secret key a

[2016-03-30 13:58] bucaran commented on #69
Ping @panshul007

[2016-03-30 14:08] bucaran commented on #69
Would love your feedback → @dream1986  @beckclib @CHENGP618 @pedrosnk @rominf @sobolevn @tchellomello @wiseguys963

[2016-03-30 14:42] daenney commented on #82
Signing packages however still doesn't really solve the problem. It might prevent things from being tampered with but just because a package is signed does not make it non-malicious. Donald Stufft wrote a pretty good blog post about it a while ago for similar work on PyPi: https://caremad.io/2013/07/packaging-signing-not-holy-grail/

[2016-03-30 16:20] michaelperrygoodman commented on #154
@bucaran No problem, I have not encountered any other conflicts so far aside from that cd one, but my config setup is here if you want to check it out and see if you see anything that might cause an issue that I'm unaware of.

https://github.com/michaelperrygoodman/dotfiles/tree/master/fish

[2016-03-30 16:29] bucaran commented on #69
@ninjatux

[2016-03-30 16:29] bucaran commented on #69
@jojuniori

[2016-03-30 16:30] bucaran commented on #69
@chenweiyj

[2016-03-30 16:30] bucaran commented on #69
@chenweiyj Try the search command `fisher search`.

[2016-03-30 16:31] bucaran commented on #69
@sobolevn Ping

[2016-03-30 16:38] bucaran commented on #69
Ping guys //

@arvids @billhibazzz @redstar9451 @SuperSpyTX @cntoby @assassinleo @veduket @ttchopper @kail-linux liruizhe exitNA daisuuke zky001 niujx srstevenson xiamingxing cpwork Boldman

[2016-03-30 16:38] bucaran commented on #69
Ping guys //

@arvids @billhibazzz @redstar9451 @SuperSpyTX @cntoby @assassinleo @veduket @ttchopper @kail-linux @liruizhe @exitNA @daisuuke @zky001 @niujx @srstevenson @xiamingxing @cpwork @Boldman

[2016-03-30 16:59] bucaran commented on #69
@tchellomello

[2016-03-30 17:37] alphapapa commented on #82
Of course it's not a panacea, but it's approximately one million times better than not signing packages at all.  :)  And short of manually reviewing every change to every plugin, it's the best that can be done.  Preventing tampering is very important (cf. Linux Mint's ISO servers being compromised recently).  A web of trust is better than no web at all.

[2016-03-30 17:43] lordlycastle commented on #177
If you were re-installing by re-downloading, you'd might get an updated version... Maybe have an option to install from cache, in cases when not connected to internet. Also, I don't know about average size of packages, but they can't be that large so downloading them wouldn't be much of an effort.

[2016-03-30 17:47] herrbischoff commented on #169
@orangecms: [Here's](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/fish.rb) the installation formula for fish for comparison. It's not exactly hard since you run `brew create <URL>` and get a template. It's just that updating this every time you make a small edit and would need to release a new minor version adds significant overhead. Plus, the pull request has to be made to the

[2016-03-30 17:50] lordlycastle commented on #155
While we at this, may be also a feature that searches for plugins, which aren't installed. Something similar to [Homebrew/homebrew-command-not-found](https://github.com/Homebrew/homebrew-command-not-found)?

[2016-03-30 17:52] bucaran commented on #169
I agree with @herrbischoff on this one, as a plugin, that is, an official plugin that would be accepted into the index, it would not bother me at all, so if anyone wants to take a shot at it, ping me directly on the Slack channel and I'll gladly help out the best I can.

Now, as a core feature, I vote :-1:

[2016-03-30 17:53] bucaran commented on #154
@michaelperrygoodman Alright, I tried patching as many as I could find. 1.4.0 is also up btw with concurrent installs as well as updates.

[2016-03-30 17:54] #154 closed

[2016-03-30 17:54] daenney commented on #82
I don't think the suggested Web of Trust solves anything though. This trust thing in GPG you normally build up by signing keys of people you know. Yes there are things like KSP where random people sign other random people's keys based on poorly verifying, sometimes forged, documents. But that's hardly trust. Yet that's mostly how these WoT work.

For me to be able to release a plugin, which @bucar

[2016-03-30 18:01] bucaran commented on #177
@lordlycastle

If you try to install a plugin that happens to be in the cache, it will be copied from there, that's by default. If you want to get the latest version, either update (the most logical thing to do) or remove it and reinstall.

Usually small, but we always git clone --depth=1.

This would be nice. I guess we could pipe `fisher_list`'s output to `column` for you, but I am not sure how

[2016-03-30 18:01] bucaran commented on #177
Closing as implemented.

[2016-03-30 18:01] #177 closed

[2016-03-30 18:01] bucaran commented on #178
Closing as done. Didn't rename though.

[2016-03-30 18:01] #178 closed

[2016-03-30 18:04] bucaran commented on #155
Hey @lordlycastle, are you using Fisherman?

Because you can search plugins index the index using `search` since day 1

[2016-03-30 18:13] orangecms commented on #169
@herrbischoff That looks just as easy as I expected, so with the proper Makefile that would be possible with fisherman as well. It's by design that software hits repos after the package maintainers' review, so if users really want to update from HEAD (where a package maintainer cannot be blamed) it becomes the user's own responsibility when something breaks, which is exactly the same as when they

[2016-03-30 18:20] herrbischoff commented on #82
What I meant was the scenario @daenney describes (going to read the full article after finishing this post). Signing does not prevent any author from injecting malicious code into their plugin. It would make it a wee bit more involved though. Short of meeting in person, exchanging and signing each others keys and also signing some binding internationally valid agreement you can never be sure of th

[2016-03-30 18:50] alphapapa commented on #82
Sorry if I wasn't clear before.  What I mean is a system like this:

1.  New plugin author submits PR to Fisherman with link to his plugin's repo containing signed git tags.
2.  Fisherman conducts basic review of plugin.
3.  If approved, Fisherman adds plugin author's key to a list of approved keys.
4.  When future versions of the plugin are released, the git tag is verified to have been signed by

[2016-03-30 18:53] michaelperrygoodman commented on #154
Cheers!

[2016-03-30 19:12] kelvincobanaj commented on #169
I think that just showing a notification would be the best approach, since it doesn't disturb user and they can update when ever they feel like.

[2016-03-30 19:16] bucaran commented on #82
@alphapapa If you want to join the organization and help us make this happen, just say the magic words.

[2016-03-30 19:21] bucaran commented on #69
Ping @Cycade

[2016-03-30 21:04] lordlycastle commented on #155
@bucaran I see we're talking about different things.

Say for example there is a plugin called `potter`, and user enters `potter` and runs it. It'll return an error similar to `fish: Unknown command 'potter'`; since it's __not installed__. So before printing that error message it would check if there is a plugin called `potter` that can be installed with `fisher`, if so output something along the

[2016-03-30 23:10] herrbischoff commented on #169
Even then, I feel the notification should not be run automatically. To make that configurable and stay within the fish philosophy, it should be an optional plugin, as we already seem to have agreed on.

[2016-03-31 01:24] domoritz opened #179 "Number appears when updating fisherman"
[code]

Not sure why there is a `4`. I saw something similar earlier today but I don't know how to reproduce. I'll keep looking.

[2016-03-31 01:49] edclement opened #180 "arch linux unable to install fisherman"
Below is what I get. It looks like the `$fisher_home` isn't getting populated maybe based on the `Make sure you can write to` message? Any ideas?

![image](https://cloud.githubusercontent.com/assets/5667395/14163076/bb699bec-f6bf-11e5-9118-bd6e7de527d8.png)

[2016-03-31 02:09] edclement commented on #180
managed to resolve this by:
[code]

It seems as though once the `~/.local/share/fisherman` directory was present it was able to install properly.

[2016-03-31 02:18] jethrokuan commented on #180
I'm not sure what has changed since, but the one-liner installer still worked for my arch linux installation just a few days ago.

[2016-03-31 02:32] bucaran commented on #180
Thanks for reporting this @edclement. Please try again, I am sure this is fixed by now.

[2016-03-31 02:56] jethrokuan commented on #155
Yes, looking through the cache is an option, meaning this search is looking only at __disabled__ plugins.

As with the other issues, this can be done through a plugin, but this note that this would make shell startup time longer, for this needs to be sourced at startup.

Fish provides colours to tell you whether a function is available or not, so it's unlikely altogether to run a command when the

[2016-03-31 03:04] bucaran commented on #69
@jojuniori @omartell @niiamon

[2016-03-31 05:50] pantasio commented on #159
Sorry guys, lated reply

Linux devops 3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
fisher version 1.3.1

[config.txt](https://github.com/fisherman/fisherman/files/197030/config.txt)

Or see config.fish below
# Useful functions {{{

function ed; vim ~/.vim/custom-dictionary.utf-8.add; end
function ef; vim ~/.config/fish/config.fish; end
functio

[2016-03-31 06:09] jethrokuan commented on #159
Potential conflicts here:
1. fish key bindings
2. fish_prompt

Improvements to be made on the side:
Don't use `prepend_to_path`, and instead use `$fish_user_paths`:
https://github.com/fish-shell/fish-shell/issues/527

It's expected that `config.fish` files, most configuration is done outside of it.

[2016-03-31 07:17] bucaran commented on #169
Alright, thanks @domoritz for bringing this up and thanks everyone for their comments.

[2016-03-31 07:17] #169 closed

[2016-03-31 07:20] bucaran commented on #179
@domoritz I couldn't repro here, but let's keep this open for a while.

[2016-03-31 07:23] jethrokuan commented on #179
also, noticed grc printed twice, but can't repro either.

[2016-03-31 07:40] bucaran commented on #179
@jethrokuan Are you using `grg`?

[2016-03-31 10:45] bucaran commented on #69
Ping guys
//
@r8k
@fabiob
@NatuMyers

[2016-03-31 11:58] bucaran commented on #69
@lepetitforgeron

[2016-03-31 11:59] Silvery-Corgan opened #181 "Fisherman will not install on CentOS 7"
Hello. I am having trouble installing fisherman under CentOS 7 X64.

My OS details are as follows:

[code]

I am getting the below when trying to install fisherman:

[code]

I am certain this is because of the git version. This is the available version in CentOS 7.
I have also tried to compile git from source. By default it puts git into /usr/local/bin and when I run

[code]

It shows up as git 2.

[2016-03-31 12:08] bucaran commented on #181
@Silvery-Corgan How difficult would it be for you to provide something like a Vagrant file that I could use to run your CentOS in a test box?

Also, could you post your `make` version too?

Now, you can always try the manual installation method.

https://github.com/fisherman/fisherman/wiki/Installing-Fisherman#manual-install

@jethrokuan You have more experience with Linux, any thoughts?

[2016-03-31 12:26] jethrokuan commented on #181
If you're running the curl installer a second time, it fails if the files are already there in `/home/user/.local/share/fisherman`. Just `cd` into the folder and run `make`.

[2016-03-31 12:32] Silvery-Corgan commented on #181
@bucaran I am not familiar with Vagrant.

My make version is GNU Make 3.82

The manual install did the trick.

@jethrokuan Thanks man. That did the trick. The files were already there.

[2016-03-31 12:32] #181 closed

[2016-03-31 12:49] bucaran commented on #181
Yay! :smile:

[2016-03-31 13:22] bucaran commented on #160
Hi @denji, perhaps you could help us write the brew formula when the new installation mechanism is merged?

[2016-03-31 14:32] jethrokuan commented on #181
@bucaran perhaps the lesson learnt is that we should remove the folder if installation fails at any point.

[2016-03-31 14:36] bucaran commented on #181
Yes, that makes sense. I think we should put that on hold until we have figure out the new installer pioneered by @orangecms.

After that, I'll write a new curl installer, because some folks will just prefer to use that.

[2016-03-31 14:50] xrain0610 opened #182 "symlinks plugin move to new path , fisherman can't remove it"
step 1: install the local plugin,
[code]
it like this:
![qq20160331-0 2x](https://cloud.githubusercontent.com/assets/11401602/14179738/da9f0c94-f792-11e5-8c0e-328775e7a373.png)

step 2: move the plugin to new path, and reinstall it ,
[code]
it like this:
![qq20160331-1 2x](https://cloud.githubusercontent.com/assets/11401602/14179757/e7f6f096-f792-11e5-8fa1-f7807171bcba.png)

step3: fisher uninstal

[2016-03-31 17:46] pantasio commented on #159
thanks @jethrokuan

Comfirm conflicts here:
1. fish key bindings
2. fish_prompt

Solution for my situation:
- Delete fish_prompt

change prepend_to_path to
set --universal fish_user_paths $fish_user_paths type_your_path
Ex:
set --universal fish_user_paths $fish_user_paths /usr/bin
set --universal fish_user_paths $fish_user_paths $HOME/bin

BTW, git style cant show like @bucaran
![screenshot_2016-0

[2016-03-31 19:30] Silvery-Corgan commented on #181
@jethrokuan @bucaran If you guys still need more info from me to fix this I am happy to provide it. Just let me know.

As a side-note you might want to make the curl installer check for git versions and use the latest one. I had both git 1.8.3.1 and 2.8.0 installed but the installer didn't see my git install located at `/usr/local/bin` for some reason even after I removed the official git package

[2016-04-01 00:35] orangecms commented on #160
@jethrokuan It isn't broken in AUR installs. You can always update to the latest version through your preferred AUR helper or by makepkg if you download the tarball/PKGBUILD. You just don't have write permissions to /usr/share. The update mechanism of Fisherman shouldn't update Fisherman though, as the description says that it only updates the plugins. Other plugin/package managers have a flag lik

[2016-04-01 01:06] bucaran commented on #69
Ping @wassiim

[2016-04-01 01:49] jethrokuan commented on #160
[code]

[2016-04-01 01:50] jethrokuan commented on #160
@orangecms the update mechanism updates fisherman, then updates all plugins.

[2016-04-01 02:52] bucaran commented on #181
Thanks @Silvery-Corgan, I'll ping you again when dev of the new installer starts. The important issues to be looking at are #173 and #174.

[2016-04-01 02:56] bucaran commented on #69
Ping @thetooth, have a look?

[2016-04-01 04:26] bucaran commented on #69
Pinging @fojouse

[2016-04-01 05:40] lordlycastle commented on #155
Not looking through cache, but looking through __cached list__ of all plugins available at the time of last update. A text file good enough for basic list, but a `.plist` or `.json` could be used to cached more information about the packages.

The _command-not-found_ is does affect the startup time a lot, however I use my fork of that repo which requires you to edit your `__fish_command_not_found_

[2016-04-01 07:17] orangecms commented on #160
That should be changed. It should only update the plugins, as it says in the menu. We should not assume that fisher_home is writable.

[2016-04-01 07:36] bucaran commented on #160
@orangecms Sure. We can totally change that after we have a working install process, docs and installer.

[2016-04-01 07:45] bucaran commented on #182
@jethrokuan Are you able to repro this?

[2016-04-01 09:47] bucaran commented on #69
@wassiim

[2016-04-01 09:47] bucaran commented on #69
@stanzhai

[2016-04-01 09:47] bucaran commented on #69
@BruceMaa

[2016-04-01 09:47] bucaran commented on #69
@sylvainbannier

[2016-04-01 10:00] jethrokuan commented on #182
@bucaran not exactly, but the plugin requires reinstallation after moving. I'm unable to get two plugins of the same name installed.

[2016-04-01 10:00] bucaran commented on #69
Ping /cc @jamesacampbell @8cold8hot @zt2 @gavocanov @canering @madhusudancs
@judasnow @takuji31 @ycardon @OXXD @limatheus @evidex @datitran @ronert @linekin

[2016-04-01 10:02] bucaran commented on #69
@stefanpopa @ceejbot @TomShine @pauldgifford

[2016-04-01 10:08] bucaran commented on #69
Hey folks! I would love if you give Fisherman a try

@curtdp @redstar9451 @OllieDay @zb214 @turtle11311 @luizfb @satblip @vjcagay @athiwatc @mcveat @likaihere @Gusbenz @olidroide @Bahus

[2016-04-01 10:14] bucaran commented on #69
@zhouhualei@nmhnmh@karboom@chenshengzhi@B1gtang@hirotaka11@giwa @kexplo@jShi-git@jk2K @garyayo@yangxuecheng@phpmaple@Sam0523

[2016-04-01 10:14] bucaran commented on #69
@zhouhualei @nmhnmh @karboom  @chenshengzhi @B1gtang @hirotaka11 @giwa @kexplo @jShi-git  @jk2K @garyayo @yangxuecheng @phpmaple @Sam0523

[2016-04-01 14:12] bucaran commented on #69
Pinging @BruceMaa

[2016-04-01 14:33] pickfire commented on #155
Oh, this seems like a nice feature to be implemented but I haven't seen any of the other project implement similar feature in shell.

[2016-04-01 18:01] domoritz commented on #179
yeah, that's my fishfile. It's got `https://github.com/oh-my-fish/plugin-grc` and `grc`. I fixed it.

[2016-04-02 15:19] bucaran commented on #69
Ping @jaiyalas

[2016-04-03 07:59] bucaran commented on #69
Ping @huaruiwu

[2016-04-03 07:59] bucaran commented on #69
Ping @kooksee

[2016-04-03 14:32] bucaran commented on #69
Ping @cmonte905 and @leaveitout

Have a look?

[2016-04-03 15:29] bucaran commented on #69
@RubenG123

[2016-04-03 17:21] bucaran commented on #69
Hey @ali6681!

// Ping.

[2016-04-03 17:23] bucaran commented on #69
Hi @peng051410!

// Ping :heart:

[2016-04-04 00:54] herrbischoff opened #184 "Fisherman install script fails on Alpine Linux"
I was just testing whether my Dotfiles setup would transfer smoothly over to a new system, so I spun up a Docker container with Alpine Linux. Installation of Fisherman did not work. Here's what I did inside the container (`/ #` is the default prompt):

[code]

Weird, since:

[code]

Alpine Linux uses `busybox` as a lightweight shell but I cannot imagine that being a problem. I also tried it in a f

[2016-04-04 01:07] herrbischoff commented on #184
Found the problem: `make` needs to be installed. There is currently no check in the install script to account for that.

[2016-04-04 01:23] jethrokuan commented on #184
@herrbischoff yes, we're considering moving off make for the curl installation, because `make` is really not needed. I think we'll keep this open until that is resolved.

ping @bucaran

[2016-04-04 01:27] herrbischoff commented on #184
Just submitted a pull request to check for make. May be something for the meantime.

https://github.com/fisherman/install/pull/4

[2016-04-04 01:28] bucaran commented on #184
Totally. @orangecms do you think we can get a rebased, complete PR addressing #174 and #173. I can't just merge them in their current state. Once that's out of the way, I can create a new curl installer to work with the new make.

[2016-04-04 12:27] ypnos opened #185 "Installing OMF plugins does not work"
Whenever I try to install a OMF plugin I get the same error message.

Example:

[code]

[2016-04-04 12:34] jethrokuan commented on #185
`https://github.com/oh-my-fish/plugin_peco/` the plugin does not exist at this repo.

The correct command would be: `fisher install omf/plugin-peco`.

Although granted, the error is confusing. we'll keep this issue open for further discussion.

[2016-04-04 12:40] ypnos commented on #185
OK I see. Are OMF dependencies handled? I installed `plugin-weather` which got many errors because `plugin-config` was missing. Alas https://github.com/oh-my-fish/plugin-weather/blob/master/bundle

[2016-04-04 13:00] jethrokuan commented on #185
At the moment, they are not.

@bucaran is this on the roadmap?

[2016-04-04 13:22] phpmaple opened #186 "fish: An error occurred while redirecting file '/Users/koofrank/.rbenv/version'"
when I use fisher install plugins, then show:
fish: An error occurred while redirecting file '/Users/koofrank/.rbenv/version'
open: No such file or directory

and I use fisher any command line doesn't work, so I how to uninstall fisher and fix this problem, I use fisher uninstall not work

[2016-04-04 13:24] bucaran commented on #185
@jethrokuan @ypnos OMF bundles **are** handled, problem here is `plugin-config` is a package designed to work exclusively with OMF variables, essentially a clever way to guarantee incompatibility with other systems.

@ypnos TBH, the weather package is not that impressive considering you can:

[code]

<img width="1280" alt="screen shot 2016-04-04 at 10 25 04 pm" src="https://cloud.githubusercontent

[2016-04-04 13:27] bucaran commented on #186
@phpmaple Thanks, I don't use rbenv so I have never had this problem before, but @daenney, can you share some of your rbenv wisdom with us here?

[2016-04-04 13:28] bucaran commented on #185
Closing as the `config` package can't be supported.

[2016-04-04 13:28] #185 closed

[2016-04-04 23:35] daenney commented on #186
@phpmaple How do you do the rbenv stuff? With the normal `rbenv` integration or using the fisherman rbenv plugin?

[2016-04-05 02:32] phpmaple commented on #186
@daenney When I use fisher install some plugins, Then show this error, and then fisher doesn't work

[2016-04-05 02:43] jethrokuan commented on #186
@phpmaple I think the folder is created when `rbenv` the utility, not the fisherman plugin, is installed, so if you don't have it installed, then an error will be thrown. In any case, the issue is not fisherman-specific.

[2016-04-05 03:18] phpmaple commented on #186
@jethrokuan I uninstall  `rbenv`, then everything is ok

[2016-04-05 03:19] jethrokuan commented on #186
@phpmaple do you confirm that you have https://github.com/rbenv/rbenv installed?

[2016-04-05 15:54] bucaran commented on #180
@edclement Problem was a bug in the installer with the CLI deps which by the way just went away now that we are supporting the progress spin directly.

Closing as resolved.

[2016-04-05 15:54] #180 closed

[2016-04-05 15:55] bucaran commented on #179
@domoritz Is this behavior still happening?

[2016-04-05 16:37] domoritz commented on #179
Not recently. But fisherman hasn't been updated since then. I'm closing for now and will post if I see something again.

[2016-04-05 16:52] bucaran commented on #179
Thanks.

[2016-04-05 22:42] jmo-learnosity opened #187 "Broken index URL in index update function"
At https://github.com/fisherman/fisherman/blob/master/functions/__fisher_index_update.fish#L20, the URL given seems to be incorrect. It should actually be `https://github.com/fisherman/index/blob/master/index`. With its current value, it breaks searching for and installing plugins.

[2016-04-05 23:54] artemruts commented on #187
Confirmed with `v.1.4.0`.

[2016-04-06 00:47] bucaran commented on #187
@jmo-learnosity @artemruts Corrected and fixed cf19aed. Thanks for reporting it.

[2016-04-06 00:48] #187 closed

[2016-04-06 05:51] domoritz commented on #179
It happened again

[code]

I'm sure there is some race condition.

[2016-04-06 05:57] bucaran commented on #179
The problem must be in how we check for the last job id. The current implementation is rather naive and does not account for jobs that contain new lines. When a job contains new lines they make parsing the id from `jobs` output harder than I thought when I first wrote the parallel update procedure.

I haven't seen this even once, but I'll fix this as soon as I can show everyone the results of a li

[2016-04-06 09:24] phpmaple commented on #186
@jethrokuan  I sure

[2016-04-06 09:49] bucaran commented on #186
@phpmaple Thanks! Close if your problem is resolved.

[2016-04-06 13:33] michaelperrygoodman commented on #154
Hey, this is actually still breaking for me in a similar but different way. I can't paste everything because it's exposing directories and things I don't want public, but it seems to be dumping my `cd` output. PM me if you want a full paste.

[2016-04-06 13:41] bucaran commented on #154
@michaelperrygoodman Alright, let's find this little bug, send me the full paste to my email, it's right there on my profile page.

[2016-04-07 03:17] fishequality commented on #69
New members: @ppattern @jerikson @vasylchenko @akowal @mskarbek @Wintus @rememberli @kondra @ElderMael @neodevelop

[2016-04-07 03:23] #186 closed

[2016-04-07 11:00] fishequality commented on #69
Please see above.

// @Leolik

[2016-04-07 11:01] fishequality commented on #69
Please see above and let me know if you would like to join the project.

// @xor3 @KingCatT

[2016-04-08 20:23] detailyang commented on #182
I have repro this. The reason for this is we use `test -e $path` to judge whether symbolic link file exists without `test -L $path` and use `command ln -sFf ` to overwrite an existing symbolic.

**Should we think `~/Documents/Fisherman/webdev-docker` and `~/Desktop/webdev-docker` is different local plugin?**

[2016-04-08 20:24] detailyang commented on #182
I have repro this. The reason for this is we use `test -e $path` to judge whether symbolic link file exists without `test -L $path` and use `command ln -sFf ` to overwrite an existing symbolic.

**Should we think `~/Documents/Fisherman/webdev-docker` and `~/Desktop/webdev-docker` is different local plugin?**

[2016-04-09 00:26] bucaran commented on #182
Maybe someone can explain to me why, step 1: install the local plugin, and then step 2: move the plugin to new path, and reinstall it.

Why do you need to move the plugin to a new path?

[2016-04-09 02:11] bucaran commented on #184
@herrbischoff So, the problem is Alpine Linux does not come with make. Is that it?

[2016-04-09 02:28] bucaran opened #191 "Don't let users override getopts via plugins"
If a plugin has a `getopts.fish` file or the user installs a different getopts, fisherman could break because we already use our own version of it.

Solution: don't emit `getopts` in the plugin walk.

[2016-04-09 02:32] #191 closed

[2016-04-09 05:17] detailyang commented on #182
+1 :+1:
Why do we need to move the same plugin to a new path?

[2016-04-09 07:22] bucaran commented on #182
I am still not sure I understand what's going, so let me describe how the link process _should_ work. If this is not how it presently works then this may be a bug.

[code]

To make  `my_plugin` available, we soft link `my_plugin` in the configuration.

That's all.

[2016-04-09 07:43] bucaran commented on #82
Great discussion, but closing as I don't have strength to work on this at the moment. Again if anyone is feeling courageous, be my guest :smile:

[2016-04-09 07:43] #82 closed

[2016-04-09 07:43] bucaran commented on #151
Closing as mostly resolved.

[2016-04-09 07:43] #151 closed

[2016-04-09 09:04] detailyang commented on #182
yup, when soft link my_plugin in the configuration, we check file exists use -e, but when when symbolic link target_file has moved test -e $path will return false, so we also use -L to check whether is link
a little try for this pull request #192

[2016-04-09 10:02] bucaran commented on #182
I still don't get it lol

@jethrokuan Can you explain what's all this?

[2016-04-09 10:27] jethrokuan commented on #182
I think what they're saying is after the soft link is made, and someone moves the folder containing the plugin, it breaks, and we should be checking if the soft link is still valid, and if it's not, remove it.

The question is not why someone would move the plugin folder around, but why fisherman breaks when it does.

[2016-04-09 10:28] bucaran commented on #182
Okay, that makes sense. Would you mind double checking #192 too?

[2016-04-09 11:06] detailyang commented on #182
agree with @jethrokuan。 `checking if the soft link is still valid` is a solution:)

[2016-04-09 12:28] jethrokuan commented on #182
I don't think the PR solves the problem.

The `-e` check covers the case for broken soft links as well. It returns false if the soft link is broken.

[2016-04-09 13:01] bucaran commented on #182
@jethrokuan Mmm, I think my brain is slow tonight, would you (or anyone) mind typing in the commands that I need to enter to repro the issue.

If I can understand the problem I am sure I could try to find as solution.

[2016-04-09 16:15] detailyang commented on #182
yeah, The -e check covers the case for broken soft links as well, but the "soft link" iteself exists.
now master branch will overwrites the soft link without delete `~/Desktop/webdev-docker` on `$fisher_file`.
when  xrain0610 exec `fisher i ~/Documents/Fisherman/webdev-docker`, the fisher_file and fisher_cache as follow

<img width="677" alt="2016-04-10 00 02 30" src="https://cloud.githubuserconte

[2016-04-09 16:19] detailyang commented on #182
@bucaran  the command as follow i guess can repro this issue
[code]

[2016-04-09 16:27] bucaran commented on #182
@detailyang Thanks, finally I get it.

Now, why would anyone try do that? I can imagine someone doing that by mistake, but is there a use case for this?

[2016-04-09 16:32] detailyang commented on #182
@bucaran I'm not sure whether it's a bug. It's a strange behavior...But it's what @xrain0610 did.
should we solve this case?

[2016-04-09 16:59] bucaran commented on #182
Yeah, let's solve this of course.

[2016-04-09 17:22] detailyang commented on #182
let me try again:) i will send a pull request

[2016-04-09 17:34] detailyang commented on #182
@bucaran @bucaran i update #192 , can double check this? thx :grin:

[2016-04-10 05:46] jethrokuan commented on #182
Like I mentioned, it's not so much a use case as it is fisherman not being resilient to this kind of "mistakes".

PR looks good now, initially it was `test ! -e $path -a ! -L $path` where the `-L` would always be short-circuited.

[2016-04-10 12:31] pickfire commented on #182
@jethrokuan, is there any reason to use `-L $path`?

I think that just `test -e $path; or delete_the_line` will do, this can also help to check if someone modified the fishfile.

[2016-04-10 12:40] jethrokuan commented on #182
@pickfire that would work theoretically, but I think we want to be more careful with when things get deleted. if `test -e $path` fails and it's not a symlink, it signifies a bigger issue, and should not be kept hidden.

[2016-04-10 14:55] detailyang commented on #182
+1 @jethrokuan  if test -e $path fails and it's not a symlink and the plugin is "installed",   it signifies a bigger issue.
should we tell user more detail about what we will to or tell user there is a broken link?

[2016-04-10 15:14] bucaran commented on #69
tennc

[2016-04-10 15:17] bucaran commented on #182
The link feature is mostly aimed at developers prototyping plugins, but I guess users can use it to create aliases or plugins for local use only. Either way, the user is likely to be a developer. Should we really clean up user mistakes like this?

[2016-04-10 15:24] jethrokuan commented on #182
I think users should clean up after their own mistakes here, but they should be made aware when something has gone awry.

[2016-04-10 16:00] detailyang commented on #182
so we should tell user we will remove the broken link?

[2016-04-10 16:01] bucaran commented on #182
Agree with @jethrokuan.

I'd say yes to this.

[2016-04-10 16:09] detailyang commented on #182
how about this?
[code]

[2016-04-10 17:45] bucaran commented on #182
LGTM

Let's use `debug` instead of `printf`. I'll merge it right away.

[2016-04-10 21:31] herrbischoff commented on #184
@bucaran: Unfortunately not. In Ubuntu that's what the problem was. In Alpine Linux it has to be something else. I'm going to investigate further.

[2016-04-11 01:54] detailyang commented on #182
@bucaran
 have used debug instead of printf on the PR #192 :smile:

[2016-04-11 02:48] #182 closed

[2016-04-13 02:17] bucaran commented on #155
@Shadowigor @hilmibakhari

[2016-04-13 02:18] bucaran commented on #155
@pickfire Have a look at https://github.com/b4b4r07/zplug, they have a similar idea.

[2016-04-13 08:02] ekollof opened #194 "Install fails on FreeBSD"
[code]

[2016-04-13 08:06] bucaran commented on #194
@ekollof Problem is you may not have `make` installed. Can you install `make` easily?

[2016-04-13 08:08] ekollof commented on #194
[code]

[2016-04-13 08:11] bucaran commented on #194
It seems you do have make, in that case can you try:

[code]

If that works fine, update things and get the `spin` plugin for cli progress interaction.

[code]

[2016-04-13 08:18] ekollof commented on #194
I suspect some variable expansion is not working so well. After above procedure:
[code]

[2016-04-13 08:19] bucaran commented on #194
We need to improve the installer for sure, so were you able to install fisherman okay?

[2016-04-13 08:22] ekollof commented on #194
It sorta works now. I manually edited the fish config. I'll mess around a bit to see if I can get stuff to work

[2016-04-13 08:25] bucaran commented on #194
@ekollof You are also welcome to try out [fin](https://github.com/fishery/fin), a more lightweight version of fisherman with a different approach. I think it may suit you better. Feature wise is essentially the same.

[2016-04-13 14:39] pickfire commented on #155
@bucaran, it impressed me that it only consists of one file just like vim-plug. They can also have the idea to install zplug automatically when it isn't there.

I had look through it but didn't saw where the autocorrection begins.

zsh is powerful, but it's slowness upsets me, I tried prezto and antigen in the past, both is very, very slow and it takes seconds to start up.

I think vim-plug still

[2016-04-13 14:40] bucaran commented on #155
@pickfire I think you might be interested in my new fisherman's spinoff project: https://github.com/fishery/fin

[2016-04-13 14:47] pickfire commented on #155
@bucaran, I think I am going to look at it, the `fin self-destruct` got me interesting. :boom:

[2016-04-13 14:48] bucaran commented on #155
@pickfire Thanks, the self-destroy feature is pretty cool, you don't even have to reset the shell after you are done.

[2016-04-13 14:54] pickfire commented on #155
@bucaran, the self destruct feature is something I had implemented in the past to do some surprise to my father when he login. The `fish_greeting` automatically self-destruct after running.

[2016-04-13 15:06] bucaran commented on #155
@pickfire Yup, no `curl | fish`, but `curl > fin.fish`.

[code]

[2016-04-14 09:17] pickfire commented on #155
@bucaran, looks cool, I have a lot of idea for `fin` currently.

[2016-04-14 09:22] bucaran commented on #155
@pickfire Feel free to share your heart at will!

[2016-04-14 12:52] bucaran opened #196 "Roadmap for 1.5.0"
+ [ ] Ditch make for a `scripts/make.fish` or `bin/install` file in pure fish that does what our `make` is presently doing and possibly also what `github/fisherman/install` does and remove that repository **or** keep that repo and make it work with `bin/install`, but either way make must go because we've had our share of users that don't have make.

[2016-04-14 13:13] lordlycastle commented on #155
@bucaran Oh! This is kinda cool. I would like to help too, though kinda intimidating; such a large file! I'm better at following so it would be best if you can me tell what you might need help with.

[2016-04-14 13:25] bucaran commented on #155
@lordlycastle I can walk you through the whole thing, just pick something and let's discuss it.

Help, yes, I need help! I am about to push 1.0 later tonight and start recording history properly.

Maybe you can try breaking it?

[2016-04-14 14:00] mekanix commented on #194
GNU Make on FreeBSD is gmake, while BSD make is make. Maybe that's the problem? I have access to a FreeBSD box so I'll let you know I debug this a bit more

[2016-04-14 14:01] lordlycastle commented on #155
@bucaran Cool. I'll installed it, I'll keep an eye out for bugs. Do you have a slack chatroom for fin? Since it's better to discuss it there than here.

[2016-04-14 14:02] bucaran commented on #194
I think this is not the problem. We had the exact same issue before and already fixed it by checking for the version and using either gmake or make.

What we really want to do is replace using make completely and rewrite that into a `bin/install` script in this repo.

@jethrokuan Do you have any comments?

[2016-04-14 14:02] bucaran commented on #155
@lordlycastle I think the #dev room in the fisherman slack is acceptable.

[2016-04-14 22:47] jethrokuan commented on #196
Will fin's fix for parallel updates/installs ported over here in 1.5.0? Or is the code base for installation and updating too big here?

[2016-04-14 22:51] jethrokuan commented on #194
Can't really infer here, but I think @mekanix is right about the variable expansion part.

Instead of using `~` in the installer, maybe using `$HOME` helps?

[2016-04-15 02:05] shangsunset commented on #117
does `plugin-nvm` work in fisherman? i installed in with fisherman but got `bash: nvm: No such file or directory`

[2016-04-15 02:17] bucaran commented on #117
@shangsunset I think most people use [`bass`](https://github.com/edc/bass), because it's a universal utility that works not just for nvm, but for other bash scripts too and developers don't like to reinvent the wheel.

I use [`n`](https://github.com/tj/n), which I find simpler than nvm and has been working well for me since day 1.

I personally don't like plugin-nvm because it teaches you the wron

[2016-04-15 02:21] jethrokuan commented on #117
I don't version node, I always just use the latest node/nvm arch gives me.

[2016-04-15 02:23] bucaran commented on #117
@jethrokuan That's interesting.

@shangsunset I really recommend you check out [tj/n](https://github.com/tj/n).

[2016-04-15 02:26] shangsunset commented on #117
@bucaran I heard when using `n`, whenever you switch node version some npm modules will stop working. Thats my only concern.

[2016-04-15 02:29] decors commented on #117
@shangsunset
`derekstavis/plugin-nvm` needs $nvm_prefix variable.

please try
[code]

[2016-04-15 02:31] bucaran commented on #117
@decors Are you running `plugin-nvm` with fisherman?

@shangsunset I think `n`'s only issue is when working with **global** modules. Maybe @qw3rtman can kindly clarify for us.

[2016-04-15 02:39] decors commented on #117
@bucaran Yes. its works for me.

[2016-04-15 02:41] bucaran commented on #117
@decors Interesting.

@orangecms What did you end up doing btw?

[2016-04-15 02:43] shangsunset commented on #117
@decors @bucaran I tried setting nvm_prefix and defining that nvm function and they make nvm work but installed node and npm wont work on shell startup

[2016-04-15 02:49] bucaran commented on #117
@shangsunset When fish starts it sources your ~/.config/fish/config.fish (if there is any). In that file we initialize fisherman which will do 2 things:

* add its function path to fish_function_path
* source every file inside `$fisher_config/conf.d`

So, to run your code at startup you need to add it to config.fish or write a plugin that does it for you, if you write that plugin then you can even

[2016-04-15 02:57] shangsunset commented on #117
@bucaran thanks. i did add that function in `config.fish` which made nvm command working but not for node or npm.

[2016-04-15 03:05] bucaran commented on #117
@shangsunset I think it's better if you join the chat, it seems to me you are fundamentally confused about how fish works, which is probably causing you to become desperate and run to install the first thing that seems to work.

Nothing wrong with that, we all started somewhere, but this thread is not going anywhere. Come over to the chat and I will walk you through every step of the process.

[2016-04-15 03:21] shangsunset commented on #117
@bucaran yea you are right :) joined the chat. thanks for the invite!

[2016-04-15 08:01] bucaran commented on #69
Please see above @flwh

[2016-04-16 04:56] jethrokuan commented on #196
note that this will break the current attempt by @orangecms to make a AUR package.

[2016-04-16 05:01] bucaran commented on #196
Yeah, let's discuss that. Updating the parallel update/install code seems like a thing worth doing. I don't think a lot of test rewiring would be needed, if at all, since fisherman's test are rather forgiving on that area.

Why?. The plan is to provide both a manual and curl|fish install, but not rely on make anymore.

[2016-04-16 05:05] jethrokuan commented on #196
The current AUR package uses `make` under the hood.

[2016-04-16 05:47] bucaran commented on #196
Yeah, I just want to have a more robust install procedure for fisherman in the future that's all.

[2016-04-16 11:37] bucaran commented on #69
Ping @jackric

[2016-04-16 11:37] bucaran commented on #196
@jethrokuan Do you have any other ideas for 1.5.0, I am trying to keep the list realistic, hence only one item on the list, but I think we could squeeze one or two things in there. I can work on this next week.

[2016-04-16 14:38] jethrokuan commented on #196
Given that all the complaints here are wrt to installations failing on certain distros, I think 1.5.0 should be the milestone that cleans all that up.

Also, perhaps it's time to relook at what's core in Fisherman, or what could be better implemented, and start to modularize.

[2016-04-17 06:32] bucaran commented on #194
@jethrokuan AFIK ~ expands to the real home path, whereas HOME is just a regular variable you can even set and the shell does not protect you from it:

[code]

[2016-04-17 06:34] bucaran commented on #194
Closing as partially or completely resolved.

@ekollof [You are also welcome to try out fin](https://github.com/fishery/fin), a lightweight version of fisherman with a simpler design. I think it could suit your use case better.

[2016-04-17 06:34] #194 closed

[2016-04-17 06:36] bucaran commented on #155
TBH I don't have any plans to implement this feature. While I think it would be nice to have, fisherman has a very capable search engine builtin that can answer anything wrt to plugins as described in the index.

If someone wants to take a stab at this, feel free to reopen.

[2016-04-17 06:36] #155 closed

[2016-04-17 06:38] bucaran commented on #184
We should be able to close this when the new installer ships with 1.5.0, which should happen sooner than you expect 😄

[2016-04-17 15:53] bucaran commented on #69
Hi @Invisible4ever, I thought you might be interested in checking out these.

[2016-04-18 16:00] bucaran commented on #196
1275b68e52cfe06937bb7b0c458b6c3e0b916c62

[2016-04-18 16:00] #196 closed

[2016-04-18 16:01] bucaran commented on #184
1275b68e52cfe06937bb7b0c458b6c3e0b916c62

[2016-04-18 16:01] #184 closed

[2016-04-19 06:46] bucaran commented on #69
Hi, please have a look? @hhstore

[2016-04-19 07:14] bucaran commented on #69
Hi Andrew, @andrewrynhard, can you have a look? Cheers.

[2016-04-19 08:14] bucaran commented on #160
@jethrokuan @orangecms @mkaito What's the status of this? and does the new install script changes anything?

[2016-04-19 08:39] jethrokuan commented on #160
@bucaran no, the it's likely that the make script will be used for arch installs.

[2016-04-19 09:19] orangecms commented on #160
Only if it does what it's supposed to do.

[2016-04-19 09:30] bucaran commented on #160
@mkaito Maybe you would be more intereted in fin? I think creating an AUR for fin would be way easier than fisherman, maybe we can work on it together?

[2016-04-19 09:38] orangecms commented on #160
@bucaran you'd just need to install your fish function to `$pkgdir/usr/share/fish/functions`, that's done in a minute. You can copy the PKGBUILD from fisherman-git and simply adjust the metadata. `makepkg` does everything else automatically. ;

[2016-04-19 10:21] bucaran commented on #160
I want to, but I am not familiar with any of those tools.

[2016-04-19 11:53] dalln1 commented on #160
@bucaran @orangecms I can do a PKGBUILD for fin, will be my first one, but doesn't look to complicated.

[2016-04-19 12:43] pickfire commented on #160
@bucaran I hope for unlimited time too... :cry:

@dalln1 @bucaran I would like to see a PKGBUILD for fin too but I think we should put it in a seperate place compare in maybe another branch or another repo, I don't think it is wise to enlarge the size of the repo for just simple things.

[2016-04-19 12:50] bucaran commented on #160
@dalln1 Thanks, that would be awesome 😄

[2016-04-19 20:38] laughedelic opened #200 "Update fisherman itself"
How do I update fisherman to the latest version. I have 1.4.0 and I see that there is a new release. But if I do `fisher update`, it updates only plugins ("update everything" in the docs is a bit confusing). If I try to run `curl -sL get.fisherman.sh | fish`, it tells me,

So do I have to _reinstall_ fisherman every time when there's a new release?

[2016-04-19 20:43] laughedelic commented on #100
Hi, I'm not opening a new issue, because I just have a question about spin. What happened in the end with this? Is it a plugin or a builtin command?
I see the https://github.com/fisherman/spin repo, but I cannot install spin with `fisher install spin`, also `fisher search spin` doesn't yield anything. It's not in the list of installed plugins, but there is a command `spin`. The `--style` option do

[2016-04-19 23:29] bucaran commented on #200
@laughedelic `fisher update` does update everything, that is plugins _and_ fisherman itself. If that's not working for you, can you post the log of the error?

[2016-04-19 23:46] bucaran commented on #100
@laughedelic It's a plugin, that's the correct URL too.

If we provide spin as a separate plugin, we need to provide a `spin` function stub with the same signature as the spin plugin because what if the user uninstalls it?

We have changed how fisherman is installed a few times over the course of the history of the project, so it was not always clear whether we should provide it out of the box, or

[2016-04-19 23:56] #200 closed

[2016-04-20 01:16] jethrokuan commented on #160
@bucaran the behaviour of `fisher u` still updates fisherman, and the same goes with fin. This runs contrary to how packages in the AUR should work.

[2016-04-20 01:28] bucaran commented on #160
@jethrokuan In the case of fin, however, modifying or making a compromise there would be a trivial thing to do.

[2016-04-20 01:37] jethrokuan commented on #160
@bucaran sure, but this still affects the viability of fisherman living in the AUR.

[2016-04-20 01:43] bucaran commented on #160
Right. Modifying fisherman to work with AUR is what I was hoping @orangecms would help us with.

I will accept any PR that does it.

WRT to fin, I can modify it to comply with any AUR requirements. Due to its unique update nature, essentially curl and no git, this should be very easy to accomplish.

[2016-04-20 01:56] jethrokuan commented on #160
@bucaran that would entail removing any means of updating fisherman through the cli, which would affect other users.

[2016-04-20 02:10] bucaran commented on #160
@jethrokuan Yeah, I am open to any modifications wrt to this if that means making fisherman available in AUR.

[2016-04-20 07:46] orangecms commented on #160
Yea, fisherman must not update itself. That is the system package manager's job. This is nothing to do with AUR. It's a general thing. Nothing must tamper with the system. I repeat myself: `fisher u` should only update the plugins as that is what it says in the menu. Just behave like other plugin/package managers.

[2016-04-20 08:27] orangecms opened #201 "fisher u unexpected behavior"
In the menu, fisherman says that `fisher u` would update the plugins. However, it also attempts to run git commands in the fisher home directory, which fail in case of a global installation in the system, which causes nothing to be updated. The command `fisher u` should not try to tamper with system integrity. It should also make sure to have access to where it tries to write files.

[2016-04-20 08:33] bucaran commented on #201
Yes, that's the current behavior. I am completely open to modifying this behavior entirely as well as dropping the current install procedure, but before we can do that we need packages for OSX, via brew, and Linux.

[2016-04-20 08:36] bucaran commented on #160
Totally agree and I thought you were working on a PR for this.

For my full answer see #201.

[2016-04-20 08:37] orangecms commented on #201
That is the responsibility of the distros and repos. If people want it, they will create a package. All we need to do is to provide a usual build procedure (Makefile, like in my PR; I should eventually also work on the CI tests). This bug was just reported in AUR, so I put it here for trackability. See https://aur.archlinux.org/packages/fisherman-git/#news

[2016-04-20 08:39] bucaran commented on #201
Go for it.

[2016-04-20 09:46] pickfire commented on #160
@orangecms But isn't `fisherman` is just like one package manager like `pacman`? So it should really update any package now right?

`fisher i` or `fisher u` will tamper with the system by adding an add-on.

[2016-04-20 10:08] bucaran commented on #160
@pickfire Yeah, but fisherman is unlikely to be distributed bundled with fish, so that's where we draw the line. fisherman takes care of your user owned addons (all of them are used owned) and a third party, brew, etc., should be responsible for getting fisherman / fin into our system.

[2016-04-20 10:09] laughedelic commented on #200
Thanks for the fix! Now it worked as expected:

[code]

Btw, spin leaves these dots after it finishes sometimes..

[2016-04-20 10:12] bucaran commented on #200
@laughedelic And there's also that number. This must be a bug in spin. I need to dig into this.

BTW are you familiar with fin already?

[2016-04-20 10:56] igalic opened #202 "Where should plugins put data?"
I'm trying to create a plugin that uses Unicode data. It provides offline access to all your unicode (and emoji) copy-pasting needs, but i'm struggling where to put the actual data.

Any guidelines for this?

[2016-04-20 12:16] bucaran commented on #202
@igalic This is not specific to fisherman or [fin](https://github.com/fisherman/fin) plugins, but any application.

The correct place to put your program's configuration is in XDG_CONFIG_HOME, by default ~/.config/your_program.

If your program uses a cache, then that should go into XDG_CACHE_HOME, by default ~/.cache/your_program.

Related: [XDG Base Directory support](https://wiki.archlinux.org/

[2016-04-20 13:09] laughedelic commented on #200
It's because one plugin also got updated (getopts). Or is that number supposed to disappear too?

Not really. I'm new to fish and fisherman and I'm a bit confused about relationships between things here. I thought that fin and fisherman are competitors, but then I saw fin in the fishery...

🎉 😆

[2016-04-20 13:14] bucaran commented on #200
They are competitors in a friendly way, they learn from each other, fin learn mostly from fisherman. They are all part of the "fisherman ecosystem". So, what was previously known as the fishery is know fisherman too. In other words, fisherman is now both the name of the plugin manager in this repo and an umbrella term to refer to the ecosystem.

Since the beginning people were already saying "fish

[2016-04-20 14:57] bucaran commented on #69
Hi, please have a look @wbbim

[2016-04-20 15:05] laughedelic commented on #100
@bucaran thanks for clarifying 👍
I completely understand the point of having it as a separate plugin, but bundled with fisherman.

Sorry for annoyance, but I have a couple more questions about spin:
- Is there a reason, why the issues are closed in the spin repo? Are you gathering all issues here? Or no complaints are allowed, only solutions (pull-requests)?  😅
- Still, the example in the spin rea

[2016-04-20 15:34] bucaran commented on #100
No reason, I must have disabled issues by mistake.

I'll fix the other things right away.

[2016-04-20 16:19] orangecms commented on #160
@pickfire fisherman should only install/update things in the user's home directory. It is not a system package manager like pacman (otherwise that would collide, multiple system package managers will only cause trouble).

[2016-04-21 00:57] domoritz commented on #200
Looks like https://github.com/fisherman/fisherman/issues/179

[2016-04-21 00:58] domoritz commented on #179
It's still happening and other people seem to see it as well (e.g. #200).

[2016-04-21 01:06] domoritz opened #203 "Quiet update is not quiet."
At least it prints things (and also shows a spinner), which I believe it shouldn't.

[code]

[2016-04-21 02:19] bucaran commented on #69
@murata0705 どうも、fish-shellユーザーなので、こちらを見ていただけますか？

[2016-04-21 02:23] bucaran commented on #200
@domoritz Have you seen fin already? https://github.com/fisherman/fin

[2016-04-21 02:27] bucaran commented on #179
Essentially the update mechanism in fisherman should be modified entirely and taken from `fin`, where the race conditions  were fixed already. This will likely break the test suite, so it's not a trivial change.

If you want to make all the problems go away right now, I suggest you simply move on to fin, else, I'll need a few days before I can look at this or if someone wants to take a stab at it,

[2016-04-21 02:30] bucaran commented on #203
We should be redirecting the output to `__fisher_stderr`, but it seems we are not. Fortunately, this bug is not a race condition and it shouldn't be too hard to fix.

[2016-04-21 03:18] domoritz commented on #200
Yeah, just saw it today. I'm trying to understand what the `fisherman - fin` is (assuming that fisherman offers something fin doesn't).

[2016-04-21 03:18] domoritz commented on #200
I guess https://github.com/fisherman/fin#15-why-did-you-create-a-new-project-instead-of-improving-fisherman explains part of my question.

[2016-04-21 03:23] bucaran commented on #200
Well, fisherman has search and can install things by name by looking at the index. fin is supposed to be more "agnostic" and try not to depend on an index. Also, since fisherman has an index, it can create completions with plugin descriptions. If that's not essential to you, try out fin.

[2016-04-21 03:26] domoritz commented on #200
I usually just search on github or browse some web page that lists plugins.

[2016-04-21 03:26] bucaran commented on #200
Yeah, me too, or use [fisherman.sh#search](http://fisherman.sh#search).

[2016-04-21 03:34] bucaran opened #204 "fin + fisherman?"
@fisherman/all

Recently, I released [fin](https://github.com/fisherman/fin) as an experiment, something along the lines of fisherman 2.0 and I am confident it's a step forward from what started a few months ago with fisherman.

It would be fantastic if we could merge these two projects together. They are quite different internally, so keeping them both as separate would not hurt either and I just

[2016-04-21 03:45] andrewrynhard commented on #204
What do you consider to be the strengths of each? Does either lack where the other is better? I do think merging them is a good idea. It was quite confusing as a user to figure out which will work better for me. I would imagine this could be a deterrent for some that could drive them away.

[2016-04-21 05:03] dalln1 commented on #204
I personally use fin and it does what it should do. No visible benefit of fisherman over fin for me.

[2016-04-21 05:09] bucaran commented on #204
I screwed up. I should have just released fin as a new version of fisherman. It's a massive change, so I took the easy way out I am created a new project. But I am going to fix that now.

I am going to merge fin **into** fisherman.

[2016-04-21 05:17] andrewrynhard commented on #204
I like the name `fin`. Clean and simple, just like its implementation. To bad it has to go!

[2016-04-21 05:27] bucaran commented on #204
The plan is to release fisherman 2.0 over the next hour. This is such a drastic change that we will jump from 1.5 to 2.0 in one go. Internally, it will exactly the same as fin, but with a different name and an even simpler CLI with fewer colors and flashy things.

WRT to the name, I'd like to go from `fisher -> fin -> f`.

[2016-04-21 05:31] detailyang commented on #204
+1
agree with @bucaran  merge these two projects together !!!! :grin:

[2016-04-21 05:31] sotayamashita commented on #204
@bucaran Is there any exactly definition of both ? I also use fish and fisherman but I am not sure. If they can be merge is the best but if we can not, I would like to define.

[2016-04-21 05:33] andrewrynhard commented on #204
I think you have something good going on with the theme of `fisherman`. The log outputs (`argh`), the package names (`sharl`, `fishtape`). The whole vibe attracted me. IMHO `f` takes away from that. Ultimately it is just a name, but that is my two cents. I think a merge is a great idea.

[2016-04-21 05:33] bucaran commented on #204
@sotayamashita Well, fin was an experiment and the results show it's more robust than fisherman, so we will just upgrade fisherman source code to use fin's source code, and bye bye to fin. It's hard to define both, but in terms of features they are almost the same.

The only thing that will be missing is the search command.

[2016-04-21 05:35] bucaran commented on #204
Thanks. That's why we are keeping this repo. Also, the "fisherman ecosystem" is a theme that I want to keep as well.

[2016-04-21 05:55] dalln1 commented on #204
I already use `f` as an alias for `fin`. So I can remove the AUR package for fin? (I wrote you @bucaran  an email about that, but as I see, not the best idea :smile: ).

[2016-04-21 07:36] #69 closed

[2016-04-21 08:09] bucaran commented on #204
It's easier to create an alias for fin/fisherman to `f`, than the other way around though.

We could ship 2.0 with `fisher` as the CLI command and if the user wants to, they can create an alias for it.

What do you think?

[2016-04-21 10:18] orangecms commented on #204
Exactly!

[2016-04-21 10:21] sijad commented on #204
why search command will be missed?

[2016-04-21 10:38] bucaran commented on #204
Because it will not be present in 2.0.

I will not actually "miss" it however :)

[2016-04-21 11:00] sijad commented on #204
Upgrading to 2.0 will be smooth?

[2016-04-21 11:05] bucaran commented on #204
Good question. I don't think it will as smooth as previous upgrades. In fact, it may be impossible by the fact that 2.0 is entirely different and sits in a different directory too.

On the other hand, installing it will be very simple, so I am not worried about that.

[2016-04-21 11:05] bucaran commented on #204
https://github.com/fisherman/fisherman/tree/2.0.0

[2016-04-21 11:11] dalln1 commented on #204
Will the installation be like stated here?

[2016-04-21 11:13] bucaran commented on #204
Yes. Exactly like this:

[code]

[2016-04-21 11:14] orangecms commented on #204
On ArchLinux it will be smooth. I will provide a non-git version when we have the Makefile merged. Then you can just use your favourite AUR helper to upgrade smoothly. However, since the API changes, scripts building on top of them (like the search function) will not work anymore or work differently. ;)

[2016-04-21 12:07] alphapapa commented on #204
Just a couple of cents here:

1.  I noticed that the fin repo is gone, gone, gone--well, all of the commits are.  I understand you wanted to fold it into fisherman instead, but man, if I had started to use fin since you told me about it, and I had spent any time setting it up, I'd be rather annoyed that the repo was wiped out, leaving me hanging.  This kind of thing is why I always feel like, if I

[2016-04-21 12:18] bucaran commented on #204
@alphapapa Hey

1. Yup, that was frankly reckless from my part. What will happen is fin will just be renamed `fisherman`, merged into this repo and released as fisherman 2.0.

2. Yeah, we discussed this at length on the slack channel. It will go on as `fisher` like you say.

3. I added my gpg key to github, is there anything else I need to add so my commits are signed?

[2016-04-21 12:22] alphapapa commented on #204
You need to tag your releases (which I think you're already doing), and then sign and push the tags.  In Magit it's as simple as `t -s t`, then push, for a new tag.  If you're signing a tag that you've already pushed to GitHub, you'll have to force the tag creation (`t -s -f t` in Magit), and then force-push the tags like `git push origin --tags --force` (Magit doesn't seem to like force pushing t

[2016-04-21 13:13] pickfire commented on #204
@bucaran, I like the merge but I like the name `fin` more than `fisherman` or `fisher`. So sad to see `fin` went out just like that. :sob:

[2016-04-21 13:25] alphapapa commented on #204
I guess this is the end of `fin`.

...

:D

...

I mean, D:

[2016-04-21 13:38] bucaran commented on #204
The only thing that is going to change is the name, and while I like `fin` more too, the brand fisherman is more attractive, so it's just a little compromise.

The good news is that now everyone can benefit from fin, because fisherman will evolve into fin.

@pickfire

Don't worry, he lives in you...

![screen-shot-2015-07-27-at-11-47-20-pm](https://cloud.githubusercontent.com/assets/8317250/147107

[2016-04-21 13:40] bucaran commented on #204
I don't know, we still have the repo, and the logo. We can make something useful with that name. Just, not a plugin manager :)

[2016-04-21 13:43] alphapapa commented on #204
I was just making a pun on fin/end, but yeah, that sounds like a good idea.  :)

[2016-04-21 13:46] bucaran commented on #204
Ahhhh, right, good one

[2016-04-21 14:03] daenney commented on #204
Just create an alias or abbrev or function that returns fin to you 😄

[2016-04-21 14:38] pickfire commented on #204
@bucaran, thanks a lot for that. :smile:

[2016-04-21 15:57] bucaran commented on #204
@alphapapa It took me a while to get through gpg, but I am happy. You'll never guess my passphrase.

<img width="1087" alt="screen shot 2016-04-22 at 12 58 45 am" src="https://cloud.githubusercontent.com/assets/8317250/14715772/1e67c392-0825-11e6-9fad-dc4109b71680.png">

[2016-04-21 15:57] bucaran commented on #204
c390b0b

[2016-04-21 15:57] #204 closed

[2016-04-21 15:58] bucaran commented on #179
c390b0b

[2016-04-21 15:58] #179 closed

[2016-04-21 15:58] bucaran commented on #203
Relevant: c390b0b

I think this is still not working exactly as you'd like to. Can you check again?

Please see the README for instructions on how to upgrade to 2.0.

[2016-04-21 16:19] dalln1 commented on #203
Still not quiet with:
[code]

[2016-04-21 16:32] bucaran commented on #203
That will be the first thing I'll fix then 😄

[2016-04-21 18:31] domoritz opened #208 "`fisher self-uninstall` is not a valid command"
I wanted to reinstall fisherman because I'm having a bunch of issues with missing files. However, the uninstall command from the readme didn't work.

[2016-04-21 18:35] domoritz commented on #208
Never mind, this is for 2.0.

[2016-04-21 18:35] #208 closed

[2016-04-21 19:29] bucaran commented on #69
Ping @noikiy

[2016-04-21 20:36] tasmo commented on #200
Is that just a guess? I miss the search command much. R.I.P. fin. :/

[2016-04-21 21:27] bucaran commented on #200
@tasmo There is no builtin search command, but the index is still available. It's just a matter of creating a plugin to search it. I might just do that after I am done with some other stuff first in the TODO.

I am working on a bunch of small plugins and a little surprise for everything.

The old search code is still available if you look in the git history. Perhaps extract that into a plugin and

[2016-04-22 04:29] pickfire opened #211 "Return to self-destruct"
I really like the idea of `fin self-destruct`, it server more meaning compared to `fisher self-uninstall`, @bucaran is there any chance to change it to `fisher self-destruct`?

[2016-04-22 04:55] alphapapa commented on #204
@bucaran Hmm, sounds fishy to me.

[2016-04-22 05:00] bucaran commented on #69
Hi @butzhang, please see above.

[2016-04-22 05:02] bucaran commented on #211
It was `self-destroy` in fin. In fisherman I changed it to `self-uninstall`. It's exactly the same code and I don't see any point of changing that now.

@jethrokuan ?

[2016-04-22 06:01] bucaran opened #212 "website improvements"
@fisherman/all

Now that fin has ended and we are back to fisherman, it would be nice to have another look at the website and remove some of the cruft / redesign some of it. Perhaps even make it only a plugin search UI :)

Because so much have changed, I have drastically reduced the current [website](http://fisherman.sh/) to just the original search functionality and removed the feature / footer s

[2016-04-22 06:09] bucaran commented on #202
@igalic Feel ready to close?

[2016-04-22 06:09] sijad commented on #212
* how about show install instruction before plugins search?
* maybe smaller search results?

[2016-04-22 06:11] bucaran commented on #201
@orangecms With 2.0 a lot has changed, for once, fisherman will not self-update anymore if it detects a non-standard setup. Is this issue still relevant?

[2016-04-22 06:12] bucaran commented on #212
Yeah, why not.

[2016-04-22 06:14] bucaran commented on #160
fisherman 2.0 does not self-update anymore if a non-standard setup is detected, that is, any setup  other than the one advised in the README. So, while the self-upgrade functionality is still there, it does not / will not interfere with AUR or any other package manager AFIK.

[2016-04-22 06:14] sijad commented on #212
maybe showing two result in a row? that can be possible I guess

[2016-04-22 06:15] bucaran commented on #212
I am not against of anything really. The website is just a means for users to search content, so it should make it simpler or more obvious. Maybe we can even remove the fisherman logo from the center and make it just a little footprint on the top / bottom and something more like: gulpjs.com/plugins/

[2016-04-22 06:21] sijad commented on #212
nice idea, how about a separated page and link for plugins just like *gulpjs* and a simple front page with logo and install instruction?

[2016-04-22 06:28] sijad commented on #212
IMO install instruction is a little more important that plugins, it's confusing when they don't know how can they install fisherman
also it can be a good idea to add a little button for each search result to show install instruction for each plugin, it can show a modal with a little text input to tell user copy and paste that code in terminal for install the plugin

[2016-04-22 06:32] bucaran commented on #212
Could work. Yes!

also it can be a good idea to add a little button for each search result to show install instruction for each plugin, it can show a modal with a little text input to tell user copy and paste that code in terminal for install the plugin

This is okay too, but then isn't that too much work? The idea is to ship something useful and fast.

[2016-04-22 06:48] sijad commented on #212
yes but user should know how to install that plugins, maybe a little note before search text box or something?

[2016-04-22 06:51] jethrokuan commented on #212
re: copy to clipboard, should be easy: https://clipboardjs.com/

[2016-04-22 06:53] jethrokuan commented on #212
Plugin search can be revamped:

I'm thinking if it's a separate page we could do really interesting stuff:

It could work like google fonts, where they can choose plugins to install by clicking `use` or something and it forms up the command in the end, which could be easily copied to the clipboard.

[2016-04-22 06:55] bucaran commented on #212
Yeah, that too, instructions are simple to infer though:

If plugin is in fisherman org:

[code]

else

[code]

[2016-04-22 07:00] sijad commented on #212
I still thing it can help user to see install instruction for each plugin, I like @jethrokuan idea a lot, user can select multiple plugin and install them by one command, that's very interesting

[2016-04-22 07:05] bucaran commented on #212
Yeah, sure, why not.

[2016-04-22 07:27] jethrokuan commented on #211
@bucaran not exactly something I do often, but self-uninstall seems to relate to how the code is written: `self-update` for example.

I'm unopinionated as to what it's called.

[2016-04-22 07:57] pickfire commented on #203
@bucaran, maybe we should implement a silent update which is totally quiet so no sound is produced.

[2016-04-22 08:26] bucaran commented on #211
self-destroy was a "cool" term, but I feel "self-uninstall" is a bit more serious, without losing the general vibe.

Closing as wontfix. Sorry @pickfire :)

[2016-04-22 08:26] #211 closed

[2016-04-22 08:28] bucaran commented on #203
@pickfire No output. Absolutely and no worries, I'll push this very soon. --quiet should make fisherman be completely silent as you would expect.

[2016-04-22 10:41] pickfire commented on #211
No problem!

[2016-04-22 11:23] orangecms commented on #201
Nope, I've closed it.

[2016-04-22 11:23] #201 closed

[2016-04-22 11:26] orangecms commented on #160
I'll create a non-git package in AUR. Users of the current -git version will be hinted that Fisherman has changed a lot and they need to take care of an update.

[2016-04-22 13:01] herrbischoff commented on #212
You are sick for a couple of days and suddenly everything is different! :D Just wanted to say that I'm still on board with taking point on building the (now Fisherman instead of fin) site.

First meta input for the site: as it is all too often forgotten, we need to keep the focus on what a *visitor* would expect, not what *we* would like to implement. A site is for visitors after all. Therefore, I

[2016-04-22 13:40] zacheryph opened #213 "fisher broke my shell..."
Broke install... again.  Shouldn't it be a goal to... keep something as someones shell/terminal/console in a working state.  I had this problem with oh-my-fish and thought fisherman was greener pastures.  I should just expect this with fish frameworks?

I did a fisher update, got a bunch of errors, opened-a-new terminal to not have a fisher command at all, and not have a theme.  I manually source

[2016-04-22 13:47] bucaran commented on #213
@zacheryph

Here is the relevant issue and history of how we went from 1.5 to 2.0: https://github.com/fisherman/fisherman/issues/204

The change from 1.5 to 2.0 was massive, so that should explain all the problems you were / are having.

To upgrade to 2.0 correctly you need to remove the old fisherman, and then follow the instructions on the README to install the new one.

If you don't want to do

[2016-04-22 14:34] bucaran commented on #203
fa1ef92

[2016-04-22 14:34] #203 closed

[2016-04-22 14:34] bucaran commented on #213
@zacheryph Let me know if the above instructions don't work or you still other help troubleshooting the upgrade.

[2016-04-22 15:08] zacheryph commented on #213
Yes this got this working.  Just a little frustrating to constantly have this happen. ;)  It might be helpful to others to make a note of the breaking change in the README. there is an install section but no upgrade/upgrading one.

[2016-04-22 15:42] bucaran commented on #213
@zacheryph The 1.5 -> 2.0 upgrade was too reckless, but after working so much on this thing, I am quite confident it was for the best. Please keep me posted if you encounter any further problems.

A (temporary) note on how to upgrade from 1.5 deserves some mention indeed. I'll get around that in a bit.

[2016-04-22 15:42] #213 closed

[2016-04-22 15:50] bucaran commented on #69
Would you mind having a look at this? @cheekybastard

Cheers!

[2016-04-22 19:52] amir20 opened #214 "Commands are not found in new sessions"
I can't figure out why this is happening and I am tried of debugging. Very often, after updating, (or some action) my commands are no longer found. For example, `z` is clearly installed by fish says `unknown command`.

<img width="956" alt="screen shot 2016-04-22 at 12 51 28 pm" src="https://cloud.githubusercontent.com/assets/260667/14753265/0d397e1c-0889-11e6-914a-94f2040178dd.png">

[2016-04-22 21:36] amir20 commented on #214
So after a while, I noticed that this happens when I open a new tab. Has any body else found this to be a problem? Because it sounds like a big bug.

[2016-04-22 21:40] amir20 commented on #214
@bucaran Looks like whatever that was committed in the last day broke this. I confirmed with a new install that `fisher package` works after installation. But opening a new window doesn't.

[2016-04-22 22:00] portenez commented on #214
+1 I also have this problem with z

[2016-04-22 22:08] amir20 commented on #214
It has also broke `pyenv`, `rbenv`.  But not `bass`. Which is weird.

[2016-04-23 00:46] bucaran commented on #214
@amir20 @portenez

**tl;dr**: if you are using the latest fish this is already taken care for you and it will be so in 2.3.0.

fisherman was built for the latest fish, but at least 2.2.0 is required. If you can't upgrade your build, append the following code to your ~/.config/fish/config.fish for snippet support.

[code]

[2016-04-23 01:43] #202 closed

[2016-04-23 01:44] bucaran commented on #212
@herrbischoff Should I create a new design or can you work with the existing theme? Maybe we should just start from scratch, my original html/css was pretty crappy.

[2016-04-23 03:37] bucaran commented on #69
Hi Moritz, @flat235, would you mind having a look at this issue? Cheers.

[2016-04-23 03:53] herrbischoff commented on #212
I like the clean look of the current website. If you have something that's just itching you to be changed, let me know. Otherwise I'll be taking the current source and clean it up. It needs to be converted to `pug` (formerly Jade) anyway. ;)

[2016-04-23 04:02] bucaran commented on #212
@herrbischoff Have you seen the latest modifications I made? I removed almost everything, leaving only the search. If we are going to go the only search route, then we should redesign it.

[2016-04-23 04:07] amir20 commented on #214
@bucaran I have version 2.2.0. Do you think it's a good experience for fisherman to NOT work with latest stable version? I only ask because the documentation says latest version of fish. Which is what is installed. So it should work, but really you mean latest HEAD which is something different.

I'd say update the documentation.

[2016-04-23 04:14] bucaran commented on #214
@amir20 I am confused, fisherman *does* work with 2.2.0, in fact, that's the version I use.

<img width="408" alt="screen shot 2016-04-23 at 1 14 02 pm" src="https://cloud.githubusercontent.com/assets/8317250/14759215/42ec2cf4-0955-11e6-9359-e0629f577e34.png">

[2016-04-23 04:17] amir20 commented on #214
Then I don't think you understood this bug. I am saying that I see this but with the latest version of fish. Is that to be expected? So I guess we should reopen this ticket because I wasn't running an older version. Sorry if that wasn't clear.  I have the latest version via brew on Mac OS.

[2016-04-23 04:19] bucaran commented on #214
@amir20 This is not a bug. In order to run "snippets", that is, .fish files which are evaluated / sourced on shell startup, you need fish from HEAD or add to your config.fish the following:

[code]

It says so in the faq: https://github.com/fisherman/fisherman#1-what-fish-version-is-required

Now, we could definitely rewrite / reword some of that.

[2016-04-23 04:21] herrbischoff commented on #214
@amir20: Please post the output of `fish -v` so we know exactly what version of fish you are using.

[2016-04-23 04:21] bucaran commented on #214
@herrbischoff He is using 2.2.0.

[2016-04-23 04:22] herrbischoff commented on #214
@bucaran: Just checking to cover all bases.

[2016-04-23 04:23] bucaran commented on #214
@amir20 Okay, I just re-read this report, and I am starting to think the

[2016-04-23 04:25] herrbischoff commented on #212
@bucaran: Alright, then give me something to go on folks. ;) Redesign means what exactly? Examples of websites you like, even just parts of it, would be helpful.

[2016-04-23 04:27] bucaran commented on #212
Okay, do you think we need a fisherman landing page with the search builtin, or have both separate?

[2016-04-23 04:29] herrbischoff commented on #212
I like search but it would be cool to have something like the gulp-page where all plugins are listed in an endless scroll but you can filter down by entering something in the search window. I believe someone wrote that earlier but I'm too lazy to look. ;)

So, I'm thinking extremely simple landing page with the one-line install instructions and a list of plugins on a separate page.

[2016-04-23 04:32] bucaran commented on #212
@herrbischoff

Yes, we don't need an entire new theme for that, we already have the logo and the colors and overall look of the current page should not change that dramatically.

And yes, an infinite scroll sounds better than the current search bar (which was my bad idea btw not @jethrokuan's ;))

[2016-04-23 04:33] herrbischoff commented on #212
@bucaran: For reference, like that: http://gulpjs.com

[2016-04-23 04:36] amir20 commented on #214
I am away this weekend so I won't be able to give you the exact version. I am responding with my phone. I can get you the correct version on Sunday. But it's the latest 2.2 version on Mac via brew.

Maybe @portenez can share his version? I just know this started happening after I upgraded to the latest fisherman.

[2016-04-23 04:36] herrbischoff commented on #212
Good to hear. I can concoct some cross between gulp and the current Fisherman page without completely ripping off the look of the first.

[2016-04-23 04:40] bucaran commented on #214
@amir20 I know you are busy away this weekend, but I feel you are not hearing my words, which is almost disconcerting.

Can you read this: https://github.com/fisherman/fisherman#1-what-fish-version-is-required?

Thanks.

[2016-04-23 04:44] jethrokuan commented on #212
Given that the website is going to be a lot simpler, I hardly see the need for a templating library now, let alone a site generator like jekyll. It'd be a lot easier to work on plain static html and css.

[2016-04-23 04:47] herrbischoff commented on #212
@jethrokuan: Plain HTML may do (but why, when pug is so much nicer and will be compiled to HTML anyway) but writing plain CSS in a responsive world with tons of browser-specific prefixes comes dangerously close to punishing yourself for no reason... ;)

[2016-04-23 04:48] bucaran commented on #214
#### Some commands are not found in new sessions. Is this a bug in fisherman?

**No**. If you are running fish 2.2.0 (you probably are), you need to add the following code to your `~/.config/fish/config.fish` for snippet support.

[code]

#### Okay, now everything works. What is a snippet anyway?

"Snippets" is a new feature in fish 2.3.0 that sources all *.fish* files inside a new directory named

[2016-04-23 04:48] #214 closed

[2016-04-23 04:49] jethrokuan commented on #212
@herrbischoff because everyone would have to download a pug to html compiler in order to effectively contribute. I redid the css in sass for the same reason, and I realized the same.

[2016-04-23 04:51] herrbischoff commented on #212
@jethrokuan: Well, I feel that providing a complete package (via gulp) should alleviate that. All you'd have to do is to do `npm install` and `gulp` and you'd be off to the races.

[2016-04-23 04:54] jethrokuan commented on #212
I'm not particularly against that, but @bucaran had something to say back then.

[2016-04-23 04:54] bucaran commented on #69
Hi Luke @lukewang1024, would you mind having a look at this issue? Cheers.

[2016-04-23 04:54] amir20 commented on #214
What am I missing? That faq says you must have the latest version installed. It requires minimum 2.2.0 and if you don't have latest then you must add this snippet of code.

Ok so I have latest installed. According to fish website 2.2.0 is the latest version.

Reading your documentation suggest I should be able install using brew. And it should work. That's unclear. I am not trying to be annoying.

[2016-04-23 04:54] herrbischoff commented on #212
Alright, @bucaran, let's hear it! :D

[2016-04-23 04:58] bucaran commented on #212
Yup, I did. My reasoning was, if you add a lot of cool stuff, then, who's going to be responsible for maintaining that? So, I was just looking after myself.

If @herrbischoff feels he is more productive in pug and the rest of the stack he is proposing, then go ahead.

@jethrokuan Sorry 😓

[2016-04-23 04:59] herrbischoff commented on #212
For the record, I would be fine with plain HTML but I will not give up on my Stylus. :)

[2016-04-23 04:59] bucaran commented on #212
@herrbischoff Pug is no problem.

You can write the front end in Elm if you like.

[2016-04-23 05:00] jethrokuan commented on #212
@herrbischoff go ahead then (:

[2016-04-23 05:01] herrbischoff commented on #212
@bucaran: Ahh, I remember the chat. Elm — gotta dive into that some time. Still, not search friendly at all, that stuff.

[2016-04-23 05:01] herrbischoff commented on #212
@jethrokuan: I promise to keep the stack minimal. No need to tack on loads of junk. ;)

[2016-04-23 05:04] jethrokuan commented on #212
feel free to rewrite the seach script with mithril/vue/whatever, it was quite poorly done.

[2016-04-23 05:08] herrbischoff commented on #212
We will see. I was thinking vanilla JS and see how far we can get without adding framework overhead.

[2016-04-23 05:10] bucaran commented on #214
@amir20 Good point. The latest fish accordin to the website is 2.2.0, but that's going to change very very soon:

https://github.com/fish-shell/fish-shell/releases

[2016-04-23 05:26] bucaran commented on #214
Improved wording in the question, I think it's much clearer now. Thanks!

https://github.com/fisherman/fisherman#1-what-fish-version-is-required

[2016-04-23 05:26] bucaran commented on #214
@amir20 Good point.

Improved wording in the question, I think it's much clearer now. Thanks!

https://github.com/fisherman/fisherman#1-what-fish-version-is-required

[2016-04-23 06:09] amir20 commented on #214
Much better!

[2016-04-23 06:23] bucaran commented on #214
Yeah, agreed the previous wording was misleading. Thanks for bearing with me haha.

[2016-04-23 07:34] herrbischoff commented on #212
@bucaran: Where should I put the development site?

[2016-04-23 08:12] bucaran commented on #212
Yes, that's here:

https://github.com/fisherman/fisherman.github.io

[2016-04-23 08:16] bucaran commented on #212
I just pushed the sticky footer, cleaned up a little bit the html and remove some of the css that we don't use anymore. It's still quite messy.

You could start on tidiying up everything, I am pretty sure my html still sucks and removing all the cruft as your rewrite the CSS with Stylus.

So, for starters let's just use Stylus and consider adding pug later. Why? Because HTML is quite simple and th

[2016-04-23 08:36] oskarrough opened #216 "fish: Unknown command '__fisher_complete'"
Hi, somehow I messed up my previously well-working fish/fisherman setup on OS X. When I run `fisher update` I get

[code]

My `debug.fish` looks like this:

[code]

Any ideas? If there's a nuclear option to reinstall fisher I'd like that 👍

[2016-04-23 08:43] bucaran commented on #216
@oskarrough

If there's a nuclear option to reinstall fisher ?

Yes

[code]

Notes: That is an older version of debug that still depends on that old code.

[2016-04-23 08:44] herrbischoff commented on #212
Yeah, I've already started on the site. Using pug however. You'll see: it's a lot less clutter with it. Besides, I've really come to despise any kind of XML.

I'm in the middle of rewriting the main HTML code (which is *indeed* quite... creative) and cleaning up the CSS to be used in Stylus. I'm throwing away about 90% of the current work to build a far more simple and clean setup. Bootstrap may h

[2016-04-23 08:50] bucaran commented on #212
I hear you.

The sticky footer is just blue like the background of the page so you can't see it, but if you were to change the color it would stick to the bottom. A true 21st centruy accomplishment.

Go ahead. Do look at the website as it is right now as it does not really look bad.

[2016-04-23 10:00] portenez commented on #214
Guys I'm using 2.2.0. I think this is going to be a very popular version because it's the one provided by homebrew... at least for the time being.

[2016-04-23 10:27] bucaran commented on #214
@portenez 2.3.0 will be released very soon, days? weeks? The pre-release is already out btw:
https://github.com/fish-shell/fish-shell/releases/tag/2.3b1

For the time being, just add this to your config.fish

[code]

I am not a brew ninja, but AFIK you can pull from HEAD using the cli, so even with brew you should be able to upgrade to the true latest.

[2016-04-23 11:29] herrbischoff commented on #214
That would be `brew reinstall --HEAD fish`.

[2016-04-23 11:35] denji commented on #214
`brew upgrade --HEAD fish`

[2016-04-23 16:22] bucaran commented on #160
@jethrokuan Would you mind having another look at this? I think I could help.

[2016-04-23 17:08] therealmarv commented on #214
the last command should be better in a fish shell

`brew up; and brew upgrade --HEAD fish;`

[2016-04-23 20:08] oskarrough commented on #216
Thank you, but doesn't seem like it. Running the command gives me

`You seem to be running fisherman >=2.0.0 :)`

[2016-04-23 20:10] andrewrynhard opened #217 "Add fisherman to http://dotfiles.github.io"
In the 'Go further with a framework' section of this page we should lister fisherman.

[2016-04-23 20:41] andrewrynhard opened #218 "Fisher overwrites my fishfile"
If I have a fishfile that exists in `~/.config/fish` then install `fisher` then run `fisher install` my `fishfile` get wiped out. How can you store your `fishfile` and on a fresh install use it to get the same setup?

[2016-04-24 02:09] bucaran commented on #216
@oskarrough So you are already using 2.0.0 I guess :)

Just delete the debug plugin then. That `debug` directory must be somewhere, I presume your config, simply erase it.

[2016-04-24 02:14] bucaran commented on #217
https://github.com/dotfiles/dotfiles.github.com/pull/133

[2016-04-24 02:18] bucaran commented on #218
@andrewrynhard I can't repro this, it works just as expected. Here is what I did.

1. Remove fisherman from my setup to see if I could repro from a clean install.
2. `curl -Lo ~/.config/fish/functions/fisher.fish --create-dirs git.io/fisherman`
3. `echo stark > ~/.config/fish/fishfile`
4. `fisher`

<img width="751" alt="screen shot 2016-04-24 at 11 17 59 am" src="https://cloud.githubusercontent.co

[2016-04-24 02:27] andrewrynhard commented on #218
I did run `fisher install`. Thanks.

[2016-04-24 05:02] bucaran commented on #69
Hi @agamem can you have a look?

Cheers.

[2016-04-24 05:48] #217 closed

[2016-04-24 05:56] bucaran commented on #160
https://aur.archlinux.org/packages/fisherman

Big thanks to @orangecms!

I think we can close this now.

[2016-04-24 05:56] #160 closed

[2016-04-24 06:25] #218 closed

[2016-04-24 07:58] bucaran commented on #69
Hi @llorephie, would you mind having a look at this?

Cheers :)

[2016-04-24 08:59] oskarrough commented on #216
That was it! Thank you.

`rm ~/.config/fish/functions/debug.fish`

[2016-04-24 08:59] #216 closed

[2016-04-24 09:09] bucaran commented on #69
@bassy どうもこんにちわ。このissueを見ていただけますか？

[2016-04-24 14:04] rnorth commented on #186
It looks like the bobthefish theme is expecting to find the global ruby version in `~/.rbenv/version` but it's not there. I had this same problem too (coming from having regular rbenv+fish to fish+fisherman with the rbenv plugin). The relevant lines of `fish_prompt.fish` are:

       # Don't show global ruby version...
      set -q RBENV_ROOT
        or set -l RBENV_ROOT $HOME/.rbenv

      read -

[2016-04-24 14:06] bucaran commented on #186
@rnorth I have forked, bobthefish [here](https://github.com/fisherman/bobthefish), I don't use it myself, but since it's quite popular I've put it there hoping to fix some of its bugs in the future. If you want to PR me there with that go ahead.

[2016-04-24 17:26] unixorn commented on #217
@andrewrynhard, @bucaran's PR has been merged into dotfiles.github.io.

[2016-04-25 02:50] amir20 commented on #214
I can confirm that `brew reinstall --HEAD fish` fixes the problem.  @bucaran Thanks for understanding and fixing the documentation. I was also confused about the doc and I am not sure when `v2.3.0` will be released. There is nothing about official release data except [staging](http://fishshell.com/staging/) which only talks about a prerelease.  Hopefully it will be released soon because I can imag

[2016-04-25 03:02] bucaran commented on #214
@amir20 So you are using 2.2.0 with the `config.fish` snippet support code as described in #faq#1 or just 2.3.0?

[2016-04-25 03:04] amir20 commented on #214
I updated to `HEAD` which I believe is not `2.3.0` but it works. When I do `fish -v` I see `fish, version 2.2.0-793-gdcef1a5`. I chose this because I prefer minimal changes from the vanilla install. 👍

[2016-04-25 03:08] bucaran commented on #214
Cool.

[2016-04-25 16:42] FabioAntunes opened #223 "📌📚📕 Migration instructions from oh-my-fish to fisherman?"
It's somehow related to https://github.com/fisherman/fisherman/issues/110 but I think that would be nice to have a migration guide, explaining how to migrate all the plugins and stuff from omf to fisherman.

[2016-04-25 16:46] bucaran commented on #223
Yes, this is exactly what we were just discussing on Slack.

Ping @laughedelic

[2016-04-25 16:50] bucaran commented on #223
### Sticky 🍍

If you are running anything before 2.0

[code]

use `curl -L git.io/fisher-up-me | fish_indent --ansi` to inspect the script first if you like.

[2016-04-25 17:07] bucaran opened #224 "could ``fisher`` read from standard input?"
The following is desirable.

[code]

or

[code]

Notice that the above can be accomplished using `fisher i < stdin`, but it does not work with just `fisher < stdin`.

[2016-04-26 06:16] bucaran commented on #69
Ping @melotusme

[2016-04-26 06:20] melotusme opened #225 "I feel fooled by the plugin fisherman, it makes my life worser, many times."
I'm frustrated. I'm fresh, but the plugin crashed many times. Just now,  it crashed again, because i just key `fisher update` in my terminal.

[2016-04-26 06:25] bucaran commented on #225
@melotusme There was a dangerous upgrade recently, to 2.0, you can upgrade with:

[code]

[2016-04-26 06:29] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately changes are not backward compatible, but you can upgrade with:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

[2016-04-26 06:29] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately changes are not backward compatible, but you can upgrade with:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

[2016-04-26 06:29] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately changes are not backward compatible, but you can upgrade with:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

[2016-04-26 06:31] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

Related: https://github.com/fisherman/fisherman/issues/223

[2016-04-26 06:31] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

Related: https://github.com/fisherman/fisherman/issues/223

[2016-04-26 06:32] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh).

Related: https://github.com/fisherman/fisherman/issues/223

[2016-04-26 06:33] #225 closed

[2016-04-26 06:33] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:33] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:33] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:33] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:42] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:42] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:42] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:49] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above didn't work out for some reason, feel free to reopen this issue :)

Related: https://

[2016-04-26 06:56] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above doesn't work, please reopen the issue :)

Related: https://github.com/fisherman/fishe

[2016-04-26 07:35] bucaran commented on #225
@melotusme There was a huge update recently, to 2.0, unfortunately, changes are not backward compatible, but you can upgrade with the following if you are stuck in 1.5:

[code]

Let me know if the above fixed your issue and if you need more help, you can [join.fisherman.sh](http://join.fisherman.sh). If the above doesn't work, please reopen the issue :)

Related: https://github.com/fisherman/fishe

[2016-04-26 09:43] bucaran opened #226 "remove dependencies"
<h1></h1>

Say someone installs `segment`, to help them prototype a new prompt/theme they are working on.

While they are at that, they also install `stark` or `superman`, because they like it, or because they want to see `segment` in action.

Later they decide they don't want either of those and `fin rm stark superman`. By definition, this should remove `segment`, since these two prompts depend o

[2016-04-26 11:19] herrbischoff commented on #225
@melotusme: Also, it would be very helpful to get actual information and screen output instead of a whining post about how you feel. This is the behavior of so called "lusers". We really **want** to help you. We need information for that. Please help us help you. Thanks.

[2016-04-26 11:22] bucaran commented on #225
@melotusme Also, please take no offence, but just in case there was a language miscommunication issue here, we have docs in Chinese too.

https://github.com/fisherman/fisherman/tree/master/docs/zh-CN

[2016-04-26 11:53] laughedelic commented on #225
@bucaran that translation doesn't have the new upgrade instructions

[2016-04-26 12:17] bucaran commented on #225
Good point.

Ping @detailyang, if you have a second, can you fix it up? 🙏

[2016-04-26 12:37] bucaran opened #228 "fisherman adds .git suffix to some plugins unexpectedly"
I found this in my fishfile. I am unable to repro at the moment, but if anyone sees this, please let me know.

I'll try to reproduce later and close if fixed or can't reproduce again after testing for a period of time.

![screen shot 2016-04-26 at 9 35 45 pm](https://cloud.githubusercontent.com/assets/8317250/14818221/e322d454-0bf6-11e6-9980-7b3ded37d9e5.png)

[2016-04-26 13:04] melotusme commented on #225
I did not want to take offence at beginning. But I'm really frustrated. I can get rid of it by myself, but it takes my time !!! And it's not the first. I just type `fisher update`, and everything goes wront, I feel amazing!!!. BTW, I found it may conflict with `mackup`. Thanks for all your answers.

[2016-04-26 13:11] bucaran commented on #225
Run

[code]

If that does not work:

[code]

Then, just use:

[code]

to install fisherman 2.0 and you'll be in heaven.

[2016-04-26 13:17] melotusme commented on #225
I found this in the readme file, but current, the  latest version is 2.2 in fishshell.com.

[2016-04-26 13:24] pickfire commented on #225
@melotusme Don't worry, be happy! :smile:

@bucaran IIRC, there is some bug with that `curl ...|fish` which doesn't remove the line that has been added in `~/.config/fish/config.fish`. Not sure if I can reproduce it now but I had to manually removed that in the past.

[2016-04-26 13:27] pickfire commented on #223
@bucaran, I thought it is in the wiki page. :scream: When did the ultimate wiki page just disappeared like that?

[2016-04-26 13:27] melotusme commented on #225
@bucaran
Did you forget this???
[code]

[2016-04-26 13:30] pickfire commented on #225
@melotusme Nope, it is deleted.

[2016-04-26 14:13] bucaran commented on #225
@detailyang Maybe you can help with Chinese translation?

I have 2.2.0.

The nuance is, fisherman was designed for 2.3.0, but it works just perfect in 2.2.0.

if test -d ~/.local/share/fisherman
  rm -rf ~/.local/share/fisherman
end

Yes. Remove that too please.

[2016-04-26 14:25] detailyang commented on #225
`fish shell` has released 2.3b1 and now i'm ready to upgrade the readme.md for Chinese:)

[2016-04-26 14:31] bucaran commented on #223
@pickfire I feel we don't need a wiki anymore. With fisherman 2.0 there is little or nothing the user needs to know, let's keep it that way and not complicate our lives with more tutorials :)

[2016-04-26 14:31] pickfire commented on #223
Okay

[2016-04-26 14:44] bucaran commented on #225
@melotusme Please try fisherman again! I know the upgrade to 2.0 broke your shell, but 2.0 is so much better than 1.5 and after this there will never be more cross-versions breaking. My word.

[2016-04-26 14:59] decors opened #230 "Re-install plugin problem?"
My env: OS X Elcapitan, fish **2.3b1**, fisherman **2.1.10**

Install plugin with fisherman.
[code]

And, uninstall and re-install it.
[code]
[code]
That plugin's directory structure will be double depth.

[2016-04-26 15:03] bucaran commented on #230
@decors Is "foo" a local plugin or a real plugin?

[2016-04-26 15:05] decors commented on #230
@bucaran Real plugin.

[2016-04-26 15:07] bucaran commented on #230
@decors I am sorry, I can't repro this. Can you take a screenshot?

[2016-04-26 15:17] FabioAntunes commented on #223
@bucaran Thanks, I'm going to give fisherman a try I will post the results.

[2016-04-26 15:31] decors commented on #230
@bucaran Thanks.

It occurred in the update after re-install.
seems there is a problem with the `.cache`.

![reinstall](https://cloud.githubusercontent.com/assets/34811/14823813/cfbea65a-0c0e-11e6-9cd8-14b4b450a4cb.png)

[2016-04-26 15:31] bucaran commented on #223
@FabioAntunes Wonderful! I'll keep this open for a while :)

[2016-04-26 15:55] bucaran commented on #230
@decors Acknowledged. I am going to fix this right away.

[2016-04-26 15:56] bucaran commented on #230
@decors

I think the problem is here.

[code]
[code]

[2016-04-26 16:25] bucaran commented on #230
@decors https://github.com/fisherman/fisherman/commit/b20a6f8ee8c4d9a77c50384e6254927a95f78209

I think it's solved now, please reopen if you find the problem again.

解決したと思います。また同じことが起きたら、ぜひ再オープンお願いします。

[2016-04-26 16:25] #230 closed

[2016-04-26 20:05] bucaran commented on #69
Hi @pldiiw, would you mind have a look? Cheers.

[2016-04-26 23:06] decors commented on #230
@bucaran ありがとうございます！アップデートして試してみます。

[2016-04-27 07:29] amio opened #232 "Update error"
On osx 10.11.4
[code]

[2016-04-27 08:18] bucaran commented on #232
@amio Oops, it seems you tried to upgrade from 1.5?

[2016-04-27 08:45] amio commented on #232
Thanks :D

Mostly it(`curl -L git.io/fisher-up-me | fish`) fix the problem but still got an exception(just FYI ):
[code]

[2016-04-27 08:46] #232 closed

[2016-04-27 09:03] bucaran commented on #232
@amio The upgrade script has become a bit buggy suddenly.

To confirm fisherman 2.0 was installed correctly, could you:

[code]

Thanks.

[2016-04-27 09:09] amio commented on #232
So far so good:
[code]

[2016-04-27 09:14] bucaran commented on #232
@amio Nope. You still didn't upgrade correctly.

Remove `cache`, `completions`, `conf.d`, `fishfile` and `man` from your `~/.config/fisherman `.

[2016-04-27 09:29] amio commented on #232
O.o

It's clean now:
[code]

[2016-04-27 09:36] bucaran commented on #232
Looks good! Things should work from now on, I hope. :)

[2016-04-27 09:38] amio commented on #232
👍 Thanks!

PS:
Sometime it's "eden", sometime it's "theme-eden", is that alright?

![image](https://cloud.githubusercontent.com/assets/215282/14848103/ac7610d0-0c9e-11e6-83c0-d80aefe75bc4.png)

[2016-04-27 09:44] bucaran commented on #232
@amio In the first case: `omf-theme-xxx` becomes `xxx`, but in the second case `fish-theme-eden` just becomes `eden` because the regex that cleans the string is not recursive, only removes the first prefix we find.

If I make it recursive then it would be eden always.

What do you think?

[2016-04-27 09:45] bucaran commented on #232
If you change that `sub` to `gsub`, I think things would work.

Do you want to try that? If it works, can you send me a PR? :)

[2016-04-27 10:04] amio commented on #232
The `gsub` seems doesn't work, modify the regex works:
[code]

While IMHO keep the "theme-" prefix is useful, in case someone make a "plugin-eden" or "awesome-eden". For the same reason I would rather recommend to remove pattern `omf-theme|omf-plugin|`, what do you think?

[2016-04-27 10:22] avioli commented on #226
I would suggest a new fisher command to cleanup unused plugins - walk through all installed plugins and check their dependencies, then diff with currently installed ones and remove the ones that are unused.

[2016-04-27 12:17] bucaran commented on #232
Yes, I think this is the most sensible thing to do. 👍

[2016-04-27 12:20] bucaran commented on #226
Yes, that's an option I like too. It doesn't even have to be a new command and we could just do it every time. I couldn't say if that would be slow, but based in my experience building this, I'd say is worth optimizing.

Thanks for sharing your opinion @avioli :)

[2016-04-27 13:07] laughedelic commented on #226
here's my opinion [from the slack chat](https://fisherman.slack.com/archives/general/p1461682336003904):

I think it's more noticeable, easier to parse (because a url can have some weird suffix) and coincides with the other annotations in `fisher ls

[2016-04-27 13:11] laughedelic commented on #226
Also I think that fisherman should notify user that

- when you remove some plugin, some of its dependencies are not removed because they are locked
- when you do global update, some plugins are not updated because they are locked with a certain version

[2016-04-27 13:11] bucaran commented on #226
@laughedelic Ah, yes, I think putting the symbol _before_ the plugin name makes more sense than _after_. 👍

[2016-04-27 14:11] bucaran commented on #69
Hi @alex-pat, would you mind having a look at the issue above? Cheers! :)

[2016-04-28 03:10] bucaran commented on #69
@thinker3 Hi Ken, would you mind having a look at this issue? Cheers.

[2016-04-28 03:30] bucaran commented on #69
@robjac Hello Robbie, would you mind having a look over at this issue? Cheers! :)

[2016-04-28 06:20] bucaran opened #234 "add a way to query, search, list, crawl or browse remote content, plugins in <org>/*"
Before, we had Search, and it was great. But it also makes us depend on the index file which is hard to maintain.

This proposal and what I am going to be working over the next hours is for a new builtin extension, via a command or subcommand to let us search or browse what plugins are available in the organization (should crawl oh-my-fish too).

[2016-04-28 07:16] bucaran commented on #69
Hi @FreeTymeKiyan, would you mind having a look at this issue? Cheers!

[2016-04-28 07:16] bucaran commented on #69
Hi @izuo, would you mind having a look at this issue? Cheers!

[2016-04-28 10:03] fishequality commented on #234
Hi folks! @bimawa @yxnino @melvinno @caocao485 @netroby @izuo I would like to introduce fisherman to you. Would you mind having a look over at the project? Cheers!

[2016-04-28 10:08] rainchen opened #235 "how to install fundle into fisherman"
cause I want some fundle plugins, for example:
* 'edc/bass'
* 'tuvistavie/fish-nvm'

[2016-04-28 10:12] bucaran commented on #235
[code]

[2016-04-28 10:31] rainchen commented on #235
@bucaran  thx the quick response.

I saw the `fisher help` and it said it can install omf plugin such as:
`fisher i omf/plugin-{percol,jump,fasd}`

I found a nvm omf plugin here:
https://github.com/derekstavis/plugin-nvm

I used following command to install it:
`fisher i derekstavis/plugin-nvm`

no errors and  `fisher list` can show it:
[code]

but I can't call the `nvm` command

[code]

did you h

[2016-04-28 10:32] bimawa commented on #234
+1 for search

[2016-04-28 10:34] bucaran commented on #235
@rainchen Yes, fisherman works with most omf plugins and 99% of the themes, but `plugin-nvm` is a little special as it uses a deprecated event pattern support does not support anymore.

That's another reason why I created fin: https://github.com/fisherman/fin

Although, fin is still very new, it's working very nicely and I highly encourage you to try it out.

[2016-04-28 10:46] rainchen commented on #235
@bucaran `fin` is nice but all of my teams are using nvm, I have to keep the same tech stack with them.

[2016-04-28 11:01] bucaran commented on #235
@rainchen

[code]

<h1></h1>

On a related note, @FabioAntunes may be working on an nvm wrapper.

* See: https://github.com/fisherman/fin/issues/13

[2016-04-28 11:01] #235 closed

[2016-04-28 11:32] bucaran commented on #69
Hi Fengda @phodal, would you mind having a look over at this issue? Cheers.

[2016-04-28 11:36] bucaran commented on #69
Hi @taizilongxu, I just found an article you wrote online. Would you mind having a look at this issue? Cheers.

[2016-04-28 12:12] FabioAntunes commented on #235
@rainchen (https://github.com/fisherman/nvm)[nvm] plugin was updated give it a go and report any issues you might find?

[2016-04-28 12:35] rainchen commented on #235
@FabioAntunes impressed! 👍

[2016-04-28 12:49] bucaran commented on #69
Hi @TheWizardTower, I was checking out some dotfile repos and stumble upon yours. Would you mind checking out fisherman? Cheers.

[2016-04-28 16:57] bucaran commented on #69
Hi @cbennett35, would you mind having a look over at this issue? :) Cheers.

[2016-04-28 19:54] gretel commented on #212
no `xml` fine but how about `json`?

[2016-04-28 19:55] bucaran commented on #212
@gretel How about entirely dropping the index and just querying the GitHub API?

@jethrokuan So long and thanks for all index? :)

[2016-04-28 19:56] gretel commented on #212
@bucaran ah sure that does return `json` indeed doh 😝

[2016-04-28 21:19] Nolski opened #236 "[Idea] fisher info"
There was some discussion in the slack about adding a command that works something like `brew info`. The user story goes along the lines of the user listing through many different plugins and themes available in the fisher index and they want to find relevant information on the listed plugin. The output of `fisher info <plugin_name>` should look something along the lines of

[code]

[2016-04-28 21:29] bucaran commented on #236
Currently

[code]

lists the directory contents as you can see.

Instead of introducing a new command, I propose to keep the same semantics, and use `ls-remote` instead.

[code]

@Nolski What do you think?

[2016-04-28 21:34] laughedelic commented on #236
I think that `ls-remote` command for information is rather confusing. The name is not intuitive and then it's kind of against the "discoverability" principle, isn't it?

[2016-04-28 23:05] Nolski commented on #236
I'd agree with @laughedelic (although to be honest, I'm not super picky about it) It might be cool to print the actual prompt if it's a theme (do we use that term now?). I'm not sure how simple that would be though.

[2016-04-28 23:56] FabioAntunes commented on #223
So for those who are running the latest omf version, here are the steps:

### :pushpin: Instructions

##### 1. Just install fisherman

[code]

##### 2. If you happen to be also running any fisherman _before_ 2.0 alongside omf

[code]

use `curl -L git.io/fisher-up-me | fish_indent --ansi` to inspect the script first if you like.

##### 3. Add omf plugin names to `~/.config/fish/fishfile` and run `

[2016-04-29 04:25] bucaran commented on #236
@laughedelic Yeah, but adding a new command for something arguably secondary, like getting the plugin's description would set a precedent. Like, if we have `fisher info`, why not `fisher init` or `fisher new` or `fisher submit`.

Some people love to over complicate things and I'd like fisherman to always remain simple and uncomplicated.

[2016-04-29 04:31] bucaran commented on #223
Thank your for writing this @FabioAntunes.

[2016-04-29 05:51] jethrokuan commented on #212
@bucaran sure, whatever works!

[2016-04-29 06:41] bucaran commented on #236
@laughedelic The correct term is "prompt". I didn't make it up, it's what fish-shell calls it e.g., fish_prompt, fish_right_prompt. A theme would be a combintation of the prompt + `fish_color_*` uvar colors + terminal color palette.

As as matter of fact, fisherman does have full themes that have all of the above, for example, [joker](https://github.com/fishery/joker), terran, stark, superman, etc

[2016-04-29 07:02] detailyang commented on #236
like more `fisher ls fin` to show plugin directory  and `fisher info fin` show description

[2016-04-29 07:04] bucaran commented on #236
@detailyang What about adding a man page to your plugins?

Currently fisherman allows you to do this

[code]

and that will show you not just info, but all the info the author has for you.

[2016-04-29 08:00] bucaran commented on #236
Ping @chuenlungwang :)

[2016-04-29 08:23] bucaran opened #238 "ls-remote is broken when curl returns JSON response without line breaks"

[2016-04-29 08:33] #234 closed

[2016-04-29 09:15] bucaran commented on #238
Close https://github.com/fisherman/fisherman/commit/74b579e8d3a08810ae62a55943e5a5ee2a6c49b6.

[2016-04-29 09:15] #238 closed

[2016-04-29 09:16] bucaran commented on #236
https://github.com/fisherman/fisherman/commit/74b579e8d3a08810ae62a55943e5a5ee2a6c49b6

@Nolski This is what I came up with.

[code]

[2016-04-29 09:16] #236 closed

[2016-04-29 11:19] brj opened #241 "⚠ Upgrading to ≥ 2.0 from an older version (≤ 1.5)"
⚠️   If you are **still running 1.5** and want to upgrade to >2.0 without much hassle.

[code]

⚠️ If you've updated to fisherman 2.0 from 1.5 using `fisher update`, please remove the following directories from ~/.config/fisherman: `man`, `cache`, `completions` and `functions`.

Related:
* https://github.com/fisherman/fisherman/issues/223

[2016-04-29 13:12] bucaran commented on #228
I have never seen this bug again. @laughedelic You were saying something about the fishfile on Slack.

Is it related or have you seen this bug before?

[2016-04-29 13:59] laughedelic commented on #228
Nope, I haven't seen it before. In my situation it was a local plugin (git repo):

[code]

[2016-04-29 14:25] laughedelic opened #242 "fisherman doesn't add local plugins to the fishfile"
I have two local plugins that I'm installing with fisherman. They both get installed fine (symlinks created, functions work), but neither of them is listed in the fishfile. Here are my observations:

- if the plugin has name starting with a dot (e.g. `.fish`), it installs, but is not listed in the fishfile or `fisher ls`
- if it has a name without a dot, it installs, is listed in `fisher ls`, but

[2016-04-29 14:28] Nolski commented on #236
I like it! Thanks! 😄

[2016-04-29 14:34] bucaran commented on #236
@Nolski You can customize how the list output too:

[code]

[2016-04-29 14:38] bucaran commented on #242
@laughedelic Thanks, I think this coincides with some of my observations too.

I think the correct behavior should be:

(1) to behave as (2), that is, to *not* be added to the fishfile and for (3) I am not sure.

[2016-04-29 15:15] #224 closed

[2016-04-29 16:02] laughedelic commented on #242
Why? This makes local plugins some kind of special plugins (_all plugins are equal, but some plugins are more equal than others_ 😄).
What if I use fisher sometimes interactively and sometimes just editing fishfile? Some of the local plugins will be in the list, but others no.

[2016-04-29 16:36] laughedelic commented on #236
I understand that you want to keep things simple and minimize the number of different subcommands. But then why having a separate `ls-remote` command?

Here's what I suggest: `ls-remote` should be smth like `fisher ls --remote` (or `-r` for short or whatever). Then `ls` has clear semantics: showing information about fisherman plugins in general. Now _which_ information and _how_ should be controll

[2016-04-29 17:08] bucaran commented on #236
Yes, `fisher ls z simple` will only list the first argument. I think I could work on adding support for multiple arguments without much trouble. 👍

The reason for `ls-remote` instead of `ls --remote` is because it's easier to type (thanks to completions) and because it's easier to parse since we have decided to avoid using a CLI parser in the fisherman implementation for performance.

Using --long

[2016-04-29 17:14] bucaran commented on #242
I can't recall now, but there was a reason I went with no adding local plugins to the fishfile. I could experiment with this later, as I don't find this a critical problem, or even a problem at all.

I could be wrong, so I promise I'll have a look at this later.

You lost me here. I have no idea what you are saying. It could be my brain, but try again and describe your use case again. ELI5.

[2016-04-29 17:26] bucaran commented on #228
I haven't been able to repro this again after the more recent changes and it seems related to #242, so I am going to track this as a whole thing there.

[2016-04-29 17:26] #228 closed

[2016-04-29 17:27] bucaran commented on #69
Ping @zqhong :)

[2016-04-29 18:00] bucaran commented on #242
I see. I think we could agree this is a feature. Otherwise there would be no way to hide plugins.

WRT to (1) and (2) I found the issue is in `__fisher_plugin_get_url_info`, which explains why:

[2016-04-29 19:11] bucaran opened #243 "make fisher ls and ls-remote accept multiple arguments"
The current behavior is for ls to accept only one plugin and ls-remote to accept only one key and an optional format string.

The new behavior should allow both of these commands to handle multiple arguments.

Related:
* #236

[2016-04-29 19:12] #243 closed

[2016-04-29 19:46] laughedelic commented on #242
I guess a little example can help:

[code]

So the result is inconsistent handling of local plugins: one is in the fish file, another not. It's not obvious for user, what to expect further, on say, `fisher update`, also not obvious whether the first plugin got installed correctly or not. I believe, that if editing `fishfile` is promoted as a feature, it has to be consistent with `fisher ls`.

What

[2016-04-29 20:38] laughedelic commented on #236
This is all implementation details that, I believe, shouldn't influence usability.

I generally disagree about "easier to type" (especially taking into account that options can be also autocompleted). When I type `fisher ls-remote`, I need to type `fisher ls` anyway, so what's the difference? one space to type `fisher ls -<tab>`? Why not to make it a separate command then?

I think these two thing

[2016-04-29 20:39] laughedelic commented on #236
P.S. I wanted to ask from the beginning, why have you decided to include this as a core functions and not make a "search"-plugin as you were suggesting before?

[2016-04-30 03:32] bucaran commented on #236
To make fisherman more useful out of the box, but keeping the same semantics used already.

Ls *lists* what you have installed (local information). The most common use for ls is to show what plugins are currently enabled. Also, if you use `ls a b c`, it behaves like the `ls` UNIX command. I don't find this behavior unintuitive, maybe a bit odd yes, but it should not come as a surprise to anyone.

[2016-04-30 04:00] bucaran commented on #242
@laughedelic Thanks, the example you've posted does seem like inconsistent behavior, so I'll fix this and release it with 2.4.

I don't know how it could be useful, but better to have a way to hide them than not. I recommend you do not start your plugin name with a `.`.

[2016-04-30 04:01] bucaran commented on #226
Clever idea. With this, we could avoid doing anything at all, and simply displaying a message.

How do you know the version of the plugin? We currently have mechanism in place for this.

[2016-04-30 04:46] bucaran commented on #242
@laughedelic Well, I couldn't repro this 😕

[code]

[2016-04-30 08:35] bucaran commented on #242
I found this to be a regression introduced in #218.

[2016-04-30 09:45] bucaran commented on #242
With https://github.com/fisherman/fisherman/commit/4583dd924be4ec85b53a14e530609f95c0c14841 the behavior is now consistent. If the plugins are bad / do not exist, they are never added to the fishfile.

The remaining issue is whether we should be adding plugins installed as local directories to the fishfile.

[2016-04-30 09:49] bucaran commented on #226
I would love to get some feedback from @fisherman/all. Implementing this feature is quite complicated, and I am not even sure if it's worth the trouble :)

[2016-04-30 12:39] amir20 opened #244 "test: Missing argument at index 2 when running `fisher ls-remote`"
[code]

I am not sure what `test: Missing argument at index 2` means. I think it is a simple bug.

[2016-04-30 16:32] bucaran commented on #244
That looks like a bug, but I am unable to reproduce it, both with no plugins installed or in my regular setup.

Please upgrade to the latest fisherman, then try again and tell me if this happens again.

Also, can you post what's inside your cache?

[code]

[2016-04-30 17:00] bucaran opened #245 "should we add some new project scaffolding functionality to fisherman?"
I know I have shown reluctance before to add new commands, but I was _just_ wondering, what would you think of adding some of following functionality to fisherman? I am probably okay with any of the following options, but I am sure @fisherman/all can help me choose the best one.

1) Nothing. Don't do this.

2)

[code]

The other templates are "prompt" and "snippet".

3) Same as above, but via a co

[2016-04-30 18:00] sotayamashita commented on #245
I prefer (3). `init` is very familiar with npm or bundle user and command behaviour like below:

[code]

[2016-04-30 18:00] FabioAntunes commented on #245
Couldn't that be a plugin instead? Not everyone is a plugin developer and adding more commands and tools that most of the people won't use will just increase fisherman size and complexity.

[2016-04-30 18:19] bucaran opened #246 "fisherman fails to restore colors correctly if the user is missing definitions for some of fish_color_* uvars"
Affected user:
* @s0r00t

Related
* https://github.com/oh-my-fish/theme-bobthefish/issues/35

[2016-04-30 18:20] #246 closed

[2016-04-30 18:21] s0r00t commented on #246
This also happens with the default colorscheme (which I was using).
(wow. didnt even have time to finish my comment before it got closed)

[2016-04-30 18:28] bucaran commented on #246
@s0r00t Fixed :)

[2016-04-30 18:38] bucaran commented on #246
Yes, I can imagine. So, undefined uvars were being saved as blanks in the fish_colors restore file, which is okay, but when fisherman tried to restore the colors, blanks were skipped and the next available color would be set to the previously undefined variables causing everything to go crazy.

[2016-04-30 20:51] amir20 commented on #244
I was running `2.4.1` which I think is the latest. I do `fisher up` often.

Here is my cache.

[code]

[2016-05-01 03:36] bucaran commented on #244
@amir20

Problem was __fisher_file_age was expanding to nothing, causing the test builtin to miss-behave.

If __fisher_file_age was expanding to nothing, that could mean you don't have Python installed on your system, which we use to determine the age of a file since it was last modified and decide whether to pull the index from scratch or not.

I a not sure how to do the same without Python, so t

[2016-05-01 03:44] bucaran commented on #244
f3f284c5de0c2c3570a384c3a84d389effe1718b

[2016-05-01 04:31] pickfire commented on #226
@bucaran, +1 for this feature. I think we need not to prompt user to ask for confirmation, maybe for which the user did `fisher in simple`, `simple!` will be added to the fishfile.

But the downside of is that it might be slow to determine if the dependency is required by a others plugin.

[2016-05-01 05:19] bucaran commented on #226
To be honest I am not sure if this would be worth all the trouble. I do want to do something in this area, right now we are doing nothing, so at least some hint or anything.

[2016-05-01 05:24] MadcapJake commented on #226
Another option would be to include a number per plugin (delimited by a `\0` or something) that represents how many other plugins depend on said plugin.  For instance, when you install `segment` it's given a value of 1 representing that it is depended upon by the user as the user directly installed it.  Then if you install `stark`  that depends on `segment` the value is incremented by one.  Wheneve

[2016-05-01 05:25] bucaran commented on #226
@MadcapJake Reference counting! This is simple and clever. The problem is embedding the count in the fishfile which is not desirable, let me see what I think of.

[2016-05-01 05:35] bucaran commented on #69
Hi Marie @Neit1o!, care to have a look here? Cheers.

[2016-05-01 15:39] bucaran commented on #245
@FabioAntunes @sotayamashita Thank you guys for your feedback.

Closing as won't fix.

[2016-05-01 15:39] #245 closed

[2016-05-01 15:44] bucaran opened #247 "fisherman installs plugins incorrectly when at least one plugin fails to install"
[code]

One or more *existing-plugin*s will be downloaded to the cache and moved $fisher_config, but they will not be enabled since the fetch function will fail for the *non-existing-plugin*s.

The most prudent thing to do here is to just fail if, at least _one_ plugin fails. Stuff downloaded to the cache is left untouched, but we should clean whatever sneaks into the config.

[2016-05-01 16:39] bucaran opened #248 "fisherman overwrites previous fish_colors when updating the current prompt"
Updating the current prompt/theme has the effect of overwriting ~/.config/fish/fish_colors. We should check whether there is already a fish_colors and only write if there is none.

[2016-05-01 17:08] amir20 commented on #244
Hi @bucaran, you intrigued my interest so I did a little debugging. It seems like you depend on Python 2.7 to be installed. I use `pyenv` and globally I was using python `3.5.1`.

I noticed that this command `python -c "import os, time; print int(time.time() - os.path.getmtime('.'))" ` assumes version `2.7`. After switching to version 2.7 via `pyenv local system` I no longer see the error message.

[2016-05-01 17:11] amir20 commented on #244
It might be worth adding `from __future__ import print_function` so that `print` works on 2.7 and 3. See [here](http://python-future.org/compatible_idioms.html) for more info.

[2016-05-01 17:14] bucaran commented on #244
@amir20 How do you write

[code]

in a way that works in both Python 2 and 3?

[2016-05-01 17:15] amir20 commented on #244
I have it working locally so this is what you want

[code]

[2016-05-01 17:17] amir20 commented on #244
Does that line get executed every time? If I don't see the error, did it work or do I have to do something else?

[2016-05-01 17:19] bucaran commented on #244
@amir20 Thanks, but that syntax is not working for me on Python 2.7 :(

[2016-05-01 17:20] bucaran commented on #244
Maybe I can figure this out with perl...

[2016-05-01 17:21] amir20 commented on #244
Ok, I was able to make sure it works. You want

[code]
<img width="1052" alt="screen shot 2016-05-01 at 1 20 55 pm" src="https://cloud.githubusercontent.com/assets/260667/14943149/9237ecda-0f9f-11e6-8e00-260a765b3909.png">

[2016-05-01 17:55] bucaran commented on #244
Awesome, that's working. Thanks @amir20. I will ship

[2016-05-02 05:39] bucaran commented on #69
Hi Chris, @ChristopherRogers, can you check this out? Cheers.

[2016-05-02 11:07] bucaran commented on #226
@fisherman/all Okay, I have come up with an implementation based in @MadcapJake's idea. I'll be pushing this to master and releasing it as 2.5.

This is a big change and bugs may have sneaked in during the production, but I think it's all for the best and future of the project.

[2016-05-02 18:27] #226 closed

[2016-05-02 18:27] #247 closed

[2016-05-02 18:27] #248 closed

[2016-05-02 18:28] bucaran commented on #244
9de333d687e892a08ac0ed80e7c38a9caf87b236

[2016-05-02 18:28] #244 closed

[2016-05-02 18:32] bucaran commented on #242
I think we should not add local directory plugins to the fishfile, because if you move the fishfile to another computer it will not work. What about just making your plugin an actual repo and installing it with a universal URL or push it to github and installing it as a regular plugin?

[2016-05-02 19:11] bucaran commented on #212
@herrbischoff Do you have anything to show?

[2016-05-02 23:21] laughedelic commented on #242
It's no problem for me, but then it should be clearly stated in the docs, that local plugins are different from the ones installed from github and that editing fishfile is not the same as just using fisherman interactively. Because at the moment documentations states that these things are the same (and then it's confusing when they're actually not).