[2019-01-19 01:35] jorgebucaran commented on #446
@nesmyslny IIRC you were using an eco fork. The package dependencies changed, so please send a PR to the maintainer or fork and update your fishfile:

- ~~fisherman/segment~~ → [fishpkg/fish-segment](https://github.com/segment)
- ~~fisherman/git_util~~ → [fishpkg/fish-git-util](https://github.com/fish-git-util)
- ~~fisherman/humanize_duration~~ → [fishpkg/fish-humanize-duration](https://github.com

[2019-01-19 11:17] jorgebucaran commented on #461
Closing due to lack of feedback. Maybe one day.

In the meantime: https://jorgebucaran.com/fisher :)

[2019-01-19 11:17] #461 closed

[2019-01-21 10:43] jorgebucaran opened #517 "Allow inline comments in fishfile"
Only block comments are supported. It would be nice if inline comments were as well.

[code]

[2019-01-22 05:06] jorgebucaran opened #518 "Circular dependency resolution broken for local packages"
Installation fails (Fisher enters an infinite loop) if a local package `X` depends on other local packages and in those there is a dependency to `X`.

[2019-01-22 11:31] #513 closed

[2019-01-22 11:31] #518 closed

[2019-01-22 11:38] jorgebucaran commented on #517
Implemented in 3a13ba9d688e7016cd3ecb7a43a2881c3866b234.

[2019-01-22 11:38] #517 closed

[2019-01-22 20:30] MartinDelille opened #519 "git-open fisher support"
Hi! I would like to add [fisher](https://github.com/jorgebucaran/fisher) support for the *git-open* plugin (https://github.com/paulirish/git-open/issues/136). It seems that I just need to add the git-open folder to the PATH.

It looks like that I need to write a `conf.d/git-open.fish` script doing that but I've no idea how to achieve this. Any idea?

[2019-01-23 02:40] jorgebucaran commented on #519
@MartinDelille I don't recommend using Fisher for this. Let me tell you why.

[`git-open`](https://github.com/paulirish/git-open/blob/4eed00f282aa7bcb9e7b27f8ad257efa2a064448/git-open) is an executable script. All you need is add its location to the `$PATH`. If you are on macOS you can drop it on `usr/local/bin`.

But what if you don't want to go mucking around in directories? Then you need a syst

[2019-01-23 02:40] #519 closed

[2019-01-23 08:44] jorgebucaran opened #520 "Copy files without an extension inside a package directory"
Fisher will copy all the files inside `functions`, `completions` and `conf.d` to the `$fisher_path`, (including non-`.fish` files #456), but the algorithm has a bug and doesn't copy files without an extension, e.g. `data`, `index`, etc.

[2019-01-23 08:59] #520 closed

[2019-01-23 16:39] MartinDelille commented on #519
I didn't know about the `brew` package and your right it is the best option. Thank you for your time and your awesome package manager!

[2019-01-23 16:41] jorgebucaran commented on #519
Thank you for your interest and your inquiry! 💯

[2019-01-24 07:36] carlosssanchez opened #521 "Fisher overwrites fish prompt on installation"
After installing fisher with /` curl https://git.io/fisher --create-dirs -sLo ~/.config/fish/functions/fisher.fish`
my fish prompt reverts to the original. This is the second time I've installed it and this happens, but at least this time I made a backup. Was my prompt configured incorrectly or is this expected from fisher? I don't understand why a plugin manager would affect the prompt.

[2019-01-24 07:39] jorgebucaran commented on #521
@carlosssanchez Do you mean after installing a prompt with Fisher?

[2019-01-24 07:40] jorgebucaran commented on #521
Please share all the information you can. Your inquiry doesn't make sense. It looks as if you are saying that `curl` reverts your prompt, but that's improbable.

[2019-01-24 07:44] jorgebucaran commented on #521
@carlosssanchez Where is your `fish_prompt.fish` located? What directory?

[2019-01-24 07:45] jorgebucaran commented on #521
@carlosssanchez Do you mean after installing a prompt with Fisher? Where is your `fish_prompt.fish` located? What directory?

[2019-01-24 07:48] carlosssanchez commented on #521
Sorry I was just going over the backup to find out more. Just after running the curl command, it deleted fish_prompt.fish, fish_right_prompt.fish, humanize_duration.fish, pwd_info.fish, pwd_is_home.fish, basically several files all related to the prompt that I had as helper functions inside /config/fish/functions. All other fish files that don't manage the prompt are untouched.

[2019-01-24 07:51] jorgebucaran commented on #521
@carlosssanchez But where was your `fish_prompt.fish` located?

[2019-01-24 07:52] jorgebucaran commented on #521
What do you mean by _it_? `curl` or Fisher?

[2019-01-24 08:03] carlosssanchez commented on #521
Both? I mean running the installation command, I was next greeted by the new "Welcome to fish" prompt.
The first time I installed fisher and this happened was a few months ago, but I installed it from Arch's AUR.
![fishpromptdeleted](https://user-images.githubusercontent.com/38301688/51663112-382f0980-1f8c-11e9-9579-f73fac535adc.png)

Here's a screenshot of my backup .config/functions in the D/f/f

[2019-01-24 08:10] jorgebucaran commented on #521
@carlosssanchez What installation command? You didn't say anything about AUR before.

Now, let's break this down:

- `curl` is just copying a file to a directory, so it isn't the problem.
- You haven't run `fisher` yet, so we know the problem can't be Fisher either.

It must be the AUR package. I have no idea who is maintaining it, but the only installation method which I support is described in t

[2019-01-24 08:16] jorgebucaran commented on #521
Ah, it seems @Scrumplex maintains a package in the AUR here: https://aur.archlinux.org/packages/fisher.

@carlosssanchez Login to the AUR and leave a comment for @Scrumplex there. You shouldn't mix installation methods, use one or the other. You may also be interested in https://github.com/jorgebucaran/fisher#changing-the-installation-prefix.

[2019-01-24 08:19] #521 closed

[2019-01-25 04:46] #450 closed

[2019-01-27 00:22] aa8y opened #522 "fisher shows wrong install time when adding packages"
`fisher` shows the wrong install time while installing packages (see [this conversation](https://github.com/jorgebucaran/fisher/issues/450#issuecomment-451633644)) for context. As asked, I've run the following commands on the machine which has the problem.
[code]

To make sure this is not a problem with the package, I created a `Dockerfile` and tested the steps there.
[code]
The steps have been ru

[2019-01-27 04:36] aa8y commented on #522
Looks like this could have just been due to an older version of `fisher`
[code]
It's showing up as **16.98s** now :) I guess you can close the issue, unless you want me to run any other diagnostics.

[2019-01-27 04:40] jorgebucaran commented on #522
@aa8y Looks better now. Why is it so slow though? Installing a few packages on my machine takes 1 or 2 seconds. Are you behind a proxy; slow internet connection?

Or perhaps your `config.fish` is not configured "properly". Would you mind sharing it with me? If it's not for public eyes, then create a private gist and send me the link (I can the comment afterward).

I'd be happy to take a look at it

[2019-01-27 04:43] jorgebucaran commented on #522
@aa8y Looks better now. Why is it so slow though? Installing a few packages on my machine takes 1 or 2 seconds. Are you behind a proxy; slow internet connection?

Or perhaps your `config.fish` is not configured "properly". Would you mind sharing it with me? If it's not for public eyes, then create a private gist and send me the link (I can delete the comment later).

I'd be happy to take a look at

[2019-01-27 17:55] aa8y commented on #522
@jorgebucaran I made your suggested changes to my `nvm` function and reinstalled. It did get rid of the `bass` errors but the install time is still similar to what it was before, ~16s. Here's [what my config file looks like](https://github.com/aa8y/dotfiles/blob/de1a401dfdf83265d96411ed27e5ef57f1294eef/.config/fish/config.fish#L35-L74), **excluding** the _highlighted lines_ and _line 18_.

[2019-01-27 18:05] jorgebucaran commented on #522
@aa8y We can solve this by strategically wrapping commands you only use in interactive mode inside `status --is-interactive` in your `config.fish`.

[code]

[2019-01-27 18:09] jorgebucaran commented on #522
@aa8y We can solve this by wrapping commands you only use in interactive mode inside `status --is-interactive` in your `config.fish`. This way, those commands only run when you start `fish` yourself, and not when evaluating an expression like `fish -c "echo Not interactive!"`.

[code]

Let me know if that sounds confusing.

---

Closing as the time issue has been fixed.

[2019-01-27 18:10] #522 closed

[2019-01-27 21:11] aa8y commented on #522
@jorgebucaran Thank you for the suggestion. This is pretty cool and not something I knew. I change my `config.fish` and wrapped its contents in
[code]
However, that didn't change the install time of fisher.
[code]
Also, if you'd rather I create a different issue for this, I can.

[2019-01-27 21:14] jorgebucaran commented on #522
@aa8y Before you do: can you comment out everything in your `config.fish` and try running `fisher` again?

[2019-01-28 01:07] aa8y commented on #522
It didn't make any difference.

_**Before** commenting out_
[code]
_**After** commenting out_
[code]

[2019-01-28 01:18] jorgebucaran commented on #522
@aa8y Do you happen to be on a slow connection? I can't think of anything else.

Try:

[code]

One more thing. What about local packages --  are those slow to install too?

[2019-01-29 02:39] amiller27 opened #523 "Fetch hangs when there are other jobs"
The loop in `_fisher_fetch` at [line 320](https://github.com/jorgebucaran/fisher/blob/master/fisher.fish#L320) never terminates if there are jobs already running in the background before running fisher.  This seems like it could be fixed by running `_fisher_fetch` inside its own subshell.

[2019-01-29 03:00] jorgebucaran commented on #523
@amiller27 Yes, I introduced this bug in a recent commit. I'll revert it.

[2019-01-29 18:37] #523 closed

[2019-01-29 18:43] jorgebucaran commented on #523
@amiller27 We should be good now. Thanks!

[2019-01-31 04:23] jorgebucaran opened #524 "Rename fishfile to fish_plugins"
Merely for aesthetic consistency. There is already a `fish_history` and `fish_variables` file in your `~/.config/fish` directory. Renaming `fishfile` to ~~`fish_bundle`~~ (or ~~`fish_file`~~) **`fish_plugins`** would be nice.

[code]

[2019-01-31 15:19] rhajdacki commented on #505
Would it be also possible to install single function/completion files from anywhere inside Git repo.
Like for example these Skim keybindings?
https://github.com/lotabout/skim/blob/master/shell/key-bindings.fish

[2019-01-31 15:48] jorgebucaran commented on #505
@rhajdacki I looked into installing a file from a repository before (not a single function or completion).

It was too tricky. It would be easier to create a package with that ability. I could write something over the weekend and share it here just for fun.

How often do I stumble upon fish code like a single file with function definitions, completions, and key bindings, and I want to add some of

[2019-02-12 14:28] brigs opened #525 "No issue"
Just wanted to say thanks for making this :) Appreciated!

[2019-02-12 14:34] jorgebucaran commented on #525
You are welcome! 🎉

[2019-02-12 14:48] Scrumplex commented on #525
+1

[2019-02-14 15:14] jorgebucaran opened #526 "Updating a plugin emits *_uninstall event"
We should be able to update plugins without removing them first.

Related: https://github.com/jethrokuan/fzf/issues/107

[2019-02-15 06:14] #525 closed

[2019-02-23 17:44] jorgebucaran opened #527 "Update specific packages without re-installing everything"
Let's add a new command to update packages: `fisher update <package...>`.

Why? Sometimes you want to update one or more packages without re-installing everything. One of such cases is when developing a local package. After doing it a few times, even waiting a few milliseconds can be annoying.

Using `update` will download only the specified packages and their dependency trees, reducing the total

[2019-02-27 09:33] fkjogu opened #528 "Error during update when commands from plugins are used in config.fish"
I am using the `oh-my-fish/plugin-balias` plugin which provides a command `balias`. When adding for example `balias g 'git'` to `config.fish`, it results in the error
[code]
during updates. From my understanding this is because during the update process all plugins are reinstalled and not available to the fish instance. Is this correct?

Is this is a bug or is `config.fish` not the right place to

[2019-02-27 10:33] jorgebucaran commented on #528
We launch a new session for each package we try to download (to enable parallelism) and fish sources your `config.fish` inside every session as usual. These fish run in non-interactive mode, so I'd solve this by wrapping non-builtin commands inside a [`status is-interactive`](https://fishshell.com/docs/current/commands.html#status) conditional.

This is generally a good idea (not a Fisher idiosync

[2019-02-27 10:33] #528 closed

[2019-02-27 10:57] fkjogu commented on #528
Yes, this helps. Thank you.

Where would you put it then?

[2019-02-27 11:13] jorgebucaran commented on #528
@fkjogu Great! 🎉

Create a function for each alias and store them anywhere in your function path, e.g. `~/.config/fish`.

The [`alias`](https://fishshell.com/docs/current/commands.html#alias) documentation (emphasis mine) recommends this as well:

       It has similar syntax to POSIX shell alias. **For other uses, it is recommended to define a
       function**.

By putting all your aliases in yo

[2019-03-03 11:57] jgierer12 opened #529 "Auto-configure fish for custom `fisher_path`"
Hi, first off amazing work on fisher and all your other fish projects! I'm really enjoying using them.

Is there a reason for not setting up fisher automatically if a custom `fisher_path` is set? i.e.

[code]

It feels a little unnecessary/boilerplate-y having to set these up manually.

[2019-03-03 12:06] jorgebucaran commented on #529
@jgierer12 How would you do that?

[2019-03-03 12:24] jgierer12 commented on #529
Hmm, I just realized that the "official" way to install fisher puts the `fisher` function in the user config folder. I have installed [fisher from the AUR](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=fisher) which installs the fisher function into `/usr/share/fish/vendor_functions.d`, so I assumed that it would simply be a matter of putting the above snippet into `/usr/share/fish/vendor

[2019-03-03 12:24] #529 closed

[2019-03-03 12:45] jorgebucaran commented on #529
@jgierer12 Exactly. Fisher doesn't run any code on startup and it would be undesirable if it did as not everyone uses a custom `$fisher_path`. Heck, some people ( Hey! 🙋‍♂️) don't even use a `config.fish`.

[2019-03-03 13:37] jgierer12 commented on #529
Yes, that is exactly what I do currently.

Would have still been nice if fisher could add that automatically since if people *do* have a custom `fisher_path`, they'll want to set up that stuff in 99% of cases anyways. But, I totally see that this wouldn't be worth the effort to implement (if possible in a cross-platform compatible way at all) hence why I closed the issue again.

[2019-03-04 19:50] Scotsguy opened #530 "Cannot install remote plugins/prompts ( -- is this a valid package?)"
Whenever I try to install a package (for example, `fisher add jorgebucaran/fish-spark`), I get the following output: `fisher: cannot add github.com/jorgebucaran/fish-spark -- is this a valid package?`. When I git clone the repo and install it locally, it works just fine.
Confusingly, the same error happened when I copied my ~/.config/fish/ to a remote machine - when I deleted that folder it worked

[2019-03-05 02:16] jorgebucaran commented on #530
@Scotsguy Please run and post the output you get from running the following commands:

[code]

It would also help me debug this issue if you can post the contents of your `config.fish`.

[2019-03-05 12:36] Scotsguy commented on #530
I didn't upgrade, since I didn't use fish before recently

type curl
`curl is /bin/curl`

[$XDG_CONFIG_HOME and $XDG_CACHE_HOME are both empty]

[\~/.config has a lot of files from different programs in it, I don't want to post the entirety here. Did you mean \~/.config/fish?]
[~/.config/conf.d doesn't exist. ~/.config/fish/conf.d is empty]

la ~/.config/fisher
[code]
[Where github.com/jorgebucara

[2019-03-05 13:49] Scotsguy commented on #530
I'm using curl 7.64.0 and tar 1.31 (which supports -C)

I did some testing, and noticed that tar fails silently - even with --verbose set - when the directory it wants to extract into doesn't exist.

Adding the $fisher_config/github.com/jorgebucaran/fish-spark directory didn't fix it, it actually gets removed.

[2019-03-05 14:27] jorgebucaran commented on #530
@Scotsguy Can you reproduce the problem in a container? If you give me a Dockerfile, we could fix this in hearbeat.

Fisher works (I've tested it) on busybox where `tar` is `(busybox) 1.28.4` and Linux with GNU tar (1.31).

[2019-03-05 15:09] Scotsguy commented on #530
I can sadly not reproduce this in a container - I'm having trouble tracking down what's breaking it. I had a "proven broken" config before, but it seems something else is breaking it now.

[2019-03-05 15:10] jorgebucaran commented on #530
@Scotsguy Do you mean you're getting a different error message now?

[2019-03-05 15:13] Scotsguy commented on #530
No, I mean that on my machine the error stayed even after removing my config entirely while on a remote machine the config caused the issue as well, so it's not the only thing causing it

[2019-03-05 15:19] jorgebucaran commented on #530
@Scotsguy Try running this. I typed this from memory, so beware of bugs. Looks good, though.

[code]

[2019-03-05 15:25] Scotsguy commented on #530
This doesn't output anything at first (except print the contents of my working directory) because $fisher_config isn't set. Running fisher once fixed that.

`Downloading package to: /home/liam/.config/fisher/github.com/jorgebucaran/fish-spark`
[code]

[2019-03-05 15:34] jorgebucaran commented on #530
@Scotsguy It seems something is failing in `curl | tar`. Do you have any idea of what that could be?

Okay. Let's try to break this up in different steps:

Download the tarball.

[code]

Extract it.

[code]

List the work done.

[code]

[2019-03-05 15:41] Scotsguy commented on #530
I don't know of anything that could break a pipe
`-rw-r--r--  1 liam liam 3,5K Mär  5 16:39 spark.tar`
Aha:
[code]

[2019-03-05 15:48] jorgebucaran commented on #530
@Scotsguy Sounds like a corrupt download, but that's something I've never seen. It could be `tar` has gone mad?

Try this:

[code]

Also, are you able to reinstall `tar`?

[2019-03-05 15:50] Scotsguy commented on #530
`./spark.tar: gzip compressed data, from Unix, original size 167772240`

Reinstalling tar didn't change anything.

[2019-03-05 15:55] jorgebucaran commented on #530
@Scotsguy Thanks.

When I run `file ./spark.tar` it says:

[code]

That's odd. Can you even extract the file (anywhere) using `tar`?

[2019-03-05 15:57] Scotsguy commented on #530
A quick test with an empty file worked just fine, so something seems to be corrupted here (`file ./testfile.tar.gz: testtar.tar.gz: gzip compressed data, from Unix, original size 10240`)

[2019-03-05 15:58] jorgebucaran commented on #530
Did you try reinstalling `curl` as well?

[2019-03-05 15:59] Scotsguy commented on #530
Reinstalling curl has no effect.

[2019-03-05 16:02] jorgebucaran commented on #530
Let's go back to the basics.

[code]

Do we get the same?

[2019-03-05 16:02] jorgebucaran commented on #530
@Scotsguy Let's go back to the basics.

[code]

Do we get the same?

[2019-03-05 16:04] Scotsguy commented on #530
No: `88ce76a588d0858b6b664656a1dd49b7b58b9a31  obj`

[2019-03-05 16:05] jorgebucaran commented on #530
@Scotsguy Try downloading the file by pasting the URL on your browser, then use `sha1sum` to get the hash. Still no match?

[2019-03-05 16:06] Scotsguy commented on #530
`392d127b3b50acb3e8399fb6a45c7274ba39300e  fish-spark-master.tar.gz`
This is fine, so it's to do with curl

[2019-03-05 16:08] jorgebucaran commented on #530
Do you have a `~/.curlrc`?

[2019-03-05 16:11] jorgebucaran commented on #530
@Scotsguy Also run:

[code]

[2019-03-05 16:14] Scotsguy commented on #530
Yes, actually - `-w "\n"`. (I didn't create it myself). And that's also what's causing it -- calling curl with -q (to ignore .curlrc) doesn't return a malformed .tar!

[2019-03-05 16:17] jorgebucaran commented on #530
@Scotsguy Let's add `-q` then! Want to send me a PR? 🙏

[2019-03-05 16:18] Scotsguy commented on #530
I've found a better way, I'll PR in a sec

[2019-03-06 03:15] #530 closed

[2019-03-06 03:26] jorgebucaran commented on #530
@Scotsguy Upgrade to 3.2.8 to get the latest goodies! 🎉

Thank you! 👋

[2019-03-13 13:15] reitzig commented on #505
@jorgebucaran How do you feel about custom tarballs (instead of the full-repo ones)?

Background: What if you generate fish completion scripts programmatically? Ideally, you'd want to source-control the script, have build automation run it, and deliver the result.

One way well-defined approach using GitHub would be through release assets. You could

 - define which canonical path or name it would

[2019-03-13 13:20] jorgebucaran commented on #505
Hi @reitzig. I don't know what that has to do with this issue?

[2019-03-13 13:21] jorgebucaran commented on #505
Closing here as well, as I'm not going to implement this.

[2019-03-13 13:21] #505 closed

[2019-03-23 07:35] digaev opened #532 "fisher: unknown flag or command "--complete""
I've just updated to the latest version and faced an issue:

1) Open Terminal (I use gnome3 terminal).
2) Type `fisher`.
3) Type space.
4) Type `a` (or any unknown command).
5) Type space again.

These steps will cause an error:

[code]
This happens only with the newly opened Terminal.

[code]

[2019-03-23 07:38] jorgebucaran commented on #532
@digaev Updated to the latest version from what version?

[2019-03-23 07:42] digaev commented on #532
@jorgebucaran from 2.x as I remember.

[2019-03-23 07:45] jorgebucaran commented on #532
@digaev Ah, yes, makes sense. To solve this open `~/.config/fish/completions/fisher.fish` and edit the file as follows:

[code]

That should do it.

[2019-03-23 07:45] #532 closed

[2019-04-02 20:11] Arelav opened #533 "Sol theme"
What happens with Sol theme since moving to v3?
I didn't change my config for a while and now I see it's no `https://github.com/fisherman` anymore and no `sol` theme as the result and also in new repo as well.

[2019-04-02 22:30] jorgebucaran commented on #533
@Arelav I removed Sol. I'm afraid that if you can't find a fork in the wild, you're temporarily out of luck.  The following issues have the information you're looking for re the organization dissolution and more.

- https://github.com/jorgebucaran/fisher/issues/443
- https://github.com/jorgebucaran/fisher/issues/446

Cheers! :wave:

[2019-04-02 22:30] #533 closed

[2019-04-13 21:49] trisys3 opened #534 "Individual Key Bindings"
It seems like individual key bindings that we had before installing `fisher` are being stripped out. I previously had "ctrl-g" mapped to the previous behavior of "ctrl-c", to remove the current line without making a new one. I put this in my `fish_user_key_bindings` function, but this function gets completely rewritten by `fisher`, and it seems the `fisher` bindings clobbered mine. I tried to add

[2019-04-14 07:05] jorgebucaran commented on #534
@trisys3 Can you provide a way to reproduce the problem? Fisher is not clobbering previously-added key bindings here and I can successfully use multiple packages that install custom key bindings.

[2019-04-15 04:41] jorgebucaran commented on #534
@trisys3 Ping

[2019-04-15 11:22] trisys3 commented on #534
I had a `fish_user_key_bindings.fish` file in my `~/.config` folder, and I installed `fisher`. I also installed `fish-nvm`, so I'm not sure exactly which one removed my previous binding. I will try to experiment when I get the chance. This happened twice, on two different computers, so I know it's not a fluke.

By the way, just to be completely clear here, I'm not adding a package that has some ke

[2019-04-15 12:09] jorgebucaran commented on #534
Gotcha. @trisys3 I use custom key bindings myself too. I put them in `~/.config/fish/functions/fish_user_key_bindings.fish` and installing packages doesn't break them. Have a look also at https://github.com/jethrokuan/fzf/pull/85 for more information.

If you find a way to reproduce the problem (I really hope you do!), please reopen and explain how; for example, using Docker, running a number of c

[2019-04-15 12:09] #534 closed

[2019-04-16 11:22] trisys3 commented on #534
I will try to replicate the problem this week or maybe over the weekend.

[2019-04-18 02:42] trisys3 commented on #534
Hmmm... I just uninstalled & re-installed `fisher` and `fish-nvm` and didn't confront the same issue. I had had an older version of `fisher`, as well as `fnm`, the previous incarnation of `fish-nvm`, so maybe that was what happened. Alternatively, I had also installed `fisherman`, which I believe is the previous incarnation of `fisher`? Regardless, thanks for being so patient and sorry for the noi

[2019-04-18 05:20] jorgebucaran commented on #534
No worries, if you ever reencounter this, let me know! 👋

[2019-05-10 19:01] matthewess opened #536 "fisher seems to uninstall packages immediately after installing"
I ran `fisher self-update` and now, when running `fisher`, all of my packages seem to be removed from the fishfile. Here is what it looked like starting with my original fishfile:

[code]

No matter what I do I can't seem to get it to keep the entry in my fishfile. I've tried uninstalling and reinstalling fisher as well, to no avail.

[2019-05-10 21:34] matthewess commented on #536
Going to close this issue, I restarted my laptop entirely and fisher seems to be functioning happily again. Presumably some transient environment issue.

[2019-05-10 21:34] #536 closed

[2019-06-01 08:50] iamvvra opened #538 "Unable to install packages"
I have fisher install in the below way

`
~ ─╼ fisher
created new fishfile in ~/.config/fish/fishfile

fisher: nothing to commit -- try adding some packages
`

Then tried these
`
fisher add jethrokuan/z rafaelrinaldi/pure
fetching https://codeload.github.com/jethrokuan/z/tar.gz/master
fetching https://codeload.github.com/rafaelrinaldi/pure/tar.gz/master
fisher: cannot add github.com/jethrokuan/z -

[2019-06-01 09:04] jorgebucaran commented on #538
@iamvvra Fish/fisher version, and OS name and version, please. Also, do you happen to have a `.curlrc` file?

[2019-06-01 09:13] iamvvra commented on #538
I am installing it in my new Mac pro, macOS version

`
System Version: macOS 10.14.5 (18F203)`
`
Kernel Version: Darwin 18.6.0
`

Fisher version
<img width="604" alt="Screenshot 2019-06-01 at 2 37 35 PM" src="https://user-images.githubusercontent.com/8179108/58746339-e424bc00-847a-11e9-88a7-f815d388de5f.png">

I do not have the `.curlrc` file, however I do use omf proxy plugin to switch on and off

[2019-06-01 09:22] jorgebucaran commented on #538
@iamvvra I don't know if that package is the problem. I would disable/uninstall it and try again to use Fisher to be sure. I don't know if your Oh My Fish installation is the problem either. I don't think so, but it wouldn't hurt to uninstall it and try again to discard the idea.

It sounds like you do, but make sure you meet Fisher [system requirements](https://github.com/jorgebucaran/fisher#syst

[2019-06-01 09:46] iamvvra commented on #538
Yeah, I got the git, curl and fish as expected by the fisher.

[2019-06-01 10:24] jorgebucaran commented on #538
@iamvvra Hmm, sorry, but nothing comes to mind. If you don't have further information to share, try to repro the issue inside a Docker container, or debug Fisher's source code to see if you can find the issue. As I said, this is most likely not a problem with Fisher.

[2019-06-01 10:24] #538 closed

[2019-06-01 10:48] iamvvra commented on #538
The proxy variable was the culprit. The omf proxy plugin have set different proxy variables - I removed the variables with set -e looking all of them from fish_config.

[2019-06-01 13:52] jorgebucaran commented on #538
@iamvvra Interesting. I'm going to look at that package now to see what it does. I'm glad you figured it out. 🎉

[2019-06-28 07:07] kenchou opened #539 "custom fish_greeting overwrite after fisher update all package"
* install plugin
  * laughedelic/fish_logo
  * oh-my-fish/theme-bobthefish

* add fish_logo to ~/.config/fish/functions/fish_greeting.fish
[code]
* and start new session will see the fish logo
* after execute `fisher`, the `~/.config/fish/functions/fish_greeting.fish` has been changed (provide by theme-bobthefish), and my greeting was lost.
[code]

[2019-06-28 08:03] jorgebucaran commented on #539
@kenchou That's what I expect to happen when I install `bobthefish` since `fish_greeting.fish` is part of that package.

If you want to install `bobthefish` but preserve your previous `fish_greeting.fish`, you could customize Fisher's installation prefix to a different location using the `$fisher_path` env variable as described in the docs.

[2019-06-28 08:03] #539 closed

[2019-07-15 19:47] Odaeus commented on #539
I just came here to open a very similar issue. I installed Spacefish via Fisher and it overwrote my `fish_prompt` files 😞. It was totally unexpected as no package manager I'm familiar with would behave in that way. For example, `apt` will ask whether files should be overwritten or Vim's Pathogen has each package in its own directory.

@jorgebucaran Can I please ask you to really add a specific war

[2019-07-15 20:19] jorgebucaran commented on #539
@Odaeus Why did you think was going to happen to your `~/.config/fish/fish_prompt.fish` after you installed Spacefish?

[2019-07-15 20:37] Odaeus commented on #539
@jorgebucaran I didn't think about the internal workings of Fish or Fisher at all. Obviously I expected my prompt config to be superseded in some way, but my surprise was that it destroyed the original data. If these were files that users aren't supposed to touch, then sure, but my understanding is that these are user-controlled files. I suppose I expected perhaps a prompt asking "overwrite this f

[2019-07-15 20:39] Odaeus commented on #539
Sure will do that, thanks!

[2019-07-16 06:09] jorgebucaran commented on #539
Ah, yes, that's another option. Fisher used to be a lot more interactive in the past, but I've since gone in the opposite direction, favoring a more brutal (minimal) approach. I'd find a prompt extremely annoying. I didn't want logs or have even a CLI, but I couldn't get people on board with that #443 #445.

Thank you! 💯

[2019-07-18 11:25] mtjn opened #540 "Command: "fisher add" hangs"
Action: run command `fisher add jorgebucaran/fish-nvm`

Expected result: plugin is downloaded and installed

Result: command hangs and never finishes. When running `fisher add` for the first time, only the following line is output: `created new fishfile in ~/.config/fish/fishfile`. Otherwise and on repeated run attempts, nothing is output.

Fisher version: 3.2.9
Fish version: 3.0.2
Environment: Ub

[2019-07-18 11:35] jorgebucaran commented on #540
@mtjn Let's try a few things. First, comment out everything in your `config.fish` and try again. I want to discard that the problem is in your `config.fish`.

Also, can you check if there's anything "wrong" with your `curl` command? Do you use a `.curlrc` file?

[2019-07-18 12:36] Scrumplex commented on #540
Just as a heads-up: Fish officially supports a variable for user defined paths, so you don't interfere with the PATH variable and created unexpected things like this. Just use `set -U fish_user_paths (yarn global bin)` and fish will save this and add it automatically to your path in every shell

[2019-07-18 12:49] mtjn commented on #540
Thanks for the tip! I have switched to this technique, everything works fine now. But perhaps fisher could be updated to handle a path modified in this manner, or at least find out what the issue is?

[2019-07-18 12:51] Scrumplex commented on #540
The the POSIX way of doing PATH is just not compatible of fish's way of doing variables. That's why there is `fish_user_paths` I guess.

[2019-07-18 15:03] jorgebucaran commented on #540
I want to find out too. Hmm, maybe one of your global Node packages is taking precedence over a fish builtin, e.g., `contains`, `source`, `jobs`. That's all I can think of at the moment.

[2019-07-18 15:18] Scrumplex commented on #540
Are you sure? Afaik binaries in PATH can't override fish functions or shell functions in general

[2019-07-18 16:10] jorgebucaran commented on #540
@Scrumplex Yes, you are right, functions and builtins have precedence over executables, leaving my guess out of the equation.

[2019-07-21 12:39] caalberts opened #542 "Install single function from a repository"
Hi there. I'd like to create a package that contains multiple functions, each as an individual file. Is it possible to install individual files from a package?

for example, given the following functions, I'd like to just install `foo` or `bar`
[code]

[2019-07-21 16:12] jorgebucaran commented on #542
@caalberts Fisher can't do this. Here's a similar issue I opened for installing Gists but then closed without implementing the feature. https://github.com/jorgebucaran/fisher/issues/505

Alternative: write a new package that allows you to grab a specific function from a repository (including gists). 👋

[2019-07-21 16:12] #542 closed

[2019-07-22 08:51] mtjn commented on #540
I tested manually setting `fish_user_paths` and `PATH` for the session like this:

`set fish_user_paths "DIR1 DIR2 ...DIRn"`
`set PATH "DIR1 DIR2 ...DIRn"`

Setting `fish_user_paths` has no impact and everything works fine, as expected. Setting `PATH` resulted in this error output (have included shell prompt lines for context, as immediately after the error fish enters a `read` prompt state:

[cod

[2019-07-22 15:11] jorgebucaran commented on #540
@mtjn What seems to be happening is that you're inadvertently breaking the `$PATH`. This has the potential not only to break Fisher, but other utilities as well. There's nothing Fisher can do. It's like trying to run Fisher in bash.

:)

[2019-07-22 15:11] #540 closed

[2019-07-23 21:41] patrickf3139 opened #543 "Plugin uninstall hook"
Hi Jorge, I am currently developing some fisher plugins and want to be able to clean up whatever my plugins install. I read the section about the uninstall event that gets emitted on uninstall in https://github.com/jorgebucaran/fisher#configuration-snippets. Looking for a concrete example, I read Jethro Kuan's z code. I was surprised to see that he didn't use that hook but simply created an `unins

[2019-07-24 02:05] jorgebucaran commented on #543
Hi @patrickf3139, support for `uninstall.fish` may disappear at any time, and without prior notice. Please use a `conf.d` snippet with a function that registers a `file_name_uninstall` event.

For example, `conf.d/foobar.fish`:

[code]

[2019-07-24 02:05] #543 closed

[2019-07-24 02:36] patrickf3139 commented on #543
Thanks for the reply Jorge! It seems to me the `uninstall.fish` hook is much more elegant and lower overhead, no? (lower overhead because you don't need to create a function and add a event handler)

Thank you for creating and designing fisher.

[2019-07-24 03:23] jorgebucaran commented on #543
@patrickf3139 There is no such thing as "hooks" in fish. Conf.d is the shell's canonical autoload mechanism; therefore, it makes sense to re-use it, rather than fabricating a custom file convention. We also use conf.d to un/register key bindings. If your package is a configuration snippet, you already have a file (or files) that load during startup too. This place is where your init, uninstall, an

[2019-07-26 14:10] rapha8l opened #544 "old fisherman prompts"
Hi,
Arriving a bit late, I was wondering if there was somewhere I could retrieve the prompts seen here :
https://github.com/iampeterbanjo/fisher-prompts

Thanks !

[2019-07-26 15:04] jorgebucaran commented on #544
Hi @rapha8l. Afraid not. But you can find forks in the wild: https://github.com/lanzafame/nitro. 👋

[2019-07-26 15:04] #544 closed

[2019-07-26 15:09] rapha8l commented on #544
What a shame, but thanks for the reply and the link

[2019-07-30 20:54] mattmc3 opened #545 "Make path for fishfile configurable to be separate from $fisher_path"
I keep my fish configuration in my dotfiles repo, but don't really need to keep all stuff installed via fisher there too, just the `fishfile`. Problem is, if you change `$fisher_path`, it changes where `fishfile` gets placed to store it in $fisher_path. I would argue that your fishfile is a separate concept than what gets installed, so fishfile should be configurable to live with the rest of your

[2019-07-31 05:19] jorgebucaran commented on #545
@mattmc3 Have you read https://github.com/jorgebucaran/fisher#changing-the-installation-prefix?

[2019-07-31 08:30] jorgebucaran commented on #545
@mattmc3 Have you read [Changing the installation prefix](https://github.com/jorgebucaran/fisher#changing-the-installation-prefix)? :)

[2019-07-31 11:28] mattmc3 commented on #545
Hi Jorge, thanks for replying. I did read that and have changed my installation prefix by setting fisher_path. I think maybe you misread my request, or maybe I’m missing a part you’re referring to?

Setting the fisher_path variable also unfortunately has the side effect of changing the location of fishfile, which I believe is undesirable. I would like to be able to configure the location of fishfi

[2019-07-31 12:34] jorgebucaran commented on #545
@mattmc3 Could you have a look at https://github.com/jorgebucaran/fisher/issues/479 & https://github.com/jorgebucaran/fisher/pull/480? They're related. I can't recall now, but I believe that's how I initially implemented Fisher.

Rather than introducing a new `$fisher_*` variable, I'd prefer to do what you want by default. If that's not possible, then I'm probably okay with this.

<h2></h2>

@Scru

[2019-07-31 14:14] mattmc3 commented on #545
@jorgebucaran - I just read through those issues - great background! And also, **shoot**. It looks like my use case and @Scrumplex's are at odds. Let me think on it - there might be a way to meet both needs without introducing a variable by looking for an existing file in both places first, and then just use whichever we find. I agree with favoring convention over configuration.

If we go this pat

[2019-07-31 15:36] jorgebucaran commented on #545
Glad we agree on this.

As for other considerations, leave out #524's fix or create a different PR for that, please. 🙏

For now, let's favor **$fish_config**/fishfile even if a $fisher_path/fishfile exists.

[2019-07-31 17:02] mattmc3 commented on #545
@jorgebucaran : https://github.com/jorgebucaran/fisher/pull/547

[2019-08-14 16:34] thernstig opened #548 "--event or --on-event for event handler in README?"
Hi!

The readme says:
[code]

I could not find `--event` in the fish documentation. Is it supposed to say `--on-event`?

https://fishshell.com/docs/current/commands.html#function

[2019-08-14 16:52] jorgebucaran commented on #548
@thernstig Hmm, you're definitely right, but perhaps it used to be called `--event` and latest or recent fish changed it to `--on-event`. @faho Could you confirm?

[2019-08-14 16:58] thernstig commented on #548
@jorgebucaran One option would be to use `-e` which is the same between versions, in case this changed between fish 2.0 and fish 3.0?

[2019-08-14 17:41] jorgebucaran commented on #548
@thernstig Gotcha, thank you for checking. Let's go with `--on-event`.

[2019-08-14 17:41] #548 closed

[2019-08-14 18:44] faho commented on #548
Always been --on-event, as far back as I recall.

[2019-08-15 01:47] jorgebucaran commented on #548
Thank you, @faho. @thernstig I stand corrected then. Good job noticing! 😄

[2019-08-27 06:38] patrickf3139 opened #550 "fisher ls doesn't specify which package version"
Repro:
[code]
Result:
[code]
Expected
[code]

First off, I want to thank you, Jorge, for making fisher so flexible that I can easily add specific package versions. It's been quite useful for me, especially as I develop plugins! Now, this issue I'm describing, I think it's important that `fisher ls` specify the package version because
1) it will be reassuring for the user that the right package was

[2019-08-29 02:08] jorgebucaran commented on #550
@patrickf3139 There's no easy way to do this for remote packages, as we'd need to ask authors to include a version file (or modify the fishfile format to let you specify a version number). For locally installed packages it's pretty easy; just ask git the branch for each package.

PR welcome!

[2019-08-29 02:08] #550 closed

[2019-09-16 09:39] tsusanka opened #551 "Unable to install packages on NixOS permanently"
I'm unable to install fish packages long-term. In another words it works fine for the current shell, but after exiting and starting a new one, the command is not found.

I believe this might be caused by my linux distro (NixOS), however I'm not sure how to debug this further.

[code]

[code]

Also note that the `.config/fish/fishfile` indeed has `jethrokuan/z` inside correctly.

[2019-09-16 09:53] jorgebucaran commented on #551
Is fisher available for new shells?

[2019-09-16 11:03] tsusanka commented on #551
It is. `fisher --version` prints `fisher version 3.2.9 ~/.config/fish/functions/fisher.fish` every time.

[2019-09-16 12:33] jorgebucaran commented on #551
Odd. Fisher installs your packages in `~/.config/fish/functions` by default.

How did you install Fisher? Is `XDG_CONFIG_HOME` set in your system? The problem could be that Fisher is installing packages in a directory, not in your fish functions path for some strange reason.

[2019-09-16 12:56] tsusanka commented on #551
Does that mean there should be a new file in the `functions` folder?

Using curl as described in the [README](https://github.com/jorgebucaran/fisher#installation).

[code]

[2019-09-16 12:57] tsusanka commented on #551
@mmahut any ideas what might cause this on the NixOS side?

[2019-09-16 13:22] jorgebucaran commented on #551
@tsusanka Fisher installs your packages to `~/.config/fish/functions`. That means that there is a `fisher.fish` inside that directory; you downloaded it there when you ran the `curl` command.

The question is: why isn't Fisher installing packages in that directory? Why is there an extra `/` in your `XDG_CONFIG_HOME`? That's weird.

[2019-09-16 18:13] mmahut commented on #551
Pretty odd, I cannot reproduce it on my system nor a fresh NixOS installation.

[code]
[code]

[2019-09-17 09:58] HerveMARTIN opened #552 "Error when opening a new shell"
On macosx, when opening a new shell, I get an error :
[code]
It seems to be related with picses plugin but this plugin works well when installed with omf...
See my issue on picses project : https://github.com/laughedelic/pisces/issues/21
My dotfiles for fish are here :
https://github.com/HerveMARTIN/dotfiles/tree/master/shells/fish

[2019-09-17 10:09] jorgebucaran commented on #552
@HerveMARTIN What is your current fish version? and were you using an old Fisher version?

[2019-09-17 10:13] HerveMARTIN commented on #552
fish, version 3.0.2
fisher version 3.2.9

[2019-09-17 10:38] jorgebucaran commented on #552
@HerveMARTIN Let's diiscard this could be something in your configuration first. Try commenting everything in your `config.fish` and try again.

[2019-09-17 13:33] HerveMARTIN commented on #552
Well, uninstall/install again solved the problem...
Sorry for that.

[2019-09-17 13:33] #552 closed

[2019-09-17 13:51] jorgebucaran commented on #552
@HerveMARTIN Good to know! Could be related to https://github.com/jethrokuan/fzf/pull/85 and https://github.com/jorgebucaran/fisher/issues/465.

[2019-09-24 11:10] jorgebucaran commented on #551
@tsusanka Sounds good. We're definitely not adding any extra `/` to your `XDG_*`s.

Relevant code [here](https://github.com/jorgebucaran/fisher/blob/f3e87cf5f6bb6c0e7e05173796a34fb616afddfd/fisher.fish#L4-L9).

[2019-09-24 11:18] tsusanka commented on #551
If this would be caused by fish/fisher it should not manifest in bash, should it? Because it does

[code]

[2019-09-24 11:36] jorgebucaran commented on #551
Yup. Not Fisher then.

[2019-10-07 18:18] Gastove opened #553 "`fisher` install appears to stomp itself?"
So, I curl fisher:

[code]

For debugging, I reduce my `fish/config.fish` to:
[code]
I run fisher:
[code]
The fishfile has not been created. Ok, weird. (This happens if I `fish -c "fisher" also.)

So let's take the suggestion and try installing something:
[code]
Okay, weird: so something was installed, but nothing is working.

Also fisher is defined in memory, but the file is gone?
[code]
And the

[2019-10-07 18:29] Gastove commented on #553
If I remove _all_ my configs and let it install in my `.config/fish` dir, everything... just works.

I am _so confused_. Clearly I've screwed something up, but.... what?

[2019-10-08 09:11] jorgebucaran commented on #553
@Gastove Could it be that your `XDG_CONFIG_HOME` are defined incorrectly? e.g., duplicated `/`, or something else.

[2019-10-08 15:52] Gastove commented on #553
I don't _believe_ so; it doesn't appear to be set _at all_, outside of the bootstrapping block:
[code]
That said, `~/.config` is what I'd set it to, and I can try setting it explicitly in the environment.

[2019-10-09 00:56] Gastove commented on #553
Does not appear to have changed anything :-/

I know fish stores a certain amount of local state; I wonder if there's a config I haven't successfully cleared out that's throwing everything off?

[2019-10-09 06:10] jorgebucaran commented on #553
@Gastove There must be an error in your code:

[code]

First, what's exactly `$fish_home`?

[2019-10-09 15:10] Gastove commented on #553
Ah -- that's a relic of the `fisherman` days. I was using `fish_home` to
try and separate configs that go under version control from those that
don't.

On Tue, Oct 8, 2019 at 11:11 PM Jorge Bucaran <notifications@github.com>
wrote:

[2019-10-09 16:42] jorgebucaran commented on #553
If you just or recently migrated from fisherman to Fisher, something might have gone wrong. Please see https://github.com/jorgebucaran/fisher/issues/450 just in case.

[2019-10-09 16:58] Gastove commented on #553
Can do -- thanks much!

On Wed, Oct 9, 2019 at 9:42 AM Jorge Bucaran <notifications@github.com>
wrote:

[2019-10-10 04:39] Gastove commented on #553
@jorgebucaran Okay, I think I've got it: I'm trying to use `~/.config/fisher` as my `fisher_path`; seems logical, right? Put my `fisher` configs in `.configs/fisher`.

Except: on [line 9](https://github.com/jorgebucaran/fisher/blob/master/fisher.fish#L9) of `fisher.fish`, fisher sets `$fisher_config` to that same path... and on [line 195](https://github.com/jorgebucaran/fisher/blob/master/fisher.f

[2019-10-10 11:07] jorgebucaran commented on #553
Well, not really! Fisher owns `fisher_path`, so let's go with 1, please.

[2019-10-10 15:29] Gastove commented on #553
Great. I'll get that PR up soon. How do you feel about check early on in `fisher.fish` -- something along the lines of, "if `$fisher_path is $fisher_config or inside it, exit with a helpful error message"?

[2019-10-10 16:00] jorgebucaran commented on #553
@Gastove Let's just go with docs for now, thanks!

[2019-10-24 17:21] DrPhil opened #555 "Keep packages installed with git@ url installed"
Running
[code]
works fine for the current shell. But the package is not added to the fishfile, so the package will be uninstalled on the next run of `fisher`. What's worse, the files are not actually removed - only the line in fishfile.

I understand that https is preferable. The upside with using git means that private repos will be accessible with your normal ssl-keys. No config required.

I'm r

[2019-10-24 17:46] jorgebucaran commented on #555
@DrPhil My first reaction from what I remember from this part of the code base is that this isn't going to be easy to implement. But maybe I'm wrong. Maybe for 4.0 when I get to re-write Fisher again (always backward compatible).

Or you can take a stab at it if you want, of course. I'm happy to help and give hints.

[2019-10-25 17:39] osamuaoki opened #556 ""fisher add jethrokuan/fzf" hangs -- wrong git command and URL"
Thank you for interesting tool but first try with practically default install condition failed.  This may turn down many user, I am afraid.

After careful check, I see this bug was introduced initially 4d953fa ("feat: custom hosted packages via ssh+git; fix #464", 2018-10-13) during 3.0.9 cycle.    Please fix this at 3.3.0

Anyway, here is how this fails as installed.

[code]

So I commented out `

[2019-10-25 18:14] jorgebucaran commented on #556
Hi @osamuaoki! Thank you, for digging into this. This is definitely technical debt.

If you have a fix for this, I'm happy to review your PR -- otherwise we can go ahead and get rid of this feature. I think it's fair to not support the original use case.

[2019-10-26 02:46] osamuaoki commented on #556
Hi

I think use of the latest git shallow clone itself over downloading tarball is good approach if it is implemented properly.  Unfortunately, this seems not the case.  Removing this feature is certainly one easy way to work around this nasty situation

But I didn’t want to introduce another regression either.

So I want to hear from the party who created this feature what problem they were solvi

[2019-10-26 15:40] osamuaoki commented on #556
Hi,

I tried to understand what is going on ... and let me think out loud... here is my additional memo

I am reading fisher doc and I see `@` is used to denote tag to be downloaded for "add" command.

This choice of syntax only make sense if you are thinking only HTTPS access git repo.  But it seems to complicate processing for git repo URL such as `git@github.com:edc/bass.git` as reported in #45

[2019-10-26 15:50] osamuaoki commented on #556
If `GIT_REPO_URL` has simple `site/url/username/reponame` (more than 1 `/`) without `https://` nor `@` nor `:`, let prepend it with `https://` for convenience, too.

[2019-10-26 15:53] jorgebucaran commented on #556
@osamuaoki #464 is technical debt and I'm happy to remove the feature. Send me a PR to get rid of it? :)

[2019-10-27 16:17] osamuaoki commented on #556
I checked it works at 3.0.8.  So it was working.  But rebasing to drop problematic code was nightmare due to major changes happened.  So I gave up.

I actually think fixing git shallow clone is better and cleaner solution.  I have a proof-of-concept for github repo access with attached patch.  (some bugs exist in this, I know.)

[test.zip](https://github.com/jorgebucaran/fisher/files/3776100/test.

[2019-11-06 11:46] tobia opened #557 "mv: target ~/.cache/fisher/github.com/... is not a directory"
I cannot seem to be able to install new packages using any 3.2.x version of fisher.

Here is an example using 3.2.0, but the same error occurs with any later version including master:

[code]

Here is the same command with 3.1.1, which works properly:

[code]

I'm using fish 2.7.1, installed from the default apt repository of Ubuntu 18.04

[2019-11-06 12:24] jorgebucaran commented on #557
@tobia Did you upgrade from 3.1.1 to 3.2.0 while using fish 2.7.1 just now? I'd like to know if the problem was fish 2.7.1 or a breaking change that I might have sneaked into the code.

[2019-11-06 12:40] tobia commented on #557
Yes, I'm using fish 2.7.1 and I tried several versions of fisher, resetting all caches in between, as you can see from the logs I posted.

Either I have something weird in my system, or there was a breaking change in 3.20.

[2019-11-06 12:57] jorgebucaran commented on #557
@tobia Can you try removing fisher completely and trying again?

[2019-11-06 13:14] tobia commented on #557
I've been removing `~/.config/fisher/`, `~/.cache/fisher/`, `~/.config/fish/fishfile`, and replacing `~/.config/fish/functions/fisher.fish`.

What else should I remove?

[2019-11-06 13:37] jorgebucaran commented on #557
I mean just run `fisher self-uninstall`. But it seems that this might not the problem, but something in your system, but I have no idea what! 🤔

[2019-11-06 13:44] jorgebucaran commented on #556
@osamuaoki 👋

[2019-11-23 14:57] reitzig opened #558 "Install packages from tarballs"
Please add a feature so that fisher can install packages from tarballs, e.g. like so:

[code]
(not sure if that URL would actually work)

### Rationale

It is not always natural to use a full repository for a fisher package. For instance, Docker contains shell completions in their main repo; we can not install that one with fisher.
(In that case, something like `fisher add-completion https://..../

[2019-11-29 13:19] drcongo opened #559 "Fisher installing to current directory instead of my functions directory"
I fisher installed `b4b4r07/enhancd` and pretty quickly decided I didn't like it, so I uninstalled it. And now, my fisher install path seems to be broken and I can't work out why.

[code]

You can see it's installed everything in the current working directory, but it also removed all the functions that were previously installed in my `fish/functions/` directory. My `$fisher_path` is empty and my `

[2019-11-29 16:49] jorgebucaran commented on #559
@drcongo It could be errors in your path variables, maybe there's an extra `/` somewhere, but I'm just throwing darts in the dark. It's really hard to tell what the problem is with this info at the moment. Fisher always writes to your `~/.config/fish/functions` directory by default.

Let me think about it. If you have anything else to share that might help, please do.

[2019-12-03 10:20] drcongo commented on #559
Thanks for the tip, I suspect you're right. My `$fish_complete_path` starts with `/Users/andy/.config//fish/completions` but I can't for the life of me work out where that's getting set. I'll dig around, or just override it if I can't find it.

[2019-12-09 12:47] ammgws commented on #524
What about `fisher_bundle`? At least to make it obvious where the file comes from.

[2019-12-19 01:59] insipx commented on #559
I just installed/uninstalled enhancd and am suffering the same issue, with the same `//` in `$fish_complete_path`: `/home/insipx/.config/fish//completions`

[2019-12-19 02:19] jorgebucaran commented on #559
@insipx Maybe you set your XDG_CONFIG_HOME and XDG_CACHE_HOME incorrectly.

[2019-12-31 11:21] tsdh commented on #527
Will that also allow for a more safe update mode?  The single complaint I have with just running `fisher` is that it leaves you with a broken setup in case you run it on a wonky network where deleting everything works but fetching and reinstalling won't.  It would be much better if it would first download to a temporary location and then remove and install.

Also a question related to this issue:

[2019-12-31 15:30] jorgebucaran commented on #527
Hmm, interesting! Thanks for the idea.

I agree that it would, but that's not part of my plan this time. Thanks for the suggestion, though!

[2020-01-12 11:56] danieltrautmann opened #560 "rm: illegal option when updating packages"
Hi,

I'm not quite sure when it started to happen, but whenever I run `fisher` to update all packages, I get the message `rm: illegal option -- -`. This seems to happen for all packages in my `fishfile`. Since there are two packages installed, I get this message twice. Below you can find the full output when I run the command.

[code]

Here is some information about my system.

**Fish version**

[

[2020-01-29 18:12] ipatch opened #561 "Feature Request FR | Search for packages from CLI using a fisher sub command"
Please forgive my ignorance if I failed to see the mention of _searching_ for packages from a CLI using fisher, looked over the README and did not see a way to search for _fisher_ packages using the `fisher` command from a CLI.

For my specific use case I wanted to see if there were any fisher packages related to docker, and I didn't see any _search_ sub command or _flag_ / _option_ listed when ru

[2020-01-30 02:01] jorgebucaran commented on #561
Hi @ipatch, you're right, there's no way to search for packages from the CLI.

Searching GitHub for fish packages and installing them is what I recommend.

[2020-02-20 05:12] charego commented on #560
Same issue here. Similar-but-not-identical system config:
[code]
Also, I am using `enhancd` (but not `pisces`).

[2020-02-28 02:04] jorgebucaran commented on #560
@danieltrautmann @charego I can't reproduce this.

[2020-02-28 15:38] charego commented on #560
Seems to be an issue with `enhancd` fish support on MacOS... nothing `fisher` can do about it.

[2020-02-28 18:40] danieltrautmann commented on #560
Okay, thanks for the information and your work.

[2020-02-28 18:40] #560 closed

[2020-03-08 07:46] luxlogica commented on #561
How does oh-my-fish do it? I’d guess they’re probably keeping a (manual) list of installable packages somewhere? Perhaps the same could be done for Fisher, but in a way that adding/deleting/updating package listings can be (at least semi-)automated, so it doesn’t become a maintenance burden...

[2020-03-08 08:28] jorgebucaran commented on #561
@luxlogica We used to use an index file to implement the same search feature @ipatch asked for here (Fisher <=2). It wasn't that bad, but I found it more difficult to maintain. I prefer the loner, self-contained approach taken here.

[2020-03-08 08:28] #561 closed

[2020-03-09 11:03] skorokithakis commented on #559
I am having the same issue, env vars are:

[code]

[2020-03-09 11:11] skorokithakis commented on #559
@insipx I have the same issue, mine is because I have a trailing slash in my `XDG_CACHE_HOME` in my `.profile`. I don't know if this causes fisher to fail, but I have the same config as you.

[2020-03-09 11:17] skorokithakis commented on #559
I changed the variable and that was, indeed, the issue. It looks like `fisher` gets confused by double slashes in the path and misbehaves. It should probably be fixed, as `/home/stavros//whatever` is a valid path in fish, but it wouldn't hurt to change your env var to in case anything else chokes.

[2020-03-09 13:32] jorgebucaran commented on #559
@skorokithakis It must be it. We had the same issue some time ago. I think we could sanitize paths to prevent this from happening -- I'll investigate.

@drcongo @insipx Can you verify if the issue was a wrong path in any of your `XDG_*` vars?

[2020-03-20 12:39] hedefalk opened #562 "fisher sources config.fish during install without installed functions?"
I have a small fishfile:

[code]

and I bootstrap with:

[code]

at the top of config.fish.

Later in config.fish I use stuff that are supposed to be installed by fisher, like foreign-env:

[code]

However, when running `fisher` it seems fisher sources my config.fish without the deps installed:

[code]

However, everything installs fine and I can use it later on. Just annoyed by those error messag

[2020-03-20 14:24] jorgebucaran commented on #562
@hedefalk What are your fish and fisher versions?

Could you completely remove fenv and try again? It may be doing something weird. Also, check out https://github.com/jorgebucaran/fish-bax for a similar package that I officially support.

[2020-03-20 18:46] hedefalk commented on #562
@jorgebucaran

Funny thing, I'm going through dotfiling my setup for a new system and I did not get these errors there. Only on my current machine.

Thanks, I'll give fish-bax a try! What's the difference with foreign-env?

[2020-03-20 19:27] jorgebucaran commented on #562
I never used foreign-env, so I'm not sure of the extent of its features, but bax is more [concise](https://github.com/jorgebucaran/fish-bax/blob/553b181250a78d6aa9416f2d281e8e445fffa735/bax.fish#L6-L46) (less code is usually less bugs) and more importantly, faster, as it's implemented awk bypassing fish control flow. I love fish, don't get me wrong, but I don't think it's a good choice for text pr

[2020-03-20 20:12] hedefalk commented on #562
Thanks!

Switched to bax and its working great: https://gitlab.com/hedefalk/dotfiles/-/commit/b2f58e3a01bec3d072ab5c7eca9196e25cf693b1

Still have those errors when running `fisher` but now with bax:

[code]

Still works, it's just that something seems to be sourcing my config.fish without my functions…

[2020-03-20 20:17] hedefalk commented on #562
Nuked cache and then I got rid of it:

`rm -rf /Users/viktor/.cache/fisher/`

[2020-03-20 20:17] #562 closed

[2020-03-21 04:33] jorgebucaran commented on #562
@hedefalk Very odd. Did you upgrade from fisher 2.x by any chance?

[2020-03-21 08:00] hedefalk commented on #562
Possibly, did a self update. Been using for maybe 6 months or so...?

On Sat, 21 Mar 2020, 05:33 Jorge Bucaran, <notifications@github.com> wrote:

[2020-03-21 09:25] jorgebucaran commented on #562
Maybe more than 6 months, since that version is about 2 years old. It may be too late now, but do check the upgrade guide https://github.com/jorgebucaran/fisher/issues/450 if you're curious.

Glad you sorted it out, though.

[2020-03-21 13:37] hedefalk commented on #562
Was using zsh until somewhere around last fall so definitely not v2 then.
Yeah, sorry, won't be able to reproduce since I've nuked the cache, but
working fine now. Thanks!

On Sat, 21 Mar 2020, 10:25 Jorge Bucaran, <notifications@github.com> wrote:

[2020-03-21 14:06] jorgebucaran commented on #562
@hedefalk See also https://github.com/jorgebucaran/fisher/issues/510 in case you're for some reason stuck with an old fish (<3.x).

[2020-03-22 03:47] jorgebucaran commented on #559
@skorokithakis I'd like to work on this now, but I'm not sure where to begin exactly. Is the problem only a trailing slash, repeated slash or both? What would be a path that breaks fisher? Thanks.

[2020-03-22 10:26] skorokithakis commented on #559
@jorgebucaran for me, the problem was that my config path was set to `/home/stavros/.config/`. If you replace your username and set that as your path, you should be able to reproduce.

[2020-03-27 13:21] j2ghz commented on #557
I was getting the same issue in WSL. While gathering facts to report the issue, I found https://unix.stackexchange.com/a/352854.
I checked, and after closing VS Code (in which I had the `~` folder open) it worked.

[2020-03-27 15:02] jorgebucaran commented on #557
@tobia Any luck?

[2020-05-04 21:07] MaSven commented on #557
I have the same problem with fish version 3.1.0. I tried it with fisher self-uninstall and after that installed it again but no luck

[2020-05-04 21:36] MaSven commented on #557
After debuggin the script, i found out, that at line 306 the pkgname is missing.
So the command
`command mkdir -p $fisher_config/$pkg $fisher_cache/(command dirname $pkg)`
Does create

and

So the second one is missing the subdir sdkman-for-fish

[2020-05-04 21:46] MaSven commented on #557
Ok no this is not the problem the same happens with
`fisher add jethrokuan/z`

[2020-05-05 01:19] jorgebucaran commented on #557
@tobia @MaSven Try to reproduce the problem inside a docker container and share it with me. That's the only way I can imagine debugging this. Needless to say, I've been unable to reproduce this issue.

[2020-05-10 09:02] jiapei100 opened #564 "How to set number of rolling lines in fishshell?"
Where do you define the number of rolling lines in fishshell?

[2020-05-10 10:27] jorgebucaran commented on #564
I don't know what rolling lines are, but this sounds like a question you can ask the maintainers in the fish-shell [issue tracker](https://github.com/fish-shell/fish-shell/issues). Fisher is a package manager for the fish-shell, not the fish-shell.

[2020-05-10 10:27] #564 closed

[2020-05-22 12:31] andreiborisov opened #565 "Default and `ls` subcommands don't work on Alpine Linux"
I'm building Alpine-based Docker images for fish package testing and development (https://hub.docker.com/repository/docker/andreiborisov/fish) and have stumbled upon weird behavior from Fisher.

Package installation seems to work just fine, however, if you run `fisher` without any arguments, instead of updating, it deletes all the packages. `fisher ls` also returns nothing.

It doesn't seem to dep

[2020-05-22 12:33] andreiborisov commented on #565
You can quickly try it out for yourself:

[code]

Fisher and Fishtape are preinstalled.

[2020-05-22 12:36] jorgebucaran commented on #565
@andreiborisov Does `fisher ls` return nothing after all packages have been uninstalled? If there are no packages, `fisher ls` will return nothing, obviously. And running just `fisher` reads your fishfile and installs/uninstalls packages to match it, so it depends on what you have there. There could be a bug, though.

[2020-05-22 12:39] andreiborisov commented on #565
`fisher ls` always returns nothing.

Without any packages installed:
[code]

[2020-05-22 12:51] jorgebucaran commented on #565
@andreiborisov Definitely looks like a bug! Thank you for creating the image. I may not be able to look into this right now, so if you want to go ahead, diagnose the bug and send me a fix I'd be most grateful. 👋

[2020-05-22 12:54] andreiborisov commented on #565
Sure, I most certainly would like to contribute👌

[2020-05-22 13:38] andreiborisov commented on #565
BusyBox's `awk` turns out to be the problem, it seems it behaves a bit differently, at least for `_fisher_parse` function, I've switched to `mawk` and everything is started to work properly.

[2020-05-22 14:04] jorgebucaran commented on #565
@andreiborisov Any chance you could look into what could be causing the problem with just awk? Maybe there's a way we can support it out of the box, but at least I know it's awk. 🎉

[2020-05-22 16:15] andreiborisov commented on #565
I found out that the problem is caused by assignment `$0 = $1` in the 5th line `MODE == "-R" && !(k in pkgs) && $0 = $1`:

[code]

If I'm appenging it with print function `MODE == "-R" && !(k in pkgs) && $0 = $1 {print "Never reached using BusyBox awk"}`, I'm getting it on macOS:

[code]

but not on Alpine:

[code]

[2020-05-22 16:25] jorgebucaran commented on #565
@andreiborisov Well done! I wonder if adding parens around the assignment `($0 = $1)` would fix the expression, so, either:

[code]

or

[code]

[2020-05-22 16:37] #565 closed

[2020-05-22 16:46] jorgebucaran opened #567 "Migrate to .github/workflows and remove .travis.yml"
[Workflows](https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow).

[2020-05-22 16:48] jorgebucaran commented on #557
@MaSven @tobia Can you repro in 3.2.11?

[2020-05-22 16:53] jorgebucaran commented on #555
Actually, I might actually remove this in a future version of Fisher. it's too difficult to maintain and I've never actually understood the use case as I put all my stuff on GitHub or GitLab.

Going to close here since there's nothing I'm going to do about it. 👋

[2020-05-22 16:53] #555 closed

[2020-05-22 16:54] jorgebucaran commented on #553
@Gastove Did you ever get around that PR? Feel free to send it whenever you find the time. I'm just doing some cleanup around here. 👋

[2020-05-22 16:54] #553 closed

[2020-05-22 16:56] jorgebucaran commented on #556
@osamuaoki I decided I'm going to remove custom hosted packages via ssh+git in the future, so there's not much I can do here for now. 👋

[2020-05-22 16:56] #556 closed

[2020-05-22 20:06] Gastove commented on #553
@jorgebucaran yes, I did! It was merged some time ago:

https://github.com/jorgebucaran/fisher/pull/554

Sorry for not annotating with `closes` correctly! We're all set here :+1:

[2020-05-23 02:51] jorgebucaran commented on #557
Maybe `dirname` is not available in your system? What are you using?

[2020-05-23 20:31] MaSven commented on #557
I tried to recreate it in docker but can't.
I'am using opensuse TW. I tryed to recreate it with this docker container https://hub.docker.com/r/opensuse/tumbleweed. I will try the new version.

[2020-05-23 20:43] MaSven commented on #557
Does not work with new version. I get the same error.

[2020-05-23 20:51] tobia commented on #557
Same here. I'm using a freshly installed Ubuntu 20.04 with the provided Fish 3.1.0 and I get the same error as before:

[code]

The 4 lines of code I'm running to test it, as I did in the OP, are: 1. downloading the specific version of fisher; 2. sourcing it into the running shell; 3. removing all fisher-related configurations and caches; 4. trying to add a package.

[2020-05-24 04:24] jorgebucaran commented on #557
@tobia @MaSven What's the content of your XDG_CONFIG_HOME and XDG_CACHE_HOME env variables?

[2020-05-24 07:33] MaSven commented on #557
These two environment variables don't exists.
[code]

[2020-05-24 07:42] jorgebucaran commented on #557
@MaSven  Does your `mkdir` support the `-p` flag (to create intermediate directories as required)?

[2020-05-24 07:44] MaSven commented on #557
Yes it does
[code]

[2020-05-24 07:55] jorgebucaran commented on #557
Here you described the steps to reproduce the bug by installing `reitzig/sdkman-for-fish@v1.3.0`, but could you do the same for a package known to work:

For example repeat your steps, but instead of `reitzig/sdkman-for-fish@v1.3.0` try. Does the problem persist?

[code]

---

Thank you for attempting to debug the script, but I don't think that's not the issue, as our goal there is just to create

[2020-05-24 09:33] MaSven commented on #557
[code]
This worked.
cp command
[code]

[2020-05-24 09:41] jorgebucaran commented on #557
If that worked, could you clarify what _didn't_ work? I thought you couldn't install any packages at all?

[2020-05-24 14:43] MaSven commented on #557
I think I misread the first comment. But for me it is only happening with sdkman-for-fish.

[2020-05-24 15:09] jorgebucaran commented on #557
Thank you for clarifying that, @MaSven. When fisher installs a package, it'll also attempt to activate it, that means sourcing all the files inside functions, completions and conf.d directory.

Maybe there's something in [reitzig/sdkman-for-fish/blob/master/conf.d/sdk.fish](https://github.com/reitzig/sdkman-for-fish/blob/master/conf.d/sdk.fish) causing Fisher to fail.

Are you able to install reit

[2020-05-24 17:48] MaSven commented on #557
Am Sonntag, 24. Mai 2020, 17:09:18 CEST schrieb Jorge Bucaran:

Yes this works.

[2020-05-24 18:21] jorgebucaran commented on #557
Okay, I was anxious to install this package, but I decided to give it a go after checking the source again:

[code]

...and it installed without problems. I'm afraid that without a reliable way to reproduce this error, there's not much I can do.

[2020-05-24 18:21] #557 closed

[2020-05-31 20:24] thernstig opened #568 "Migrate fisher dir from XDG_CONFIG_HOME to XDG_DATA_HOME"
To show case what I mean, I am going to paste the information another tool called direnv does in a recent release:

better to keep that folder for user-editable configuration so the data is
being moved to XDG_DATA_HOME.

creating a symlink back from /home/userA/.local/share/direnv/allow to /home/userA/.config/direnv/allow for back-compat.

As such, it would make sense for fisher to also migrate fr

[2020-06-03 14:56] offbyone opened #569 "awk: newline in string ... at source line 1 when running any fisher command"
### What's happening

Running any fisher command has been coming up with this:
[code]

### System Configuration
fish shell version: 3.1.2
fisher version: 3.2.11
OS:
[code]
fishfile contents:
[code]

### Debug
I turned on fish_trace and got this:

[code]

[2020-06-03 14:57] offbyone commented on #569
What's really nasty is that if I run `fisher` it removes the whole contents of the `fishfile` leaving it empty as well.

[2020-06-03 16:33] jorgebucaran commented on #569
@offbyone I couldn't reproduce this by installing the packages you listed, but try disabling them one by one to rule out it's not any of them causing trouble here.

It could also be something in your `config.fish`, so please share it as well.

[2020-06-04 04:12] offbyone commented on #569
It's ... kind of a mystery, actually. I tried it tonight and it mostly worked. `fisher ls` came up silent and then installing packages worked.

The one thing I changed that I thought might be irrelevant at the time was that I deleted some of the old fzf bindings I'd installed with fisher some time ago, that had left some dead symlinks in `~/.config/fish/functions/__fzf*`... I wonder if those might

[2020-06-04 04:12] #569 closed

[2020-06-05 09:54] jorgebucaran commented on #568
@thernstig Sounds good. Do you want to work on a PR for this?

[2020-06-05 09:55] jorgebucaran commented on #568
@thernstig Sounds good! Would you like to work on a PR for this?

[2020-06-06 08:14] thernstig commented on #568
I am swamped right now, but if it lingers for a long while and no-one picks it up I might give it a go!

[2020-06-13 14:02] JasonMFry opened #570 "Bootstrap installation hangs if there's a file named 'functions' at XDG_CONFIG_HOME/fish"
I misunderstood something and created `XDG_CONFIG_HOME/fish/functions` as a file not a directory. Then I added the bootstrap installation code to `XDG_CONFIG_HOME/fish/config.fish`. Sourcing config.fish just hangs until I press `ctrl + c`. Better error handling or instructions would have helped. I tried to `mkdir XDG_CONFIG_HOME/fish/functions` before removing the functions file and I got this out

[2020-06-13 15:10] jorgebucaran commented on #570
You're more than welcome to send me a patch with better error handling or a better installation instructions! 👍

Hmm, `mkdir` is not a fish shell built-in.

[2020-06-13 15:10] #570 closed

[2020-06-18 14:02] reitzig commented on #557
One difference I note is that spark has only a single top-level file, while sdkman-for-fish has `completions`/`conf.d`/`functions`.
@tobia / @MaSven , can you reproduce with another package including multiple folders?

---

[This line](https://github.com/jorgebucaran/fisher/blob/017046abf3aef24c9fba61c2348b627136279975/fisher.fish#L308) seems fragile to me:

[code]

We don't have pipefail (?) so i

[2020-06-24 02:04] james-r-smith commented on #568
@jorgebucaran, I can have a go at this. 😊

[2020-06-24 02:51] james-r-smith commented on #567
@jorgebucaran, I can have a go at this as well. 😅

[2020-06-24 05:10] #567 closed

[2020-06-25 18:44] peey opened #574 "Allow fisher to re-create symlinks to packages"
Perhaps a "refresh" option. I wanted to move my dotfiles to another compute, and symlinks that fisher creates for modules are hard-coded with absolute links to paths to my old computer.

I thought that if I try to "update" these packages by issuing `fisher` or if I re-add it using `fisher add ~/.config/fisher/package` then that'd fix it, but it didn't.

I manually deleted those symlinks, and even

[2020-06-25 18:49] peey commented on #574
My bad. Fisher does re-link things. Something was wrong with my copy of the packages.

[2020-06-25 18:49] #574 closed

[2020-06-26 10:56] psychomelet opened #575 "failed to install plugin"
[code]

[2020-06-26 11:03] jorgebucaran commented on #575
@psychomelet Do you have any more information?

[2020-06-26 11:13] psychomelet commented on #575
confirmed it's a network issue, `wget https://codeload.github.com/jethrokuan/z/tar.gz/master` was redirected and returned 404.

close as not an fisher issue, maybe we can make the error message more friendly showing the git fetch failed.

[2020-06-26 11:13] #575 closed

[2020-06-26 11:15] jorgebucaran commented on #575
Fisher doesn't use `wget`?

Suggestions welcome!

[2020-07-01 03:30] #568 closed

[2020-07-01 17:22] silenc3r opened #576 "Be specific about 'fish configuration file'"
Readme suggests to configure fisher by adding code to 'fish configuration file'. It is not specified what 'fish configuration file' is precisely, so most users would assume it is `~/.config/fish/config.fish`.

In my opinion this is the wrong place, especially when you're using custom `$fisher_path`. In that case any plugin can override user defined functions and keybindings, unless they're defined

[2020-07-01 18:07] jorgebucaran commented on #576
@silenc3r Fisher's only available configuration is changing the installation prefix `$fisher_path`, what other configuration are you referring to?

[2020-07-01 18:22] #576 closed

[2020-07-11 22:06] patrickf3139 opened #577 "Add hook for an install.fish that is run only once when the plugin is installed"
As a fisher plugin developer, I'd like to have functionality for executing a script only once when the plugin is first installed, similar to how uninstall.fish is executed when the plugin is uninstalled. Yes, I could totally achieve the same functionality with a script in `conf.d` plus an if statement to check if it's already been run. But I find that inefficient and confusing. What do you think a

[2020-07-12 01:53] jorgebucaran commented on #577
I think there's a PR to add just that. I don't want to complicate the package API, but I guess this makes sense. You can leave your review there. Thanks. #573

[2020-07-12 13:29] MaSven commented on #557
I tried the same with https://github.com/rafaelrinaldi/pure and this seems to work normally. My tar version is 1.32 GNU. Maybe  i need an example with completions.

[2020-07-12 14:25] jorgebucaran commented on #557
Hey @MaSven @tobia @reitzig! So, is [this](https://github.com/jorgebucaran/fisher/issues/557#issue-518420718) solved or is it still happening?

[2020-07-13 09:16] guihkx opened #578 "self-update: Add ability to fail unless we get a HTTP OK response from GitHub?"
Funny thing, I tried to update fisher some minutes ago, while GitHub was going through a [power outage](https://twitter.com/githubstatus/status/1282575172223016960).

After I ran `fisher self-update`, my `fisher.fish` script ended up being overwritten by this:

[code]

I've already fixed it, but it would be nice to prevent this in the future... 😄

[2020-07-13 09:51] jorgebucaran commented on #578
@guihkx How?

[2020-07-13 10:01] guihkx commented on #578
I'm on my phone right know so I can't test this properly, but I believe curl's `--fail` option should prevent it. If you can test it:

[code]

IIRC, curl will return a non-zero code unless you gey 200 OK as a response. Better check the manual first just to be sure :)

[2020-07-13 10:54] jorgebucaran commented on #578
@guihkx Thanks, will look into it soon. 👋

[2020-07-21 17:02] patrickf3139 commented on #524
Besides aesthetic consistency, I also like either `fish_bundle` or `fisher_bundle` because fishfile could refer to so many different things. I mean, the name only implies a file having to do with fish.

[2020-07-24 08:28] Vaintti opened #579 "Dependencies not getting installed and being removed on update"
Sometimes when I try to install a package with dependencies the dependencies don't get installed. Also when running fisher to update the packages it removes the dependencies. Happens to me with this package https://github.com/franciscolourenco/done Running the fisher add couple of times installs the dependencies (fishpkg/fish-humanize-duration) but doesn't work properly the first time.

Environmen

[2020-07-24 09:06] jorgebucaran commented on #579
@Vaintti Sorry, but I can't reproduce this. Everything works as expected.

<img width="1440" alt="スクリーンショット 2020-07-24 18 06 16" src="https://user-images.githubusercontent.com/56996/88376441-5fac9f80-cdd8-11ea-8689-05c461b07260.png">

[2020-07-24 09:51] jorgebucaran commented on #579
@Vaintti Did you expect fishpkg/fish-humanize-duration to be added to your fishfile? Because that's not what fisher does. Only `franciscolourenco/done` is.

[2020-07-24 15:33] Vaintti commented on #579
In your case it tells you it installed two packages but for me it was only one. Also I got errors about the missing humanize package. You could try to remove and install again to see if that does it. Running fisher to update packages always/almost always removes the dependency and breaks it. It  works for me 10% of the time. Don't know what's up with that.

[2020-07-24 15:40] #545 closed

[2020-07-24 15:47] jorgebucaran commented on #579
@Vaintti Let's try this:

- Remove your `config.fish` and try again, if the problem persists:
  - Post your `config.fish`, please edit out any sensitive information.
  - Share a screenshot just like above with the problem you are having.
  - Show me this: `la ~/.local/share/ ~/.config/fisher/ ~/.config/fish`.

[2020-07-24 15:56] mattmc3 commented on #524
I'm willing to submit a PR for this if we can agree on the naming @jorgebucaran. I'm partial to fish_bundle rather than fisher_bundle since it's really just a list of fish plugins and not anything with fisher specific data or formatting, so it could even be used by other fish plugin management tools, but honestly, whatever you want is fine.

My questions are: Is this still something we want to do,

[2020-07-24 16:18] jorgebucaran commented on #524
@mattmc3 I like `fish_bundle` too. It just looks cool. I get that `fisher_bundle` would be a safer approach, but then we might as well leave things the way they are.

I'm happy to go with this if we can agree on `fish_bundle`.

/cc @franciscolourenco @edouard-lopez @FabioAntunes @Scrumplex @neersighted

1 and 2 sound good. We also need to update the docs. And we need to continue to support `fishfi

[2020-07-25 06:13] jorgebucaran commented on #579
@Vaintti Any updates on this?

[2020-07-26 19:00] franciscolourenco commented on #524
The word bundle could be hard to understand for people who are not part of certain circles. Would `fish_packages` correctly describe what the file contains?

[2020-07-26 23:10] neersighted commented on #524
`fish_bundle` is fine by me but I don't really have a strong opinion either way.

[2020-07-27 04:35] guihkx commented on #578
Hi again!

I've implemented this feature on my local repo, so I wanted to ask you if you're also working on it, so that I don't step on your toes. 👍

Otherwise, I could just open a PR for you to review. So, let me know!

Thanks.

[2020-07-27 06:10] jorgebucaran commented on #578
@guihkx No problem, send me a PR! 🎉

[2020-07-27 07:33] reitzig commented on #557
@tobia will have to answer that; I've never been able to reproduce. :/

I'm happy to help and/or fix sdkman-for-fish -- if I get any hint as to what may be the problem.

[2020-07-27 08:01] jorgebucaran commented on #557
@reitzig No worries! People often wrong into issues where the culprit was not fisher, but something in their configuration or environment.

[2020-07-27 09:44] jorgebucaran commented on #579
@Vaintti Any chance you can look at my request?

[2020-07-27 09:45] jorgebucaran commented on #559
Trying to do some cleanup around here. Was this issue fixed for everyone? @drcongo @insipx @skorokithakis

[2020-07-27 09:51] jorgebucaran commented on #558
Docker completions should not be there, but in the official fish-shell's repo. That's what the fish authors have always asked third party vendors to do.

Do you have another usecase? I'm quite stingy about adding more features to fisher right now. And I'm looking to simplify things more in 4.0.

Let's keep this open so I can come back to it later.

Thanks!

[2020-07-27 10:29] Vaintti commented on #579
Yeah sorry I don't really use this computer with the problem outside of work hours. Removing config.fish didn't really help
![Screenshot 2020-07-27 at 13 23 30](https://user-images.githubusercontent.com/11636057/88532034-89e6a300-d00c-11ea-9057-4e9aca2c17d1.png)

My config.fish only had two aliases and now nothing since I moved it away for the test.

[code]

[2020-07-27 10:30] Vaintti commented on #579
fisher ls here too

edc/bass
fishpkg/fish-prompt-metro
franciscolourenco/done

[2020-07-27 10:40] jorgebucaran commented on #579
@Vaintti Could you also show me what's in your `fishfile`?

[2020-07-27 10:43] jorgebucaran commented on #579
Have you installed something that modifies the default behavior of `cp`, `mv`, etc? Or have you messed with file permissions in your filesystem, specifically `~/.config/*`?

[2020-07-27 10:59] Vaintti commented on #579
I haven't installed anything that should modify cp or mv and I don't recall messing with permissions in my filesystem

[code]

[code]

[code]

[code]

[2020-07-27 11:16] #578 closed

[2020-07-27 13:59] mattmc3 commented on #524
The word "bundle" has quite a bit of history in other CLI projects for a collection of 3rd party code. Homebrew uses bundle. Vim's Vundle is a play on the word bundle. Ruby has bundler. ZSH's antigen uses the term bundles too. The list is not short.

While it's a valid point that there are other common descriptive words like "package" or "module" or "libraries" in this context, I think that it can

[2020-07-27 14:57] franciscolourenco commented on #524
I won't argue against bundle, because I'm not familiar this historical convention and it it might have value. However it might be unclear for other people like me, and a convention that is not clear it might not be worth propagating. Anyway there are a couple of points I should mention:

1. The suggestion was for the plural form - "packages", not package.
2. Does fish it actually group packages to

[2020-07-27 17:11] jorgebucaran commented on #524
Hmm, `fish_packages` is not bad at all, but there's something about `fish_bundle` that just clicks for a shell project!

@mattmc3 Would you like to send me that PR? Let's go with `fish_bundle`, but we can keep collecting feedback in the meantime. I hope everyone's cool with this.

[2020-07-28 00:33] skorokithakis commented on #559
I fixed it by fixing my env var, so yes and no.

[2020-07-28 13:55] insipx commented on #559
Works for me!

[2020-07-28 16:04] jorgebucaran commented on #579
This is puzzling. Could you try uninstalling all your packages and just trying `fisher add franciscolourenco/done`?

[2020-07-28 17:41] Vaintti commented on #579
That did the trick. And reinstalling the other packages didn't even break it. Really strange. Could it have been something that MacOS update could have broken? Like if an update did something to the file permissions

[2020-07-28 17:52] Vaintti commented on #579
Rebooting and running fisher broke it again. Let me test with only franciscolourenco/done

[2020-07-28 18:00] Vaintti commented on #579
Installing fishpkg/fish-prompt-metro  removed the dependency for some reason

[2020-07-28 18:02] Vaintti commented on #579
It's really inconsistent. Sometimes it removes the humanize-duration dependency by installing something new or updating packages and sometimes it doesn't

[2020-07-28 18:05] jorgebucaran commented on #579
Thank you, @Vaintti, I can confirm there's a bug. Now, I just need to figure out how to fix it!

[2020-07-28 18:14] drcongo commented on #559
I've not run into it again since as I don't really mess with my Fish setup very often. Happy to go with the answers above.

[2020-07-28 18:18] jorgebucaran commented on #559
The issue was probably something to do with incorrectly set env variables, see: https://github.com/jorgebucaran/fisher/issues/559#issuecomment-596461834

For now avoid path variables with a trailing slash (remove the trailing slash).

[2020-07-28 18:18] #559 closed

[2020-07-28 18:44] skorokithakis commented on #559
@jorgebucaran it definitely was, but fisher should tolerate the trailing slash anyway without crashing.

[2020-07-29 16:04] reitzig commented on #558
Are you sure? In https://github.com/fish-shell/fish-shell/issues/5516#issuecomment-457804041, the opposite seems to be suggested. :thinking:

Anyhow, smaller projects will probably not have their completions accepted into fish. If they are at least (GitHub) orgs, they could have their own repos to be compatible with fisher; for your average one-man project, I doubt most would want to have separate

[2020-07-29 16:32] jorgebucaran commented on #558
@faho Have the fish-shell's stance on where command completions should live change in recent years? See https://github.com/fish-shell/fish-shell/issues/5516.

@reitzig If you are interested in this feature, send me a PR and let's discuss it over code! 🙏

[2020-07-29 16:55] faho commented on #558
@jorgebucaran They have not. They've always been: If the upstream project wants to maintain them, it should. That's where the know-how about the thing is. Docker does maintain them.

Whatever you're then using to install it (e.g. your package manager) should also install the completions to vendor_completions.d (or ~/.config/fish/completions if it's a non-root install). Arch manages to do this, for

[2020-07-29 17:05] jorgebucaran commented on #558
@faho That clarifies things a lot for me, thanks!

[2020-07-31 21:53] IlanCosman opened #581 "Dont recursively move contents in plugin"
Consider the following `~/.config/fish` structure:

[code]

Fish doesn't autoload from directories within `functions`, so `foo` is a recognized command, but `bar` is not.

If we have a package with the same structure however:

[code]

Upon adding the package, fisher will place `bar.fish` directly in the functions folder, without the dir folder:

[code]

This seems odd as if the package creator pla

[2020-08-01 03:05] jorgebucaran commented on #581
I don't disagree, but I did this in order to support existing packages that place `*.fish` files inside arbitrary directories under `functions`. This may have been one of those things I did to offer compatibility with Oh My Fish. I'd be happy to simplify things by removing this "feature", but what's the reward?

[2020-08-01 03:12] IlanCosman commented on #581
Well the reward for _me_ is adding fisher support to Tide. I can simply move the `tide_theme` folder into functions and call it a day.

The reward for _you_ I'm not really sure about. I suppose getting back at all those weirdos who did that in the first place 😂 For real though which packages place functions that they want to be autoloaded in subdirectories of functions? That just doesn't make any

[2020-08-01 03:41] jorgebucaran opened #582 "RFC: Fisher 4.0"
Let's talk about Fisher 4.0. What would you like to see? What would you like to go away?

## `_install`, `_update` and `_uninstall` event system

We have `_uninstall` events, but not `_install` or `_update`. Starting with 4.0 plugin authors should be able to reliably know when their plugin is installed, updated, or uninstalled. Related #526 #527 #573.

## ~~Oh My Fish~~

I'd like to remove some OM

[2020-08-01 03:56] IlanCosman commented on #582
Less awk if that's a possibility. The average fish user/scripter like myself isn't likely to know awk syntax etc. which makes it mucrh harder to understand the code and possibly contribute. I know next to nothing about fisher's code, but are there really places where pure fish is insufficient? I think fisher 4.0 should do it's best to use no or very little awk.

[2020-08-01 04:33] jorgebucaran commented on #582
@IlanCosman It's worse without awk for some of the most complex things like parsing the fishfile as the equivalent with fish built-ins could possible 10-fold the amount of code, but part of the idea of upgrading to fish 3.0 is using more of the fish built-ins for simple cases, validating a path, etc. 👍

[2020-08-01 04:43] IlanCosman commented on #582
I really don't feel strongly about this at all, but my brothers, both CS majors, have always cautioned me against brevity over clarity. Personally I would rather use 30 lines of step-by-step fish rather than 5 lines of dense awk, but I understand you may feel differently.

Then again my first programming language was Java so.... 😂

[2020-08-01 05:52] jorgebucaran commented on #582
@IlanCosman Give it 5 minutes. The syntax is not all that different from Java. It's so easy it hurts. And if you already know JavaScript, then you already know AWK's grammar.

Fish built-ins and may change in the future as well, new built-ins or built-in flags can be added, etc. AWK will just keep working. It's churn. Anyway, AWK or not is beside the point. I should be able to use less of it in Ⅳ

[2020-08-01 05:52] jorgebucaran commented on #582
@IlanCosman Give it 5 minutes. The syntax is not all that different from Java. It's so easy it hurts. And if you already know JavaScript, then you already know AWK's grammar.

Fish built-ins may change in the future as well, new built-ins or built-in flags may be added, etc. AWK will just keep on working. It's less churn. Anyway, AWK or not is beside the point. I should be able to use less of it i

[2020-08-01 15:32] IlanCosman opened #583 "main branch compatibility with packages"
With github transitioning to using `main` as the default `default branch`, Fisher should default to `main` first and then `master` if that is not available.

[2020-08-01 16:34] jorgebucaran commented on #583
Done. It would be nice to come up with a different idea for the package in the https://github.com/jorgebucaran/fisher#creating-your-own-package mini tutorial. That didn't age well!

[2020-08-01 16:44] IlanCosman commented on #583
Oh @jorgebucaran I believe you misinterpreted me. I don't care whether fisher uses master or main, but that when installing a package it will accept both. Right now it default to master, but it should also accept main.

[2020-08-01 16:52] jorgebucaran commented on #583
I was planning on doing that someday anyway. But you are absolutely right, support for this soon should land soon, before Fisher 4.

[2020-08-01 16:56] patrickf3139 commented on #582
Wow didn't know you were also a major OMF contributor. That's cool, and thank you for your contributions to that project as well!

I also agree that the parsing that happens should be done using awk. @IlanCosman awk is actually a dying but pretty commonly used tool in the software industry, so I as a software engineer also know how to read and write some awk. It's incorporated into major tools suc

[2020-08-01 17:32] neersighted commented on #583
I would also like to note that install and self-update are broken right now because of the branch name change...

[2020-08-01 21:06] IlanCosman commented on #583
Yah fisher cant be installed right now that should probably be hotfixed.

[2020-08-02 00:29] DivineGod opened #584 "Fisher self-update fails after fisher switched to main branch"
I noticed `fisher self-update` failed with the following:

[code]

Changing `master` to `main` in `~/.config/fish/functions/fisher.fish` resolved the issue.

[2020-08-02 02:32] meetaco commented on #584
https://git.io/fisher redirection have to be fixed as well.

[2020-08-02 05:44] jorgebucaran commented on #464
@norcalli Just a friendly warning that this is going to be reversed soon! Please use a private GitHub/GitLab/BitBucket repo.

[2020-08-02 05:45] jorgebucaran commented on #584
@DivineGod @meetaco Working on it with GitHub as we speak! Thank you all for reporting. 🙏

[2020-08-02 05:49] jorgebucaran commented on #583
Hotfix landing soon. As for the branch issue, people can always install from a different branch or tag using:

[code]

The easiest way to handle this would be to install from `main` by default without a fallback to `master` as users that want to install from master can just:

[code]

[2020-08-02 10:42] #583 closed

[2020-08-02 10:42] #584 closed

[2020-08-02 11:11] jorgebucaran commented on #583
Please upgrade to [3.3.0](https://github.com/jorgebucaran/fisher/releases/tag/3.3.0) and help me identify any bugs. 💯

[2020-08-02 12:11] maparent commented on #584
for the record: your fix allows the next self-update to work, but updating to the version with the fix still needs a hand-edit as proposed by @DivineGod . I suggest leaving the issue open until most users have been over that hump.

[2020-08-02 12:34] ovv commented on #584
Keeping a master branch pointing to https://github.com/jorgebucaran/fisher/commit/c20d1b3ec3b020c1c8846286fb12fd772b8f390f for a bit would allow for seamless self-updates

You can then remove the branch if a few days/weeks/months

[2020-08-02 14:57] jorgebucaran commented on #584
@ovv @maparent @DivineGod Whoops, good point! I restored `master` and it has the latest changes now. It's just a matter of time now. 👍

[2020-08-03 00:55] DivineGod commented on #584
Awesome, thanks for the quick response :)

[2020-08-03 10:44] jorgebucaran commented on #581
@IlanCosman What about packages with one or more `*.fish` files in the root directory?

[code]

Fisher adds them to `functions` right now. I don't think this interferes with this issue, but I wanted to bring it up to make sure. I use this feature for all my packages that are just a single file.

[2020-08-03 11:35] IlanCosman commented on #581
Shouldn't interfere with this issue no.

[2020-08-03 14:51] vyasknellutla commented on #524
While Bundle is a common term used for the program & CLI commands managing packages, projects that have similar tools to bundler usually have the naming convention "<PackageType>file":
- [Bundler](https://github.com/rubygems/rubygems/tree/master/bundler) uses "Gemfile" for ruby gem packages
- [Homebrew-bundle](https://github.com/Homebrew/homebrew-bundle#homebrew-bundle) uses "Brewfile" for homebre

[2020-08-03 20:33] lilyball opened #585 "Consider fetching HEAD instead of main/master"
The release notes for [v3.3.0](https://github.com/jorgebucaran/fisher/releases/tag/3.3.0) says that fisher now defaults to `/main` before `/master` if the tag/branch isn't specified.

This seems weird to me. It should just default to whatever `HEAD` is, because the remote `HEAD` declares the default branch. Not only would this more closely match the behavior of other tools that use git, but it als

[2020-08-04 01:31] jorgebucaran commented on #585
I'm not sure we can do that without git.

[2020-08-04 08:25] igalic commented on #585
this should, nonetheless, be possible

[2020-08-04 08:50] jorgebucaran commented on #585
@igalic Do you happen to know how?

[2020-08-04 13:16] igalic commented on #585
example https://github.com/launchbadge/sqlx/archive/HEAD.zip

[2020-08-04 15:01] #585 closed

[2020-08-04 15:01] jorgebucaran commented on #585
Thanks @igalic @lilyball, that seems to work TIL! 🎉

[2020-08-04 19:02] igalic commented on #585
gitlab example: https://gitlab.com/spritely/goblins/-/archive/HEAD/goblins-master.tar.bz2
gitea example: https://codeberg.org/meena/dotfiles/archive/HEAD.tar.gz

all working.

this should also work on bitbucket… git repos… for hg it's different, for example:

the default branch on hg is called … `default`, and hg's `HEAD` is called `tip`:
so these two:
https://bitbucket.org/runhello/evo/get/defaul

[2020-08-05 15:37] vyasknellutla commented on #582
For parsing & formatting, would an existing configuration file format be up for consideration? Since the `fishfile` is currently a list of repositories, an existing format could allow you to leverage existing packages/commands to parse the configuration file.

Some considerations:
- [TOML](https://github.com/toml-lang/toml): My preference due to simplicity
- [YAML](https://github.com/yaml/yaml-spe

[2020-08-05 15:41] jorgebucaran commented on #582
@vyasknellutla Probably not.

[2020-08-07 18:50] mattgreen commented on #582
Biggest thing I'd like to see in a breaking release is defaulting to installing packages somewhere other than `~/.config/fish`. I'd argue the behavior is surprising enough to warrant being changed even if it means a bit more code. Perhaps `~/.config/fisher` or `~/.config/fish/packages`?

Totally fair.

[2020-08-07 18:56] IlanCosman commented on #582
I would strongly argue against that @mattgreen. Why is this behavior surprising to you? To me this is the only logical way of doing it. When _**I**_ create functions, I put them in the functions directory. When I "install" a fisher "package" it's just a bunch of fish functions that someone else made, and there's no reason they shouldn't go in the usual spot.

[2020-08-07 19:13] mattgreen commented on #582
I advocate separating the user's custom fish config from package contents because a package can inadvertently clobber user-written functions/completions/config snippets of the same name. I've done this before, and I should've read the docs. (Thank goodness for git.) Moving them to another directory protects user-specific configuration. It doesn't fix the fact that packages can clobber each other's

[2020-08-07 19:40] IlanCosman commented on #582
I see what you're saying about clobbering. Perhaps fisher should ask the user about any files that it would clobber?

[2020-08-08 02:02] vyasknellutla commented on #582
Since fisher is installing plain-text fish code, I'm personally fine with it being in ~/.config/fish.

But if it is something we're considering, how about storing it in `$XDG_DATA_HOME/fisher` (by default: `~/.local/share/fisher`) alongside the rest of the data fisher stores?

I can see a case be made if people would like to check in `$XDG_CONFIG_HOME/fisher` (by default: `~/.config/fisher`) as a

[2020-08-08 03:48] jorgebucaran commented on #582
I'm actually considering deprecating `$fisher_path`. What? This won't even allow changing the installation path. How am I going to separate my own user-written functions/completions/snippets with other stuff I install with Fisher?

Let's say I use a rod to fish and you use a net. Fisher is like a rod, but you're trying to use it like a net. I totally get that there are many ways to fish, but Fishe

[2020-08-08 03:52] jorgebucaran commented on #582
So, `$fisher_path` lets you customize the installation path, but allowing you to work around Fisher's usage philosophy you only end up hating Fisher because it doesn't perfectly adjust to how you think of fish. If people are absolutely against Fisher's default behavior, then maybe Fisher is not for them? Anyway, this is just a thought. Notice I didn't even mention it [here](https://github.com/jorg

[2020-08-08 13:40] mattgreen commented on #582
@jorgebucaran, your approach is out of the box but has promise IMO. It is certainly a conceptual shift from the file-centric approach taken by users and utilities (e.g. `stow`). I suspect more of the work will be around educating users than the code itself.

Otherwise it is very clean and I'll give it a try. It might or might not click, but that's not on you.

[2020-08-10 18:43] patrickf3139 commented on #577
Hi, sorry for reopening this. Reopening because #573 was closed.
I just want to add support for doing this because as a fish package author, I want to be able to notify my users of backwards incompatible changes when they upgrade to new versions. Right now, I don't have a non-hacky way of doing this without spamming the user about the backwards incompatible changes.

[2020-08-11 01:02] jorgebucaran commented on #577
@patrickf3139 I'm planning on adding this in Fisher 4. Please share your feedback and comments in #582. 👋

[2020-08-11 01:03] #577 closed

[2020-08-12 15:31] patrickf3139 opened #587 "Terminology inconsistency with package and plugin"
Hi Jorge, I noticed that you recently changed the readme from calling what is being managed from "package" to "plugin". How come you thought plugin would be better? Not sure but I like plugin better anyway.

Anyway, I think you might've forgotten to change it for fisher.fish and so the help docstring is inconsistent with the readme now. Want me to help you rename?

[2020-08-12 15:36] jorgebucaran commented on #587
@patrickf3139 That's right, after advocating for package for a long time, I finally gave in to plugin.

Absolutely, please do!

[2020-08-12 15:36] #587 closed

[2020-08-19 12:06] joseluisq opened #588 "Add support to install plugins from branch names with slashes"
It's not possible to install a plugins from a branch that uses for example [Gitflow](https://github.com/nvie/gitflow) conventions due that branch names can contain slashes and the `_fisher_fetch` function because is [splinting a string based on slashes](https://github.com/jorgebucaran/fisher/blob/c2c091f33ea83cbcb67ac2d8d912c2cfddd5e4a6/fisher.fish#L294-L301) as well, throws an error when is tryin

[2020-08-19 16:03] jorgebucaran commented on #588
@joseluisq Maybe we can rewrite that part and come up with an alternative that uses less code and supports this particular use case. I'll keep this on my radar. Thanks.

[2020-09-07 00:42] pikeas opened #589 "Fisher creates completions/fisher.fish.fish"
Contents are `fisher complete`, identical to fisher.fish. If I delete both files and re-run `fisher`, both files are recreated.

[2020-09-07 05:57] jorgebucaran commented on #589
@pikeas Fisher will create completions under `completions/fisher.fish` if there are no completions yet as you are aware.

[code]

I have no idea how it could create a `fisher.fish.fish` file from looking at that code, but I wasn't able to repro either. If you're still have this issue, try adding some `echo $fisher_path` around that code to see if you discover something. This is most likely a probl

[2020-09-07 05:57] #589 closed

[2020-09-07 05:57] jorgebucaran commented on #589
Fisher will create completions under `completions/fisher.fish` if there are no completions yet as you are already aware.

[code]

I have no idea how it could create a `fisher.fish.fish` file from looking at that code, but I wasn't able to repro either. If you're still have this issue, try adding some `echo $fisher_path` around that code to see if you discover something. This is most likely a probl

[2020-09-07 06:01] jorgebucaran commented on #589
@pikeas Fisher [will create completions](https://github.com/jorgebucaran/fisher/blob/c2c091f33ea83cbcb67ac2d8d912c2cfddd5e4a6/fisher.fish#L21-L24) under `completions/fisher.fish` automatically.

[code]

I have no idea how that could create a `fisher.fish.fish` file from looking at the code, but I wasn't able to repro either. If you're still having this issue, try adding some `echo $fisher_path` ar

[2020-09-09 17:39] IlanCosman commented on #582
Any updates on this? I'm excited to use fisher and trim down my code base 😂

[2020-09-09 18:17] jorgebucaran commented on #582
@IlanCosman Unfortunately, none at the moment, but I really can't wait to start working on this.

[2020-09-09 19:13] andreiborisov commented on #582
What I would like from the new major Fisher release is the ability to reliably use non `.fish` files in packages. The case for the fish-only packages seems somewhat limited for me since it’s often useful to include at least some template or config files in the package.

Now, Fisher downloads and manages them just fine already. The problem is you can’t reliably access those files from fish scripts,

[2020-09-09 20:20] IlanCosman commented on #582
Relevant: https://github.com/jorgebucaran/fisher/issues/581

[2020-09-10 14:08] IlanCosman opened #590 "Emit plugin name uninstall event, not for every single file"
Currently fisher emits an event for every file that it removes called `<nameOfFile>_uninstall`. This seems silly to me as an uninstall is always total. Any one of these events would serve the purpose of a whole plugin uninstall event, so an event should simply be emited called `<plugin>_uninstall`.

[2020-09-10 16:10] IlanCosman opened #591 "Add fisher set command for universal variables"
When fisher adds an `install` event, package authors should transition to setting universal variables on install as opposed to global variables on every shell start--it's the encouraged way of doing things in fish. I'd imagine that many people will use the following pattern:

[code]

[code]

This allows one to set and forget variables, as opposed to remembering to add each one to the uninstall fun

[2020-09-10 17:18] jorgebucaran commented on #590
@IlanCosman Makes sense, but could be considered also an implementation detail. Don't need it, don't use it.

[2020-09-10 17:24] jorgebucaran commented on #591
Hhmm, but it's extremely unlikely that I will add a new command to Fisher. But we can discuss the upcoming install event implementation in detail if you want. Maybe that belongs to a different issue, though? Pinging @joseluisq, as he might want to add his thoughts there as well.

[2020-09-11 07:04] joseluisq commented on #591
No so much to say from my side.
Just to mention that as far as I know current Fisher doesn't provide a proper install event (#573) similar to the uninstall one, so I don't know how Fisher should manage assigned variables at runtime on the uninstall event.
Since @jorgebucaran is working on a next Fisher major, this improvement issue could be related to #582.
I hope I have not misunderstood @IlanCos

[2020-10-06 18:18] IlanCosman commented on #590
Upon further consideration I realize that emitting `<plugin name>_uninstall ` won't work. One can install from a directory that isn't named the same as the github repo/overall plugin.

[2020-10-06 18:18] #590 closed

[2020-10-11 06:13] IlanCosman commented on #591
It seems there isn't much interest in implementing this, and I think it is perhaps too prescriptive and niche.

[2020-10-11 06:13] #591 closed

[2020-10-27 16:04] halostatue opened #592 "`jorgebucaran/bax.fish` no longer installs because of `main` instead of `master`"
[code]

However, `% curl https://codeload.github.com/jorgebucaran/bax.fish/zip/main` works, which means that `fisher add jorgebucaran/bax.fish@main` works for now, but that seems an awful workaround.

[2020-10-27 16:28] jorgebucaran commented on #592
@halostatue Are you using the latest fisher?

[2020-10-27 16:33] halostatue commented on #592
I was not. I removed `@main` from my `fishfile` and reran the import and it worked. Thanks.

[2020-10-27 16:33] #592 closed

[2020-11-02 11:26] jorgebucaran commented on #588
Should be fixed in Fisher 4. Landing this week. 👍

[2020-11-02 11:51] jorgebucaran commented on #579
I'm removing dependencies in Fisher 4.0. Also, `franciscolourenco/done` doesn't depend on `humanize_duration` anymore.

When I first introduced dependencies back in the day, I thought I'd use this feature all the time. Perhaps I was influenced by my background with Node.js The reality is that none of my plugins use dependencies now. I realized that dependencies don't make sense in a global context

[2020-11-02 11:51] #579 closed

[2020-11-02 11:57] jorgebucaran commented on #558
I suggest creating a mirror of [docker completions](https://github.com/docker/cli/blob/master/contrib/completion/fish/docker.fish) somewhere instead, e.g., `reitzig/docker-completions`.

[code]

[2020-11-02 11:57] #558 closed

[2020-11-02 12:01] jorgebucaran commented on #526
Fisher will now fire a `foobar_update` event for plugins being updated.

[2020-11-02 12:03] jorgebucaran commented on #524
I'm going with fish_bundle for fisher 4.0. I hope we're all cool with this.

[2020-11-02 12:04] jorgebucaran commented on #582
@andreiborisov As @IlanCosman mentioned, #581 would allow you to create e.g., a directory inside your plugin's `functions` directory. During the install, fisher would copy this directory to your `~/.config/fish/functions` (together with any `*.fish` functions therein as usual). You can now access this directory and whatever is inside `(status -f)/directory`, `$fisher_path/functions/directory`, or

[2020-11-02 14:27] franciscolourenco commented on #524
What was the arguments for `fish_bundle` instead  of `fish_file`? It seems like the later is a more common name.

[2020-11-02 15:17] jorgebucaran opened #593 "More consistent subcommand names/terminology"
We talk about installing and removing plugins, but use `add` and `rm`. `ls` to _list_, and usually just run `fisher` to update (not exactly #527). This can be confusing. Starting in 4.0, I invoke [fish's law of discoverability](https://fishshell.com/docs/2.7/design.html#disc) and plan to deprecate ~~`add`~~, ~~`ls`~~, and ~~`rm`~~, in favor of `install`, `update`, `list`, and `remove`.

- `fisher

[2020-11-02 15:30] jorgebucaran commented on #524
I admit that I like `fish_bundle`. That was my original plan as that is the title of this issue, but in re-reading your question I realized that `fish_bundle` could never correctly and instantly describe what the file contains, whereas `fish_plugins` would, wherever your background is.

So, I now feel strongly in favor of `fish_plugins` and have a good reason as well.

[2020-11-02 15:51] jorgebucaran opened #594 "Use fisher to install, update, and remove fisher"
Remove `self-update` and `self-uninstall`. Instead use `fisher` to install, update, or remove itself as every other plugin. Inspired by @IlanCosman work on [Scuba](https://github.com/IlanCosman/scuba). #594

This does not only help simplify the code base, but also make bootstrapping fisher more powerful by making the `fisher` function immediately available upon installation. This also allows us to

[2020-11-02 15:58] mattmc3 commented on #524
As I was considering helping with the PR, this discussion leads me to agree that this kind of breaking change makes way more sense to wait for the 4.0 release.

[2020-11-02 16:07] jorgebucaran commented on #524
@mattmc3 Absolutely. I've updated the milestone to reflect this as well. The good news is that 4.0 lands very soon! 💯

[2020-11-02 16:13] jorgebucaran opened #595 "Deprecate the cache system"
Caching makes little sense when fetching and installing a plugin takes milliseconds. Caching is messy and duplicates what we already keep track of in `$fisher_data`, not to mention it has also been the source of multiple bugs. It's true. I'm sunsetting this minor feature in 4.0.

[2020-11-04 16:53] IlanCosman opened #598 "fisher 4.0 fails bootstrap if the directories aren't already there"
Steps to reproduce:

1. `rm -rf ~/.config/fish`
2. exit and restart shell
3. `curl -sL git.io/fisher | source && fisher install jorgebucaran/fisher`
3. `fisher` - works fine because it has been sourced by the previous step
4. exit and restart shell
5. `fisher` - does not work because fisher was never saved in `$__fish_config_dir`

[2020-11-04 18:29] #598 closed

[2020-11-04 18:32] jorgebucaran commented on #598
Thank you, @IlanCosman.

Someday after enough people have upgraded to 4.0 I'll simply move `fisher.fish` to `functions/fisher.fish`.

[2020-11-04 18:49] IlanCosman opened #599 "fisher 4.0 should update plugins on install if they are already installed"
Install should recognize that a plugin is already installed and just update it, instead of telling the user to use the update command. This
1. is more user friendly
2. prevents this annoying issue: `fisher: "jorgebucaran/fisher" is already installed (try fisher update jorgebucaran/fisher)` when I've deleted my `$__fish_config_dir` but not `$fisher_data` and then try to bootstrap again.

[2020-11-04 19:07] jorgebucaran commented on #599
@IlanCosman I'd be cool with this, but I'd like to hear what more people think. It's less code, that's for sure! 👍

Now, why would anyone run `fisher install ...` when they mean to update? We don't `complete` the install command, so you'd have to go out of your way to type it all.

[2020-11-04 19:09] IlanCosman commented on #599
Scripts is why. I suppose you could make people use `fisher update plugin || fisher install plugin`, but that's a bit annoying.

[2020-11-04 19:10] jorgebucaran commented on #599
Likewise, should we default to install when the user attempts to update a plugin that is _not_ currently installed? I can see how updating plugins already installed would make sense, but I'd find the other a bit surprising.

[2020-11-04 19:17] IlanCosman commented on #599
No I don't think so. Install meaning update on already-installed things is pretty standard I believe. `pacman`, `apt`, and `brew` behave this way to my knowledge. Update meaning install on things not-already-installed is not used afaik.

[2020-11-05 04:30] #599 closed

[2020-11-05 06:01] jorgebucaran opened #600 "Prompts' `fish_*.fish` files removed during a full update when swapping prompts"
Prompts' `fish_*.fish` files (`fish_prompt`, `fish_right_prompt`, `fish_greeting`, `fish_title`, `fish_mode_prompt`) get removed during a full update when you try to replace your existing prompt with a new one.

Consider this scenario with this plugins already installed.
[code]
Then edit your `$fish_plugins` like so:

[code]
[code]

Run `fisher update`. Now you have no prompt!

Fisher will install

[2020-11-05 06:03] #600 closed

[2020-11-05 10:25] jorgebucaran commented on #524
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0).

[2020-11-05 10:25] #524 closed

[2020-11-05 10:26] jorgebucaran commented on #526
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #526 closed

[2020-11-05 10:26] jorgebucaran commented on #527
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #527 closed

[2020-11-05 10:26] jorgebucaran commented on #581
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #581 closed

[2020-11-05 10:26] jorgebucaran commented on #593
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #593 closed

[2020-11-05 10:26] jorgebucaran commented on #594
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #594 closed

[2020-11-05 10:26] jorgebucaran commented on #595
Implemented in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-05 10:26] #595 closed

[2020-11-05 10:28] jorgebucaran commented on #582
Fisher [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0) is now available. :tada:

If you are using in Fisher 3.x, you can upgrade to 4.x by running

[code]

For everything else, check out [the new documentation](https://github.com/jorgebucaran/fisher#fisher).

[2020-11-05 10:28] #582 closed

[2020-11-05 18:40] jorgebucaran commented on #588
@joseluisq Actually you can install a plugin@foo/bar/baz now with 4.x, but `update` and `remove` break apart. Handling `/` in branch names is a lot more involved than I expected. Do you want to give it a shot?

[2020-11-09 10:13] jorgebucaran opened #601 "Remove and install when updating instead of replacing files"
Updating a plugin should fetch its latest version, and if that's successful, remove the old and install the new version, instead of trying to overwrite files.

Let's say we install some `my/foobar` which adds a `foobar.fish` and `_foobar_bazinga.fish` to our `functions/`. If we `fisher update my/foobar` when a new version of `foobar` is published that no longer has a `_foobar_bazinga.fish`, Fisher

[2020-11-09 10:13] jorgebucaran opened #602 "Updating shouldn't remove plugin if the host is unvailable"
If `fisher update foo/bar` fails, we shouldn't remove the plugin as that would be the worst possible outcome for the user. Imagine trying to update a plugin and not only failing to do that, but the plugin it's removed. Related #601.

[2020-11-09 10:15] jorgebucaran opened #603 "Can't reliably update local plugins because of symlinks"
Even after #601, Fisher can't reliably remove renamed or deleted files. We could create hard copies in `$fisher_data` instead, like we already do for fetched plugins, but then we'd lose the original link to the plugin (which is why we were using symlinks to begin with).

We need to come up with a new approach that doesn't make local plugins the exception. Maybe we could keep track of plugins and f

[2020-11-09 12:55] jorgebucaran opened #604 "Filter duplicates in argv and fish_plugins"
Although rare, it's possible one might end up typing `fisher install foo/bar foo/bar`, specially when using brace expansions or in scripts. Fisher should weed out duplicates. Right now, Fisher will fetch and install `foo/bar` twice, which is unnecessary.

[2020-11-09 13:01] #601 closed

[2020-11-09 13:01] #602 closed

[2020-11-09 13:01] #603 closed

[2020-11-09 13:01] #604 closed

[2020-11-09 13:02] jorgebucaran commented on #588
Implemented in [`4.1.0`](https://github.com/jorgebucaran/fisher/releases/tag/4.1.0). 🎉

[2020-11-09 13:02] #588 closed

[2020-11-09 14:09] develop7 opened #605 "multiple OMF plugins are getting overwritten"
Repro:

Install multiple OMF plugins containing files named identically, e.g. `oh-my-fish/plugin-direnv` and `oh-my-fish/plugin-rustup`

Expected: plugin files are not getting overwritten

Instead: subj, see output below

[code]

Fisher version: 4.1.0 (previously 4.0.0)

[2020-11-09 14:51] jorgebucaran commented on #605
@develop7 I've decided to stop supporting `init` and `uninstall` files (finally). OMF should've migrated to `conf.d` snippets already, but the project has been effectively dead for years.

If you rely on those plugins, I suggest forking, and fixing them. I can lend you a hand if you don't know how to migrate them.

[2020-11-09 14:52] #605 closed

[2020-11-09 17:39] jorgebucaran commented on #605
@develop7 Take [plugin-rustup](https://github.com/oh-my-fish/plugin-rustup) for example, all we need is to rename `init.fish` into `conf.d/rustup_init.fish` (or whatever you want, the name is not important, but that one is descriptive) and rewrite the code like so:

[code]

That should do it for that plugin.

[2020-11-09 19:27] robdecker opened #606 "Plugins not stored?"
Using `4.1.0`.

It looks like plugins are no longer being stored at `~/.local/share/fisher/name_of_plugin`. This is problematic in the cases where that plugin references some file other than a `function.fish`.

For example, [b4b4r07/enhancd](https://github.com/b4b4r07/enhancd) references several files in its `lib` directory. This plugin looks for files at `~/.local/share/fisher/b4b4r07/enhancd/lib

[2020-11-09 21:46] gazorby commented on #606
@jorgebucaran found something weird while working on b4b4r07/enhancd#139:

Things work properly when setting `fisher_path` to `~/.config/fish`, but when using another location, files in `$fisher_path/conf.d` won't be sourced during shell startup, and some plugins won't be initialized correctly.

Of course I could manually source them in `~/.config/fish/config.fish`, but I'm not sure about side eff

[2020-11-10 00:18] lilyball opened #607 "`fisher list` prints nothing, exits with code 1 until I run `fisher update`"
I just updated from fisher 4.0.0 to 4.1.0 using `fisher update jorgebucaran/fisher`. After this, `fisher list` printed nothing and exited with code 1, and `fisher update jorgebucaran/fisher` a second time printed an error.

I tried downgrading back to fisher 4.0.0 and then ran just a bare `fisher update`. Same issue.

After poking around the source for a bit, I finally just ran `fisher update` by

[2020-11-10 00:20] lilyball commented on #607
(side note: fisher's use of the universal variable might be what finally prompts me to sync my universal variables across machines, since I already sync the rest of the fish config. My sync setup dates back to when fish had per-host universal variable files and kept other various cache files in the config dir, and I've never actually evaluated the universal variables to see if they should be synce

[2020-11-10 00:58] jaminthorns opened #608 "Cannot run `fisher update` within a script"
I want to run `fisher update` from within a bash script, so I do this:

[code]

This breaks when used with [my `fish_plugins` file](https://github.com/jaminthorns/environment/blob/master/config/fish/fish_plugins) because job control is not enabled for non-interactive scripts, as detailed in this issue: https://github.com/fish-shell/fish-shell/issues/5036

Which is being used in `fisher` here: http

[2020-11-10 04:23] jorgebucaran commented on #606
@gazorby If you set `fisher_path`, you must also put it in your fish function path and manually source `conf.d` snippets. I don't recommend using `fisher_path`, it exists for backward compatibility.

[2020-11-10 04:29] jorgebucaran commented on #608
Hey @faho, should we avoid `$last_pid` and use `jobs -lp` instead?

[2020-11-10 04:55] jorgebucaran commented on #606
@gazorby If you set `fisher_path`, you must also put it in your fish function path and manually source `conf.d` snippets. I left you a comment in your PR. Let's continue there.

[2020-11-10 04:55] #606 closed

[2020-11-10 05:12] jorgebucaran commented on #607
You're right, we should do that. I'll work on something.

That's a really interesting idea, but unrelated to this issue. If you would like things to work this way instead, please create a new issue and let's discuss it.

FYI, the behavior of `fisher list` is the same between `3.x` and all `4.x`. Perhaps you were using a really old Fisher that did it differently, but I can't honestly remember Fishe

[2020-11-10 10:27] Marsup opened #609 "Recursively install plugins"
Hello !

I have a small problem upgrading to fisher 4.x but I may be in a niche use case.

Prior to 4.x I used to have a sort of meta plugin that regrouped all my functions and configuration, and also a fishfile that would include all the plugins I typically use, so that on any new environment I would only have to install fisher and my plugin and all would be set up perfectly. 3.x used to apparent

[2020-11-10 11:47] jorgebucaran commented on #609
The way to share your configuration across different systems is to put down the plugins you want in a `fish_plugins` file and save it to your dotfiles repo. Then clone it in every new environment, and run `fisher update` to sync.

Or put everything in a script and run it on every new system:

[code]

Unlike, say, Node.js, where you can have different dependencies on a per-project basis, in fish al

[2020-11-10 11:47] #609 closed

[2020-11-10 14:46] #607 closed

[2020-11-10 14:59] #608 closed

[2020-11-10 17:02] Marsup commented on #609
Thanks for the very detailed answer !

I went with the event system as it would work better for me, but got a few troubles with the install.

Here is a log of what happened:
<details>

[code]

</details>

The weird thing is that the very same thing works if I do it in a shell, or if I do it one by one in the event function, but if I try to install them all in one call I consistently get this. Coul

[2020-11-10 20:26] lilyball opened #610 "`fisher list` should show me both what I have now and what I'll have after `fisher update`"
Right now `fisher list` only shows me what I have installed right now. This doesn't tell me what I will have after running `fisher update`.

Ideally I think the output of `fisher list` would read both the `fish_plugins` file and whatever I have right now, combine (and unique) them, and then show the list with annotations telling me which entries will be removed after `fisher update` and which entr

[2020-11-10 21:03] lilyball opened #611 "Fisher should stop using universal variables for plugin state"
Fisher 4.1.0 uses universal variables to maintain both the list of what plugins are installed, and what paths are installed for each plugin. This is potentially problematic in the scenario where I'm syncing my fish config between two machines, as having the universal variables get out of date may cause fisher to orphan installed files. There are two main scenarios here:

1. If I sync my fish confi

[2020-11-10 21:26] lilyball opened #612 "Fisher should stop installing into $__fish_config_dir"
Fisher writes its files to `$__fish_config_dir` by default. This means it doesn't need to touch any other shell configuration, but it has two downsides:

1. If a plugin has a file named the same as a file I already have, fisher will simply overwrite it.
2. Fisher can orphan installed files due to its reliance on universal variables (see #611).

Fisher does support a variable `$fisher_path` that ma

[2020-11-10 22:35] jnnkB opened #613 "Issues with symlinks in fish config dir"
Thanks a lot for your work on this tool. It's really great.

I use [mackup](https://github.com/lra/mackup) for syncing my config files across different devices. Mackup therefore symlinks `$__fish_config_dir/completions`,  `$__fish_config_dir/conf.d`  `$__fish_config_dir/config.fish` and  `$__fish_config_dir/functions` to an synced folder.

When running fisher update or install I get the following

[2020-11-11 03:01] jorgebucaran commented on #609
@Marsup Are you trying to install a plugin that has no functions, `conf.d` snippets or completions? What plugins are you trying to install? Also, make sure you are running the latest Fisher.

[2020-11-11 03:04] jorgebucaran commented on #610
@lilyball Cool feature idea. Is there any prior art to this? And why should Fisher tell you what you'll have after running `fisher update`?

[2020-11-11 03:25] jorgebucaran commented on #613
Looks like a bug we've had before, so this is likely a regression. Now, I'd like to reproduce this scenario in my machine, but I'm not sure what I should do. Where should I create the symlinks? Thanks.

[2020-11-11 04:00] jorgebucaran commented on #612
It's very unlikely for this to happen in practice because, first, there aren't many plugins to begin with (and even if there were, people don't use hundreds of plugins), and second, plugin authors can reduce the chance of this happening by using strict file naming conventions, e.g., for your `piyopoyo` plugin, prefix `_piyopoyo_` to all your functions. And even if we could prevent this from happen

[2020-11-11 04:05] jorgebucaran commented on #611
@lilyball When you sync your fish config, do you sync everything inside `$__fish_config_dir` or just a few files?

[2020-11-11 06:37] jorgebucaran commented on #611
No, it will not, unless you modify Fisher's state in `$_fisher_plugins` and `$_fisher_PLUGIN_NAME_files`.

As long as you don't modify Fisher's state in `$_fisher_plugins` and `$_fisher_PLUGIN_NAME_files`, Fisher won't orphan any files. The only caveat I can think of is syncing UVARS. But if you omit `_fisher_*` entries from your `fish_variables`, then it should be fine:

[code]

An improvement I

[2020-11-11 06:38] #612 closed

[2020-11-11 07:08] jorgebucaran commented on #610
@lilyball Cool feature idea. Is there any prior art to this? It's not immediately clear to me the reason I'd want this, though. Why should we add this to Fisher?

[2020-11-11 08:21] jorgebucaran commented on #609
@Marsup Hmm, are you trying to install an empty plugin (one without functions, `conf.d` snippets,  and completions)? What plugins are you trying to install? Can I see how you implemented your "meta" plugin? The error could be there.

Also make sure that you're running the latest Fish and Fisher.

[2020-11-11 09:00] Marsup commented on #609
Sure thing, the meta plugin is here: https://github.com/Marsup/dotfiles/blob/master/.fish/conf.d/plugins.fish
I'm not very comfortable with fish scripting yet so it may not be as idiomatic as possible.

I left the for loop in the install event but the error happened when it was written like the uninstall one.

I looked at all the plugins, I don't see any being completely empty, it would likely fai

[2020-11-11 09:30] jorgebucaran commented on #609
@Marsup Your code works, it can be simplified, but there's nothing wrong with it. I was unable to reproduce the same issue either way. Are you still experiencing the problem or did it go away?

Here's what I do:

[code]

[code]

[code]

Notice the error:

[code]

...it's because I am probably missing something you need to use ssh-agent—it's not your issue.

[2020-11-11 09:34] jorgebucaran commented on #609
@Marsup Just an experiment, rename `dotfiles/.fish` to `dotfiles/myfish` and try again.

Also, the `fishfile` is now `fish_plugins`, so rename that as well.

[2020-11-11 09:45] Marsup commented on #609
That is really weird, the very same code I was using yesterday now works, some quirk in github maybe ?

The fishfile can probably disappear now as neither are going to be used anyway. I was hoping to use it in the install and uninstall events to avoid having that variable declaration, but I think there's a path issue that will make it very difficult to achieve.

Case closed I guess as I'm unable t

[2020-11-11 09:52] jorgebucaran commented on #609
@Marsup No worries, if something's broken, it will come up again eventually and I'll fix it.

Ah, that explains why you were using a function.

What about removing your `dotfiles/.fish/conf.d/plugins.fish` file, and just renaming `fishfile` to `fish_plugins`? That way you just need to run `fisher update` to get everything in all your machines?

[2020-11-11 09:57] Marsup commented on #609
That's the 1st thing I tried, it installs my own plugin but not the ones in my fish_plugins file, maybe I wasn't clear in my 1st message.

[2020-11-11 10:09] jorgebucaran commented on #609
Sorry, no, I wasn't clear myself. I mean, what if you do this:

[code]

You could then save that script in a repo or a gist, anywhere you like, then just:

[code]

[2020-11-11 11:54] jnnkB commented on #613
In my fish path completions, conf.d, config.fish and functions are symlinked. In my example to a folder a sync using syncthing.
You could create a test folder in ~, and then copy completions, conf.d, config.fish and functions from $__fish_config_dir into this folder. Then you can link each of them into $__fish_config_dir.

[2020-11-11 15:29] jorgebucaran commented on #613
I did this, then tried everything, install, update, remove, etc., and coulnd't reproduce the issue.

[2020-11-11 18:18] NotAFile commented on #613
I have this issue too. For me:

[code]

[2020-11-11 18:31] jorgebucaran commented on #613
@NotAFile Any idea how I can reproduce this? I tried @jnnkB's idea, but found that Fisher still installs to the real `functions/` directory without issues. Could this be an OS issue? I'm on macOS.

[2020-11-11 18:41] NotAFile opened #614 "fisher 4.0 no longer installs dependencies"
after updating to fisher 4.1 from 3.x, fisher no longer installs dependencies properly. E.g:

[code]

[2020-11-11 18:48] jorgebucaran commented on #614
@NotAFile Dependency support was removed. Want to help port https://github.com/fish-extras/metro to Fisher `4.x`? Just send me a PR to that repo. Otherwise, I'll get around to it in a few days.

[2020-11-11 18:48] #614 closed

[2020-11-11 19:27] NotAFile commented on #614
I have to say, usual caveats about not looking into a gift horses mouth aside, I'm pretty disappointed with how this transition has been handled. Through a normal self-update, without any warning, everything is now unexpectedly broken to the point that I had to recreate my fish config directory from scratch and without even the slightest concern for backwards compatibility, existing users or a smo

[2020-11-11 19:35] jorgebucaran commented on #614
There are very few plugins that use dependencies, and metro was one of them. Guess I forgot about that one. I'll get around to it soon enough.

I think I've covered all possible upgrade paths already, other than no-support for dependencies, what else was broken for you?

[2020-11-11 19:39] NotAFile commented on #614
Ah, I thought it's use was much more widespread. If the feature has been removed because of few users and the themes were forgotten, that makes a lot more sense.

I'm not sure exactly what the other breakage was, but in retrospect it's probably mostly related to the symlink thing. Either way, after the upgrade, I no longer had a `fisher` command, and `z` was throwing wild errors everywhere. I'd ha

[2020-11-11 19:44] jorgebucaran commented on #614
It's so odd you didn't have a `fisher` command. I think I am handling all possible migrations [here](https://github.com/jorgebucaran/fisher/blob/5368e728631d3e885b1d4de843384666a16e2861/fisher.fish#L176-L200). Is this related to #613? In that case, maybe consider helping me, as I haven't been able to reproduce it in my environment, and I won't be able to fix it until I do.

[2020-11-11 19:55] NotAFile commented on #613
Can reproduce it with the following in a fresh `debian` container:
[code]

Result:

[code]

[2020-11-12 00:29] denningsrogue opened #615 "Fisher update error"
The command "fisher update" has started producing this error:

[2020-11-12 04:17] jorgebucaran commented on #615
Hey, @denningsrogue. That part is [here](https://github.com/jorgebucaran/fisher/blob/5368e728631d3e885b1d4de843384666a16e2861/fisher.fish#L31-L33). You don't have a `fish_plugins` file, so Fisher doesn't know what you want to update.

Do you remember how you upgraded to `4.x`?

[2020-11-12 04:46] denningsrogue commented on #615
I ran top grade this morning.

Sent from my iPad

[2020-11-12 05:05] denningsrogue commented on #615
Where would the config file have gone and where should it be.

Sent from my iPad

[2020-11-12 05:16] jorgebucaran commented on #615
What command did you enter exactly?

It should've been moved to `$__fish_config_dir/fish_plugins`, but if it didn't, then I probably missed something in the migration script.

[2020-11-12 05:29] denningsrogue commented on #615
Topgrade is a rust cargo package that updates using a variety of tools. It ran the command fisher upgrade I think. If I run fisher list I get the plugins I installed.  How do I regenerate the plugins file. Reinstall the plugins?

Sent from my iPad

[2020-11-12 05:39] denningsrogue commented on #615
Sorry meant to say Topgrade ran fisher update.

[2020-11-12 05:47] denningsrogue commented on #615
I reinstalled the packages I had identified using “fisher list” and now “fisher update” works.

[2020-11-12 05:47] denningsrogue commented on #615
Thank you for your help.

[2020-11-12 14:10] #615 closed

[2020-11-12 16:28] hajdamak opened #616 "Fisher unnecessary modifies fish_plugins"
Let's say we are setting up new system using versioned dotfiles. Fisher is not installed yet but is listed at the beginning of the versioned `fish_plugins` file. There are other plugins after it. If we call
[code]
fisher changes `fish_plugins` unnecessary by moving it's entry to the end.

[2020-11-12 16:30] jorgebucaran commented on #616
@hajdamak You want Fisher to be the first entry in the file?

[2020-11-12 16:32] hajdamak commented on #616
I just don't want fisher to change config file unnecessary.
Fisher seems logical as first item on the list though.

[2020-11-12 16:34] zoomido commented on #614
I'm having problem with enhancd as well: https://github.com/b4b4r07/enhancd
I've been struggling with this and googling for hours now trying to debug why that plugin generated an error. Seems that the dependencies are missing and it's working fine on my older machine.
Is there a quick fix here?

[2020-11-12 16:41] jorgebucaran commented on #614
@zoomido Depends on https://github.com/b4b4r07/enhancd/pull/139.

[2020-11-12 16:45] jorgebucaran commented on #616
@hajdamak I wasn't able to reproduce this. What's in your `fish_plugins` file?

[2020-11-12 16:46] jnnkB commented on #613
Yeah your're right. It's not problem on macOS. You can test it using

[code]

This does work on macOS but on linux you get this error:

[code]

[2020-11-12 16:48] hajdamak commented on #616
@jorgebucaran
[code]

[2020-11-12 16:51] jorgebucaran commented on #616
@hajdamak Still can't reproduce. Are you using the latest Fisher? Anything else you can share with me?

[code]

[2020-11-12 17:02] jorgebucaran commented on #613
@jnnkB Is there a clean way to do that on Linux?

[2020-11-12 17:02] hajdamak commented on #616
Very strange, I was able to reproduce it many times on two machines. No I have removed `fish_variables` and problem is gone.

[2020-11-12 17:05] jnnkB commented on #613
I don't really know. You saw my weird fix in issue message.

[2020-11-12 17:12] jorgebucaran commented on #616
@hajdamak Were you using `4.0`? We would query plugins in `$fisher_data` using a glob. This would have returned the list of plugins in alphabetical order.

In `4.1`, we use UVARS to save Fisher's state instead, so the original install order should be preserved when we print the variable into `fish_plugins`.

[2020-11-12 17:12] #616 closed

[2020-11-12 17:17] jorgebucaran commented on #613
@jnnkB Thanks, what Linux is this?

[2020-11-12 17:27] hajdamak commented on #616
I was using previous version, not sure which one. But problem apeared on 4.1 and kept happening until I have removed vars file.

[2020-11-12 17:36] jorgebucaran commented on #616
Maybe that was it. I'm going to state the obvious, but if I `fisher remove foo/bar` and re-install it later after having installed other plugins, the order will change. Other than that, I can't see this happening again in `4.1`. I'll keep an eye on it, though!

[2020-11-12 17:55] ngmoviedo opened #617 "Fisher does not correctly add key bindings from key_bindings.fish files"
When installing plugins from Oh-my-fish!  containing a key_bindings.fish file, the bindings get temporally sourced, but stop working upon restart or when opening a new shell. I've noticed that the don't get added to the fish_user_key_bindings function nor to conf.d directory.
Manually adding the key bindings is simple enough, but I understand that this is not the expected behaviour.
I've have expe

[2020-11-12 17:57] hajdamak commented on #616
If plugin is added/removed all plugins are not reordered but rather plugin is removed from the list or added somewhere (end?). Right?
Thank you for your help.

[2020-11-12 18:03] jorgebucaran commented on #617
Is the problem this one: plugin https://github.com/oh-my-fish/plugin-sudope?

[2020-11-12 18:04] jorgebucaran commented on #616
@hajdamak Yes, only that plugin.

[2020-11-12 18:04] jorgebucaran commented on #616
Yes, only that plugin.

[2020-11-12 18:16] #617 closed

[2020-11-12 18:27] ngmoviedo commented on #617
Ah, alright. Seems like it was a misunderstanding on my part. I thought that fisher was supposed to source those files in some way, but I see now how that could be problematic. I'll probably do a PR for those plugins when I have the time.
Thanks!

[2020-11-12 18:29] jorgebucaran commented on #613
Could I get a confirmation that this is the problematic line?

https://github.com/jorgebucaran/fisher/blob/dc63a83c78f92bdc4d5bb0c8949bff519f73217e/fisher.fish#L144

@NotAFile @NotAFile Can

[2020-11-12 18:29] jorgebucaran commented on #613
Can I get a confirmation that this is the problematic line?

https://github.com/jorgebucaran/fisher/blob/dc63a83c78f92bdc4d5bb0c8949bff519f73217e/fisher.fish#L144

[2020-11-12 18:32] jorgebucaran commented on #617
@ngmoviedo Fisher will source those files, but it will not move them to `conf.d` as it used to do in `3.x`, thus the key bindings won't be available in future sessions. Cheers.

[2020-11-12 22:33] NotAFile commented on #613
I am curious how exactly it behaves under macOS as the requested behaviour is kind of ambigous. Does it overwrite the symlink with a folder? Or does it place the files in the linked folder destination? (second would probably be desirable, in this specific instance...)

Either way, that line is the problem, yeah. The `cp -r $source/functions $fisher_path` will try to create a directory named `funct

[2020-11-13 03:01] jorgebucaran commented on #613
@NotAFile I am curious how exactly it behaves under macOS...

Same way it behaves on Linux when the destination is not a symlink. It places the files in the destination.

[2020-11-13 05:19] nickeb96 opened #618 "Bring Back Documentation on Plugins"
It looks like the documentation in the readme on how to create your own plugins was removed.  Specifically the content under "What is a plugin?" and "Creating your own plugin" was very helpful in the past, but is no longer there.

It might be helpful to return the content for people who want to know how create their own plugins.  It was last present in version 3.3.2, but it's likely that some of t

[2020-11-13 05:45] jorgebucaran commented on #618
@nickeb96 Sure thing, I'll bring it back.

No longer supported. My reasoning is, few plugins actually use dependencies. No plugins listed on https://git.io/awesome.fish use dependencies. Some do, but those are mine and I am currently rewriting them. In fish all your dependencies are global dependencies, so, if your plugin requires, let's say, `piyo/poyo`, just tell the user to install `piyo/poyo`

[2020-11-13 05:46] jorgebucaran commented on #618
Sure thing, I'll bring it back.

I removed this feature because, frankly, few plugins actually ever used dependencies. No plugins listed on https://git.io/awesome.fish use them. Now, some do, but those are actually mine (and I am currently rewriting them). In fish all your dependencies are global dependencies, so, if your plugin requires, let's say, `piyo/poyo`, just tell the user to install `piyo

[2020-11-13 08:03] jorgebucaran commented on #590
@IlanCosman As you probably already noticed, we should consider this a feature, not an implementation detail, since we want to allow plugin authors to name their files (which content events) freely.

[2020-11-13 08:12] jorgebucaran commented on #613
Probably fixed by f4b32b3. Please install Fisher again and let me know if the patch works for you.

cc @NotAFile @jnnkB @aureooms

[2020-11-13 08:12] #613 closed

[2020-11-13 08:24] jorgebucaran commented on #591
@IlanCosman I was just revisiting this.

You have a point, but we don't want to encourage plugin authors to do anything other than the bare minimum, e.g., put their `fish` function files under `functions`, use `conf.d` for snippets, key bindings—that sort of thing.

We should also strive to minimize framework lock-in.

[2020-11-13 09:33] jorgebucaran opened #619 "Fisher 4.x upgrade guide"
### If you're new to Fisher

See the [installation instructions](https://github.com/jorgebucaran/fisher#installation).

### If you're upgrading from `3.x`

Run

[code]

### What next?

Congratulations! You're on `4.x` now.

Next time you need to upgrade Fisher, run

[code]

Or `fisher update` to update everything (including Fisher). See also #596

---

For more information, see the [`4.0.0` releas

[2020-11-13 09:38] jorgebucaran opened #620 "How do I upgrade to Fisher 4.x?"
If you're upgrading from Fisher `3.x` or older, run:

[code]

For more information, see the [`4.0.0` release notes](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0).

[2020-11-13 09:38] #620 closed

[2020-11-13 10:33] jnnkB commented on #613
Seems to work. Thanks!

[2020-11-13 12:05] #618 closed

[2020-11-15 05:30] patrickf3139 opened #621 "How to automate fisher plugin installation"
Hi @jorgebucaran, love what you did with fisher 4.0! The code feels more lightweight and the features sharper.
My only small issue is I no longer know what the best way to automate installation of fisher and fisher plugins is.
With 3.0, all I had to do was
[code]
Now that the fishfile is gone, I am stuck. I can't just check in `fish_variables` because that actually create the files being used. I'm

[2020-11-15 05:45] jorgebucaran commented on #621
Not gone. Just [renamed to `fish_plugins`](https://github.com/jorgebucaran/fisher#using-your-fish_plugins-file).

`fish_variables` is handled by Fish, not by Fisher. I don't think we should be messing with that file.

[2020-11-15 06:02] patrickf3139 commented on #621
Oh my bad, sorry I should have known that. I was involved in that discussion but thought you abandoned it when you switched to universal variables. Thanks!

[2020-11-15 06:02] #621 closed

[2020-11-15 18:49] domoritz opened #622 "`fisher: not enough arguments for command: "update"`"
Running `fisher update`.

fisher, version 4.1.0

[2020-11-15 23:43] edouard-lopez opened #623 "4.1 isn't fish 2.7.1 comptaible"
**related:** rafaelrinaldi/pure#228, rafaelrinaldi/pure#229

---

Pure [CI builds are failing with `2.5`, `2.6` and `2.7.1`](https://travis-ci.org/github/rafaelrinaldi/pure/jobs/742982913#L193-L194) due to the use of `||` syntax in the `4.1` install script.

For `pure`, I'm suggesting to increase minimal supported version to `2.7.1` (cf. https://github.com/rafaelrinaldi/pure/issues/123#issuecommen

[2020-11-16 02:46] jorgebucaran commented on #622
@domoritz Do you remember how you upgraded to `4.x`? This could be a failed migration to `4.x`.

[2020-11-16 03:02] jorgebucaran commented on #623
Fish `3.0` and the answer is probably no, but I'm curious, what's so particular about `2.7.1`? Why not `2.3.1` or `2.3.0`?

[2020-11-16 03:08] domoritz commented on #622
I ran `fisher self-update`.

What's the bets way to fix the installation?

[2020-11-16 03:10] jorgebucaran commented on #622
@domoritz That's the correct way to upgrade. Did you have `fishfile`?

To fix the installation right now, just install Fisher:

[code]

[2020-11-16 03:10] #622 closed

[2020-11-16 03:15] domoritz commented on #622
Yes, I did. Here is the diff of my dotfiles.

<img width="1627" alt="Screen Shot 2020-11-15 at 19 14 12" src="https://user-images.githubusercontent.com/589034/99208945-c8989880-2776-11eb-9668-c2936e861569.png">

`fisher install jorgebucaran/fisher` worked btw. Thank you for the easy fix!

[2020-11-16 03:18] jorgebucaran commented on #622
@domoritz Did you rename `fishfile` to `fish_plugins` before running `fisher self-update`?

And were you using a customized `$fisher_path`?

[2020-11-16 03:38] jorgebucaran commented on #622
@domoritz Did you upgrade to `4.x` from `2.x` rather `3.x`?

[2020-11-16 03:42] domoritz commented on #622
I don't use a custom `$fisher_path` but I may have renamed the file manually (don't remember exactly). I'm fairly sure I was using Fisher (`3.x`) beforehand.

[2020-11-16 03:47] jorgebucaran commented on #622
@domoritz Interesting. This information should help me debug this specific migration scenario and patch Fisher to prevent faulty migrations in the future. Thank you!

[2020-11-16 17:18] jorgebucaran commented on #623
Looks like Pure is going to set their lowest supported version to Fish `3.0`, which is great, so we can also close here. 💯

Thank you, @edouard-lopez!

[2020-11-16 17:18] #623 closed

[2020-11-17 02:06] mattgreen opened #624 "Plugin installation can clobber existing files"
Hi,
I had a user file an [issue](https://github.com/mattgreen/lucid.fish/issues/6) where they installed a package I wrote and then didn't realize it'd clobber their existing `fish_prompt.fish`. It'd be nice if Fisher warned users that it was about to overwrite an existing file that was outside the current package. (Though I realize the last part of that is non-trivial.)

[2020-11-17 03:39] jorgebucaran commented on #624
@mattgreen Maybe we can copy any existing prompt files somewhere, and restore them after you uninstall the new prompt? We already attempt to restore `fish_prompt` with the default Fish prompt here:

https://github.com/jorgebucaran/fisher/blob/4ff6128860500f9cc39e16803f045e89d2a4a648/fisher.fish#L165

[2020-11-17 03:40] jorgebucaran commented on #624
We could copy any existing prompt files somewhere, and restore them after you uninstall the prompt. We already attempt to restore `fish_prompt` with the default Fish prompt here:

https://github.com/jorgebucaran/fisher/blob/4ff6128860500f9cc39e16803f045e89d2a4a648/fisher.fish#L165

[2020-11-17 08:05] jorgebucaran commented on #624
This is a non-trivial issue. Asking the user _Overwrite "$file"?_ isn't great, as it would effectively only half-install the plugin if the user doesn't want to overwrite. We may also need to introduce a `--yes` or `--overwrite` flag, since people may be using Fisher in automated scripts.

Here are some of the options we have, all with their own cons and pros:

1) Do nothing. Users should be carefu

[2020-11-17 13:39] kopischke commented on #624
Having run into that exact issue recently (I forgot fish prompts are just a function and overwrote my old prompt via fisher; I’m happy with the new one, so no harm done, but that is not necessarily the case for everybody in my situation)m, I’d be in favour of solution two.

Solution one means mistakes may delet user data that might or might not be easily restored (if it is another plugin, easy eno

[2020-11-17 15:06] ibeex opened #625 "v4 b4b4r07/enhancd don't work"
install plugin b4b4r07/enhancd

[code]
after manually  creating dir `/.config/fisher/github.com/b4b4r07/` and pulling https://github.com/b4b4r07/enhancd plugin works

[2020-11-17 15:12] jorgebucaran commented on #625
Depends on https://github.com/b4b4r07/enhancd/pull/139.

Also, make sure to upgrade to the latest Fisher (https://github.com/jorgebucaran/fisher/issues/620).

[2020-11-17 15:12] #625 closed

[2020-11-17 16:40] IlanCosman commented on #624
Scuba used solution number three, and it's the one I would advocate for. In Scuba, the installation would warn you if you were about to clobber something and then ask if you want to continue. So essentially the same thing, except with a `[y/N]` instead of having the user run the command again with `--force`.

[2020-11-17 18:34] patrickf3139 commented on #624
I'm of the opinion that Fisher just alerts the user with a message during installation that files are being clobbered and get on with it. Too much code to add/maintain/debug to do anything more but this gives the user at least a chance at debugging it themselves.

[2020-11-18 02:30] joallard commented on #624
As a first step, I would be okay with aborting when a file that Fisher doesn't own would be overwritten. That sounds "good enough" to me.

Like with a message like this:
[code]

If I look at some prior art, I can think of `brew link`:

[code]

(`brew link --force` also exists, iirc)

I am also reminded of various generators or installer that prompt something like this:

[code]

It's a pretty commo

[2020-11-18 03:25] jorgebucaran commented on #624
@joallard I have two questions for you.

1. Why would you install Lucid if you already had a custom prompt?
2. What did you expect would happen?

I'm just looking to gain more insight into the situation and possibly come up with a fix quickly. Thanks!

[2020-11-18 14:35] kopischke commented on #624
You weren’t addressing me, but seeing that was exactly what I did, I’ll jump in with an answer: I forgot for a moment how fish prompts work and thought I’d have two options between which I could switch. This kind of “ah, drat, how silly” situations is what I meant with “lapses in awareness”.

If users would be perfectly aware of what they did all the time, execute their intent flawlessly all the t

[2020-11-18 15:04] mattgreen commented on #624
Answering only for myself here.

This presumes I remember that I have a custom prompt. Given that the current state of the world, I wouldn't expect users to remember all of the custom functions they have. I use fish because I can mostly forget about it. Generally, tools should put up guard rails before they behave destructively, and perform their function quietly otherwise.

I'd expect fisher to s

[2020-11-18 20:36] faho commented on #624
(@jorgebucaran asked me to weigh in)

There are numerous approaches here:

- Just clobber it (the status quo), with a message
- Backup the old file
- Ask to backup/clobber?
- Separate the user's function directory from the plugin one via $fish_function_path
- Stop and tell the user to deal with it

Most of these are *acceptable* (if done well - you want to check *before installing* if files exist,

[2020-11-19 16:53] jorgebucaran commented on #624
We only need to save/back up the user's prompt once. Fisher-managed plugins/prompts are managed by... Fisher.

Of course we should restore the user's prompt after they remove the whatever prompt they installed with Fisher.

When creating the backup, we print a message to tell the user what we just did and that to restore their old prompt, they just need to uninstall the new prompt.

If we choose t

[2020-11-19 20:26] kopischke commented on #624
That might be a bit too narrowly scoped a scenario. For instance, what happens when the user installs a second prompt via Fisher, losing the previously Fisher installed one … and that had been customised (don’t ask me what made me imagine that case, \*cough)? How would restoring the fish default before the first Fisher installed prompt help? I think we need a to focus less on the prompt scenario a

[2020-11-20 02:55] jorgebucaran commented on #624
Fisher tracks plugins/files, so the same scenario described above applies for any plugin that would clobber files other than `fish_prompt`.

Nice horror story. Trying to deal with users tampering with installed plugins is non-trivial and out of the scope of this feature. Don't do that.

I think we're down to abort and backup. I'll go ahead and start working on both features to see which one feels

[2020-11-20 07:28] kopischke commented on #624
My point exactly. Glad to see we agree on this.

I think we should be down to **the nicest way to abort**, because the point of my horror story was that there is no way for Fisher to do backup reliably. “We saved some state that might or might not be relevant to you, so we went ahead and overwrote your files” feels … wrong.

[2020-11-20 10:47] jorgebucaran commented on #624
Remember that Fisher already keeps track of all your plugin files (#603). So, it's not hard to back up or prevent clobbering of _user_ files as we already know which files are ours. Whether we decide to abort or back up, the implementation and implications are about the same, because we already decided to draw the line at "user files", i.e., not our files.

[code]

We can already reliably create b

[2020-11-20 11:07] kopischke commented on #624
I guess this is a question of workflow: stop the user before they clobber their files, or offer them an option to restore them when it happens (we are talking about backing up the actual file state, yes? Not just saying “you can reinstall from X”? Because that would not work out well in all cases…). I find the first more pleasant UX, but the second far less error prone.

Maybe a stupid suggestion,

[2020-11-20 11:20] jorgebucaran commented on #624
As long as we can avoid losing your data, everyone wins. I'll write the code and see how it goes. 🙌

[2020-11-20 17:41] jorgebucaran commented on #611
Should one even attempt to sync universal variables? 🤔

[From the Fish docs](https://fishshell.com/docs/current/index.html#more-on-universal-variables):

We could interpret that as "don't sync uvars", as it would require replacing `fish_variables` with your own.

[2020-11-20 17:47] PatrickF1 commented on #610
This is similar to https://github.com/jorgebucaran/fisher/issues/499.
Re: Prior art. Check out how Ruby's bundler does it. When it's updating to a new version for a dependency, it tells you the old version and what the new version is. And if there's no change it says something like "already installed".

[2020-11-21 04:09] joallard commented on #624
Some great points have been made, so I'll pitch in my own answer for myself, actual case: 😄

I saw it on some page and thought it'd be cool to try out. I thought "Hey, maybe this works even better for me and needs less maintenance than my own improvised code, let's try it, what's the worse that could happen, it's just installing a plugin"

Install plugin, it hooks somewhere and replaces my prompt

[2020-11-21 04:16] jorgebucaran commented on #624
@joallard Thanks for sharing your story. You thought that `fisher install` would only change the current environment. Peculiar. That could be a cool feature request, though: `fisher try foo/bar` or something. 😉

[2020-11-21 04:37] jorgebucaran commented on #624
Thanks for sharing your story. This is very much in line with the fix I'm working on for this issue. Installing Lucid should save your prompt somewhere. Uninstalling Lucid should restore it.

[2020-11-23 08:09] x7a opened #626 "Can't install Fisher: source: Not a directory"
Hey. When I try to install Fisher, using `curl -sL git.io/fisher | source && fisher install jorgebucaran/fisher` command, I get the following:
[code]
It's caused because I tried to reinstall Fisher (by removing it and installing it again), but I can't install it. I think there are some leftovers, but I'm not sure where to find them.
I'm on macOS High Sierra 10.13.6.

[2020-11-23 08:49] jorgebucaran commented on #626
What did you do exactly? Do you remember? Also what was your motivation to do it?

Can you try to install it again from a different shell session?

Are you using the latest Fish?

@x7a

[2020-11-23 09:08] jorgebucaran commented on #626
@x7a I need as much info as you can give me. What did you do exactly? Do you remember? What was your motivation to do it?

Did you run `curl -sL git.io/fisher | source && fisher install...` from Fish or from a different shell? Are you using the latest Fish? Do you have a Fish directory? Is your Fish directory a symlink or any directories under it?

What's in your environment? Run `set`.

Try to in

[2020-11-23 09:14] x7a commented on #626
@jorgebucaran thanks for your effort.
I've fixed it! The problem was in my `config.fish`. I have a fish script dedicated to set XDG specification variables and other aliases required to move most of my dotfiles to `.config`, `.cache` and `.local/share`. And so I set my `$fisher_path` to `$XDG_DATA_HOME/fisher` (`set -gx fisher_path $XDG_DATA_HOME/fisher`) before actually sourcing that fish script.

[2020-11-23 09:15] x7a commented on #626
@jorgebucaran thanks for your effort.
I've fixed it! The problem was in my `config.fish`. I have a fish script dedicated to set XDG specification variables and other aliases required to move most of my dotfiles to `.config`, `.cache` and `.local/share`. And so I set my `$fisher_path` to `$XDG_DATA_HOME/fisher` (`set -gx fisher_path $XDG_DATA_HOME/fisher`) before actually sourcing that Fish script.

[2020-11-23 09:15] jorgebucaran commented on #626
@x7a Glad to know! Could you share (sans any personal information) the script where you set those variables? I still believe Fisher shouldn't have failed this way.

[2020-11-23 09:18] x7a commented on #626
@jorgebucaran sure.
[code]

[2020-11-23 09:23] jorgebucaran commented on #626
@x7a Do you have a `#! /bin/sh` in your `config.fish`? That doesn't look correct.

[2020-11-23 09:28] x7a commented on #626
@jorgebucaran I have it in most of my Fish scripts. But I was wondering if `#! /usr/bin/env fish` wouldn't be a better idea. Anyways, I don't think that was the key problem as I saw `#! /bin/sh` in many other Fish configurations. The key problem was that I set `$fisher_path` to `$XDG_DATA_HOME/fisher` before the `$XDG_DATA_HOME` was actually set. So in the end my `fisher_path` variable was empty.

[2020-11-23 09:38] jorgebucaran commented on #626
I might be able to improve Fisher with this new knowledge. Like checking if `$fisher_path` exists before attempting to

https://github.com/jorgebucaran/fisher/blob/4ff6128860500f9cc39e16803f045e89d2a4a648/fisher.fish#L138-L140

Thanks again! 🙌

[2020-11-23 09:42] x7a commented on #626
@jorgebucaran no problem. And one more question. Do you think `#! /usr/bin/env fish` is a better practise?

[2020-11-23 10:26] jorgebucaran commented on #626
@x7a You don't need that line in your `config.fish` at all! So, feel free to remove it.

I also suggest replacing `export` with `set -gx` and _not_ using `alias`. Instead, you can create a function or an [abbreviation](https://fishshell.com/docs/current/cmds/abbr.html).

[2020-11-23 13:22] #626 closed

[2020-11-23 13:45] x7a opened #628 "Fisher doesn't automatically load when $fisher_path is custom"
@jorgebucaran hey again. I have another problem regarding Fisher. My `$fisher_path` is custom and is set to `~/.local/share/fisher`. Because of this, `fisher.fish` isn't in `~/.config/fish/functions` and so it doesn't load automatically. I have to manually source `~/.local/share/fisher/functions/fisher.fish` to load Fisher. I'm pretty sure it works like that. But I'm not sure if it's supposed to b

[2020-11-23 14:00] #628 closed

[2020-11-23 18:34] jorgebucaran opened #629 "Multiple prompts?"
No, it's not really possible to use multiple prompts at the same time, but what happens if you do this:

[code]

Fisher will install Tide, then Lucid. Problem? Yes.

This is not usually an issue, because a good plugin will use a prefix like `_foobar_` to "scope" functions and variables, but some special functions like `fish_prompt`, `fish_right_prompt`, etc., can't be named that way. This issue is

[2020-11-23 20:37] nirvdrum commented on #593
Are the old commands still supposed to work? The [4.0 release notes](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0) say `fish add` was deprecated, but using it errors out with "fisher: unknown flag or command: "add" (see `fisher -h`)".

[2020-11-24 03:59] jorgebucaran commented on #593
@nirvdrum I suppose you are using the latest Fisher? `add` and `rm` were deprecated in 4.0, and no longer work on 4.1. 😉

[2020-11-24 18:41] nirvdrum commented on #593
Okay. I thought maybe it was a bug because there's no mention in the 4.1 release notes about them being removed. Deprecating in a major version and then removing in the very next minor version (released only five days later) caught me off-guard. I'll update my Ansible config to lock down the fisher version better.

[2020-11-24 19:15] jorgebucaran commented on #593
Good point. [Just added](https://github.com/jorgebucaran/fisher/releases/tag/4.1.0) a note. 👍

[2020-11-24 20:40] thernstig commented on #611
I also now noticed that fisher 4.1 sets universal variables such as `SETUVAR _fisher_jorgebucaran_2F_fisher_files:/home/myuser/\x2econfig/fish/functions/fisher\x2efish\x1e/home/myuser/\x2econfig/fish/completions/fisher\x2efish`

This suddenly broke my machine syncs, and most likely many others. Notice how it contains the full path to my home directory which varies through machines. Anyone using [d

[2020-11-24 21:30] jorgebucaran commented on #611
@thernstig Well spotted! We need to store each file's relative path without the prefix and append `$fisher_path` whenever we use `$_fisher_PLUGIN_NAME_files` to access the files. Do you want to give this a shot and send me a PR?

[2020-11-25 12:27] thernstig commented on #611
@jorgebucaran I should be the good citizen and do this, but I have no time currently, as I have too many other obligations. I apologize for this beforehand as I feel I should help out since I am using your great tools.

[2020-11-25 18:21] mattgreen commented on #629
The issue extends beyond `fish_prompt.fish` to any file that might be contained in two plugins. Suppose plugin A uses a dependency called `left-pad.fish`, and plugin B does as well. When B is installed, what happens to `left-pad.fish`? When A is removed, does it remove `left-pad.fish` and leave B inoperable?

Two potential approaches:

1. View a plugin plus all of its dependencies as a set of file

[2020-11-25 19:23] jorgebucaran commented on #629
Fish doesn't have other scope but global, so a good plugin will use a prefix like `_foobar_` to "scope" functions and variables.
Even using the overlay approach, (fyi that's how Fisher 1.x used to work), you'd still run into the same issue I described above where Tide's `fish_right_prompt` would coexist with Lucid's `fish_prompt`, thus you'd still want to uninstall Tide before installing Lucid. Th

[2020-11-25 19:52] IlanCosman commented on #629
I'm not sure as to this specific scenario, but in general I'd say it's okay to let users screw their configuration up with bad choices. Protecting the user from every issue that could arise will cause massive code expansion. This case is fairly common though so idk.

[2020-11-26 03:53] nickeb96 opened #630 "Suggestion – Temporary Workaround for OMF Compatibility"
I think I have a solution to the OMF compatibility problem.  Currently Fisher puts all *.fish files from the root of the repository to .config/functions.  From what you've talked about [here](https://github.com/laughedelic/pisces/pull/26#issuecomment-726501054), it sounds like this behavior is legacy and will eventually be removed.

If Fisher removed this legacy feature and started ignoring files

[2020-11-26 05:30] jorgebucaran commented on #630
This will break all plugins that place files outside `functions/`, e.g. [bobthefish](https://github.com/oh-my-fish/theme-bobthefish).

[It's going to take a lot of patience and time](https://www.youtube.com/watch?v=_71w4UA2Oxo) before we can even migrate `fisher.fish` to `functions/fisher.fish`, as we don't know how many users are still using `3.x`.

That's because of the lamentable decision I mad

[2020-11-26 05:30] #630 closed

[2020-11-26 07:04] nickeb96 commented on #630
@jorgebucaran the suggestion isn't to fast track ignoring *.fish files outside of functions/.  Instead I'm suggesting that you keep the legacy support that puts *.fish files in the plugin root to .config/fish/functions, **except** if the file is uninstall.fish (and maybe key_bindings.fish).

So the only difference would be that plugin/uninstall.fish **would not** be moved to .config/fish/functions

[2020-11-26 08:13] jorgebucaran commented on #630
Just playing the devil's advocate here. What if there was a plugin named `foo/uninstall`, `foo/key_bindings` or `foo/init` that doesn't use a `functions` directory? I guess they're out of luck!

Seriously, though, which `init`/`uninstall`-based OMF plugins are in fact "popular", or actively maintained? I'm really  curious.

[2020-11-26 14:36] nickeb96 commented on #630
The first plugin that comes to mind that still uses uninstall/init is Pisces, and it’s a pretty popular plugin, but I’m sure there are others.

It’s true that an uninstall function in the root wouldn’t be loaded as a function, but it wouldn’t be loaded as a function in OMF either, so I don’t think we have anything to worry about.

If a plugin really needed to create a function called uninstall, th

[2020-11-29 19:10] jorgebucaran commented on #630
I didn't find any other plugins that met my criteria, and it seems that you found an excellent workaround for Pisces that I hadn't even noticed.

It looks like there's no need to follow through with the second part of this proposal then.

[2020-11-30 14:19] edouard-lopez opened #631 "fisher: invalid plugin name or host unavailable"
Hello @jorgebucaran,
After a mishap in `pure@3.0.0` release where I forgot to bump the version number I tried to re-install use the `repo/name@version` syntax but it failed

[code]

I tried various package versions and get the same issue:
[code]

Am I missing something here?

[2020-11-30 14:21] edouard-lopez commented on #631
My bad, wrong tag I use a prefix `v`:

[code]

[2020-11-30 14:21] #631 closed

[2020-11-30 14:27] jorgebucaran commented on #631
Yes, a "v". It's [**v3.0.0**](https://codeload.github.com/rafaelrinaldi/pure/tar.gz/v3.0.0). Check your [tags](https://github.com/rafaelrinaldi/pure/tags). 😄

[2020-12-05 09:04] jorgebucaran commented on #611
I'm finally free to work on this. 💖

We're going to store each file's relative path sans the prefix and add `$fisher_path` whenever we use `$_fisher_FOOBAR_files` to access the files. Looks easy to do, but the implementation needs to take care of the migration smoothly for users, which could be tricky.

[2020-12-05 09:11] jorgebucaran commented on #611
I'm finally free to work on this. ✊

The plan is to:
- Store only relative paths without `$fisher_path`
- Use `$fisher_path/$_fisher_FOOBAR_files` whenever we access plugin files.

Looks easy to do, but the implementation needs to take care of the migration smoothly for users, which could be tricky.

[2020-12-05 17:44] michaelpitts opened #632 "Fish crashes after installing any plugin"
I am running MacOS Big Sur on a new M1 mac mini. The installation of Fisher itself goes smoothly, but I run into some repeating errors after installing any fish plugin using fisher.

Immediately after I run `fisher install fishpkg/fish-prompt-metro` I get a long screen of errors that repeat the same errors in a loop. If I try to open another fish shell then it displays the same errors. Below is th

[2020-12-05 17:56] jorgebucaran commented on #632
Hey, @michaelpitts, yes, this plugin was moved to https://github.com/jorgebucaran/powerline.fish and I haven't finished porting it to the latest architecture yet, meaning it's not compatible with Fisher 4 at this time.

[2020-12-05 17:56] #632 closed

[2020-12-05 17:58] michaelpitts commented on #632
@jorgebucaran understood. Thank you for the quick reply!  (I did confirm that my fish was built native for arm64)

[2020-12-05 18:00] jorgebucaran commented on #632
Thanks, it will take me a while to port it, so may I suggest you try a different prompt, [Tide](https://github.com/IlanCosman/tide) is pretty good.

[2020-12-07 19:17] jorgebucaran commented on #611
@thernstig Do you happen to be using a custom `$fisher_path`? Just curious.

[2020-12-07 20:14] thernstig commented on #611
No, no custom `fisher_path` path.

[2020-12-07 20:25] jorgebucaran commented on #611
There's an annoying issue where changing `$fisher_path` could orphan files, as that would essentially corrupt Fisher's state. There's no clean way to address this. Which option is the least bad?

[2020-12-07 20:36] jorgebucaran commented on #611
Maybe we could continue to hardcode the path, but without expanding `~`.

[2020-12-08 04:22] kidonng commented on #611
I would suggest the former option, as syncing dotfiles through machines which may have different home location is more common than changing `fisher_path`.

[2020-12-08 04:25] jorgebucaran commented on #611
@kidonng Do you mean the latter, though, right?

[2020-12-08 04:27] jorgebucaran commented on #611
Sorry, but no previous version Fisher ever used universal vars for storing its state, so this comment is invalid.

[2020-12-08 05:09] kidonng commented on #611
@jorgebucaran Sorry I didn't make myself clear, I mean `fish_plugins`:
![image](https://user-images.githubusercontent.com/44045911/101442522-75210100-3956-11eb-8bb6-2c8beebfbcb5.png)

I better open a new issue about this...

[2020-12-08 05:13] jorgebucaran commented on #611
Ah, I see what you mean.

[2020-12-08 07:09] kidonng commented on #611
Just realized I haven't answered this. Both options cover my concern (use relative path for home), so I don't have strong opinions about either.

[2020-12-08 23:32] aureooms opened #633 "Strange error on update"
I get the following (or similar) **No matches for wildcard ...** error at random (yes, at random) when updating:

[code]

My workaround so far is to run the update again until it succeeds without hiccups:

[code]

[2020-12-09 03:56] jorgebucaran commented on #633
Hey, @aureooms. I think you're using an old version of Fisher. Upgrade using `fisher update jorgebucaran/fisher` or just `fisher update`.

Also, what plugins are you trying to install? I think there may be one or two that we don't support like `plugin-fasd` or `plugin-sudope`. Fortunately, there's a PR to add Fisher support to one of those here: https://github.com/oh-my-fish/plugin-sudope/pull/16.

[2020-12-09 07:08] jorgebucaran commented on #611
@thernstig Please look at both branches and let me know what you think.

[2020-12-09 08:22] aureooms commented on #633
Hi @jorgebucaran. The output above is the one I get when I run `fisher update`. I am running Fisher version 4.1.0 (installed via [the `fisher` AUR package](https://aur.archlinux.org/packages/fisher).

The plugins I use are
[code]

[2020-12-09 08:34] jorgebucaran commented on #633
I know you're using and older Fisher because that output doesn't match the latest Fisher.

Upgrade to the latest Fisher and the problem should go away.

[2020-12-09 08:37] someshkoli opened #634 "Unable to install extensions"
I'm constantlt getting this error while installing ~~packages~~ plugins. Happening for all packages
![image](https://user-images.githubusercontent.com/41543649/101605101-cbaa4000-3a27-11eb-827c-a99c91852ab6.png)
What could be the reason ?

[2020-12-09 08:46] jorgebucaran commented on #633
About the plugins:

- use @ngmoviedo's Sudope fork until the maintainer decides to merge his PR.
- oh-my-fish/plugin-fasd uses `init.fish` files, which we [no longer support]( https://github.com/jorgebucaran/fisher/issues/582).
  - The TL;DR is that Oh My Fish and their plugin ecosystem is essentially abandoned and they haven't caught up with modern Fish. I recommend you stop using Oh My Fish plug

[2020-12-09 08:46] #633 closed

[2020-12-09 08:50] jorgebucaran commented on #634
@someshkoli

Maybe the host is unavailable? Are you behind a firewall? Or maybe curl is acting out. Do you have a `.curlrc` file? What's your operating system? Do you have a reason to believe you're using an old version of `tar` or one that doesn't support any of these flags: `-x` `-z`, `-f` or `-C`.

The only reason this could happen is if this line fails:

https://github.com/jorgebucaran/fisher/

[2020-12-09 08:51] jorgebucaran commented on #634
Maybe the host is unavailable? Are you behind a firewall? Maybe curl is acting out. Do you have a `.curlrc` file? What's your operating system? Do you have a reason to believe you could be using an old version of `tar` or one that doesn't support any of these flags: `-x` `-z`, `-f` or `-C`?

The only reason this could happen is if we fail here:

https://github.com/jorgebucaran/fisher/blob/ae423be7

[2020-12-09 08:52] jorgebucaran commented on #633
@aureooms About the plugins:

- use @ngmoviedo's Sudope fork until the maintainer decides to merge his PR.
- **oh-my-fish/plugin-fasd** uses an `init.fish` file. We [no longer support]( https://github.com/jorgebucaran/fisher/issues/582) `init.fish` files.
  - The TLDR is that Oh My Fish and their plugin ecosystem are essentially abandoned and they never caught up with modern Fish. I recommend not

[2020-12-09 08:52] jorgebucaran commented on #633
About the plugins:

- Please use @ngmoviedo's Sudope fork until the maintainer decides to merge his PR.
- **oh-my-fish/plugin-fasd** uses an `init.fish` file. We [no longer support]( https://github.com/jorgebucaran/fisher/issues/582) `init.fish` files.
  - The TLDR is that Oh My Fish and their plugin ecosystem are essentially abandoned and they never caught up with modern Fish. I recommend not usi

[2020-12-09 08:59] jorgebucaran commented on #633
Hey, @Scrumplex. Maybe you could shed some light here as the maintainer of the AUR package?

[2020-12-09 09:12] Scrumplex commented on #633
Hi there. The AUR package uses the latest Git tag (in this case 4.1.0). I am sure that updating fisher itself via `fisher install jorgebucaran/fisher` would use the latest git commit instead. That might be why @aureooms might be using an older version.

In fact when using fisher-git from the AUR (which builds from the latest commit) the output matches the newest version. I would suggest that you j

[2020-12-09 09:23] jorgebucaran commented on #633
@Scrumplex Thanks for the clarification. I'll do that later today. 👍

[2020-12-09 09:25] aureooms commented on #633
Thanks for the help @jorgebucaran and @Scrumplex. I will look into forking the plugins or contributing to them.

[2020-12-09 09:29] jorgebucaran commented on #633
That's awesome @aureooms, let me know if you need help with anything. If you need me, you can [find me here](https://gitter.im/fish-shell/fish-shell).

[2020-12-09 12:00] jorgebucaran commented on #634
@someshkoli Can you answer the questions?

[2020-12-09 12:04] someshkoli commented on #634
Hey @jorgebucaran, thanks for quick update. I checked the link and the tar was downloadable. Im running on arch linux `Linux kasper 5.4.77-1-lts #1 SMP Tue, 10 Nov 2020 22:42:03 +0000 x86_64 GNU/Linux`. and yes my tar does have above flags.

And about .curlrc, what should be the contents of that file ? I dont have rc for that

[2020-12-09 12:32] jorgebucaran commented on #634
How did you install Fisher? Please note that I only support the installation method described in the README. If that's how you installed Fisher, please use `fisher update` to get the latest changes and try again.

Where did you start having this problem? Have you ever been able to install anything with Fisher at all?

[2020-12-09 12:33] jorgebucaran commented on #634
Could you also answer the question about the `tar` command?

[2020-12-09 15:02] thernstig commented on #611
@jorgebucaran If "store the entire path, don't expand ~" solves the case where users changes `fisher_path`, I do believe that is the least bad one.

[2020-12-09 15:37] someshkoli commented on #634
I installed it from AUR and regarding tar command then all of the flags are operational.
Also fisher update gives the following:
![image](https://user-images.githubusercontent.com/41543649/101650984-9111c900-3a62-11eb-937e-426c3460a87f.png)

[2020-12-09 16:12] jorgebucaran commented on #634
@someshkoli Ah, you're using an older version of Fisher. I know because that's an old bug. Please upgrade to the latest Fisher and let me know if you still encounter this issue. Remove the AUR package and use:

[code]

[2020-12-09 16:12] #634 closed

[2020-12-09 16:14] someshkoli commented on #634
![image](https://user-images.githubusercontent.com/41543649/101655448-a3dacc80-3a67-11eb-8846-a239d6d423b3.png)

[2020-12-09 16:18] jorgebucaran commented on #634
@someshkoli You're still not using the latest Fisher. I know because "fisher: invalid plugin name..." should be "fisher: Invalid plugin name..." instead.

See, it's right here:

https://github.com/jorgebucaran/fisher/blob/ae423be7256d5797efcd79007935da96e2b7379d/fisher.fish#L96

[2020-12-09 16:20] someshkoli commented on #634
How to clean previous versions completely ? :)

[2020-12-09 16:22] jorgebucaran commented on #634
Yes, I think that might be the issue here. To remove Fisher you can simply: `fisher remove jorgebucaran/fisher". But if you installed Fisher via the AUR package with `pacman` (which I don't support), you'll need to refer to your user manual. I don't know, how about `pacman -Rns fisher`?

[2020-12-09 16:26] someshkoli commented on #634
I removed everything and installed via above method, Now even the version number is correct yet its giving me same error
![image](https://user-images.githubusercontent.com/41543649/101657010-68410200-3a69-11eb-8ddf-934593879647.png)

[2020-12-09 17:18] jorgebucaran commented on #634
@someshkoli Could you try again? I made some changes.

[2020-12-09 18:03] someshkoli commented on #634
still not working :) maybe its something specific for my system

[2020-12-10 02:22] jorgebucaran commented on #634
@someshkoli It could be. Try running this?

[code]

[2020-12-10 07:50] igalic commented on #634
i get:

[code]

after removing `--silent`.

[2020-12-10 08:52] jorgebucaran commented on #634
Does that mean --silent doesn't work on FreeBSD? @igalic

[2020-12-10 08:53] igalic commented on #634
it does work, but i had to remove it to see what's failing

[2020-12-10 08:58] jorgebucaran commented on #634
That's why we pipe it to `tar`.

Do you know how to make this work on FreeBSD? Or do you know how to set up a FreeBSD box free so I can test this?

[2020-12-10 09:09] jorgebucaran commented on #634
@igalic Do you have a `.curlrc` file adding a new line to the output?

We shouldn't need to use `--write-out ""`.

Why do we need to use `--output -`? It's not needed on macOS or Linux. Is this a FreeBSD thing?

Why do we need to add `-f -` to `tar`? Is this also a FreeBSD thing?

[2020-12-10 09:38] igalic commented on #634
it seems the only thing necessary we need is `-f -`, otherwise, FreeBSD tries to read from a Tape device :D

[code]

[2020-12-10 09:47] igalic commented on #634
re,

https://www.freebsd.org/where.html → https://download.freebsd.org/ftp/releases/VM-IMAGES/12.2-RELEASE/amd64/Latest/
see https://download.freebsd.org/ftp/releases/VM-IMAGES/README.txt for which image to get

if you wanna integrate FreeBSD into fisher's CI, Cirrus CI offers FreeBSD support: https://cirrus-ci.org/guide/FreeBSD/

[2020-12-10 12:53] jorgebucaran commented on #634
I think we're good now @igalic @someshkoli. Please try one more time! 🙏

[2020-12-10 13:19] igalic commented on #634
works! (for me ;)

[2020-12-10 13:39] someshkoli commented on #634
Still not working :"") some gzip error
![image](https://user-images.githubusercontent.com/41543649/101779355-2d97a200-3b1b-11eb-90b1-1ddfa289502c.png)

[2020-12-10 13:47] igalic commented on #634
can you remove `--silent` so we can better see what's going on?

[2020-12-10 14:43] jorgebucaran commented on #634
@someshkoli Answer this:

- OS name and version
- Fish version
- curl version
- tar version

[2020-12-10 14:46] someshkoli commented on #634
OS:
    LSB Version:	1.4
    Distributor ID:	Arch
    Description:	Arch Linux
    Release:	rolling
    Codename:	n/a
Fish: fish, version 3.1.2
CURL: curl 7.71.1
tar: tar (GNU tar) 1.32
XD

[2020-12-10 15:28] someshkoli commented on #634
Got this error fixed with @jorgebucaran 's help <3.
My conda env was somehow messing with my normal env and curl was unable to fetch CA certs

[2020-12-10 15:30] jorgebucaran commented on #634
@someshkoli fixed this 1on1. Thank you, Somesh! Turns out he had a similar problem to the one described [here](https://stackoverflow.com/questions/3160909/how-do-i-deal-with-certificates-using-curl-while-trying-to-access-an-https-url).

Basically, all we had to do was:

[code]

🎉

[2020-12-10 15:32] jorgebucaran commented on #634
Thank you, Somesh! Turns out he had a similar problem to the one described [here](https://stackoverflow.com/questions/3160909/how-do-i-deal-with-certificates-using-curl-while-trying-to-access-an-https-url). It was a local issue with curl and SSL certs.

This fixed it.

[code]

[2020-12-11 03:03] mattmc3 opened #635 "Support comments in fish_plugins file"
It would be very helpful to be able to comment out a plugin, but not remove it from the `fish_plugins` file. Are you open to skipping over lines that begin with a hash (#) as a comment?

[2020-12-11 05:11] jorgebucaran commented on #635
@mattmc3 Could you elaborate on your use case a bit more?

[2020-12-11 05:11] jorgebucaran commented on #635
Could you elaborate on your use case a bit more?

[2020-12-11 14:43] mattmc3 commented on #635
I can see a few different important use cases.

Some plugin names aren't really descriptive about what they are or what they do. For example, edc/bass is cleverly named, but not obvious what it's for, so it's nice to have something like this in fish_plugins:

[code]

Secondly, as a fish plugin developer, it's also handy to comment out my own published fish plugins when I'm making changes.

[code]

[2020-12-11 18:17] jorgebucaran commented on #635
@mattmc3 Take it for a spin:

[code]

Maybe [replay.fish](https://github.com/jorgebucaran/replay.fish) has the best of both worlds. 😉

[2020-12-11 18:30] heywoodlh opened #636 "Mono Prompt Compatibility"
When trying to install [mono](https://github.com/jorgebucaran/mono.fish), the install command fails due to `fisher add` being deprecated.

I've been able to get it working if I manually `fisher install` everything in the `fishfile`.

I love Mono as my prompt, mainly I'm just reporting that Mono and Fisher don't work together anymore.

[2020-12-11 18:35] jorgebucaran commented on #636
Yes, I'm aware Mono is currently not compatible with Fisher 4.x. I still haven't finished porting all my prompts and plugins. I'll get around to it sooner than later. You're always free to send me a PR fixing the errors in the meantime, otherwise, please wait for a while. 👋

[2020-12-11 18:35] #636 closed

[2020-12-12 16:05] jorgebucaran commented on #636
@heywoodlh  [Fly.fish](https://github.com/jorgebucaran/fly.fish) is the continuation of and successor to Mono. It's rather different from old Mono, hence the new name. I'm afraid you'll need to use a fork if you want to keep using old Mono instead. Cheers.

[2020-12-12 16:05] jorgebucaran commented on #636
[Fly.fish](https://github.com/jorgebucaran/fly.fish) is the continuation of and successor to Mono. It's rather different from old Mono, hence the new name. I'm afraid you'll need to use a fork if you want to keep using old Mono instead. Cheers.

[2020-12-14 04:33] kosukemori opened #637 ""update" command restore symlink to normal file"
Hi!
I'm using mackup, so I change `~/.config/fish/fish_variables` as a symlink file.
However, `fisher update` command restores the symlink file to normal file.

For example,
[code]

I found that if I comment out the below line, this problem is solved. But I don't know why, because this line only erases an local environmental value...
https://github.com/jorgebucaran/fisher/blob/f5b6254833f432101e4d

[2020-12-14 04:52] jorgebucaran commented on #637
@kosukemori Please state your Fish and Fisher version.

[2020-12-14 04:54] kosukemori commented on #637
@jorgebucaran
Oh, sorry,
[code]

[2020-12-14 04:57] jorgebucaran commented on #637
@kosukemori Can one normally create and erase universal variables if `fish_variables` is as symlink?

[2020-12-14 05:03] kosukemori commented on #637
@jorgebucaran
I see, I can create or erase universal variables, but `fish_variables` always becomes a normal file from symlink.
It seems an fish shell's problem.

[2020-12-14 05:07] jorgebucaran commented on #637
@kosukemori Exactly. You can read more about universal variables [here](https://fishshell.com/docs/current/#more-on-universal-variables).

Emphasis is mine.

[2020-12-14 05:07] #637 closed

[2020-12-14 06:02] jorgebucaran commented on #637
@kosukemori Or symlink the entire directory. See: https://github.com/fish-shell/fish-shell/issues/7466

[2020-12-14 06:17] kosukemori commented on #637
Thanks @jorgebucaran !
I'll symlink the entire directory by configuring mackup.
(Actually mackup's default configuration of fish & fisher seems to be old.)

[2020-12-14 06:29] jorgebucaran commented on #637
You may also run into https://github.com/jorgebucaran/fisher/issues/611, so please be aware.

[2020-12-14 11:22] jorgebucaran commented on #632
@michaelpitts I just finished porting [Metro](https://github.com/metrofish/metrofish) (renamed as Metrofish) to Fisher 4.x and Fish 3.x. I no longer use this prompt, but I still can look into and fix critical bugs when they're found, as well as reviewing and merging PRs. Enjoy!

[code]

[2020-12-14 11:25] jorgebucaran commented on #614
@NotAFile I just finished porting [Metro](https://github.com/metrofish/metrofish) (renamed as Metrofish) to Fisher 4.x and Fish 3.x. I no longer use this prompt, but I'm happy to review and merge PRs with bug fixes, and features. Enjoy!

[code]

[2020-12-14 13:49] NotAFile commented on #614
@jorgebucaran that's awesome, thanks so much!

[2020-12-17 07:35] jorgebucaran opened #638 "Restore default mode prompt after removing a plugin that overrides fish_mode_prompt"
The default is always in `$__fish_data_dir/functions/fish_mode_prompt.fish`. Just source it.

[2020-12-20 11:17] mnieber opened #639 "Installation fails from bash"
Hi,

since piping to `source` is not possible the installation fails with

[code]

Also, it would be good to document whether the installation should be run from `bash`, `sh` or `fish` (since it has a `&&` it won't work in fish, but that won't be obvious to everybody).

I will instead try adding the fisher functions to fish manually. In any case, thanks for creating the tool, I think it will come

[2020-12-20 11:20] jorgebucaran commented on #639
The installation should be run from Fish.

[2020-12-20 11:20] #639 closed

[2020-12-20 11:32] jorgebucaran commented on #639
@mnieber The [installation](https://github.com/jorgebucaran/fisher#installation) should be run from Fish. Actually, Fish supports `&&` since `3.0`.

[2020-12-20 11:34] mnieber commented on #639
Okay, I see. I'm on fish 2.7.1 (from the ubuntu repository). I would like to publish a fish config that should be usable to other people who are on older fish functions, so I will try fundle.

[2020-12-20 11:42] mnieber commented on #639
ps I now realize that there is a standard plugin format, so it doesn't matter which tool is used to install them. Anyway, I'm new to this topic :-)

[2020-12-20 12:05] jorgebucaran commented on #639
@mnieber Fish alone can go a long way. I recommend not even using a plugin manager if you're new to Fish. There's no standard plugin format either. I also don't recommend using Fundle either, as it's been inactive for more than two years, supports no install, update, remove events, and can potentially make your shell slow (as it requires you to run `fundle` in your `config.fish`).

I do recommend

[2020-12-20 12:12] jorgebucaran commented on #639
@mnieber Fish alone can go a long way. I recommend not even using a plugin manager if you're new to Fish. There's no standard plugin format either. I also don't recommend using Fundle either, as it's been inactive for more than two years, supports no install, update, remove events, and can potentially make your shell slow (as it requires you to run `fundle` in your `config.fish`).

There's really

[2020-12-20 13:45] igalic commented on #639
fish has an official package repository for ubuntu (PPA) with newer fish versions https://launchpad.net/~fish-shell/+archive/ubuntu/release-3/+packages

[2020-12-20 15:25] mnieber commented on #639
Thanks, I checked it out! For some reason there seems to be a problem with this package for Linux Mint (that's the distribution I'm actually using, though it's based on Ubuntu). I will revisit this topic in case I ever run into trouble with having an older fish function.

[2020-12-20 15:40] jorgebucaran commented on #639
@mnieber I'm curious, why are you using Fish if you can't upgrade to at least Fish 3.0? It just seems unusually odd. And why were you trying to install Fisher in the first place? What plugins were you interested in?

[2020-12-20 16:07] mnieber commented on #639
I was coming from bash, so fish 2.7 was a huge improvement.

I have an open source tool called "dodo commands" that let's you create per-project development environments. For example, given this configuration (which is environment specific)

[code]
you can use SHIFT + F1/F2/F3 to quickly switch to these directories. This requires certain fish key bindings and fish functions, that are packaged with

[2020-12-20 16:11] jorgebucaran commented on #639
@mnieber That sounds like a great use case for Fisher, a modern, actively maintained plugin manager already widespread across the Fish community.

[2020-12-20 16:11] jorgebucaran commented on #639
That sounds like a great use case for Fisher, a modern, actively maintained plugin manager already widespread across the Fish community.

[2020-12-20 16:32] mnieber commented on #639
I think that there is indeed some overlap, since both tools extend the shell environment with additional tools and commands. I do see an advantage in not having `fish` as an absolute requirement (dodo only requires Python). The preset directories are a nice time saver. but I'm especially happy with the layering system in dodo. For example, you can run `dodo frontend.serve` or `dodo backend.serve`

[2020-12-20 16:35] mnieber commented on #639
ps regarding the original question, I think I will include instructions for all 3 package managers (omf, fisher and fundle) on how to install the dodo bindings. I noticed though that omf does not allow you to install from a local directory, that's a pity (I would like to keep the fish functions bundled inside my dodo tool instead of having them in a separate repo).

[2020-12-20 16:42] jorgebucaran commented on #639
Feel free to request a code review from me! Otherwise keep in mind: no top level fish files (Fisher is an exception due to historical reasons), prefix `_foobar_` your functions, put them in `functions/`, one .fish file per function, autorun snippets in `conf.d`, and no non-standard inventions: no init.fish, or uninstall.fish.

[2020-12-20 16:47] mnieber commented on #639
Okay, thanks, will do!

[2020-12-20 18:25] jorgebucaran opened #640 "First-class support for `$fisher_path`"
We can customize the installation path using `$fisher_path`, but Fisher doesn't help you with the boilerplate code necessary to load it during startup. It would be great if Fisher did all this work when you're using a custom `$fisher_path`.

Something like this via `$__fish_config/conf.d/fisher.fish` would do it:

[code]

[2020-12-25 23:38] tuxiqae opened #641 "Quieter update"
Would it be possible to make `fisher update` less verbose?

Currently it prints info regarding each and every plugin it tries to update, and says it got updated even if nothing changed.
I think that it would be better for it to print by default only the plugins that were actually updated, and in the end conclude it all with a list of updated plugins.

For example, that's my current output:
![image

[2020-12-25 23:43] tuxiqae opened #642 "Add the ability to disable plugins"
From what I can tell, at currently, Fisher only allows removing plugins from the system, but it won't let you disable and re-enable plugins.

I think that it would be a neat feature, sometimes people don't have an active internet connection but want to disable a plugin temporarily (for example there's a bug in the shell, the user would like to start disabling plugins in order to find the culprit)

[2020-12-26 05:39] jorgebucaran commented on #642
Sometimes we are offline for some reason, but it's rare. This could be addressed by re-introducing the fallback cache if the `curl | tar` pipeline fails.

[2020-12-26 05:44] jorgebucaran commented on #642
We could address this use case by re-introducing a cache fallback if the `curl | tar` pipeline fails, instead of introducing new dedicated commands.

Sometimes we are offline for some reason, but it's rare.

[2020-12-26 06:14] jorgebucaran commented on #641
The challenge is to reliably detect if a plugin requires an update or not. It's usually so fast to download a plugin that we simply don't care. It would be quite impressive to skip over plugins that don't need to be updated, but we'd probably want to add a `--force` flag to update it anyway since updating has also the effect of erasing the plugin from the environment and re-enabling it, followed b

[2020-12-26 06:14] #641 closed

[2020-12-26 17:27] tuxiqae commented on #641
@jorgebucaran, so why not actually add a `--quiet` flag which will only print `X plugins were successfully updated`?

To me that sounds the best out of all of those.

[2020-12-26 17:31] jorgebucaran commented on #641
@tuxiqae Could work! I don't particularly need this, so feel free to send a PR and we can take it from there.

[2020-12-26 22:53] tuxiqae commented on #641
Unfortunately I don't have much spare time these days, not sure when I'd be able to take care of it.

[2020-12-27 05:55] IlanCosman commented on #642
I'd say this shouldn't be added. Being offline is quite rare these days, so that point is a minor one. It also takes at most a few seconds to install/uninstall a plugin since they are so small.

As Jorge said, Fisher already had this with the cache fallback. It was determined, for the reasons stated above, that it was cruft.

[2020-12-30 06:22] vamega commented on #640
I was able to make this work with the following snippet. I couldn't use the return since the code isn't running in a function, and had to switch to using cat since the the redirection didn't work when there were multiple files in the `conf.d` directory.

[code]

[2020-12-30 06:33] jorgebucaran commented on #640
I should've used `exit` and just a `for` loop instead, thanks! @vamega

[2021-01-01 13:46] d3dave opened #643 "$fisher_path is no longer available during plugin installation/update/removal"
When trying to use `b4b4r07/enhancd` I'm getting an error:

[code]

This happens because `$fisher_path` is empty during the plugin installation.
See https://github.com/b4b4r07/enhancd/blob/master/conf.d/enhancd.fish#L6 .

This looks like a bug, introduced in fisher here: https://github.com/jorgebucaran/fisher/commit/5a81014f22f8a58e01970c8832b370af1c1edcec#diff-bbbdf83c74a73435089c371d30fc66f17076