[2015-10-31 17:11] bucaran opened #1 "Logos"
![fisherman-logo-gray](https://cloud.githubusercontent.com/assets/8317250/10864865/87b79ed6-803e-11e5-8e7d-5aeb760d5e44.png)

[2015-11-01 14:49] lordlycastle commented on #1
My vote: Second one!

[2015-11-03 16:32] bucaran commented on #1
@lordlycastle I think the last one may look better against a white background, but maybe the second one is best in smaller sizes. We need to experiment a bit.

[2015-11-30 14:01] bucaran commented on #1
![fisherman-logo org-white-bg](https://cloud.githubusercontent.com/assets/8317250/11473523/45214736-97b6-11e5-9f85-a0810e22d1fc.png)

![fisherman-logo org](https://cloud.githubusercontent.com/assets/8317250/11473522/451ec4c0-97b6-11e5-9cd3-fc41ef49391e.png)

[2015-12-04 12:56] bucaran commented on #1
![fisherman-logo org-bg](https://cloud.githubusercontent.com/assets/8317250/11590183/cdf00db8-9ad1-11e5-8132-b8392e910384.png)

[2015-12-04 20:27] bucaran commented on #1
![fisherman-logo org](https://cloud.githubusercontent.com/assets/8317250/11600567/dc59ca9e-9b10-11e5-927f-05e4ed70cb9c.png)

[2015-12-08 14:17] martoranod commented on #1
:+1:

[2016-01-01 21:17] xnuk opened #2 "`fisher -V` doesn't allow dot characters"
![screenshot at 01-02 054709](https://cloud.githubusercontent.com/assets/3071003/12072155/c33322a2-b115-11e5-869f-385384664988.png)

[2016-01-01 21:53] bucaran commented on #2
Good find. It does support `.` dots however. The problem is the oddly named theme `cmorrel.com` fails because of the regex:

[code]

I think we could safely change this to:

[code]

I will add it to the next milestone.

[2016-01-01 21:59] #1 closed

[2016-01-02 03:14] bucaran opened #3 "Add getopts source to tools and build getopts.fish with Make"
Similar to what you are doing in Fishtape and Shark:

* https://github.com/fisherman/fishtape/blob/master/Makefile
* https://github.com/bucaran/shark/blob/master/Makefile

[2016-01-02 12:32] bucaran opened #4 "fisher install fails to load some themes in the same shell session"
Fisherman does not use `exec fish` to force a shell reset to refresh plugins or prompts, instead, it sources the relevant files and updates the current shell session. Currently, however, prompts are _not_ being sourced.

Fisherman **should source** all `{<the_plugin_name>,fish_{,right_}prompt}.fish` during `fisher install` to correctly enable plugins/prompts without a shell restart.

<hr>

*Note*:

[2016-01-02 13:01] bucaran opened #5 "fisher uninstall fails to unload prompt correctly"
The following:

[code]

Correctly removes the prompt files from `$fisher_config/functions`, but does not correctly unload the theme.

Fisherman should completely unload the theme and return to fish default's theme.

[2016-01-02 15:02] josegonzalez opened #6 "Add a code of conduct!"
You probably don't want yet another file in your repo, but I promise this one is good for like 95% of everyone (the other 5% is busy looking at cat pictures).

I've used the [contributor covenant](http://contributor-covenant.org/version/1/3/0/) in the past, it's pretty easy to read and understand (and translated into a few languages [here](http://contributor-covenant.org/)). Pick the one you like

[2016-01-02 15:17] bucaran commented on #6
:+1: Thanks for the link, that seems like a worthy addition to the repo actually.

Added to the next milestone.

[2016-01-02 22:58] tobywf opened #7 "'fisher install' fails due to mktemp on Mac OS X"
There's two uses of `mktemp` in fisherman, which work fine on Linux but fail on Mac OS X because mktemp requires the `template` argument (see e.g. [stackoverflow](https://stackoverflow.com/questions/2792675/how-portable-is-mktemp1)).

I believe there's two easy solutions. One is to specify a prefix instead, the other is to see if `mktemp` failed:
[code]
Either seems to work on Mac OS X (10.9 and 1

[2016-01-02 23:17] tobywf commented on #7
Misread the man page, the FreeBSD I have (9.3) is actually fine with `mktemp`. So it's just OS X for now.

[2016-01-03 02:27] bucaran commented on #7
@tobywf Hi, what is the name of the plugin you could not install? I am on a OS X too.

[2016-01-03 02:39] tobywf commented on #7
This is on a totally new machine, with homebrew and fish installed:
[code]
As you can see, `mktemp` fails as described so the whole thing falls over. I can reliably reproduce it, plus the PR #8 fixes it for me.

[2016-01-03 03:28] tobywf commented on #7
As discussed, updated the PR with the simpler option: `mktemp -t fisher.XXXXXXXX`.

[2016-01-03 03:30] bucaran commented on #7
Thanks! :+1:

[2016-01-03 04:33] bucaran opened #9 "Better name for undocumented `fisher --path-in-cache` option"
I find this name not terribly confusing, but I think we could do better.

[2016-01-03 04:40] bucaran opened #10 "Add --orphan option to `fisher` or `fisher search` to list packages installed with a custom url"
[code]

The above is not terribly bad as a simple way to query the cache, but it would be nice if we could get a list of those packages that were installed using a custom URL. I think a memorable name could be `--orphan`.

:arrow_right: This option would be essentially used to add completion to `fisher update/uninstall`.

[2016-01-03 06:10] bucaran opened #11 "Add --cache option to `fisher` to list plugins in the cache"
Related #10

[2016-01-03 10:32] RafaelCosman opened #12 "'fisher update' hangs."
On C9 Ubuntu machine.

[2016-01-03 10:37] bucaran commented on #12
Yes, this is a problem in machines other than OS X and ubuntu/trusty64, the only two platforms I have tested this well. The problem has to do with my use of `find` it seems. The milestone I am working towards will fix this by adding a `--cache` to `fisher` to retrieve the cache plain contents.

https://github.com/fisherman/fisherman/issues/11

[2016-01-03 10:41] RafaelCosman commented on #12
Thanks for working on this, @bucaran.

[2016-01-03 10:49] bucaran commented on #2
EDIT: This will be fixed in 0.2.0, in the meantime, if you want to use `cmorrell.com` theme, use the full URL:

[code]

[2016-01-03 13:09] simnalamburt commented on #12
:+1:

[2016-01-03 13:24] faho opened #13 "*.config.fish files in $fish_function_path cause fish to believe a function named *.config.fish exists"
In [config.fish](https://github.com/fisherman/fisherman/blob/3386ed052ae4a84338c340d37b98c1742f8a45f6/config.fish#L9-L11), fisherman currently sources everything in $fisher_config/functions that is named *.config.fish.

Only because $fisher_config/functions is in $fish_function_path, this causes an issue:

- fish will complete *.config (e.g. "banana.config" if you have a file called "banana.config

[2016-01-03 13:28] bucaran commented on #13
Thanks @faho!

I propose calling the directory either `load` or `config` and putting it inside `$fisher_config`.

[2016-01-03 14:00] bucaran opened #14 "Retrieve record information from orphan plugins"
Currently, only plugins in the [Index](https://github.com/fisherman/fisher-index) are being used when doing searches / queries, both remote or local.

You can install / uninstall anything with a `.fish` extension and URL or short URL like:

[code]

But Fisherman can't retrieve record information (name, url, info, tags and tags) from plugins installed like this (for lack of a better name these are

[2016-01-03 18:20] tuvistavie opened #16 "Symlink configuration"
The install process breaks `config.fish` when it is a symlink.

[code]

The issue is in the last line of `$(FISH_CONFIG)` target in the Makefile, which replaces the current `config.fish` with a new one.

[2016-01-04 12:51] captainju opened #17 "Can't install using make"
[code]
And then nothing happend after the shell restart.

I'm using fish with omf.

[2016-01-04 14:20] bucaran commented on #17
@captainju Thanks for trying Fisherman.

Were you able to run `fisher`:

For example:

[code]

[2016-01-04 14:39] captainju commented on #17
no :
[code]

And nothing has changed in my config.fish

[2016-01-04 14:41] bucaran commented on #17
1. Is your `config.fish` a symlink to the real file?
2. What's in your `config.fish` file?
3. Are you setting the `$XDG_CONFIG_HOME` variable somewhere?

[2016-01-04 15:02] captainju commented on #17
1. `config.fish` is a real file located at `/home/captainju/.config/fish/config.fish`

2. here is the content :
[code]

3. `XDG_CONFIG_HOME` is set at the beginning of `config.fish`
and it is available in bash :
`echo $XDG_CONFIG_HOME` -> `/home/captainju/.config`

[2016-01-04 15:05] bucaran commented on #17
`make` is sensitive to `XDG_CONFIG_HOME`, but if that's not the problem and `make` is **not** failing then how come the Fisherman init configuration code is not getting added?

[2016-01-04 15:19] captainju commented on #17
I tried with an empty `config.fish` file, and still nothing append...

[2016-01-04 15:20] bucaran commented on #17
Is `/home/captainju/` the same as `$HOME`?

[2016-01-04 15:23] captainju commented on #17
yes, `echo $HOME` -> `/home/captainju`

[2016-01-04 16:38] bucaran commented on #17
@captainju Can you try removing the `$(DOCS)` rule from the Makefile and try again?

[2016-01-04 21:15] bucaran commented on #12
@RafaelCosman @simnalamburt

Guys, I was mistaken and replied to this message shortly after another user had reported a similar issue and claimed it had to do with `find(1)`. This in fact, has nothing to do with that, (probably), and it's just the default behavior of `update`.

Fisherman has strong ties to the UNIX philosophy, at least it says so in the manual :smile: and one of the things that ar

[2016-01-04 21:26] #4 closed

[2016-01-04 21:26] #5 closed

[2016-01-04 21:26] #6 closed

[2016-01-04 21:26] #7 closed

[2016-01-04 21:26] #9 closed

[2016-01-04 21:26] #11 closed

[2016-01-04 21:26] #13 closed

[2016-01-04 21:26] #2 closed

[2016-01-04 21:26] #3 closed

[2016-01-04 21:44] #10 closed

[2016-01-04 21:44] #14 closed

[2016-01-04 21:50] bucaran commented on #6
Thanks! @josegonzalez

[2016-01-04 21:51] josegonzalez commented on #6
:)

[2016-01-05 08:29] captainju commented on #17
I restarted my computer and I updated fisherman repository, It's working now.
I didn't have to remove the `$(DOCS)` rule.
Thx

[2016-01-05 08:29] #17 closed

[2016-01-05 08:48] bucaran commented on #17
@captainju The old restart the computer trick? That's incredible.

Let me know if you encounter any other problems and please upgrade to 0.2.0 ^^/

[2016-01-05 13:30] bucaran opened #19 "fisher should be able install local plugins, resembling npm link or pip install -e"
If you are working on a plugin locally, how do you test it?

First, you can always install it if you have a long url, for example, on OS X

[code]
This feature should allow `fisher install` to install plugins using any path `~/myplugin`, etc.

[2016-01-05 17:29] bucaran opened #20 "fisher install succeeds when installing a plugin in a local path but displays an error"
Due to `wait(1)` behavior of always returning 1 if there was output to stderr, `git clone` in `fisher install` writes to `$fisher_error_log:

[code]

`Fisherman#wait(1)` treats it as an error and we get `Repository not found.` error even though the install was succesful.

A simple fix would clear out `$fisher_error_log` if `git clone` is succesful.

[2016-01-05 19:44] colstrom opened #21 "`make` overzealously "fixes" my `config.fish`, rendering it syntactically invalid."
Looks like something in the `awk` script is truncating a portion of my `config.fish` when fisherman installs.

Steps to reproduce:
1. Clone fisherman repo.
2. Run `make`.
3. Weep as the world implodes.
4. File bug report.

Before:
[code]

After:
[code]

[2016-01-05 19:44] colstrom commented on #21
After:
[code]

[2016-01-05 19:48] bucaran commented on #21
Indeed, it does. Well, to be precise, Awk is breaking your config.

This is critical and I will release a fix for this in the next milestone to ship shortly.

[2016-01-05 19:49] colstrom commented on #21
Thanks!

[2016-01-06 10:01] rif commented on #12
So what is the recommend way to list/update all installed plugins?

[2016-01-06 10:07] bucaran commented on #12
Hey @RafaelCosman

Just, `fisher update plugin1 plugin2 ...`.

[code]

If you want to update all the plugins:

[code]

If you want to update Fisherman itself:

[code]

[2016-01-06 10:18] bucaran opened #22 "Should fisher update also re-install prompts/themes?"
The current behavior of `fisher update` is to install the plugin again.

This is simply by calling `fisher install` after the update. This makes sense for a plugin, but perhaps not for a prompt/theme. If you are using prompt X and then `fisher update promptZ`, Fisherman will update `promptZ` and also set your current prompt to `promptZ`.

I have no problem with this, but perhaps we could add an op

[2016-01-06 10:51] rif opened #23 "Sanitize the fishfile"
After several failed attempts to install some plugins my fishfile looks like this:

❯ cat ~/.config/fisherman/fishfile
pure
https://github.com/oh-my-fish/fzf
https://github.com/oh-my-fish/fasd
https://github.com/oh-my-fish/tmux
https://github.com/oh-my-fish/plugin-fzf
fasd
tmux
fzf

We need a way to clean bad plugins from the file.

[2016-01-06 11:01] bucaran commented on #23
There are two bugs here.

1. https://github.com/oh-my-fish/fasd is incorrect, it should be https://github.com/oh-my-fish/plugin-fasd
2. https://github.com/oh-my-fish/plugin-fzf was a mistake when you tried to install fzf, yet it was added to the fishfile incorrectly.
3. I see some empty blank lines there. Fisherman will not touch your blank lines, but it should not add any blank lines either.

[2016-01-06 11:44] tuvistavie commented on #22
It depends, what is the current behaviour if several themes are installed?
Could running `fisher update` change the theme, or is this only if the theme name is explicitly mentioned?

[2016-01-06 12:15] bucaran commented on #22
@tuvistavie

[code]

will update themes 1 2 and 3 in the cache and try to install each one after they are updated. If the last one is `theme3`, which would be, that one will be set.

[2016-01-06 13:47] bucaran opened #24 "Better help for failed installs"
If Fisherman fails to install a package it could offer better help adding something like:

[code]

In the case of oh-my-fish plugins, or even better, if it fails, then test with `plugin-` and if that fails too, test `theme-`.

Another thing, it should validate `ohm-y-fish`, `o-hm-y-fsh` or similar looking URLs to the correct address.

[2016-01-06 20:35] colstrom opened #25 "`fisher update --me` spews errors then loops at a spinner forever."
[code]

It's hard to paste a spinner here, so just imagine it's on the last line.

[2016-01-07 00:53] Polyg0n commented on #25
What's your system setup and fish config? Because I just ran ```fisher update --me``` and it finished without errors.

[2016-01-07 01:02] bucaran commented on #25
@colstrom New in 0.3.0 is `$fisher_timeout`. `curl(1)` could be spinning on itself if the network is bad. But, if it's not that either then I am not sure. I will investigate ASAP.

[2016-01-07 01:04] Polyg0n commented on #25
@bucaran Can't be if the network pipe is offline (or turned off) I just checked that. My full terminal output is thus:

[code]
Disabled network simply won't output spinner.

[2016-01-07 02:11] bucaran commented on #25
@Polyg0n Thanks, noted.

[2016-01-07 02:28] simnalamburt commented on #12
I think making `fisher update` to update all plugins is the best default. Most package managers like `npm`, `gem`, etc update all installed plugin when executed with `~~ update` and I think most users are used to it.

Yes `fisher --cache | fisher update` fits very well with UNIX philosophy but `fisher update` is also good default, and I think both can coexist with [`isatty(3)`][isatty] just like a

[2016-01-07 02:30] bucaran commented on #12
@simnalamburt Alright. Why not?  :+1:

[2016-01-07 08:01] namandistro commented on #24
I agree with this i wanted to recommend the same..

[2016-01-07 08:09] namandistro opened #27 "Auto suggestion and Error Management"
I don't know about others but i am feeling lag its not that smooth sometime and their should be something for error management

[2016-01-07 08:38] bucaran commented on #24
Thanks! Noted.

[2016-01-07 08:43] bucaran commented on #27
Could it be that you are experiencing the initial, first time only lag when auto complete/suggestion is updating?

Other than that Fisherman should always outperform other systems, is just as fast as having nothing at all, but the first time you try to auto complete, there will be a small lag as fish updates the auto complete so that you can do things like:

[code]

Notice that is not as trivial a

[2016-01-07 10:24] tucnak opened #28 "Shorter fisher-search output?"
Imo it'd be much cooler if the search output took a single line per package in format `pkgname description`. Ideally, table-aligned. I'd love to see smth like `fisher info <pkg>` to see more information about a particular package (such as author, last update time, deps, whatever).

`$ fisher search`
[code]

[2016-01-07 10:25] rif opened #29 "Plugins not working"
For the moment fisherman is not executing my plugins.

I reinstalled it but the problem still persist.
Another thing is that I tried to uninstall some of the plugins to check if there is a particular one that is generating an error and brakes the initialization chain but it does not seem to be uninstalled:

❯ fisher --cache
/home/rif/.config/fisherman/cache/fasd
/home/rif/.config/fisherman/cache/f

[2016-01-07 10:28] bucaran commented on #28
@tucnak

What about

``
 fisher search --name --info
[code]

[2016-01-07 10:32] rif commented on #29
Something I tried just now:

1. moved ~/.config/fish and ~/.config/fisherman in a backup folder
2. started a new fish shell
3. executed make in fisherman repo
4. fisher install omf/plugin-fasd
5. z alias is not active after reset or terminal restart
6. fasd is not uninstalled after fisher uninstall fasd

I am using arch linux amd64 with fish 2.2.0

[2016-01-07 10:32] bucaran commented on #29
Aye! Alright, let's go one by one. Can you confirm you used the correct URLs?

Pure actually works for me:

[code]

[2016-01-07 10:33] rif commented on #29
pure is the only one that is working for me too

[2016-01-07 10:35] bucaran commented on #29
Thanks! I need to investigage further. The architecture to support OMF is there, but there may be bugs of course.

This the source code of [fzf](https://github.com/gretel/pkg-fzf). I need to see what's happening there too.

[2016-01-07 10:36] tucnak commented on #28
Wow, it's wicked! I love what you've done there!

[2016-01-07 10:37] rif commented on #29
Thank you a lot, If you need me to do any tests just let me know.

[2016-01-07 10:37] bucaran commented on #29
Yes. Things will start to take good shape as soon as I release 0.3.0 my captain!

[2016-01-07 10:53] bucaran commented on #29
Wow, I just found this.

https://github.com/fisherman/fisherman/blob/master/functions/fisher_uninstall.fish#L80

I have no idea how that slipped in there :sweat_smile:

That is effectively removingt the files from the cache every time you uninstall something.

[2016-01-07 14:46] bucaran commented on #28
Great! So, let's close this?

[2016-01-07 14:47] bucaran commented on #25
`fisher update --me` will be deprecated in 0.3.0. Now the default behavior will be updating fisherman.

[2016-01-07 14:48] bucaran commented on #27
Major speed improvement to land in 0.3.0. Thanks for suggesting this @namandistro.

[2016-01-07 14:58] #28 closed

[2016-01-07 19:00] bucaran commented on #29
I also found out that the changes introduced in 0.2.0 were causing the code that determines whether the item gets appended to the fishfile or not, to fail. Basically, since 0.2.0, you can search not only indexed plugins, but also stuff locally installed.

For example, even though @rif pure theme is not in the [INDEX](https://github.com/fisherman/fisher-index) (and whether it should or not is an en

[2016-01-07 23:48] #20 closed

[2016-01-07 23:48] #21 closed

[2016-01-07 23:48] #23 closed

[2016-01-07 23:48] #25 closed

[2016-01-07 23:48] #27 closed

[2016-01-07 23:50] bucaran commented on #24
@namandistro Please upgrade to 0.3.0! :anchor:

[2016-01-07 23:50] #24 closed

[2016-01-08 00:09] bucaran commented on #19
Implemented adding `--link` flag to `fisher install`.

This makes local plugin development a breeze. Say, you are developing plugin _foo_ locally, anywhere. And you want to test it. Using Fishtape will create a new child process for your tests causing your plugin definitions to turn to smoke unless you add the relevant function/completion files to the respective `$fish_*` paths.

What you would no

[2016-01-08 00:09] #19 closed

[2016-01-08 00:10] bucaran commented on #12
Fixed in 0.3.0

[2016-01-08 00:10] #12 closed

[2016-01-08 00:13] bucaran commented on #29
@rif Can you upgrade and try again? Let's see if this is fixed or what else needs to be done.

[2016-01-08 00:13] bucaran opened #31 "fisher uninstall --force removes actual files from symbolic directories"
This will be fixed shortly in a patch release.

[2016-01-08 05:09] simnalamburt commented on #12
Perfect

[2016-01-08 08:09] bucaran opened #32 "fisher search fails to retrieve information about local plugins that are not git repos"
This is a bug introduced in the last release where search fails to check whether there is a Git repo in the path currently being processed when local paths are installed using the `fisher install <path>`.

[2016-01-08 10:29] rif commented on #29
I can confirm that pure and fasd are working properly but gretel/fzf is still not working.

[2016-01-08 10:43] bucaran commented on #29
Good news!

fzf will be supported as soon as I can release the omf compatibility plugin. Below is the rationale.

This plugin uses an `init` event. I am actually the party responsible for introducing events into OMF, as I did originally in Wahoo. [See here](https://github.com/bucaran/wahoo/blob/master/init.fish#L44).

This was probably a poor decision :sweat_smile:.

Events are inherently slower t

[2016-01-08 10:57] rif commented on #29
I understand that it hurts to drop speed and I think if this omf compatibility plugin will be optional for those that want specific plugins can be a good trade-off.

Meanwhile I am torn between using fish with fisherman with fish or zsh with [zgen](https://github.com/tarjoilija/zgen). :sweat_smile:

[2016-01-08 10:58] bucaran commented on #29
Why not both? I use `zsh` too (sort of). I have been trying out   https://github.com/b4b4r07/zplug a bit lately.

[2016-01-10 19:24] bucaran opened #34 "Remove `d` debug function added by mistake"
https://github.com/fisherman/fisherman/blob/master/config.fish#L15 :sweat_smile:

[2016-01-10 19:25] #31 closed

[2016-01-10 19:25] #32 closed

[2016-01-10 19:26] bucaran commented on #32
https://github.com/fisherman/fisherman/releases/tag/0.3.1

[2016-01-10 19:27] bucaran commented on #31
[v0.3.1](https://github.com/fisherman/fisherman/releases/tag/0.3.1)

[2016-01-10 22:25] bucaran opened #35 "Support Tackle modules and old oh-my-fish .load files"
https://github.com/fisherman/fisherman/issues/37

[2016-01-10 22:36] kballard opened #36 "`fisher install shark scaffold reported wrong index"
After running `fisher search` to see the available projects, I tried running `fisher install shark scaffold` and it reported the wrong indexes:

[code]

fish-scaffold also doesn't seem to exist, but that's a different issue.

[2016-01-10 22:38] bucaran opened #37 "Add the ability for plugins to share code other than fish code (awk, perl, ruby, python, etc.)"
Support plugins like: [plugin-vi-mode](https://github.com/oh-my-fish/plugin-vi-mode).

* https://github.com/oh-my-fish/plugin-vi-mode

The following describes the install process for plugins that "share" code other than `.fish` files:

* Any files with a blessed extension: `*.py, *.perl, *.rb, *.awk, *.sed`, etc. at the root of the project are copied to `$fisher_config/functions` ***as is***. If t

[2016-01-10 22:39] kballard opened #38 "`fisher --list` with no installed plugins exits with an error"
If nothing has been installed, `fisher --list` exits with an error and no output. It should instead tell me that there's nothing installed on stderr and exit cleanly. Maybe exiting with code 1 is reasonable, but IIRC it exited with code 127 which is weird (I can't verify since I've already installed something now).

[2016-01-10 22:40] kballard commented on #36
`fisher uninstall` is even worse:

[code]

[2016-01-10 22:40] bucaran commented on #36
Hi @kballard!

Thanks. That's a bug I introduced by swapping the lines. I like shorter lines before longer lines. But that totally changed the meaning of the code!

Alos, the other plugins are not available yet! I will publish them as soon as I am done with [0.4.0](https://github.com/fisherman/fisherman/labels).

[2016-01-10 22:41] kballard opened #39 "`fisher --list` lists uninstalled plugins"
After uninstalling a plugin, `fisher --list` continues to list the plugin. It may still be in the cache (though is there any point to caching uninstalled plugins?), and `fisher --list` is documented as reporting what's in the cache, but really that command is only useful if it lists the actual installed plugins.

[2016-01-10 22:42] bucaran commented on #38
Should be easy to fix. I will also add a test for it.

[2016-01-10 22:43] kballard opened #40 "`fisher uninstall` is happy to uninstall already-uninstalled plugins"
If you install a plugin, then uninstall it, you can repeat the `fisher uninstall pluginname` command as many times as you like and it continues to "uninstall" it. I think this is because uninstalling leaves the plugin in the cache, and `fisher uninstall` is happy to "uninstall" anything in the cache.

[code]

[2016-01-10 22:46] bucaran commented on #39
Right. Install/Uninstall basically enables or disables the plugin.

If you uninstall the plugin you don't want to remove it from the cache before the user may be uninstalling to mean "disable this", rather than remove.

This was decided early on. I thought about adding `fisher enable/disable`, but then you end up with more commands that also need documentation and their own function and I figured

[2016-01-10 22:48] kballard commented on #39
With the way things are now, there appears to be no way to find out what plugins are "enabled".

Also, `fisher install shark` actually does almost 2 seconds of work, which if it's just enabling an already-downloaded plugin, you'd think it would be faster. It makes me think that it's possibly re-downloading.

Although, when I watch my Terminal window title bar, I'm actually seeing Terminal report t

[2016-01-10 22:56] bucaran commented on #40
Good catch. That's because it is just passing through in its way to disable the plugin.

It should not say anything because it is already disabled.

Related #39

[2016-01-10 22:58] bucaran commented on #39
Correct. There is no way to find out which plugins are enabled right now.

No. It's not re-downloading. It's updating the index. As you may have noticed already or not, the index, which is just a plain text record database is not in this repository, but [here](https://github.com/fisherman/fisher-index) (you could customize that btw, but I doubt anyone would in the near future as the official index

[2016-01-10 23:02] bucaran commented on #39
EDIT: I do want a mechanism to know which plugins are enabled/disabled though. That's obviously useful and the usage is already planned.

``
fisher --list=enabled | disabled | ...
[code]

[2016-01-10 23:14] kballard commented on #39
I think it makes sense to position `fisher --list` as a plumbing command suitable for use by scripts, so maybe it could do something like list all enabled plugins first with a `*` prefix (to mean installed) and then all disabled plugins with a space prefix (so it lines up with installed ones), e.g.

[code]

And then you can introduce a separate `fisher list` that's intended for human-readable outp

[2016-01-10 23:17] kballard commented on #39
To clarify: I'm in favor of supporting `fisher --list=enabled | disabled | index` as well. When printing just one type, no need for `*`/space prefixes. Although in that case, I'm not sure if there's any point in having `fisher --list` show disabled plugins and prefixes at all, it might make more sense just to treat `fisher --list` the same as `fisher --list=enabled`. Also, `fisher --list=index` sh

[2016-01-10 23:40] kballard opened #42 "Fisherman should provide an official way for plugins to register keybindings"
Fish currently invokes the user function `fish_user_key_bindings` whenever the `fish_key_bindings` variable changes (and prior to the first prompt being displayed). That's the official customization point for loading in your own keybindings. Anything set manually with `bind` will not survive the session, and will also get erased if the user changes the `fish_key_bindings` variable.

Unfortunately,

[2016-01-10 23:42] kballard commented on #42
An alternative approach would be to just define something like `fisher --evaluate-key-bindings` and have the Fisherman installation process modify the user's `fish_user_key_bindings` to insert that call at the top (or to define the function if it's not defined). Though this has the potential issue where you'd have to parse the file sufficiently to actually find the function declaration (there's no

[2016-01-10 23:45] bucaran commented on #42
To be fair I think the OMF folks are working on something to do with key bindings, but I am not sure.

In any case, yes, this is a must-have for 1.0. I'll add this to 0.5.0

[2016-01-10 23:54] bucaran commented on #39
Maybe `wait` is waiting too much _too_.

Thoughts:

* Make --quiet bypass the wait altogether. I should have done this from the beginning :sweat:
* The `*` is definitely coming soon :smile:
* Separate the current `fisher update --index` to `__fisher_update_index`, since that is an intentionally private function anyway.

I'll address the rest of the issues later.

[2016-01-11 00:01] bucaran opened #43 "Update the index only once per session"
Keeping the index up to date all the time _is_ a feature, but updating the index multiple times in the same session is unncessary.

This can be fixed moving the index update logic to `__fisher_update_index` as well as most of the `search` command logic to smaller functions. This way, other commands can use these functions as plumbing commands for search without triggering an index update everytime

[2016-01-11 03:31] bucaran opened #44 "Create AWESOME website for Fisherman"
* [fisherman.sh](http://fisherman.sh) is already setup, now we need something more decent.

EDIT: Added AWESOME to title, because site must be awesome.

[2016-01-11 07:59] bucaran opened #45 "Merge the Enable/Disable logic and separate to function"
The algorithm to enable/disable plugins is essentially the same. The only difference is enable copies/symlinks and disable removes, files from `$fisher_config/{functions,confd,completions,man%}`. Other than that, there is some specific logic to unload themes, but that's it.

The next milestone should address this by wrapping this logic and extracting all of that into a generic `__fisher_plugin`. C

[2016-01-11 08:53] bucaran commented on #38
@kballard I am unable to verify it returns 127.

<img width="605" alt="screen shot 2016-01-11 at 5 53 24 pm" src="https://cloud.githubusercontent.com/assets/8317250/12229552/43c57afa-b88c-11e5-9a20-b7688e55909e.png">

[2016-01-11 09:27] bucaran opened #46 "Check all oh-my-fish plugins and themes."
## Plugins
* List should be updated soon.

## Themes

Everything works except the following plugins:

+ theme-dangerous
	quited messed up, code is long, buggy and extremely slow theme.

+ theme-technopagan
	missing function `moonmoji`?

* theme-cor
	missing emoji clock dependecy

+ theme-syl20bnr
	fish: Unknown command 'pstree'

+ post-Wahoo themes
	require the omf (available after 0.4.0)

### Bug

[2016-01-11 18:13] kballard commented on #38
Looks like it was `124`, not `127`. I can reproduce with a fresh install of fisherman on another computer:

[code]

(the `[124]` in my prompt is the exit status of the last command)

[2016-01-11 19:24] bucaran commented on #38
Thanks. This has been fixed in 0.4.0, which I am about to push.

[2016-01-11 20:14] #34 closed

[2016-01-11 20:14] #35 closed

[2016-01-11 20:14] #36 closed

[2016-01-11 20:14] #38 closed

[2016-01-11 20:14] #40 closed

[2016-01-11 20:14] #45 closed

[2016-01-12 09:23] Fiedzia opened #48 "make failes"
mdziardziel@PC-076 ~/g/fisherman> make
Adding configuration to ~/.config/fish/config.fish
Downloading the index for the first time...
fish: Could not expand string “"$$spinners"”
/home/mdziardziel/git/fisherman/functions/wait.fish (line 68):             set spinners "$$spinners"
                                                                                        ^
in function “wait”,
        ca

[2016-01-12 09:31] bucaran commented on #48
@Fiedzia

Hi. What is your fish-shell version?

[2016-01-12 09:34] Fiedzia commented on #48
mdziardziel@PC-076 ~/g/fisherman> fish --version
fish, version 2.1.1

[2016-01-12 09:35] bucaran commented on #48
_This is a fish-shell_ version problem, one fix that comes to mind is extracting the index update logic to a `__fisher_update_index` and call this directly in the part where make downloads the index for the first time. There is no need to show the progress indicator there (in fact I think you can't even see it, so it's useless).

[2016-01-12 09:48] bucaran commented on #44
Done. I don't know if it's awesome, but it's up and running.

[2016-01-12 09:48] #44 closed

[2016-01-12 09:49] #37 closed

[2016-01-12 10:08] Fiedzia commented on #48
Ok, upgrading fish helped.

[2016-01-12 10:11] bucaran commented on #48
@Fiedzia Good to know. I will still ship a simple fix for those non-2.2.0 users (there are some I guess) in the next milestone so I'll have this open for now.

[2016-01-12 11:43] bucaran commented on #39
@kballard

Added the following extensions to `fisher --list` to query local plugins:

[code]

And like you suggested I am using these for internal operations that need to be fast, like auto-complete. This gained us quite the speed improvement (tested with all the existing omf and wahoo themes and plugins).

I could easily add `fisher --list=remote` too, but I am not sure if we want it.

[2016-01-12 11:59] bucaran opened #49 "Prepend a`*` to plugin with fisher -l"
Quoting @kballard

[code]

[2016-01-12 11:59] bucaran commented on #39
I think we are mostly done here, closing in favor of #49.

[2016-01-12 11:59] #39 closed

[2016-01-12 12:03] bucaran opened #50 "Add plumbing function to update the index."
This would be used instead of `fisher update --index` by those that need to cause the index to be updated for some reason. For example, _make_, during install, downloads the index for the first time. In this ocassion, using `fisher --update` will schedule the index update as a job in order to show a progress indicator which is not shown by make anyway and causes the install to fail in `< fish 2.2.

[2016-01-12 12:03] bucaran commented on #48
Closing in favor of #50.

[2016-01-12 12:03] #48 closed

[2016-01-12 12:21] bucaran commented on #43
Related #50

[2016-01-12 12:23] bucaran commented on #38
@kballard

124 is the exit code that is set by fish when wildcard expansion fails to expand, so it makes sense you were getting that number.

I have changed the behavior of `fisher --list` to simply return 1.

[2016-01-12 20:51] kevinastone commented on #16
:+1: , had to manually fix since I version control my config.fish

[2016-01-12 20:53] bucaran commented on #16
@kevinastone Sink me! Sorry about that. Shipping in 0.5.0 or 0.6.0 :smile:

[2016-01-12 21:25] Haroenv opened #52 "link to quickstart broken on index"

[2016-01-12 23:11] jwulf commented on #52
Points to: https://github.com/fisherman/fisherman/blob/master/man/man7/fisher-tour-tour.md

Should be: https://github.com/fisherman/fisherman/blob/master/man/man7/fisher-tour.md

[2016-01-12 23:13] jwulf opened #53 "Missing "what problem does this solve""
Why do I want this thing - aside from the fact that it's shiny and new, and clearly it's useful enough for someone to take the time to build it....

I'm not sure why I'm installing this...

[2016-01-12 23:14] jwulf commented on #53
Is it a replacement for omf?

[2016-01-12 23:20] jwulf commented on #53
OK, I read the FAQ. Maybe a tagline like:

Fisherman
Fish faster

A fast, modern plugin system for the fish shell.

[2016-01-12 23:28] bucaran commented on #52
@Haroenv @jwulf Thanks! Will fix right away.

[2016-01-12 23:35] #52 closed

[2016-01-12 23:35] bucaran commented on #52
:+1:

[2016-01-12 23:37] bucaran commented on #53
Totally.

I just started working on the [Wiki](https://github.com/fisherman/fisherman/wiki).

First, I will add the Quickstart Guide. Then, fill in the Why Fisherman? and Fisherman Alternatives sections.

I like:

What about:

[2016-01-12 23:56] bucaran commented on #53
For the record, and to answer your question now:

* Why do I want this thing?

If you are only using fish, you are missing out the ability to effectively share plugins, prompts, configs, missing completions, documentation for external utilities, plain old scripts or bundle of scripts.

If you are using Oh My Fish (OMF) / Wahoo or Tacklebox, you may be already doing some of the above, just very poo

[2016-01-12 23:57] jwulf commented on #53
Don't lose your fish customisations when you migrate machines.

Share them across machines easily.

[2016-01-12 23:58] jwulf commented on #53
Write once, run anywhere!

;)

[2016-01-14 08:38] pawelmhm commented on #50
Just a small sidenote here. I also ran into some installation problems due to old fish version (in my case I had 2.0). Simple update to 2.2 helped and fixed my problem. Perhaps it would be easier for you to just warn people about updating their fish to most recent version? I think there may be lots of noise and pseudo-issues that will result from old fish versions.

[2016-01-14 09:18] bucaran commented on #50
_Yes_. Will add a note in the Wiki too.

Thanks!

[2016-01-14 14:17] Nek opened #55 "Errors during installation"
[code]

[2016-01-14 14:21] bucaran commented on #55
Hi @Nek!

You can fix this by upgrading to fish 2.2.0.

Related: #48 #50

[2016-01-14 14:22] Nek commented on #55
Thanks for the quick reply!

—
Nikita Dudnik
http://nikdudnik.com

On Thursday, January 14, 2016 at 5:21 PM, Jorge Bucaran wrote:

[2016-01-14 14:23] bucaran commented on #55
Aye captain! :smile:

[2016-01-15 00:46] fishequality opened #56 "Do you recommend installing Wahoo or Oh My Fish! themes/addons?"
Which ones should I use and why?

Here, they say that Wa packages are not compatible with OMF, is this true?

Related:
https://github.com/oh-my-fish/oh-my-fish/issues/212

[2016-01-15 00:55] fishequality commented on #46
https://github.com/oh-my-fish/oh-my-fish/issues/225
https://github.com/oh-my-fish/oh-my-fish/issues/3
https://github.com/oh-my-fish/oh-my-fish/issues/10
https://github.com/oh-my-fish/oh-my-fish/issues/10
https://github.com/oh-my-fish/oh-my-fish/issues/12
https://github.com/oh-my-fish/oh-my-fish/issues/47
https://github.com/oh-my-fish/oh-my-fish/issues/57
https://github.com/oh-my-fish/oh-my-fish/is

[2016-01-15 17:47] fiatjaf commented on #29
I have just experienced similar problems with `fisher install oh-my-fish/fasd`. I'll wait for news in this issue.

[2016-01-15 17:55] bucaran commented on #29
@fiatjaf I believe the correct url for that plugin is `plugin-fasd`.

You can simply type:

[code]

Now, the plugin `fasd` uses OMF slow events, so you will need the `omf` compatibility plugin for this to work. The problem that plugin is not available yet. Unfortunately you will need to wait at least another day before I can release it with 0.5.0.

Hold on there :smile:

[2016-01-15 18:10] fiatjaf commented on #29
`oh-my-fish/fasd` has installed it, I think. Or at least it showed a message saying it was installing. Anyway, I'm not sure, but thank you. I'll wait. I'm just starting to get used to these plugins and fancy stuff -- not sure yet if I should become dependent on this or if I should stay with my raw fish shell.

[2016-01-15 18:41] bucaran commented on #29
We are always learning. When I started contributing to OMF my ideas about that a "shell plugin" should be were very different. I would like to convince you and others that (1) using plugins instead of monolithic dotfile solutions to share your functions, tools and configurations is the way to _shell_, but (2) I believe we are making a mistake by having a `fasd` plugin.

The [omf/plugin-fasd](https

[2016-01-15 18:44] fiatjaf commented on #29
Alright, thank you. It's probably better to decide after listening to some hard opinions instead of not knowing anything.

[2016-01-15 18:47] bucaran commented on #29
Right, also fasd is written in bash, which I guess is why people are creating a plugin to wrap it and make it work on Fish.

Nothing wrong with that. I think fasd should be rewritten in AWK or Perl so that it was easier to port to other shells. It would be faster this way too.

[2016-01-16 04:20] pickfire commented on #55
I have problem installing the man pages:
[code]
I guess this is caused by some complicated make commands:
[code]

[2016-01-16 04:28] bucaran commented on #55
Hey @pickfire, can you post your:

[code]

Thanks.

[2016-01-16 04:28] pickfire opened #57 "Why redirect install.fisherman.sh to a gist?"
You could also use a git.io for url shortening.

[2016-01-16 04:32] bucaran commented on #57
The reason is, a friend asked me so I implemented this feature as soon as I could.

In the future, instead of a Gist, I think this should redirect to either a file in this repo, or a new repo created for model installs. This way we could have opinionated installs outside the realm of this project, but still recognized under the organization.

[2016-01-16 04:32] pickfire commented on #57
Oh, thanks a lot for the answer.

Good luck and have a nice day!

[2016-01-16 04:32] #57 closed

[2016-01-16 04:33] bucaran commented on #57
Not a problem, keep them coming! :smile:

[2016-01-16 04:34] pickfire commented on #55
@bucaran, the output for 3 of them is:
[code]

[2016-01-16 04:34] pickfire commented on #57
@bucaran I had emailed you some problem too, should I open an issue for them?

[2016-01-16 04:38] pickfire commented on #53
Yeah, I think the prompt themes on `fish` is somewhat bloated, I hope that fisherman can work together with fish in that expect.

[2016-01-16 04:45] bucaran opened #58 "Allow to install a plugin with the same name as another currently installed"
The theme https://github.com/er0/lolfish is broken if you don't have TMUX.

So, I forked it and fixed it. But then I need to remove the originally installed `lolfish` and then install the fork in order to test it. It would be great if Fisherman just knew what to do here.

[2016-01-16 04:47] bucaran commented on #55
@pickfire Thanks! I think you need to upgrade `fish`. Any reason keeping you from upgrading to 2.2.0?

[2016-01-16 04:47] bucaran commented on #57
@pickfire Absolutely, feel free to open as many issues as you like!

:anchor:

[2016-01-16 04:52] pickfire commented on #55
@bucaran, I am using the latest fish which I had installed from git.

[2016-01-16 05:03] bucaran commented on #55
So, what do you think is causing this error?

[code]

Works fine here.

@tuvistavie You are using Arch right? Any thoughts?

[2016-01-16 05:21] pickfire commented on #55
@bucaran, I am @pickfire, not @tuvistavie. I am not sure if th location is wrong:

    Makefile:79: recipe for target '/home/ivan/src/fisherman//man/man7/fisher-commands.7' failed

Yeah, I am using arch.

[2016-01-16 05:58] bucaran commented on #55
@pickfire `$(dir $(abspath $(lastword $(MAKEFILE_LIST))))` is getting the current directory no matter from where you call make. This is supposed to be a fool-proof mechanism, but now is causing harm it seems.

@tuvistavie Dude, would you mind checking this on your Arch? Besides the config.fish issue, did you run into any other problems?

[2016-01-16 10:35] pickfire commented on #55
@bucaran, you can do `$(shell dir)` actually, `$(dir $(abspath $(lastword $(MAKEFILE_LIST))))` is too complicated for people to understand.

I took that from stack overflow, I thought about it too. There is a cons: `make` in the directory of the Makefile.

[2016-01-16 12:03] bucaran commented on #55
Mmm. How do we handle a case like

[code]

?

[2016-01-16 15:42] tuvistavie commented on #55
@bucaran I didn't have any problem last time, but I'll give it another try tomorrow!

[2016-01-17 05:57] pickfire commented on #55
@bucaran, that works for the install.fisherman.sh and for most of the people, except the rare ones.

[2016-01-17 06:01] bucaran commented on #55
@pickfire Perhaps I should not generate the documentation by default on user machines if I am already shipping it and create a phony target?

I don't understand what `$(dir $(abspath $(lastword $(MAKEFILE_LIST))))` has to do with the error you got.

[code]

Can you try installing it again or share maybe a Vagrant file with your box basic configuration so that I can test it here?

[2016-01-17 06:08] tuvistavie commented on #55
@bucaran I just tried it on my machine, `FISHER_HOME` ends with a `/`, so the path gives something like `path/to/fisherman//man`, but I do not get any error for the install.

I rather think that the `ronn` command is not available, causing the man generation to fail.

@pickfire Can you try `which ronn` and see if you get a result. If you don't, try running `pacman -S ruby-ronn` and try to install

[2016-01-17 06:12] tuvistavie commented on #55
Oh, just saw that the Makefile rule was

[code]

so at least it should not fail.

I just tried on a clean Ubuntu box and I did not have any problem. I'll try a clean Arch box and keep you posted.

[2016-01-17 06:31] bucaran commented on #55
@tuvistavie Thanks man!

Yes, changes anyone has already `ronn` installed are slim, hence the `-@ronn` rule, so that should not be it, me thinks.

[2016-01-17 06:42] pickfire commented on #55
@bucaran, `ruby-ronn` isn't installed. Maybe that's why.

[2016-01-17 06:57] bucaran commented on #55
[code]

Should not display anything and also ignore errors. Maybe is `make` issue? I am running `make 3.81` here.

[2016-01-17 07:07] tuvistavie commented on #55
@bucaran
I somehow managed to reproduce this in a clean Arch box, but it is quite random:

1. Run `make` (if it shows the error message, you can stop here)
2. Run `make uninstall`
3. Remove fisherman and clone again
4. Repeat

It usually happens on the second run, but I could not isolate this properly.
Once it shows the error, I can run `make` several times and it will output the
same message cons

[2016-01-19 10:19] szhu opened #59 "Don't install into ~/fisherman by default"
The tidiness of my home folder is important to me. Please don't intrude!

<img width="174" src="https://cloud.githubusercontent.com/assets/1570168/12415874/f7befe0c-be52-11e5-95d2-314a29528a8d.png">

Perhaps put it under `~/.local/fisherman` or `~/.local/opt/fisherman`?

[2016-01-19 10:59] bucaran commented on #59
:smile:

Actually, Fisherman does _not_ install to `$HOME` by default, it installs to $PWD by default. You can change this location by moving to your desired path and then install, but I reckon this is not specified anywhere.

The original method to install was by `git clone; and make` so it was **obvious** Fisherman would install to the current directory, but since the new advertised method just

[2016-01-19 18:06] bucaran commented on #42
@kballard I finally had time to go over this.

Copying the function or even doing the simplest tricks inside `fish_user_key_bindings` slows down shell, so I had to rule that out.

The good news is I came up with another solution taking some cues from your suggestion that has the following advantages:

+ Does not slow down shell start.
+ Does not require Fisherman to provide his own `fish_user_key_

[2016-01-19 19:15] bucaran commented on #22
0.5.0 introduces `$fisher_theme` to keep track of the current theme and we are now checking currently installed plugins and not allowing users to re install them unless they use the --force flag.

As for
[code]
The behavior of theme3 taking precendence will remain.

[2016-01-19 19:15] #22 closed

[2016-01-19 19:23] bucaran commented on #56
Fisherman is compatible with omf so I don't recommend against it. Specially themes, there are many good themes in the omf organization. Plugins are usually low quality, but there are some good ones.

Some omf themes like `bobthefish` and `agnoster` do work with Fisherman, but require you to reset the shell session. They work great with omf because **your session is reset after install with `exec f

[2016-01-19 19:57] hauleth commented on #56
I am using Wahoo Agnoster theme (disclosure: I am author of that) with Fisherman and works pretty well:

![image](https://cloud.githubusercontent.com/assets/291639/12430286/28e83164-beef-11e5-82b6-c4e134062c5d.png)

There are 2 themes available:

- `agnoster default` (enabled by default)
- `agnoster powerline`

Just add one you like in your `config.fish` and enjoy.

[2016-01-19 23:59] szhu commented on #59
Yes, good idea. fisherman is a global command (you can type `fisher` in any cd). This means that the install location should be the same regardless of the cd as well.

[2016-01-20 00:32] bucaran commented on #59
Starting from 0.5.0, `install.fisherman.sh` will retrieve a more sophisticated install script.

If you have any other setup feature requests or ideas, now it would be a great time to let me know :smile:

[2016-01-20 23:46] tobywf commented on #56
Ex-`omf` user here, used several themes with `fisherman` without much hassle;  including `bobthefish`. `bobthefish` is feature-rich, so I can see the appeal, especially if this is your first theme.

Because shell themes are a personal expression of your preferred workflow (and sometimes aesthetics), you might want to hack a theme to suit your needs. The restart issue @bucaran pointed out can becom

[2016-01-21 19:39] hauleth commented on #56
Thanks you very much. I am trying 😊

--
Łukasz Jan Niemier

Dnia 21 sty 2016 o godz. 00:46 Toby Fleming <notifications@github.com> napisał(a):

[2016-01-23 20:39] millaisnick opened #62 "Maybe add a roadmap with a list of the features in the plans?"
Something like:

* [ ] Add this nice feature
* [x] Improve this feature
* [ ] Etc

Just an idea.

[2016-01-23 21:04] bucaran commented on #62
Maybe. Perhaps, after 0.5.0 or 0.6.0 once the feature set has stabilized. The new 0.5.0 has taken so long because I basically rewrote half of Fisherman and had to rewrite all tests too. This was good because I had a chance to simplify and refactor a lot of code too.

If we do add a roadmap where would you like to add it? README? Wiki?

[2016-01-23 21:29] bucaran commented on #58
Adding -f to install just to reinstall the plugin seems pretty good to me. This feature is not needed as you can simply:

[code]

[2016-01-23 21:29] #58 closed

[2016-01-23 21:29] bucaran commented on #56
Thanks everyon! Closing.

[2016-01-23 21:29] #56 closed

[2016-01-23 21:32] #46 closed

[2016-01-23 21:33] bucaran commented on #53
Will leave this open to remind me to work on [Why Fisherman?](https://github.com/fisherman/fisherman/wiki/Why-Fisherman%3F).

[2016-01-24 18:03] etu commented on #59
Just putting a note here, but default for `$XDG_DATA_HOME` is `$HOME/.local/share/` and I'd say that `$HOME/.local/share/fisherman` seems reasonable to follow XDG.

[2016-01-24 20:18] kiRach commented on #29
:+1: Can't wait! :)

[2016-01-24 22:22] daenney commented on #59
Link to the full spec: http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2016-01-25 00:00] millaisnick commented on #62
Thanks. What about adding a new ROADMAP.md? Or just to the Readme, maybe.

[2016-01-25 00:10] bucaran commented on #29
Hi @kiRach What OMF plugins are you using?

[2016-01-25 00:12] kiRach commented on #29
Hi @bucaran, I was going to use z plugin (https://github.com/oh-my-fish/pkg-z) but it didn't work well. I found this thread and think that's because of omf events you've already talked about.

[2016-01-25 00:12] bucaran commented on #59
@etu @daenney Thanks folks! That's exactly the plan. I will be shipping this as soon as I am done with 0.5.0.

See also [here](https://github.com/fisherman/fisherman/pull/60).

[2016-01-25 00:12] bucaran commented on #62
I'd rather add it to the README :smile:

[2016-01-25 00:14] bucaran commented on #29
Yes. That plugin uses events. I don't use `z` so you could really help me debug this as soon as I am ready to ship a fix for plugins that use events.

[2016-01-25 00:15] kiRach commented on #29
@bucaran No problem, let me know when you will need my help.

[2016-01-25 00:17] bucaran commented on #29
Awesome. I'll give you a ping sooner than later, perhaps later today. If you could sign up [here](https://fisherman-wharf.herokuapp.com) that would be even more helpful.

[2016-01-28 16:18] jonatas opened #63 "Fisher install doest not persist plugin"
When I install a new fisher plugin like:

[code]

It works only in the same tab I am. If I open a new fish session. It does not load the plugin.

I missed something on my repo to load it in every fish session?

    $ fish -v # => fish, version 2.2.0
    $ fisher -v # => fisher version 0.4.0

[2016-01-28 16:29] bucaran commented on #63
I looked at your plugin. You need to write a function per file and save it under `functions/`.

+ `rd-fish/functions/hrp.fish`

[code]

+ `rd-fish/functions/pglocks.fish`

[code]

+ `rd-fish/functions/hrs.fish`

[code]

Also, it seems there is some code you always want to run during startup. You can do this in several ways, since Fisherman needs to support other framework styles. The way _I_ prefe

[2016-01-28 17:10] fibo opened #64 "install omf/z does not work"
Hi,

maybe I missed something, I tryed `fisher install omf/z` and I could not use z.
Also, I added a z.fish file in conf.d/ folder, see [my article](http://g14n.info/2016/01/welcome-to-fish-shell/) for complete working instructions. I did not found documentation about conf.d/, I just read the code. Is that ok?

[2016-01-28 17:28] bucaran commented on #64
Good catch. There is little documentation for `conf.d` because this feature was added after I wrote and revised the documentation before 0.2.0 I think. The only thing I could find was:

[code]

[code]

For OMF plugins you will often need the still-not-shipped :sweat_smile:  [omf plugin](https://gist.github.com/bucaran/7f12e6c6e0553b2666b2), but in the case of `z` things should be working alright b

[2016-01-28 17:45] jonatas commented on #63
Thank you @bucaran! Great explanation!

Is there any way to aggregate all my functions in the same file instead of put each one with correspondent file name under functions directory?

Like if I put on config.fish:

[code]

Will it expose my functions to fish shell?

[2016-01-28 17:45] fibo commented on #64
Yes, I already have z, read [here how z plugin installation and setup](http://g14n.info/2016/01/welcome-to-fish-shell/#plugins) was completed successfully.

I tryed on another host, if I install fisherman, then `fisher install omf/z` I get a message

[code]

Then even if I add z.fish into the conf.d/ folder, z does not work.

[code]

While if I install it with `fisher install oh-my-fish/plugin-z`

[2016-01-28 17:46] fibo commented on #64
By the way, as you can see I stolen you animated gif :) How do create them?

[2016-01-28 18:35] bucaran commented on #64
@fibo Mmm `fisher install` is working as it should as I can see both `z.fish` and `z.check.fish` inside the `functions/` directory in `$fisher_config`, so the problem is _not_ there. :white_check_mark:

Now,

There is a missunderstanding. You don't need to add anything to `conf.d`. The only thing that goes in there is code that should be evaluated at the start of the shell. In the case of `omf/z`

[2016-01-28 18:39] bucaran commented on #64
@fibo One last thing:

[code]

[2016-01-28 18:47] bucaran commented on #64
It seems to be working here.

![z](https://cloud.githubusercontent.com/assets/8317250/12655167/0b00ed50-c63b-11e5-9345-a0122f4cd31c.gif)

[2016-01-28 18:50] bucaran commented on #63
Yes, you can do that too.

`rd-fish/config.fish`

[code]

[2016-01-28 19:35] fibo commented on #64
Thanks, I used `omf/plugin-z` instead of `omf/z` and now it works.

What I do not still understand is: does exists an `omf/z` plugin? If not, why `fisher` did not complain and said instead *installation complete*?

[2016-01-28 19:50] jonatas commented on #63
Thanks @bucaran !!! :cake:

[2016-01-28 19:50] #63 closed

[2016-01-28 20:28] bucaran commented on #63
Thank you! :smile:

[2016-01-28 20:29] bucaran commented on #64
@fibo Good point***!***

This is a problem with 0.4.0 and it is already fixed in 0.5.0, which will be shipping as soon as I am done with a few more tests.

[2016-01-29 07:41] fibo commented on #64
Great, finally: is there a config I can set so I can get automatic updates or get notified, everytime I open fish shell or I use fisherman?
Something like bower message when it says "there is a new version available".

If not, can you put it on next release, so lazy People (like me :)) Will be Always up to date.

Btw I really like that fish has tests.

[2016-01-29 09:30] bucaran commented on #64
@fibo _Yes!_ I like that. The issue is _when_ to check for updates. We don't want to block the session while Fisherman opens a network connection.

For example, every time you install / search something, we could test the remote git status.

Can you create a separate issue for this? And close this one if you managed to get `z` working perfectly.

[2016-01-29 10:03] fibo opened #65 "updates available notification"
To enhance user experience, it would be nice to have a message that notifies when fisherman updates are available, a la [bower](http://bower.io/).

This could be displayed after an install.
It should be silenced if some `--quiet` option is enabled, to respet [rule of silence](https://en.wikipedia.org/wiki/Unix_philosophy).

[2016-01-29 10:04] fibo commented on #64
Sure: https://github.com/fisherman/fisherman/issues/65

[2016-01-29 10:04] #64 closed

[2016-01-29 10:42] bucaran commented on #65
Just to be clear, you want this notification to show up without user intervention?

What about:

[code]

or

[code]

[2016-01-29 10:49] fibo commented on #65
I think [bower](http://bower.io/) behaviour is the right way.
Users will not launch a command to check for updates, usually: notification should be displayed after you perform an `fisher install foo`, which needs to connect to the network, so you can also try to get latest fisher version and compare it to the local one.

If user want to update fisher, could launch a command like `fisher upgrade`.

[2016-01-29 10:59] bucaran commented on #65
Commands that could trigger a notification are install and update, maybe search.

I think the right approach is this, but I would like to limit the update checks to once a day as is unlikely Fisherman will be updated that often.

The index, which is the database of packages is self-updating so this feature would only apply to Fisherman the manager itself.

[2016-01-29 15:52] kiRach commented on #65
Maybe also consider Oh My Zsh behaviour here? I was pretty happy when used it It checks for updates automatically every week or so (customisable) when you launch a shell.

[2016-01-29 16:07] bucaran commented on #65
That makes sense too.

In 0.4.0 the index is updated every time there is a search query, in 0.5.0 there is a new mechanism that updates the index only once per search increasing install/uninstall time of local plugins from 1s to instantaneous.

[2016-01-29 21:11] fibo commented on #59
I agree to install it in an hidden folder, `$HOME/.local/share/fisherman` looks good, but consider not all the people will have `$XDG_DATA_HOME` set. I discovered this variable reading this issue.

My use case was: ok, let's trust the author and install it from install.fisherman.sh, and I think that it should default to an hidden folder even if no variable was found.

[2016-01-29 21:14] bucaran commented on #59
Yep.

If they don't have `XDG_DATA_HOME`, which is very common (I don't have it set), we install to `$HOME/.local/share/fisherman` by default, else, we install to `$XDG_DATA_HOME/fisherman`.

[2016-02-01 20:03] bucaran commented on #42
Done.

bc2215b50ed7775f92048ff7f848142b9f23d786

[2016-02-01 20:03] bucaran commented on #43
Done! bc2215b50ed7775f92048ff7f848142b9f23d786

[2016-02-01 20:03] #43 closed

[2016-02-01 20:03] #42 closed

[2016-02-01 20:09] bucaran commented on #50
bc2215b50ed7775f92048ff7f848142b9f23d786

[2016-02-01 20:09] #50 closed

[2016-02-01 20:09] bucaran commented on #49
bc2215b50ed7775f92048ff7f848142b9f23d786

[2016-02-01 20:09] #49 closed

[2016-02-01 20:10] bucaran commented on #55
Hi @Nek, can you upgrade to 0.5.0 and try again? I think this issue is fixed, but please reopen if it isn't.

bc2215b50ed7775f92048ff7f848142b9f23d786

[2016-02-01 20:10] #55 closed

[2016-02-02 19:11] bucaran commented on #59
@szhu @fibo @simnalamburt @daenney @etu Hi everyone, the new [Fisherman installer](https://github.com/fisherman/installer) is up and running.

:anchor:

[2016-02-02 19:11] #59 closed

[2016-02-02 20:41] daenney opened #66 "find: illegal option -- m"
When `$fisher_cache` is empty the `find -L $fisher_cache/* -maxdepth 0 -type d` yields an error as it expands to nothing.

[2016-02-02 20:42] bucaran commented on #66
@daenney Nice find. Will fix this right away.

[2016-02-03 00:11] #66 closed

[2016-02-03 02:15] pickfire opened #67 "Add awesome benchmark image in tag 0.5.0"
Hi, I hope that you could add the image to **top** of the wiki page https://github.com/fisherman/fisherman/wiki/Performance as I wasn't able to edit it.

![image](https://cloud.githubusercontent.com/assets/8317250/12727212/42790372-c95f-11e5-9f2d-7f78ff8303e9.png)

By the way, could you show some tips to create that nice image? What did you use?

[2016-02-03 07:11] daenney commented on #66
Applied the fix locally, works like a charm :smile:.

[2016-02-03 07:58] bucaran commented on #67
I updated the README with a more slim new graphic you can see below.

![bm](https://cloud.githubusercontent.com/assets/8317250/12776112/ac760080-ca96-11e5-8989-8aba002bdc2b.png)

As for the software, I used Pixelmator in this case.

I will add it to the Wiki too, thanks. :smile:

[2016-02-03 09:16] bucaran opened #68 "Support Oh My Fish! init events without the speed penalty out of the box"
Using a simple code injection mechanism we can support events without affecting regular Fisherman users and still make _faster_ :rocket: than Oh My Fish! as we do ***not*** waste time evaluating that have no event definitions and do ***not*** emit `init` events for every plugin, even those that do not use events at all.

UPDATE:

Here is how it works. Essentially I will add a new private function

[2016-02-03 09:49] pickfire commented on #67
Okay, thanks for sharing it to me.

[2016-02-03 09:49] #67 closed

[2016-02-03 09:50] pickfire commented on #67
And I think that the `time -p fish -ic exit` is nice too, I hope that you don't delete it.

[2016-02-03 09:56] bucaran commented on #67
I didn't, it's right there in the README. I took it from the graphic, but it's still written in the README.

[2016-02-03 10:46] fibo commented on #59
I got this error, after removing fisher

[code]

[2016-02-03 10:56] bucaran commented on #59
@fibo

0.5.0 was a huge update, and this is probably due to the changes in the internal API. For example, there is now a new $fisher_file and $fisher_prompt variables used to check what plugins are currently installed and I think that's the issue. I recommend a clean install from zero.

If you still have the same issue by all means create a new issue for that :sweat_smile:

[2016-02-03 13:17] fibo commented on #59
no prob,

well, now if I start typing `fisher install b` everything blocks, maybe there is some issue with autocompletion?

[2016-02-03 13:20] bucaran commented on #59
That's odd, autocompletion should be working just fine.

Can you confirm that `$fisher_file` exists?

[2016-02-03 13:21] pickfire commented on #59
It seems like I found fisherman cache in `~/.config/fisherman/cache`, is the correct? I thought it should be `~/.cache/fisherman`?

[2016-02-03 13:24] bucaran commented on #59
That's correct, the `cache` is used internally by Fisherman so the used should not be able to delete it. Perhaps another name would be less confusing?

[2016-02-03 13:53] etu commented on #59
@bucaran If it's used internaly and not supposed to be altered by the user. The proper location would be `$XDG_DATA_DIR` or `$XDG_CACHE_DIR` depending on the nature of the data.

[2016-02-03 14:15] bucaran commented on #59
So, this "cache" is basically where repos get downloaded to. When you install a plugin it is downloaded to this "cache" for the first time only. When you uninstall a plugin it only gets removed from there if you use `--force`.

Since Fisherman uses a "flat" tree by design, we can't simply add the paths to the downloaded repos to `$fish_function_path` which is what I did originally with Wahoo and O

[2016-02-03 14:28] beckclib opened #69 "What is the advantage over Oh My Fish?"
Looks very professional and all, but I have been using Oh my Fish! more or less and now I found this.

Why should I change to Fisherman and what are the advantages over Oh my Fish?

[2016-02-03 15:53] bucaran commented on #62
What are some features you would like to see / you need?

[2016-02-03 23:58] kehugter opened #70 "`fisher (un)install` without arguments doesn't exit properly"
It keeps waiting for input. Should display usage, I guess.

fisher 0.5.0

[2016-02-04 00:03] bucaran commented on #70
Uninstall, as well as Install, actually most Fisherman commands, read the standard input by default if no argumentts are given.

Sample output:
[code]

[2016-02-04 00:08] kehugter commented on #70
Wrongly guessed, then. Thanks for fisherman and your detailed answers, I've been reading the issue tracker for the last couple of hours.

[2016-02-04 00:08] #70 closed

[2016-02-04 00:15] bucaran commented on #70
BTW I am not against changing the APIs before we ship 1.0.

Originally, that was `fisher update` behavior too, but a lot of people commented that `update`'s most normal behavior is to update Fisherman itself, so it became that way.

Update Fisherman

[code]

Notice that the following works too.

[code]

Now, if you want to read from stdin with update, use a dash like good ol' UNIX fishermen.

[cod

[2016-02-04 01:48] bucaran opened #71 "0.5.0 breaks fisher -l | fisher <command> due to plugin decorators"
Thanks Dominik for letting me know.

[2016-02-04 05:29] bucaran commented on #68
Implemented with https://github.com/bucaran/fish-autoinit

[2016-02-04 05:31] #68 closed

[2016-02-04 06:00] bucaran commented on #69
I have been meaning to write a nice explanation [here](https://github.com/fisherman/fisherman/wiki/Why-Fisherman%3F), but had no time actually coding Fisherman. I'll get around to it eventually.

In the mean time here are the main reasons:

1. Fisherman supports Tacklebox, Oh My Fish! and Wahoo plugins / themes. In addition, it extends the plugin system to support more complex plugins like [Fishta

[2016-02-04 08:01] etu commented on #59
So, I'll just link this blog post: https://ploum.net/207-modify-your-application-to-use-xdg-folders/

At the moment, I'm not very deep into the inner functions of how fisherman works, or how the tools are built. Or even exactly what they do when you run different things.

At the moment, I'm looking at this from a `user`-perspective knowing how XDG is supposed to split up applications.

If I remove

[2016-02-04 10:06] bucaran commented on #59
@etu I am afraid that break, it will.

If the naming is an issue, how do you feel about `stage`? Because that would not be so distant from the truth either.

[2016-02-04 10:42] bucaran commented on #69
I am unable to comment in the OMF repo, but I just want to tell @oranja that competion is the mother of invention. I also want to remind him that Fisherman is also, obviously free and open source and wait for it, done just for fun too. I would also like to remind @oranja about [this](https://github.com/oh-my-fish/oh-my-fish/commit/2693a2fd18bd92a439f4d74b10513922d92120f7) and hopefuly hear whether

[2016-02-04 11:02] bucaran commented on #69
<img width="771" alt="screen shot 2016-02-04 at 8 01 43 pm" src="https://cloud.githubusercontent.com/assets/8317250/12813246/24e7e9dc-cb7a-11e5-8ca9-b734289445a6.png">

[2016-02-04 11:24] etu commented on #59
@bucaran The naming isn't the issue, I think. Just the location, I believe. The article explains quite well the user-reaction on removal of each directory.

[2016-02-04 11:28] bucaran commented on #59
@etu Thanks for linking that up. It looks like a friendly read. I'll go over it and come back to this later.

[2016-02-04 11:29] bucaran opened #72 "Should we use more XDG directories?"
* https://ploum.net/207-modify-your-application-to-use-xdg-folders/

/cc @etu

[2016-02-04 11:37] oranja commented on #69
1. There's no need to remind me about competition. I am all for a freedom of choice. I only mentioned Fisherman once, and that was to encourage people to actually use Fisherman. I really don't see why you feel the need to remind me stuff.
2. I have some criticism as well, but you chose to go on your way and I don't have the time to work on two frameworks. It really doesn't help to my motivation to

[2016-02-04 11:46] etu commented on #72
Yes! XDG is good! Makes it easier to do good backup routines and easier to sync configuration between computers! ;)

[2016-02-04 11:47] bucaran commented on #69
Fair enough.

Would love to hear that. Fisherman is still not half way to 1.0 and there is room for improvement.

Of course you have heard nothing about it. It was shortlived and merged (replaced is the right word) with Oh My Fish! after 2 or 3 months.

That exlains why I can't post any comments or send PRs.

[2016-02-04 11:53] bucaran commented on #72
If anything changes, it must be before we hit 1.0, so I promise I will look closely at that article and see if there is anything we could change to be more XDGity.

[2016-02-04 12:06] derekstavis commented on #69
You are banned because I have asked you in a friendly way to stop advertising Fisherman inside Oh My Fish repositories, and you, with your childish behaviour haven't stopped, so you got blocked organisation-wide.

Also, I wanted to say that I've noticed you created a handful of fake users to reference Fisherman inside Oh My Fish and to cause confusion, manipulating comments, with the innocent idea

[2016-02-04 13:28] bucaran commented on #69
You also forgot Tweeting euphorically and posting comments and links in blogs to gain attention.

...

Scary.

Anyhow, feel free to address the issue at hand if you actually want to have rational discussion.

[2016-02-04 13:55] beckclib commented on #69
@bucaran Thank you, that was well thorough. I'll give it a shot and let you know. Sorry, if this has caused some polemic it was not in my intentions.

[2016-02-04 14:07] bucaran commented on #69
@beckclib No prob. At the end of the day, we all have one thing in common, we think Fish is great and love to use it.

[2016-02-04 16:13] tuvistavie commented on #69
Hi,

I'm a fish user, and the author of [fundle](https://github.com/tuvistavie/fundle).
I think fish is really a great shell, and I would love more people to use it,
but because of what happened with wahoo and omf, fish now has the worst
community I have ever seen, which I think is really a shame.

OMF folks have been really nice when it came to [help with compatibility](https://github.com/oh-my-f

[2016-02-04 16:16] bucaran commented on #69
:clap:  Well said @tuvistavie

[2016-02-05 01:38] bucaran commented on #69
<img width="530" alt="screen shot 2016-02-05 at 10 33 46 am" src="https://cloud.githubusercontent.com/assets/8317250/12835510/0cb28ca8-cbf4-11e5-8607-f5f972e80c09.png">

[2016-02-05 01:41] bucaran commented on #69
@oranja

Point 1 is your best argument. Point 2 is just a personal hypothesis. I *assure* you that I would take your ideas and contributions into account and accept your feedback and discuss whatever concerns you may have in depth. The same goes to any other Oh My Fish! contributor.

Point 3 applies to Fisherman too, I have so far produced a TAP producing test framework for Fish that is not locked

[2016-02-05 05:27] bucaran opened #73 "Add DEBUG mode"
It would be nice if Fisherman was aware of a global `$fisher_debug` (or maybe `$FISHER_DEBUG`?) variable and if that variable is `set -q` then produce debugging information to stderr.

Similarly we could introduce a `$fisher_verbose`, or even better adding a `-v` flag to some commands, so that they would print extra information about what they are doing.

See #74

[2016-02-05 05:31] bucaran opened #74 "Add -v --verbose flag to some commands"
It would be nice if some Fisherman commands accepted a `--verbose` flag to indicate they should print extra information (if there is any). This is somewhat related to adding a DEBUG mode, currently being tracked in #73.

One use case for verbose would be to add granular detail to what `fisher update [...]` is doing.

[2016-02-05 10:21] pickfire commented on #69
@bucaran 300+ tests? That's insane! I had already noticed that as it took **quite some space** on my system, I really hope that it could be separated, if not, I hope that it could be a lot smaller.

@bucaran, @tuvistavie I really hope that the fish community can work together and build a nice plugin manager together by using all the best ideas, this would greatly benefit fish users.

[2016-02-05 10:28] bucaran commented on #69
Do you mean bytes? Fisherman is just slightly 4KB bigger than Oh My Fish!

<img width="542" alt="screen shot 2016-02-05 at 7 25 03 pm" src="https://cloud.githubusercontent.com/assets/8317250/12843665/32e777d6-cc3e-11e5-859e-dda63b72c742.png">

[2016-02-05 10:29] pickfire commented on #69
@bucaran I don't mean the zipped fisherman. The tests file really do consume most of the space.

[2016-02-05 10:34] bucaran commented on #69
That's right, the tests are twice as large as Fisherman's core body.

<img width="548" alt="screen shot 2016-02-05 at 7 33 59 pm" src="https://cloud.githubusercontent.com/assets/8317250/12843892/733b2ab6-cc3f-11e5-83ba-6c7b28356969.png">

[2016-02-05 10:35] tuvistavie commented on #69
@pickfire Is this really important here? If it were targeting an embed device
with only a few MB of storage I would understand, but on a normal computer nowadays
a few MB is really not relevant in my opinion, and I do not think it is worth
separating the tests to gain such a small amount of space.
The unzipped repository with everything including the .git directory
is around 1.3MB, do you really h

[2016-02-05 10:40] bucaran commented on #69
@tuvistavie Agree with you. In addition, as we move closer towards 1.0, Fisherman is supposed to become more and more feature _locked_. We don't need a forever evolving plugin manager to have great plugins. We need a good plugin manager and great plugins. The first part of the equation is almost done.

<img width="265" alt="screen shot 2016-02-05 at 7 39 05 pm" src="https://cloud.githubusercontent

[2016-02-05 12:30] pickfire commented on #69
@tuvistavie I am indeed using an embedded device (rpi2), actually I just mean that test isn't necessary and I am not sure why it is in `~/.config/fisherman`.

![2016-02-05-202715_564x340_scrot](https://cloud.githubusercontent.com/assets/4687791/12846348/040d9810-cc47-11e5-9b1a-5daf0bf8823f.png)

@bucaran `~/.config/fisherman` costs me about 4 MiB even after removing those tests file and I only use

[2016-02-05 12:36] bucaran commented on #69
Interesting stuff!!

@pickfire Can we track this on another issue?

TBH I don't mind changing the way we ship Fisherman and move the tests to a differen repo. I just never done it like that before, but if it is for the best I am in. But in order to do that, careful planning and wisdom required will be.

![piq_246432_100x100](https://cloud.githubusercontent.com/assets/8317250/12846537/8388dccc-cc50

[2016-02-05 20:45] bucaran opened #75 "Install plugins from Gist URLs"
It would be great if we could do this:

[code]

And Fisherman would correctly guess the name of the plugin by looking at the downloaded contents.

* [Link](https://gist.github.com/bucaran/812892f5128c3fac5859)

[2016-02-05 21:16] bucaran opened #76 "Create new high resolution SVG version of the logo."

[2016-02-06 03:28] pickfire commented on #76
I would like to help on this too.

[2016-02-06 11:36] bucaran commented on #76
@pickfire That would be awesome. This is what I have so far, but I am having trouble smoothing out some of the details.

[2016-02-06 13:32] pickfire commented on #76
@bucaran Is the `.ai` file that you had sent me the one you just did?

[2016-02-06 13:33] bucaran commented on #76
That's correct, did you want the exported .SVG?

[2016-02-06 13:41] pickfire commented on #76
@bucaran No, I can't download that as I doesn't have dropbox account.

By the way, I didn't know you are in Tokyo.

[2016-02-06 13:44] bucaran commented on #76
I'll email it to you then.

[2016-02-06 17:48] bucaran opened #77 "Revise documentation, use more consistent style, remove deprecated APIs"

[2016-02-06 20:04] bucaran opened #78 "Do not activate theme B if user updates theme B but theme A is set"
Sounds complicated but imagine the following scenario:

Theme "A" is set and the user installs everything in the cache/stage using:

[code]

This will update themes present in the cache too, for example "B". Update also enables the plugin, and that will result in enabling theme "B" even though "A" was already enabled before.

It seems to me as if they the user may only be looking to update everyth

[2016-02-07 06:07] pickfire commented on #77
Is there any plan to switch to `md2man` or something similar?

ruby-ronn isn't installed by default in a lot of distributions.

[2016-02-07 11:02] bucaran commented on #77
Well, `ronn` is older than `md2man` and both are written in Ruby if I am not mistaken. I don't mind either one TBH. Generating the docs is something that only people editing the documentation need to face, therefore most users are not affected.

Also, notice the new rule on the Makefile:

[code]

So, we are deliberately skipping doc generation entirely and silently if you don't have `ronn`.

If yo

[2016-02-07 11:15] #77 closed

[2016-02-07 11:25] bucaran commented on #29
@rif @fiatjaf @kiRach @simnalamburt We should have close to 100% compatibility with Oh My Fish! packages now using the [`legacy`](https://github.com/fishery/legacy) plugin.

![legacy](https://cloud.githubusercontent.com/assets/8317250/12872034/f5767c34-cdd8-11e5-991a-90aa77c51645.gif)

7efb46bc10713096a49cf99ee38ddafd6d85ccee

[2016-02-07 11:27] #29 closed

[2016-02-07 11:28] bucaran commented on #62
This is the best I can do for you https://github.com/fisherman/fisherman/milestones

:smile:

Feel free to leave open if you want to address this issue any further.

[2016-02-07 11:29] bucaran commented on #71
7efb46bc10713096a49cf99ee38ddafd6d85ccee

[2016-02-07 11:29] #71 closed

[2016-02-07 16:04] jab opened #79 "use fully qualified paths of `cp`, `mv`, etc. or `command` before invoking them"
I have common commands like `cp`, `mv`, etc. aliased to `cp -i`, `mv -i`, etc.

When I use fisherman, I see `overwrite /Users/jab/.config/fisherman/fishfile? (y/n [n]) not overwritten`.

I assume this is caused by fisherman referring to a command like cp as just `cp`, rather than as `/bin/cp` or `command cp`. This can cause problems if the user has the command aliased to pass other arguments (such

[2016-02-07 16:07] daenney commented on #79
Using `command` is probably a good idea but if you're using Fish I'd recommend using abbreviations over aliases. They have the advantage of being automatically expanded on your shell (so the command you end up executing doesn't contain "hidden" options) and wouldn't mess with scripts like this.

[2016-02-07 16:17] jab commented on #79
Thanks @daenney, switched to using `abbr` and glad to have another way to accomplish the same thing that doesn't get in the way of fisherman. And glad you agree it's worth using `command` in fisherman.

[2016-02-07 16:30] bucaran commented on #79
@jab You are absolutely right, so I have added it to the next milestone. I'll patch this ASAP and push after all tests pass and I see things to be working as they should.

[2016-02-07 17:13] bucaran commented on #79
* [ ] mkdir
* [ ] cp
* [ ] ln
* [ ] rm

[2016-02-07 17:16] daenney commented on #79
Bash seems to have an `unalias` so you can remove aliases. It might be worth seeing if we can recreate that somehow so we can call that at the top/whenever we start a script and then not have to worry about the command invocations at all.

[2016-02-07 17:17] daenney commented on #79
Oh ha, since aliases are just functions we could `function -e` instead.

[2016-02-07 17:18] bucaran commented on #79
@daenney Yes, but it's not that easy, we would need to copy the function first, and then define it again later.

[2016-02-07 17:19] daenney commented on #79
Oh, bummer. I was hoping it could scope that to the process currently being executed.

[2016-02-07 17:20] bucaran commented on #79
That's clever, and I wish it was like that too. But that trick only works for variables in Fish.

[code]

[2016-02-07 17:21] daenney commented on #79
In theory though, `functions` has `-c` which would allow you to copy the function to a backup and back but it would affect all other running sessions too which is unpleasant.

[2016-02-07 17:25] bucaran commented on #79
I we need to `command` patch stuff like `cp` and `rm` first, but we can spare most of the other commands for the time being.

[2016-02-07 17:46] daenney commented on #79
I've updated it to call `command` on `rm`, `ln`, `mkdir` and `mv`.

[2016-02-07 18:28] bucaran opened #81 "Do not allow `fisher install` to install `..`"
I think typing `fisher install ..` is probably more an error than the user intention.

[2016-02-07 18:41] bucaran opened #82 "Use https instead of http"
https://letsencrypt.org/howitworks/

[2016-02-07 18:54] daenney commented on #82
Use HTTPS for what though?

[2016-02-07 19:01] bucaran commented on #82
While there is a manual installation procedure, the advertised method requires piping code from a non-https source directly into your shell, which needless to say plenty of people find it displeasing.

[2016-02-07 20:55] bucaran opened #83 "Do we really need a Code of Conduct?"
This issue is the result of a discussion I held on Reddit (_nolink_) and the following is a piece of my exchange with one of the users who shall remain anonymous:

The context is the following article:

+ <http://dancerscode.com/blog/why-the-open-code-of-conduct-isnt-for-me/>

Later, somewhere in the middle of the argument (whether a CoC is even healthy for the project or not) I asked:

I want to

[2016-02-07 21:13] daenney commented on #83
I think the person gets two things thoroughly confused. A Code of Conduct is a social contract, ensuring that every person deciding to participate in a project knows that they can do so in a safe way. That is entirely distinct from judging a work the user presents you, in the form of code, documentation or anything else, by its merit.

Codes of Conduct exists to ensure that if someone is attacked,

[2016-02-07 21:18] fibo commented on #83
CoC it is a good idea, I also think that if your first input was to add one, it is also a good reason to keep it.

[2016-02-07 21:23] daenney commented on #82
Totally.

So what I've done in the past is:

1. Register a domain
2. Delegate domain to Cloudflare and them them handle everything (the little orange cloud in the DNS panel)
3. Add a CNAME/ANAME/ALIAS at the apex/root of your domain for `my-project.tld` pointing to `project.github.io` (Cloudflare is one of a few that does CNAME flattening at the root for you making this work)
4. Turn on HTTPS in C

[2016-02-07 22:14] jrobeson commented on #83
I'd suggest updating to Contributor Covenant 1.4, as it contains more positive language instead of just what happens if you do something bad.

[2016-02-07 22:15] bucaran commented on #83
Link: http://contributor-covenant.org/version/1/4/

[2016-02-07 22:15] bucaran commented on #83
@jrobeson What about https://github.com/domgetter/NCoC?

[2016-02-07 22:17] jab commented on #83
Personally I use the Open Code of Conduct in my projects, e.g.:
https://github.com/jab/bidict/blob/master/README.rst#participation

[2016-02-07 22:24] MadcapJake commented on #83
I support the CoC and especially agree with everything @daenney said.  I really dislike the "ugh political correctness" argument as it just smacks of laziness.  I believe that part of being meritorious is being respectful with how you phrase things in your code, comments, PRs, issues, etc.

[2016-02-07 22:31] daenney commented on #83
The problem I see with the NCoC is that it doesn't handle the case very well of what happens we it does turn unfriendly. It doesn't really state anything about expected behaviour either except that "we can all have adult discussions". I think we've seen more that enough proof by now that that is not necessarily the case.

I also find language like this in the NCoC unfortunate, to the point of bein

[2016-02-07 22:51] jrobeson commented on #83
NCoC solves no problems.  I think it's been pretty well proven that the assumption of

has been proven false.

[2016-02-07 23:09] domgetter commented on #83
@daenney

I don't think anyone who is against a CoC in general is against "we expect everyone who participates to be excellent towards each other" to be the code of conduct.  It seems you've constructed a straw man.

That's not part of the NCoC, it's only an example of how such a community may handle conflicts.  The NCoC is simply

I'm not a part of the fisherman community, so I don't claim to spe

[2016-02-07 23:12] daenney commented on #83
@domgetter I didn't mean to misrepresent anything. It's how I interpreted the wording of the NCoC and the examples given.

[2016-02-07 23:23] jrobeson commented on #83
@domgetter : I know I represented it correctly (by quoting from it), and that is exactly what I find unacceptable.

[2016-02-07 23:23] kballard opened #84 "`fisher uninstall -f foo` reads from stdin instead of uninstalling foo"
If I run `fisher uninstall -f foo`, it sits there trying to read from stdin instead of uninstalling the plugin `foo`.

[2016-02-07 23:35] bucaran commented on #84
@kballard

[code]

The problem is in `getopts` which does not handle _"short flags that must not take an argument"_.

[2016-02-07 23:46] bucaran commented on #83
What would be a situation in which relying on the CoC could actually turn against us? I haven experience with this, but after reading bits from this discussion you got me thinking. Also, the other day, I had a surreal exchange for almost half an hour with a Korean friend of friend in which I was questioned for choosing "Fisherman" as the title of the project, instead of "Fisherwoman".

[2016-02-07 23:59] daenney commented on #83
Could you be more explicit?

I've seen people try to abuse a CoC but that only ever works if the maintainer(s) let them. With a CoC, the maintainers are the ones making the final call and decide on how to apply the CoC and if it is an appropriate situation for the CoC to be called upon.

For example; if someone raises an issue because someone used insulting language towards them, that's fair. Howe

[2016-02-08 00:21] kballard commented on #83
NCoC is garbage. Opting to put the NCoC on your project instead of just not having a CoC at all is basically a big "fuck you" to anyone who wants a CoC or to anyone who cares about this kind of thing.

Also, the original linked article is incredibly misguided, and that quoted reddit user is equally misguided. A Code of Conduct is not a tool that can be used to harass other people, it's the complet

[2016-02-08 08:58] rif commented on #29
fisher install gretel/pkg-fzf it's only working on the same session you installed it on. After you close fish and reopen it fh alias is gone.

[2016-02-08 08:58] rif commented on #29
❯ fisher -l
*autoinit
*available
*fasd
*fzf
*git-branch-name
*git-status
*legacy
*pure

[2016-02-08 09:50] bucaran commented on #29
@rif Thanks for trying again!

I had a look at @gretel's [plugin](https://github.com/gretel/pkg-fzf/blob/master/fzf.fish) and tested it locally.

The problem is the plugin's functions are all written in the same file which has the same name of the plugin. This is probably one edge case I didn't consider.

If you `type $fisher_config/functions/fzf.fish` you will notice that `autoinit` has correctly

[2016-02-08 10:05] rif commented on #29
For me searching the history is quite important. Do you know any alternatives to fzf?

[2016-02-08 10:36] bucaran commented on #29
@rif

* Fastest way, more developer friction: Create a new, more sensible `fzf` plugin and forget about the other.
* Slowest, less developer friction: I see if there is a solution using `autoinit` that just patches everything.

Would you consider writing a new `fzf`? We could put it in the [Fishery](https://github.com/fishery).

If you don't have time, I can do this for you, but it will take a few

[2016-02-08 11:01] rif commented on #29
Oh, sorry way to little time on my part to writing a fzf plugin. I'm also not expecting you to write it.
If it's just the case of a badly written plugin that happens to brake my workflow on fish than we can forget about it. I can live quite well with zsh.

[2016-02-08 11:10] ffittschen commented on #29
@rif I'm using fish shell but I didn't need any plugin for `fzf`. `fzf` already comes with [fish keybindings](https://github.com/junegunn/fzf/blob/master/shell/key-bindings.fish)
Did you install `fzf` like described on the `fzf` github page and run the install script?
[code]

The install script will create symlinks and all necessary stuff (but be aware, it creates everything for `bash`, `zsh` and

[2016-02-08 11:11] bucaran commented on #29
@rif

Try this https://github.com/bucaran/pkg-fzf/tree/master

[2016-02-08 11:13] bucaran commented on #29
@ffittschen Thanks! I think that's one perfectly valid alternative and thanks for pointing this out. While I want to move my functions and snippets into plugins for better organization and sharing, creating plugins for a tool like `fzf` always felt **wrong**.

[2016-02-08 13:25] domgetter commented on #83
@daenney It's all good.

I never claimed you did it intentionally.  Perhaps I used the wrong word.

@jrobeson

The entire discussion is a matter of degree, not kind.  If there was only ever one identifiable instance of sexism being bad for Open Source Software, surely it would be shortsighted to impose a set of rules that no one was breaking in the first place.

I don't think this is the place to

[2016-02-08 15:45] josegonzalez commented on #83
If a COC stops people from contributing because they think their contribution (docs, PR, code, design, etc.) is offensive, then perhaps you don't need that contribution?

Saying you won't participate because the project is being too politically correct is a bit silly. I've yet to see a project where the CoC was used to harass contributors. It's simply a way for maintainers to tell people they won'

[2016-02-08 16:22] peterjosling opened #85 "oh-my-fish DMCA takedown"
I'm just wondering if you can provide any clarification on what's going on with oh-my-fish's recent DMCA takedown. I've seen that another one was previously filed (https://news.ycombinator.com/item?id=10271304), but that was resolved — what's changed now?

[2016-02-08 16:25] TeddyDD commented on #85
:+1:

[2016-02-08 16:30] daenney commented on #85
The DMCA was filed because the author's copyright was violated. The MIT license under which the code was released requires that attributions/copyright notices remain in place, which the maintainer of oh-my-fish decided to strip after their fallout.

[2016-02-08 19:12] peterjosling commented on #85
From looking at Google's cache, the oh-my-fish AUTHORS and LICENCE files haven't been modified in five months (i.e. since they were updated after the original DMCA notice). Looking at the cache for one of the other mentioned repos, I can see "MIT © Jorge Bucaran" at the bottom of the README for oh-my-fish/plugin-tiny. I'm struggling to see what's changed since the LICENCE files were updated after

[2016-02-08 19:17] bucaran commented on #85
Look harder.

[2016-02-08 19:22] TeddyDD commented on #85
@bucaran That's very helpful ^^ Thanks for exhaustive explanation. @daenney Thank you too! In fact I'v read DMCA myself but thanks anyway :+1:

[2016-02-08 19:23] bucaran commented on #85
@TeddyDD No problem! :smile:

[2016-02-08 19:25] #85 closed

[2016-02-08 19:37] peterjosling commented on #85
That was as far as I was able to look unfortunately - Google don't cache indivual file contents from Github. I didn't really know where else to go for discussion (as the OMF issues are gone too). This seemed the logical place to go given it was referenced in the DMCA. I'm not trying to question your claims or anything — I just wanted some more details on what happened. It kinda sucks to just have

[2016-02-08 19:41] stevelacy commented on #83
To topic:
CoC's do work as a troll determent. On most OSS projects I've contributed to the CoC is used to isolate "code politics" from actual code.
Many large OSS projects do not have a CoC, the owner would just close/lock issues when they get out of hand.
IMHO a CoC adds a baseline (constitution) on which political issues can be "fairly" resolved.

Off topic:
A CoC might help with future discussi

[2016-02-08 20:00] colstrom commented on #83
@kballard

That it is "subject to human interpretation" could be seen as a problem.
- For a license to effectively serve its purpose, its terms must be unambiguous.
- For a readme to be effective, it must provide unambiguous instructions.

Is a Code of Conduct an exception? Maybe it is. Can we explore that?

@jrobeson

Agreed, though a Code of Conduct does not actually *prevent* people from acting

[2016-02-08 20:06] bucaran commented on #85
I don't think it was referenced in the DMCA. Are you sure you don't mean [Wahoo](https://github.com/bucaran/wahoo)?

[2016-02-08 21:36] kballard commented on #83
A license is a legal document. A readme is a set of instructions. A Code of Conduct is neither of these things. And no, I don't think it's appropriate to "explore that", because that doesn't make sense. At best, asking to explore this avenue shows a bizarre tendency to view the world as though it's a computer program where everything must be explicit and unambiguous such that a computer can perfor

[2016-02-08 23:22] colstrom commented on #83
Your response is exactly what I was asking for: Exploring how a Code of Conduct may legitimately be a different case than a license or readme. I'm confused by your response, and the conclusions you're drawing from my query.

Providing a clear set of rules that community members can use for reference is a practical benefit to having a Code of Conduct.

That provides some context, thank you.

Aha, I

[2016-02-09 00:12] kballard commented on #83
This response confuses me, because that's just not something that happens. Codes of Conduct are not things that attract trolls; they are in fact the exact opposite, they're a very valuable tool in fighting trolling (because trolling often ends up violating the CoC and provides clear grounds for deleting posts / banning trolls). Without a Code of Conduct, trolls can often continue trolling by compl

[2016-02-09 00:13] jechol opened #86 "Error when running `fisher`. (fish version 2.1.2)"
I just installed fisher. (Mac yosemite)
When I run fisher, error occurs.

[code]

[2016-02-09 00:18] bucaran commented on #86
@jechol Thanks!

Please upgrade your version of fish and then show me the output for the following commands:

[code]

[2016-02-09 00:22] jechol commented on #86
fish shell was 2.1.2.

After upgrade to 2.2.0, errors have gone.

Thanks.

[2016-02-09 00:24] bucaran commented on #86
@jechol Thank you! Maybe we should be more explicit about the recommended fish version.

[2016-02-09 00:51] colstrom commented on #86
Worth noting that `brew cask install fish` installs `2.1.2`, where `brew install fish` installs `2.2.0`.

Someone should probably submit a PR to [caskroom/homebrew-cask](homebrew-cask) to fix that...

[2016-02-09 01:05] adidalal commented on #86
Hey, I'm one of the maintainers of Homebrew Cask.

`brew cask install fish` will now install 2.2.0
Fixed in https://github.com/caskroom/homebrew-cask/pull/18430

[2016-02-09 01:37] bucaran commented on #86
That was fast! Thanks @adidalal and @colstrom for identifying the glitch.

[2016-02-09 01:37] #86 closed

[2016-02-09 02:12] colstrom commented on #83
I think you're falling into the trap of believing that trolls care about or play by the rules.

If you reduce the notion of meritocracy to a single point, then I can understand how you could arrive at those conclusions. Accepting that premise for the sake of discussion, is it actually wrong in the context of a contribution?

Does the character of the individual give more or less weight to the vali

[2016-02-09 03:24] jrobeson commented on #83
if bob is hard to work with while doing code reviews and such, then his code might not be acceptable to be merged, as then he wouldn't be worth dealing with when it comes to issues that might crop up when the code is actually in use and causes bugs.

[2016-02-09 06:41] colstrom commented on #83
@jrobeson I hadn't considered it from that perspective. Thanks!

[2016-02-09 07:14] jrobeson commented on #83
My perspective is that maintaining software (or more specifically FOSS) is a team sport. Thus, I like to be able to choose my teammates based not just on ability, but whether they might be fun to work with. FOSS is really hard, why make it harder by putting up with people who make your life difficult.

[2016-02-09 07:16] jrobeson commented on #83
I've been working with FOSS for quite some time ( > 10 years), and as time as gone on, finding good people to work with is harder than finding good code.

[2016-02-09 08:36] pickfire commented on #77
If I recall correctly, `md2man` is written in perl. Well, I guess both `md2man` and `ronn` is just the same, I don't see any reason to switch. It should be the same.

[2016-02-09 08:40] daenney commented on #77
Pandoc has the ability to export to groff too.

[2016-02-09 08:54] pickfire commented on #77
@daenney Ah, a new member.

I wouldn't consider pandoc as it is bloated (100M+), it would costs a lot of my system as I am using rpi2.

[2016-02-09 09:08] pickfire commented on #82
@daenney I hate cloudflare, it always prompt me a captcha as I use tor.

I hope that fisherman.sh doesn't use cloudflare as it might be problematic for someone else.

[2016-02-09 09:15] pickfire commented on #81
Oh, it seems like this is a probably a bug, it shows that it is installing `..`, but actually nothing is installed.

[2016-02-09 09:20] daenney commented on #82
That is entirely up to the people hosting their domains on Cloudflare to decide. Just adjust what kind of behaviour you decide is potentially threatening and you'll get a captcha, or not.

If you're hosting your site on GitHub Pages you have no control over the server-side, ergo you can't set up SSL in any way yourself unless you proxy through someone. Cloud flare is one of the easiest ways to do

[2016-02-09 09:25] daenney commented on #77
I'm sorry, what?

[2016-02-09 09:26] pickfire commented on #82
Oh, no wonder so many sites uses cloudflare.

Luckily I didn't use cloudflare on my site.

[2016-02-09 09:30] pickfire commented on #77
@daenney I just want to congrats you as you have became a new member. Or probably I am wrong about that (you are an old member).

[2016-02-09 09:32] daenney commented on #77
Oh, thanks. Haven't been around that long. :smile:

[2016-02-09 09:58] bucaran commented on #81
Actually not a bug. What's happening in your case is that you probably have no files that Fisherman could copy or move maybe in that parent directory. The catch is doing this for example in a sub directory of another directory where you keep a lot of plugins.

[2016-02-09 10:11] bucaran commented on #82
I was thinking https://letsencrypt.org

[2016-02-09 10:32] daenney commented on #82
But how do you intend to use letsencrypt? You have no control over the server that hosts the site right now. GitHub doesn't allow you to install custom certificates. So you'll either need to move off GitHub Pages for the hosting to your own thing, at which point letsencrypt is a possibility, or proxy through something.

[2016-02-09 10:48] bucaran commented on #82
I see. The script is hosted on GitHub and the DNS forward is done by my domain provider.

[2016-02-09 14:11] bucaran commented on #85
The following comment by @TeddyDD, deleted by himself, not sure why, for posterity:

<img width="868" alt="screen shot 2016-02-09 at 11 10 03 pm" src="https://cloud.githubusercontent.com/assets/8317250/12918409/5c0fbe42-cf82-11e5-871a-bbbe1b1354cc.png">

:+1:

[2016-02-09 14:47] TeddyDD commented on #85
My comment was sarcastic reply to your comment

After your edited your comment, my become irrelevant and misleading so I removed them

[2016-02-09 14:57] bucaran commented on #85
@TeddyDD No problem, keep up the good work!

[2016-02-09 15:38] bucaran opened #87 "Create multi-language versions of the QuickStart Guide"
The QuickStart guide is just a tidbit of the docs and should not take more than 1 hour to translate into a language you are already fluent in.

If someone wants to take a stab at it, that would be awesome.

I will start working on the Spanish and Japanese versions.

* https://github.com/fisherman/fisherman/wiki/Quickstart-Guide

[2016-02-09 15:48] bucaran commented on #53
@jwulf I wrote a more thoughtful, still drafty, but with screencasts!, response [here](https://github.com/fisherman/fisherman/issues/69#issuecomment-179661994). Closing in favor of that.

[2016-02-09 15:48] #53 closed

[2016-02-09 17:07] colstrom commented on #83
@jrobeson Agreed. I think that's the difference between communities and projects that accept contributions.

[2016-02-09 18:53] bucaran commented on #62
@millaisnick Ping.

[2016-02-09 19:23] millaisnick commented on #62
Thanks! Lgtm.

[2016-02-09 19:30] #62 closed

[2016-02-09 21:09] kulynyak opened #88 "More information for plugin creation or good sample which covers all aspects"
Where to put key bindings (right approach) ?
my_plugin
|-- fisher_my_plugin.fish - **what should be done here?**
|-- my_plugin.fish
|-- fish_prompt.fish
|-- fish_right_prompt.fish
|-- my_plugin.config.fish
|-- functions
|   |-- my_plugin_helper.fish
|-- conf.d
|   |-- *.fish
|-- completions
|   |-- my_plugin.fish
|-- man
    |-- man1
        |-- my_plugin.1

Thanks,
Andriy

[2016-02-09 21:16] bucaran commented on #88
@kulynyak For a _very_ simple tutorial, try `fisher help plugins`.

For information about key bindings, this is a very new feature and it's not very well documented, but you can read a lot about it in the change log for [0.5.0](https://github.com/fisherman/fisherman/releases/tag/0.5.0).

Basically, put your plugin key bindings inside `key_bindings.fish` at the root of your project or inside `funct

[2016-02-09 21:23] kulynyak commented on #88
Thanks for quick reply, I’m working on few plugins - so your info is very useful for me

[2016-02-09 21:24] bucaran commented on #88
Just for fun, have a look at this [compatibility chart](https://github.com/fisherman/fisherman/blob/master/test/plugin-walk.fish).

[2016-02-09 21:52] jrobeson commented on #83
considering how quickly personal projects can turn into communities, it is a very blurry line.

[2016-02-09 22:46] carlosjhr64 opened #89 "`fisher install submit` asks for credentials."
And 'https://github.com/bucaran/fisher-submit' does not exist.
Maybe this feature was not meant to go live yet?
And maybe there needs to be a way to check if url is really there on install?
BTW, really liking Fisherman so far.

[2016-02-09 22:50] bucaran commented on #89
Why does it ask for credentials? Could this be a local thing with your git configuration or am I missing something.

Now, `submit` is not ready for prime yet, just wait a bit :ok_hand: more.

Actually, it's coded, but it has no tests or documentation, and those are just as important as the code.

Thanks, and welcome aboard captain!

[2016-02-10 00:27] alphapapa commented on #83
One of the amazing things about git is how it makes all of this irrelevant.

Don't like how someone talked to you?  Ignore them.

People don't want to merge your code?  Fork the project.

Find a fork you like better?  Contribute to it instead.

Fork merges good code without sending you a PR?  Merge it yourself.

We're talking about software here.  The only thing necessary to allow people to cooper

[2016-02-10 00:31] alphapapa opened #90 "Alternatives to piping the install script into your shell."
'Tis is a [bad idea](http://curlpipesh.tumblr.com/), mateys.
[code]
"Prepare to be boarded"?  Yarr, lads, even sounds scurvy!

[2016-02-10 00:38] bucaran commented on #90
Certainly! But it's convenient, so we are migrating the `http` to `https`, well I am trying to figure out how to do that and I will (unless someone wants to take a stab at teaching me how in layman terms) eventually as it would be very nice to have before or when 1.0 ships!

I am closing this in favor of https://github.com/fisherman/fisherman/issues/82

Please let's continue the discussion there.

[2016-02-10 00:48] bucaran commented on #76
Done! :smile:

https://github.com/fisherman/logo

[2016-02-10 00:48] #76 closed

[2016-02-10 01:02] alphapapa commented on #90
Respectfully, HTTP vs. HTTPS is an orthogonal problem.  In fact, if software is distributed with cryptographically secure signatures, HTTPS is not strictly necessary.  And considering the well-documented problems with CAs, some people would prefer to avoid HTTPS altogether.

That's another part of the problem: running a secure HTTPS server is not something a layman can do.  Many, if not most, HTTP

[2016-02-10 01:05] jrobeson commented on #83
using usenet as any part of an argument proves the point. Usenet was a hive of scum and villainy.

[2016-02-10 01:08] bucaran commented on #90
Not at all, I am all for improvements and moving forward, but

Can you help setting that up? I have zero experience with that.

Now, I am most definitely not trying to be disrespectful, but you may also want to consider staying away from the following projects (if I look hard enough I am pretty sure the list would quickly cause a stack overflow error):

+ rust: curl -sSf https://static.rust-lang.o

[2016-02-10 01:52] kballard commented on #83
@alphapapa That's a very exclusionist position to take. Yes, theoretically people can fork the project and go their own way, but in practice that happens extremely rarely, because either your fork doesn't have any community support, or it does gain community support and therefore splits the community (which is a great way to kill off projects). Even ignoring all that, most people, when confronted

[2016-02-10 04:04] jrobeson commented on #83
I personally avoid contributing to projects in my free time that explicitly turned down a code of conduct.

[2016-02-10 08:15] daenney commented on #83
Huh? Git is a version control system. It's perfectly possible to be completely rude and out of line towards people while using git.

[2016-02-10 10:09] jrobeson commented on #83
@daenney : the argument is that since git is decentralized, that you can just walk away to avoid dealing with people who cause problems. I think that argument is way too simplistic, but that's what the point of it is.

[2016-02-10 12:28] bucaran commented on #90
@alphapapa ?

[2016-02-10 12:33] bucaran commented on #88
@kulynyak Besides `fisher help plugins`, what else do you think we could do to improve the help in this area? I would like to create a goal and add it to a milestone before we close this.

[2016-02-10 12:53] kulynyak commented on #88
1) what file is executed only during install (same for uninstall)
2) how to define package private functions
3) where to put session variable definitions
4) key binding config
5) some info how to install/uninstall local package for debug reason
6) evidently say that package (in the cache) named xx-yy should be named plugin-xx-yy in git repo

[2016-02-10 13:20] bucaran commented on #88
@kulynyak I can answer all these questions right now, but perhaps we want to put those answers in the wiki instead.

[2016-02-10 13:40] daenney commented on #83
Sense to me, it makes none.

[2016-02-10 13:45] bucaran commented on #83
I think we can all agree that **keeping** the CoC would be preferred to losing it.

[2016-02-10 14:01] wensonsmith opened #91 "I has installed omf/plugin-z , but it does't work"
i use this command

[code]

Install success!

![image](https://cloud.githubusercontent.com/assets/2544185/12949226/b4628268-d041-11e5-8e63-f50dc14156f2.png)

but i can't use it

![image](https://cloud.githubusercontent.com/assets/2544185/12949256/d553e2dc-d041-11e5-8995-ee8cf2399c13.png)

[2016-02-10 14:09] bucaran commented on #91
@wensonsmith Hi! Did you set `set -g Z_SCRIPT_PATH path/to/z`?

[2016-02-10 14:14] bucaran commented on #91
@wensonsmith

[2016-02-10 15:26] carlosjhr64 commented on #89
I've not looked at the code, but I suspect that because `fisher install` is working with git asking about a non-existing url, it's doing...  :-??  Anyways, even after when `submit` is ready, the case of when a url is yanked might need to be caught.

[2016-02-10 15:37] bucaran opened #92 "Use GitHub API to get the description of a plugin when installing a non-index plugin."
Related to #75 as I got the idea while implementing the feature.

[2016-02-10 15:38] bucaran commented on #89
Yes, defintely.

Could you provide me a way to reproduce this, here is what I get on my end:

[code]

[2016-02-10 15:46] carlosjhr64 commented on #89
Ok, because I don't have "rights" on https://github.com/bucaran.
It would not ask you for credentials.
I don't know why the logic of a download from a "not found" would turn into
a credential check.  Maybe it's in git.

On Wed, Feb 10, 2016 at 7:38 AM, Jorge Bucaran <notifications@github.com>
wrote:

[2016-02-10 15:55] bucaran commented on #89
You don't need rights on `bucaran` in order to `git clone`, only if you were doing `git push` or using the GitHub API. I presume this could be an issue on your Git's configuration.

1. Are you on OS X or Linux?
2. Are you using [2FA](https://help.github.com/articles/providing-your-2fa-authentication-code/) on GitHub?

[2016-02-10 16:12] carlosjhr64 commented on #89
I'm on Linux.
For you to duplicate the problem is a bit involved.
On Linux, the easiest way I can think to do it is to create a new user.
Log out of "bucharan" or whatever on you computer, and log in back as the new user.
Set things up the way a new user would.
Then try the command (under the previous conditions, I suppose).

Anyways, this is obviously an edge case.
I'd love to know when the new r

[2016-02-10 18:03] alphapapa commented on #83
I hope it's self-evident to people how preposterous a statement that is.  This is the Internet.  You don't know anything about me, and I don't know anything about you.  You don't know what I'm like, and I don't know what you're like--nor does it matter to me.

Public communities on the Internet are incredibly diverse.  The possibility of anonymity makes the diversity even greater than anyone could

[2016-02-10 18:07] bucaran commented on #83
@alphapapa So are you in favor of removing the CoC or against it?

[2016-02-10 18:27] alphapapa commented on #90
Well, if you wanted to distribute fish stuff as a repository of Debian packages, that would work, but it would also mean, of course, practically limiting your audience to those who use Debian or a Debian-based Linux distro.

I haven't used The Update Framework myself, but there is lots of documentation available on their web site if you wanted to integrate it into your project.

I pointed to those

[2016-02-10 18:50] bucaran commented on #90
@alphapapa

You said "Good Luck" twice which makes me think you are probably thinking I am either trying to evade the problem or scare you away from the project. So, let me start by saying, that's not so, please stay and help me understand the problem better.

+ What does "signed git tags" and "signing them with GPG" have to do with distributing the system? This project is on GitHub and will conti

[2016-02-10 18:54] bucaran commented on #90
@alphapapa One more thing, since I can't obviously expect you to do any of this for me, can you point to some projects you follow (or not) that use these recommended things you are saying? Otherwise, there is no way I could possibly learn how to fix the "problem".

[2016-02-10 19:08] josegonzalez commented on #83
Seems like he is vehemently against a code of conduct.

[2016-02-10 19:14] bucaran commented on #90
@alphapapa I was able to read the comments in the issue you created in the Meteor repository here:

* https://github.com/meteor/meteor/issues/2248

I also read what @gschmidt had to say about it and noticed there was no reply to your last comment.

I read Sean Cassidy's article [here](https://www.seancassidy.me/dont-pipe-to-your-shell.html) and the case about an incomplete script can be solved tri

[2016-02-10 19:16] alphapapa commented on #83
@bucaran Well, it's your project, so I don't suppose it matters what I think.  :)

Please don't misunderstand me: I'm not in favor of treating anyone badly for any reason.  I've run online communities before (a long time ago, now), and we had rules against mistreating people.  And those rules helped to keep out trolls and create a friendly community.

But things have changed.  The kinds of codes o

[2016-02-10 19:23] bucaran commented on #83
I like that. What is the one thing about the current CoC that you think should be removed? I think we can move faster if we attack specific points rather than discussing this in such an abstract manner.

[2016-02-10 19:33] bucaran commented on #90
@alphapapa Would it be possible to set the UserAgent with `curl` so that we always get the same version of the script that users can verify on their browsers?

[2016-02-10 19:39] josegonzalez commented on #83
It sounds like @alphapapa wants something more akin to the NCoC.

FWIW, The newer version of the CoC this project uses has been much more amenable to people's sensibilities from what I've seen. Maybe worth looking at that?

[2016-02-10 19:50] kballard commented on #83
@alphapapa Spoken like someone who's never had to deal with online harassment.

Please point to an example of this. Because it sounds like complete bullshit. No code of conduct I've ever seen matches this description.

No, what causes it is people like you who keep arguing for the right to exclude everyone who don't feel comfortable participating in a community that refuses to have rules against h

[2016-02-10 19:51] alphapapa commented on #90
Actually, I was trying to provide for a sort of "graceful exit", implying that I respect your freedom to run your project as you see fit, and that I'm not going to try to browbeat you into changing your mind.  :)  But I'm happy to continue discussing it with you.

That's an interesting project!  Thanks for sharing that.  It doesn't sound like it's ready for "production" use yet, but it's definitel

[2016-02-10 20:03] bucaran commented on #90
@alphapapa Thank you! This is the kind of reply I was hoping for. In the future I want to make my software more secure and reliable.

Like you said, there is no "silver bullet", but I would feel more comfortable contending a Werewolf with a M134 Minigun using regular bullets, if I could not procure silver bullets.

At the same time, I want to provide an easy to install method, that is also "good l

[2016-02-10 20:07] bucaran commented on #90
Original commit message introducing the `curl _ | fish` option:

+ https://github.com/fisherman/fisherman/commit/d9c06f33de63f87ae375a5ceae68d79f94d24338

[2016-02-10 20:11] bucaran commented on #83
@kballard I won't remove the CoC, as I can't see how not having one could improve anything. And if having a CoC is likely to attract less experienced users and other minorities to the project, then I'd add not one, but two CoC :smile:

[2016-02-10 20:40] alphapapa commented on #83
See, this just boggles my mind, because you literally know nothing about me.  I don't see how it's possible to have a reasonable discussion if you're going to make such speculation about me and then treat my point of view with contempt because of it.  Regardless of whether I have or not, are you not excluding me and declaring my experience invalid?  And isn't that the problem you're trying to solv

[2016-02-10 21:16] alphapapa commented on #90
Yarr, a lad with a sense o' humor be a fine cap'n.  ;)

Yeah, using TLS is not a bad idea if you can get it working, as long as people keep in mind that it's only one layer of security.

I agree that appearance and usability are important, of course.  The one concrete suggestion I have is to encourage people to prefer the manual installation method, and to warn them that the "easy way" is also the

[2016-02-10 21:20] bucaran commented on #90
Thanks! I will work on some of the fixes aforementioned and give you a ping. In the meantime, and if you have time, you can try Fisherman using the manual install `git clone; and make` which poses no risk AFIC.

:+1:

[2016-02-10 21:29] alphapapa commented on #90
Well, of course, there's always some risk when installing software, even signed software.  Someone could slip a malicious plugin into the index, past the review process (assuming there's a review process?), your GitHub account could be compromised and used to insert malicious code, a vuln in GitHub's software could allow malicious access, etc.  Unlikely, of course, but always something to be aware

[2016-02-10 21:38] bucaran commented on #90
Ha! There's always a way, making Fisherman more secure when installing plugins is also in the roadmap. For example, forbidding plugins to run any code after the install by default or by using a flag. Adding some mechanism for linting the code, both in terms of style and syntax.

I heard @colstrom is cooking something.

[2016-02-10 22:14] MadcapJake commented on #83
Couldn't disagree with this more.  Having a code of conduct *ensures* that your community will be inclusive, technically-oriented, and not maligned by bullies/trolls/those-with-unpopular-views.

[2016-02-10 22:34] ewilliam opened #93 "tmux-zen compatibility?"
How do I get [tmux-zen](https://github.com/coderstephen/tmux-zen) to work with Fisherman? Install doesn't get it working...

[2016-02-10 22:46] bucaran commented on #93
Can you describe the problem exactly?

I think the problem is that the plugin `tmux-zen` uses a `bundle` file declaring a dependency to another plugin, `config`, which **is not** in Fisherman's index.

Looking at `config`'s source code, that plugin is very OMF-specific, as it uses `$OMF_` like variables which are unlikely to be supported in Fisherman.

So, effectively, the plugin `tmux-zen` is loc

[2016-02-10 23:02] jrobeson commented on #83
@bucaran : since you've decided, you might as well mark this issue as closed, and maybe lock if you don't plan on changing your decision

[2016-02-10 23:09] bucaran commented on #83
@jrobeson Thanks. Yep. I was about too.

Alright, folks, thanks for this wonderful and insightful discussion. Multiple points of views is what make discussions interesting. If we were all simply repeating how the other is so right about that or this, it would be very weird.

We will keep the CoC.

[2016-02-10 23:09] #83 closed

[2016-02-10 23:22] bucaran commented on #91
@wensonsmith

[2016-02-10 23:33] bucaran commented on #87
* [Español](https://github.com/fisherman/fisherman/wiki/Quickstart-Guide-ES). :heavy_check_mark:

[2016-02-10 23:36] bucaran opened #94 "Create a FAQ or extended tutorial for authoring plugins"
* [ ] What file is executed only during install (same for uninstall)
* [ ] How to define package private functions
* [ ] Where to put session variable definitions
* [ ] key binding config
* [ ] Some info how to install/uninstall local package for debug reason
* [ ] Evidently say that package (in the cache) named xx-yy should be named plugin-xx-yy in git repo

/ cc @kulynyak

If you have anything e

[2016-02-10 23:36] bucaran commented on #88
Closing in favor of #94. @kulynyak Join me there.

[2016-02-10 23:36] #88 closed

[2016-02-11 00:56] #75 closed

[2016-02-11 00:56] #78 closed

[2016-02-11 00:56] #79 closed

[2016-02-11 00:56] #81 closed

[2016-02-11 03:17] pickfire commented on #76
@bucaran Nice, yours is only 1.2K and mine is 2.2K. http://dl.pickfire.wha.la/usr/img/ofish.svg

Nope, I am in Malaysia. Still celebrating Chinese New Year so will be busy these few days.

[2016-02-11 03:21] bucaran commented on #76
Thanks @pickfire! Enjoy your holiday.

[2016-02-11 03:48] pickfire commented on #82
@bucaran I think if you can just host if yourself, you can just do it. https://www.youtube.com/watch?v=ZXsQAXx_ao0

[2016-02-11 05:41] wensonsmith commented on #91
Yes, i have installed the legacy
![qq20160211-0 2x](https://cloud.githubusercontent.com/assets/2544185/12970090/0516f6c0-d0c5-11e5-9cf9-141f707d40ca.png)

But i don't know the path to z ,   so is this path right ?

![image](https://cloud.githubusercontent.com/assets/2544185/12970089/ffad8f5a-d0c4-11e5-87a4-17f5e2e3c3b1.png)

[2016-02-11 05:44] wensonsmith commented on #91
I try to set like this

![image](https://cloud.githubusercontent.com/assets/2544185/12970125/7bd9c3fa-d0c5-11e5-84ba-6ee4b2dc89ce.png)

but it still not work

![image](https://cloud.githubusercontent.com/assets/2544185/12970127/86dd2170-d0c5-11e5-852d-78ed5d9613b4.png)

Thank you very much!!

[2016-02-11 06:11] bucaran commented on #91
Alright, first things first.

Do not mix your configuration code with Fisherman's configuration, that won't lead to any good! :pray:

Next:

[code]

That will download it to your home directory, so now you know `Z_SCRIPT_PATH` should be `$HOME/z`. Move `z` to your preferred directory, but make a note to remember where you put it.

Next, I assume your fish `config.fish` is in `~/.config`, so:

[cod

[2016-02-11 07:42] wensonsmith commented on #91
Thanks !!  You are  AWESOME!!

I do as what you say, now it does't report error, but there is no effect .  I think there are some compatibility issues with the plugin-z.

![image](https://cloud.githubusercontent.com/assets/2544185/12971403/cb5683ea-d0d5-11e5-8f58-28b907510942.png)

Thank you for your patience！

[2016-02-11 08:03] pickfire commented on #87
[ ] 中文 :cn:  (Probably both simplified and traditional chinese)

[2016-02-11 08:17] pickfire commented on #76
The wiki's footer still is still using the old image, I hope that I can edit it.

[2016-02-11 08:33] bucaran commented on #91
Can you try this?

[code]

If the function definition is the same as this one [here](https://github.com/oh-my-fish/plugin-z/tree/master/functions), then maybe the problem is with the plugin itself.

Also try this:

[code]

[2016-02-11 08:34] bucaran commented on #87
@pickfire Thanks! I'll start working on the Japanese version soon.

[2016-02-11 10:15] pickfire commented on #87
How do I help? I can't edit the wiki page.

[2016-02-11 10:45] bucaran commented on #87
Sorry about that, you should be able to now!

https://github.com/fisherman/fisherman/wiki/Quickstart-Guide-CN

[2016-02-11 11:16] wensonsmith commented on #91
I uninstall all the plugins , and after reinstall , it works ..

thank you !

[2016-02-11 11:16] #91 closed

[2016-02-11 11:58] duck opened #95 "install.fisher.sh script fails on FreeBSD"
The installs script fails on FreeBSD because the Makefile is a GNU make Makefile vs a pmake Makefile. FreeBSD does have the GNU make as a port called **gmake**.  Recommended fix would be for the install script to do a quick OS type check, and then call **make** for Linux and OSX, and **gmake** for at least FreeBSD (not sure about other *BSDs at this point).

**uname** on my host simply returns 'Fr

[2016-02-11 12:04] bucaran commented on #91
@wensonsmith No problem, and don't hesitate to continue the discussion as I am here to help you troubleshoot the problem until you find a solution.

Cheers!

[2016-02-11 12:07] bucaran commented on #95
Hi @duck! That should be very easy to fix. I will get around this very soon as I want to start adding some basic security features to the script. See [here](https://github.com/fisherman/fisherman/issues/90#issuecomment-182528010) if you are interested.

Thanks!

[2016-02-11 13:15] pickfire commented on #87
It seems like the `home` link is duplicated quite a few times. In my humble opinion, just the `FISHERMAN` picture that link to the home page is enough.

[2016-02-11 14:19] bucaran commented on #87
Where would that be? Wiki? README?

[2016-02-11 19:34] ViViDboarder opened #97 "Best practices for syncing basic configuration?"
I'm in the process of switching my setup over to using Fisherman but I'm running into some confusion around how config files are loaded...

Previously I would have [this](https://github.com/ViViDboarder/shoestrap/tree/clean-shoes/assets/default/fish-config) symblinked to my config dir and then on load, `init.fish` would be run and that would init my other configuration files.

I tried putting it i

[2016-02-11 21:09] andrew-kennedy opened #98 "Best practices for storing/initializing environment?"
So despite reading essentially all of the fisherman wiki, I'm still a bit confused as to where the best place to save my environment variables would be. Would it be in a custom plugin in the myplugin.config.fish file? Or somewhere else? I'm mostly concerned so I can then symlink these environment vars from my dotfiles to easily restore the state of fish/fisherman in the event of a machine reset/OS

[2016-02-11 23:04] bucaran commented on #98
@andrew-kennedy You can add your variables and other desired configuration to your `config.fish` and add any code **before** or **after** (after if you want to override any Fisherman defaults) Fisherman configuration that was added after the install.

[2016-02-11 23:12] bucaran commented on #97
@ViViDboarder Thanks for trying Fisherman.

IMO the best place to put your personal and unique configuration is in your fish user `config.fish` file.

If you have a massive configuration then maybe you want to start considering splitting that up, but looking at your `init.fish` it seems very light, so it could go into `~/.config/fish/config.fish`. I recommend adding it **after** Fisherman's config

[2016-02-11 23:21] andrew-kennedy commented on #98
@bucaran

Will do, thanks!

[2016-02-11 23:46] bucaran commented on #98
About adding functions, you can put them inside `~/.config/fish/functions` as you would expect :+1:

One thing to be are of tis that `$fisher_home/functions` are always before your user functions in the `$fish_function_path`. This was an early design decision in order to prevent users from redefining core functions by mistake or by means **other than though plugins** (which is the recommended way

[2016-02-11 23:55] bucaran commented on #98
@andrew-kennedy Let me know if this makes sense and if you need help with anything else. Also whatever you end up doing too, please share it :smile:. This knowledge will be useful to future adopters.

Join the [Slack room](https://fisherman-wharf.herokuapp.com) too if you have a chance.

[2016-02-12 00:01] bucaran commented on #97
@ViViDboarder By the way, your code should work the way it is now with Fisherman, only `source` your `init.fish` inside your `config.fish` or **even better**, move the `source_config` fish to a function and store it inside `~/.config/fish/functions` and move:

[code]

to your `~/.config/fish/config.fish`. The best place in that file would be after the Fisherman configuration (this is not a rule, j

[2016-02-12 00:27] ViViDboarder commented on #97
Great advice. Thanks. I'll give that a go.

Checking out #98 too. That's really funny that two people opened such similar tickets within hours of each other!

[2016-02-12 00:30] bucaran commented on #97
Awesome. Let me know if you figure it out and what you came up with to help documenting this for future users.

[2016-02-12 01:12] carlosjhr64 commented on #89
Bucaran:

I did a quick test
    git clone -q --depth 1 'https://github.com/carlosjhr64/theme-nope' ./test
trying to clone a none existing repo.
It asked for my credentials.
So it's something git is doing.  Looks like a bug in git to me.
So this would normally never happen unless a url got yanked, and
if you're now checking the url first (or don't care to)
I think you can close this issue.

BTW, l

[2016-02-12 01:20] ViViDboarder commented on #97
Awesome! Moved `source_config.fish` to `fish/functions` and that solved that.

I think the only thing that needs to be made clearer, is that Fisherman doesn't seem to be a framework for managing your config, but instead a plugin framework. Init scripts you want to run should still go in `~/.config/fish`

Does that sound right? Or am I misinterpreting?

[2016-02-12 01:21] bucaran commented on #89
@carlosjhr64 This is odd, I really want to test this out right now, but I don't have time until I am done with publishing some basic plugins, but I will get around to it later today.

Fisherman is 0.7.0 now.

<img width="360" alt="screen shot 2016-02-12 at 10 19 24 am" src="https://cloud.githubusercontent.com/assets/8317250/12996333/356dae1a-d172-11e5-82b4-f07a9d8f29af.png">

You can `fisher updat

[2016-02-12 01:26] bucaran commented on #97
That's correct. I think we can agree Fish works just fine out of the box with its sensible defaults and a "configuration framework" for Fish does not make as much sense as it does on Bash/Zsh.

Yes. And if you can extract that code into a plugin that also works. If the code is general enough that it can be used by other people it would be great to share it, _else_ you can use it locally.

Creating

[2016-02-12 01:33] ViViDboarder commented on #97
Cool. Yea, I'll try to extract some. Thanks for the help. I'm casting away now.

[2016-02-12 01:34] bucaran commented on #97
![config](https://cloud.githubusercontent.com/assets/8317250/12996558/36d26938-d174-11e5-8fb8-fb9c18b6c730.gif)

[2016-02-12 01:37] bucaran commented on #98
@andrew-kennedy You may also be interested in checking out these casts I made in the other issue.

https://github.com/fisherman/fisherman/issues/97#issuecomment-183142068

[2016-02-12 01:37] ViViDboarder commented on #97
Thanks for the demo! That should be easy enough. Do you think I should do that for config only things like these files? Or is it not really worth it since they are so user specific?

[2016-02-12 01:48] bucaran commented on #97
If it's something trivial that you could simply add to your `config.fish`, just add it there, I have some silly functions in my `config.fish` that I use all the time, like for debugging and other stuff. While I would like to make a plugin out of them eventually, they are fine there for now.

Very user specific things, things that often change or if you are just lazy, `config.fish` is your friend.

[2016-02-12 03:14] carlosjhr64 commented on #89
I was 0.6.0.
I just tried `fisher update`, but I'm still 0.6.0.
So, I deleted original installation, redid the curl, and I'm now at 0.7.0.
OK, thanks!

[2016-02-12 03:22] bucaran opened #99 "Improve the update mechanism, it kinda sucks :)"
Some users keep having problems updating Fisherman, some people have even removed Fisherman and installed it again from scratch to get to the latest version. I don't have a lot of evidence, but I have heard accounts from several people.

[code]

Should sync `$fisher_home` to Fisherman's latest version, period. If `git pull --rebase origin master` fails for some reason, we should try something more

[2016-02-12 07:56] daenney commented on #99
I'd be careful about doing total wipe-outs. People might have made local modifications so prompting them about it first is probably a safe way to go about this.

[2016-02-12 08:28] bucaran commented on #99
What about checking the current branch? If you are on a branch that is not master, then we either abort the update or checkout master update and checkout your branch again.

One more thing, if we were on master and there were changes, we could stash them, but why would anyone be modifying Fisherman directly if they want to update?

Another approach is to remove the ability to update and distribute

[2016-02-12 08:59] pickfire commented on #76
Mine is done, it uses a different method during creation, it should be a bit smaller when uncompressed (2K). (Yours should be 2.2K)
I did some edits to make it looks better.

[![https://p.iotek.org/c66.svg][1]][1]

[1]: https://p.iotek.org/c66.svg

[2016-02-12 09:01] bucaran commented on #94
I will start answering the questions here as I still haven't decided into which guide I will add this information.

1. What file is executed only during install (same for uninstall)?

When you install a plugin, any file with a `fish` extension is sourced. This way we force fish to load any functions within the same shell session. Without this you would have to reload your shell, `exec fish` or cre

[2016-02-12 09:14] bucaran commented on #94
/ cc @kulynyak

[2016-02-12 09:16] bucaran commented on #76
Cool, thanks man. I'll compare them later. I don't really mind the extra 0.2K.

I need to start working on the Japanese docs, now. Really appreciate you going the trouble of doing this.

[2016-02-12 09:24] daenney commented on #99
Well. I ran into this issue because of the bug in `0.5.0` with `find` on an empty directory so I lifted your patch into my `0.5.0` checkout to get rid of that bug until `0.6.0` came out.

[2016-02-12 09:32] kulynyak commented on #94
Cool, it answers my questions
(please fix numbering)

[2016-02-12 13:07] pickfire commented on #76
No problem. :smile:

I am a bit slow these few days as I have a burnout. Hope to watch luffy use his second gear fourth this week (One Piece).

[2016-02-12 13:19] pickfire commented on #87
I just think that the footer seems a bit useless, I hope you can consider merging it with the sidebar, it's a bit confusing.

[2016-02-12 13:26] pickfire commented on #99
I have some trouble uninstalling before, I updated it from `0.4` to `0.5`, it's a bit problematic, I need to wipe `$fisher_home` and manually run the `curl | fish` command again.

@daenney, for that issue, I suggest checking for `git status` and `git log` *automatically* for **any local changes or patches**, if there's one, **prompt to ask them if they want a hard reset**.

This should be a better

[2016-02-12 13:37] bucaran commented on #87
Well, I'll give you that it is a bit repetitive, but it sure looks pretty. Pretty is one of the reasons it's there. I took inspiration looking at other great Wikis [here](https://github.com/showcases/projects-with-great-wikis).

[2016-02-13 12:33] pickfire commented on #67
I think you should try the benchmark this way, the benchmark seems unreal.
[code]
I have heard it from @faho.

[2016-02-13 12:40] bucaran commented on #67
I did, but that would only make everyone else look even worse. Fisherman footprint is in the order of microseconds.

With a minimal user `config.fish`, these are my personal results:

<img width="1280" alt="screen shot 2016-02-12 at 6 03 34 pm" src="https://cloud.githubusercontent.com/assets/8317250/13027655/70fd124e-d29a-11e5-973c-9616d836db98.png">

[2016-02-13 12:44] pickfire commented on #67
Oh, mine is 4 characters long:

![2016-02-13-204401_1600x900_scrot](https://cloud.githubusercontent.com/assets/4687791/13027670/94f0646a-d292-11e5-99b9-265afcc40c99.png)

[2016-02-13 12:47] bucaran commented on #67
IMO you can't make Fisherman run any _much_ faster, I will continue to add micro-optimizations here and there, whenever I can, but perhaps it's time to focus on improving performance of individual commands now. If you can find any bottlenecks or anything worth revisiting, let me know. We are approaching 1.0.

[2016-02-13 13:23] faho commented on #67
@bucaran: You'll want to sort by the second field - i.e. `sort -k 2 --numeric-sort`.

What you showed in your image is how long the invidiual calls (which are the last things done by that fish instance) took - and `set -g` or `exit` are uninteresting because they are never bottlenecks. Though it looks like fisherman itself is faster than sourcing fish's __fish_datadir/config.fish - the slow part o

[2016-02-13 13:58] pickfire commented on #67
@faho, thanks for coming here, I don't seem interested testing the abbr thing when I should add it to config.fish

@bucaran Give me some time to translate that page.

Sorry, I am a little busy now. Still moving forward.

[2016-02-13 14:52] bucaran commented on #67
@faho If you look at Fisherman's [`config.fish`](https://github.com/fisherman/fisherman/blob/master/config.fish), you can guess, startup time still depends on what goes inside your `conf.d`, but other than that, it's obviously it loads as fast as fish itself because there is virtually nothing to run there.

Having almost no code of its own, saying Fisherman loads fast should be no surprise. If I s

[2016-02-13 16:41] bucaran opened #100 "Extract spin (formerly known as `wait`) into its own plugin"
Move `wait` (will be renamed to `spin` from now on) into a plugin that users can install if they want. By default, Fisherman will use `__fisher_spin` which will in turn use `spin` if available, otherwise it will use a minimal `spin` implementation that always shows the same spinner and is simpler to maintain.

[2016-02-13 16:42] bucaran commented on #74
I think this overlaps too much with #73 and I find I would rather use debug mode for the same purpose. So, closing this in favor of #73

[2016-02-13 16:42] #74 closed

[2016-02-13 16:45] bucaran commented on #65
Closing in favor of #99.

Basically, the update mechanism needs to be seriously updated. I expect to add all major improvements for the next milestone.

[2016-02-13 16:45] #65 closed

[2016-02-13 16:47] bucaran commented on #16
This is harder than I imagined. Maybe I will need to end up adding a custom `realpath` implementation in `perl` or `C`, which I hope I don't have to, but I will be delaying this until 1.0.0.

[2016-02-13 16:53] bucaran commented on #94
@kulynyak Great! I'll be closing this, but hope to add this to the documentation eventually.

[2016-02-13 16:53] #94 closed

[2016-02-13 16:55] bucaran commented on #97
@ViViDboarder How are things? Do you think we can close this or do you have any further questions? Freel free to ask anything you want.

[2016-02-13 16:56] bucaran commented on #98
@andrew-kennedy Thank you for the questions. Feel free to reopen or create a new issue if you have more questions. I am closing this for now. :+1:

[2016-02-13 16:56] #98 closed

[2016-02-13 20:05] ViViDboarder commented on #97
Everything set up well. You can close. I'll reach out on Slack or something
if I have any other questions.

On Sat, Feb 13, 2016, 11:55 AM Jorge Bucaran <notifications@github.com>
wrote:

[2016-02-13 20:16] bucaran commented on #97
:+1: Thanks.

[2016-02-13 20:16] #97 closed

[2016-02-13 20:53] kevinastone commented on #16
It's a pretty low severity since I fixed it once after install.

[2016-02-13 21:07] bucaran commented on #16
@kevinastone Thanks! I think I may be able to manage to support this as we still have 2 weeks before 1.0 :smile:

[2016-02-14 00:48] bucaran commented on #72
@etu Alright, I did some research and it seems we could actually start using `$XDG_CACHE_HOME` instead of the current strategy. There is only **one** catch.

How do we update the `$fisher_file` if the user decides to remove everything in the cache?

[2016-02-14 03:26] pickfire commented on #72
@bucaran, I didn't found any configuration files, it seems like that fisherman should only be put into `$XDG_DATA_HOME` and `$XDG_CACHE` (for the cache directory) only.

[2016-02-14 03:35] bucaran commented on #72
See `$fisher_config` also `fisher help config`.

[2016-02-14 07:46] pickfire commented on #16
@bucaran I think this is a nice support too, I will normally symlink configuration files too, leave this to me (assign me to this task), I will do it after translating the quick start guide.

[2016-02-15 03:04] bucaran commented on #90
I have started working on a dry run for the installer:

[code]

or

[code]

[2016-02-15 03:12] bucaran commented on #90
@alphapapa

[2016-02-15 05:02] bucaran commented on #95
@duck Done! :fist:

https://github.com/fisherman/install/blob/master/install.fish#L89

[2016-02-15 05:02] #95 closed

[2016-02-15 07:40] bucaran commented on #87
I finished the Español and Japanese guides. That's all I can do until I learn a new language :laughing:

@pickfire No pressure writing the Chinese docs, whenever you can_!_

[2016-02-15 07:40] #87 closed

[2016-02-15 09:44] pickfire commented on #100
Weird, when I had reinstall fisherman by deleting it's folder and clearing it from config.fish and run the `curl` command.

I didn't get that fancy output (spin), what I get is:
[code]

[2016-02-15 09:48] bucaran commented on #100
Thanks for reporting this.

Do you have any trouble displaying colors?

This is the output you should get.

![](https://cloud.githubusercontent.com/assets/8317250/13040276/5f0e5350-d3ed-11e5-8994-3488f80c6494.gif)

What's this? and also what is your operating system and fish version?

[2016-02-15 09:51] bucaran opened #101 "fisher --list should return 1 (fail) if no plugins are installed"

[2016-02-15 10:19] pickfire commented on #100
The colors are displayed. It seems like fisher isn't installed after I got those message (Done!), but actually nothing is added to the ~/.config/, no git clone, nothing is added to config.fish.

`uname -a`:
[code]
`fish -v`:
[code]

[2016-02-15 10:24] pickfire commented on #90
@bucaran, this looks like a nice feature, it can let those users try fisher before actually installing it.

Well, actually when I ran this thing, I only get:
[code]

And there is one more feature that I hope (maybe I might open a new issue), I hope that there is a method to uninstall fisher, I hope to give those who dislike feature a warm goodbye.

[2016-02-15 10:33] bucaran commented on #100
Try running the installer `try me` mode and see what you get `curl -sL get.fisherman.sh | env TRY_ME=true fish`.

Also, here is the code: https://github.com/fisherman/install/blob/master/install.fish

The installer has tests that pass in Linux and OS X.

[2016-02-15 10:35] bucaran commented on #100
Note: I see you are running a fairly recent fish build `df8c4ce`, I am running 2.2.0, maybe the problem is there?

[2016-02-15 10:37] bucaran commented on #90
@pickfire I know this could be a lot of work, but would you mind trying running the above again using `fish 2.2.0` or a checking out a commit closer to it?

[2016-02-15 12:27] #101 closed

[2016-02-15 12:28] bucaran commented on #100
@pickfire Please open a new issue to track your issue with the strange error message. #100 is official implemented so we should close here.

[2016-02-15 12:28] #100 closed

[2016-02-16 03:52] bucaran commented on #90
Closing as TRY_ME option was added and should be tracking the move from http to https in #82.

[2016-02-16 03:52] #90 closed

[2016-02-16 03:52] bucaran commented on #89
Are you still having this problem @carlosjhr64 ? :smile:

[2016-02-16 04:23] pickfire commented on #82
I think you can use **HTTP/2**, it can be encrypted too and is faster than https.

[2016-02-16 04:29] bucaran commented on #82
:laughing: Just do it!

[2016-02-16 04:55] pickfire commented on #89
@bucaran, I think I have this problem too, when I did `fisher update`, it is still the same version.

[2016-02-16 05:06] bucaran commented on #89
@pickfire Can you explain what problem you are having, I still don't really understand this. Also, is this related to Fisherman?

[2016-02-16 06:44] alphapapa commented on #90
Well, I'll leave this last comment, and then I'll leave you to your project.  :)

The only way to fix this problem is to distribute via GPG-signed tarballs and/or GPG-signed git tags.  This is a common method used by the FOSS community, as well as widely used Linux distros like Debian.  Anything else is wide-open for tampering, whether via MITM attacks (which TLS helps mitigate, but doesn't necess

[2016-02-16 06:51] alphapapa commented on #82
If you want to learn to distribute software securely, I would recommend starting by reading this:

https://www.debian.org/doc/manuals/securing-debian-howto/ch7#s-deb-pack-sign

I'm not saying you need an infrastructure like Debian's for your project, but if you study how Debian does it, you can apply the same principles to your own system.  Basically, sign your releases with GPG.

Remember, HTTP,

[2016-02-16 07:34] bucaran commented on #82
@alphapapa Thanks for linking to that. I have a couple of questions.

First, Fisherman is all shell scripts, there are no binaries or code which is compiled. Does that matter?

Do you mean I sign the `.git` directory every time I push a new version? I see you are trying to help, but even after reading the scheme for package signature checks in `apt` in the page you provided, I am still having a ha

[2016-02-16 09:15] daenney commented on #82
GPG is the biggest user experience cluster fuck to come out of the CS field since it was pioneered. Yes it is good at what it does. No it is not, in any way, easy to get started with or a pleasant experience for novices. If installing software requires you to interact with GPG in any way you're doing it wrong. There's specific tooling in Debian like `apt-key` and `add-apt-repository` precisely to

[2016-02-16 13:02] pickfire commented on #82
@bucaran Remember that you could always use `sha256` in combination of `gpg` to sign it, it might be more effective. Probably add a method to verify that the script is correct in the shell script.

[2016-02-16 13:06] pickfire commented on #90
@alphapapa I think it is nice maintaining the security of open source project. Thanks for giving this nice idea.

Fisherman consist of mostly shell scripts, during the installation, people could just create another shell script and remove that verification part as we are using automatic installation, this is probably the challenging part we are facing.

[2016-02-16 13:08] pickfire commented on #89
@bucaran Sorry that I didn't provide more info, I just doesn't have any idea why it wasn't updated, I was updating from 0.4 to 0.6, but after I run `fisher update`, it is still in 0.4, I can't reproduce this now as I can't reinstall fisherman.

[2016-02-16 13:50] bucaran commented on #89
?

[2016-02-16 15:10] carlosjhr64 commented on #89
So in version 0.7.0, submit is a plugin.
After running `fisher install submit`,
~/.config/fisherman/cache/submit
just has the LICENSE file and a basically empty README.md file.

[2016-02-16 22:26] bucaran commented on #93
@ewilliam I think there is not a lot I can do at this point, maybe someone will come up with a tmux-zen-like plugin for Fisherman.

[2016-02-16 22:26] #93 closed

[2016-02-16 23:37] alphapapa commented on #90
I don't understand what you mean.  If an attacker could edit your scripts and remove the validation code, it would mean that he had already compromised the system being installed on, and he could do whatever he wanted.  It wouldn't be necessary to use your code as an attack vector; he would have already broken in.

[2016-02-16 23:56] alphapapa commented on #82
I'm not sure how to answer your question succinctly.  Theoretically it is irrelevant.  In practice, attacking a compiled binary requires far more expertise.

But for your purposes, it should be irrelevant.  What we're discussing here is a secure delivery method for your software.  Once the software is on your users' systems, it's out of your control.

No, it would mean that you would do something

[2016-02-17 00:04] bucaran commented on #90
@alphapapa Does it make any difference that this project is shell scripts only?

[2016-02-17 00:17] bucaran commented on #82
Can I ask one more question?

I am using GitHub to host the script and the install URL resolves to that script's raw URL which is always on GitHub. That means an attacker would need to either hack GitHub or my DNS provider. Is that correct?

IMO this is too complicated for the average user. I would rather have users download a script that does all this for them, but then we are back to the start r

[2016-02-17 02:18] chengguangnan opened #102 "The fish_promt is having unrendered chars (question mask)"
![screen shot 2016-02-17 at 10 16 21 am](https://cloud.githubusercontent.com/assets/861069/13097817/8279205e-d55f-11e5-996c-4085d6ebc892.png)

On a local git repo, the fish prompt is like this, I'm on os x el captain, latest iterm 2, also tried the system terminal, tried different font, encoding is utf-8.

Some other emnoji chars did show up correctly. Is this a known issue?

[2016-02-17 02:28] bucaran commented on #102
@chengguangnan It looks like you are missing the Powerline fonts: https://github.com/powerline/fonts

What prompt/theme are you using?

[2016-02-17 02:59] chengguangnan commented on #102
Oh I see. Thanks. I'm a first time shellder user. shellder is the prompt.

Also, now I noticed that, remember to change to Non-ASCII font to a powerline patched font, not the Regular Font.

[2016-02-17 02:59] #102 closed

[2016-02-17 03:00] bucaran commented on #102
@chengguangnan So, are things working well now? :smile:

[2016-02-17 03:04] chengguangnan commented on #102
Yeah, turns out that I don't like shellder, so I switched back to my own theme.

[2016-02-17 03:06] bucaran commented on #102
I mean, the font issue, is it fixed?

Cool. Can you share it? :smile:

[2016-02-17 03:35] chengguangnan commented on #102
Yeah, the font issues is fixed. My theme is just some simple text.

![screen shot 2016-02-17 at 11 34 17 am](https://cloud.githubusercontent.com/assets/861069/13099145/684af274-d56a-11e5-81da-0097ea6395fc.png)

[2016-02-17 03:45] bucaran commented on #102
Sometimes that's all you need.

Great.

[2016-02-17 08:10] daenney commented on #82
Yes. Though if they would DNS spoof you they'd also need to present you with a certificate for Github.com that's valid (as in handed out by a trusted CA).

Then your proposed method of GPG isn't secure either because it's an opt-in. If this is to hold true it should not be possible to install Fisherman in any way, or using it, without having verified its authenticity. Which isn't solved by your pr

[2016-02-17 13:19] pickfire commented on #82
@daenney I thought `git clone` does that? It checks for the files using `sha1` if I recall correctly.

[2016-02-17 13:52] pickfire commented on #89
@bucaran I want to be as helpful as I could, using the latest fish git should solve the issue now, I really can't reproduce it, it's in the past.

[2016-02-17 14:14] pickfire commented on #90
@alphapapa That's what I am talking about, he could spoof the shell script and change the validation code with something nasty.

[2016-02-17 20:03] bucaran commented on #89
@pickfire Thanks for the good news! :relieved:

[2016-02-17 21:05] domoritz opened #103 "Cannot update all plugins"
[code]

The plugins cannot be updated easily because the init files of plugins are being patched.

[code]

As a work around, run `fisher uninstall -f fasd` and then `fisher install omf/plugin-fasd`.

[2016-02-17 21:09] bucaran commented on #103
Nice find! When update gets a deserved _update_ (coming soon in 0.8.0), this will be fixed using the Git stash.

[2016-02-17 21:15] bucaran opened #104 "Make adds the user configuration after sourcing Fisherman configuration"
Obviously this should be the other way around, otherwise, the user would not be able to modify any variables that have an effect when Fisherman starts.

In other words, when users install Fisherman, the code in `config.fish` should be added **before** sourcing Fisherman configuration and not after (current way).

[2016-02-17 21:25] bucaran opened #105 "Remove scripts directory in favor of functions"
I think we should remove the `scripts` directory and favor using `functions` or the root directory for sharing scripts. Using a `scripts` directory does not solve the main problem of sharing scripts with the same name, so this addition was deemed of little value.

In the future, a more robust way to avoid name collisions when sharing scripts would be nice to have, but at the moment having a `scrip

[2016-02-18 00:49] alphapapa commented on #90
@pickfire Who is "he"?  If "he" has the ability to replace the validation code, that means that he already has access to the user's filesystem, which means he can already do *whatever he wants*.  It means he can already execute whatever code he wants.  The game is already over at that point.

The issue we are discussing here is securing the process of downloading code to fisherman users' systems.

[2016-02-18 01:21] alphapapa commented on #82
@bucaran

It's kind of you to say that, but again, I'm far from an expert.  I'm just an enthusiastic hobbyist who's used Linux, Debian, etc. for a long time.  And I try to stay relatively informed on security stuff in general.

Basically, yes.  Some attack vectors I can think of would be:

1.  Compromise GitHub itself.  I'm sure GitHub is constantly under all kinds of attack attempts, like any maj

[2016-02-18 09:59] edouard-lopez opened #106 "missing /wiki/About-the-Logo page"
### Description

At the bottom of fisherman/fisherman#69 you got a broken link:

The link target [/wiki/About-the-Logo](https://github.com/fisherman/fisherman/wiki/About-the-Logo]) while it should link to the [fisherman/logo repo](https://github.com/fisherman/logo).

### Solution

Either:

1. Fix the link in fisherman/fisherman#69 ;
1. Add a redirect in [/wiki/About-the-Logo](https://github.com/fi

[2016-02-18 10:14] bucaran commented on #106
Thanks @edouard-lopez, I went ahead and fixed the dead link and fixed other bits here are there! :+1:

[2016-02-18 10:14] #106 closed

[2016-02-18 12:25] pickfire commented on #90
@alphapapa I don't even know who is "he". "He" can be anybody.

If the process of downloading code is distrupted by "he" ("he" has no access to the user's filesystem), if "he" can spoof the schell script or do something like dns poison (I am a newbie at cracking), "he" could make the code nasty like I said and execute what he wants in the user's system.

So why just secure the process of downloadi

[2016-02-18 12:40] pickfire commented on #82
@alphapapa I really like your article about security. You seems to be equipped with a lot of security knowledge than most of us here, we really hope that you could help securing fisherman. What do you think?

And what if `fisherman.sh` is compromised? And is there any exceptions for what you just said?

[2016-02-18 12:50] pickfire commented on #89
@carlosjhr64 So it works now? Should this issue be closed?

[2016-02-18 14:38] carlosjhr64 commented on #89
If you mean it doesn't ask for credentials anymore, that's fixed.

[2016-02-18 14:38] #89 closed

[2016-02-18 14:41] bucaran commented on #89
@carlosjhr64 Thanks Carlos!

[2016-02-18 14:42] bucaran opened #107 "Add --force option to `fisher update` to force an update if `git pull --rebase origin master` fails"
+ [ ] Add --force option to `fisher update` to force an update if `git pull --rebase origin master` fails. #99
+ [x] Push comitted changes on `master`, if any, to the stash, pull, and apply. #103

[2016-02-18 14:43] bucaran commented on #103
Closing in favor of #107.

[2016-02-18 14:43] #103 closed

[2016-02-18 14:44] bucaran commented on #99
Closing in favor of #107.

[2016-02-18 14:44] #99 closed

[2016-02-18 15:49] jonscottclark opened #108 "Improve installer and support for 2.1.2 — (Original: Dry run install errors on fish 2.1.2)"
I had an old version of fish (2.1.2) and tried this: `curl -sL get.fisherman.sh | env TRY_ME=true fish`

Received 5 lines of this: `fish_indent: unrecognized option '--ansi'`

Updated to 2.2.0 to make it work properly. Appears in the 2.2.0 changelog here: https://fishshell.com/release_notes.html

[2016-02-18 16:04] jonscottclark opened #109 "Installing non-existent Oh My Fish plugin yields errors"
I tried to install an Oh My Fish plugin, and got some errors, thought it might have to do with the omf plugin itself, but it was actually due to the fact that I got the name wrong... Here's an example:

`fisher install omf/sijfojafsfjsakf`

Yields:

[code]

[2016-02-18 16:20] jonscottclark opened #110 "Add something to Wiki about switching from Oh My Fish"
I was unsure of what would happen when ran the fisherman install after already having Oh My Fish installed.

I didn't know that the Fisherman installer would prepend some lines to my config.fish vs. replacing it completely. And I had to remember that I should remove my OMF stuff:

[code]

Simple stuff to figure out but would probably be helpful for people who may be wary of existing config being o

[2016-02-18 16:24] jonscottclark opened #111 "Q: is `fisher install` the only way to switch themes?"
I have a few themes installed and when I want to switch, the only way I see to do it is `fisher install mytheme`, which makes sense because it just grabs from the cache and activates it. Maybe some clarification is needed in the docs about **the dual nature of `fisher install`**, especially when it comes to themes, instead of making another command like `fisher activate mytheme` which would seem r

[2016-02-19 00:47] bucaran commented on #108
@jonscottclark Thanks!

I have updated the installer to include the following new features:

* `fisher_indent --ansi` does not fail anymore if you `fish` build that does not support the `--ansi` flag.

* Warn you about an "out of date" fish (`< 2.2.0`), but _still_ let you install Fisherman.

![outdate](https://cloud.githubusercontent.com/assets/8317250/13163066/1c308de8-d6ed-11e5-88ad-42ee2845a6f

[2016-02-19 01:18] bucaran commented on #109
I can't reproduce, what was the fish version you were using when you received this error.

<img width="1085" alt="screen shot 2016-02-19 at 10 17 30 am" src="https://cloud.githubusercontent.com/assets/8317250/13163633/022e6384-d6f2-11e5-99cd-435c31e874de.png">

[2016-02-19 01:21] bucaran commented on #111
As you have already discovered, in Fisherman, we make no real distinction from plugins or themes, but maybe I should make this clearer in the docs?

I think people upgrading from OMF may be confused, but I am not sure if that would be the case for newbies too.

What do you say we add this to the wiki?

[2016-02-19 01:22] bucaran commented on #110
Yes, this should be added to the Wiki.

Also, make sure you see the revamp installer that tells you how to remove Fisherman if it's already installed.

https://github.com/fisherman/fisherman/issues/108#issuecomment-185996296

[2016-02-19 01:37] jonscottclark commented on #111
Maybe just say that if you install a theme, it will become active immediately; and to activate a theme you already have installed, just run `fisher install` again and it will grab it from the cache and activate it.

How you word this is up to you, but I think that would clear up any confusion.

[2016-02-19 01:39] jonscottclark commented on #110
Did you pull that quote from somewhere, or write it just now?

[2016-02-19 02:11] bucaran commented on #111
@jonscottclark Here is a [start](https://github.com/fisherman/fisherman/wiki/FAQ#how-do-i-switch-prompts). How can we make that answer more useful and stay concise at the same time?

[2016-02-19 02:12] bucaran commented on #110
Wrote it just now.

[2016-02-19 03:14] #108 closed

[2016-02-19 03:59] jonscottclark commented on #111
I would change the order of the described actions:

From:

To:

The "again" will remind people that it's something they already know.

[2016-02-19 04:10] jonscottclark commented on #110
Ok good, thought I missed it in the docs :)

I still think "modifies" is vague and still would make me wonder if I would lose any of my current config, maybe "adds some commands to", instead? Here's how I would edit it:

I think that should be sufficient for the level of user who would be installing this stuff :)

[2016-02-19 04:14] jonscottclark commented on #108
Perfect :) But in the "revamp reinstallation instructions", I'd change to "Remove **the following** configuration..."

The 3 lines underneath didn't immediately make sense, they seemed to be separate from the two lines above.

[2016-02-19 04:26] bucaran commented on #108
Fair suggestion. I

See https://github.com/fisherman/install/commit/eb07f09e8b5ffd8eaa52015d45dc55cfbc06e1ed

Two small changes:

* Add your suggestion, now it reads "Remove the **following** configuration..."
* Only show that message if `config.fish` _actually_ has the Fisherman configuration in it.

[2016-02-19 04:31] jonscottclark commented on #108
Nice! :shipit:

[2016-02-19 04:35] bucaran commented on #111
Sounds better to me too.

[Done](https://github.com/fisherman/fisherman/wiki/FAQ#how-do-i-switch-prompts).

[2016-02-19 04:35] #111 closed

[2016-02-19 04:40] bucaran commented on #110
@jonscottclark Sounds, good. How should we formulate the question?

Also, despite of Fisherman being an upgrade for OMF/Wahoo, there is actually nothing preventing you from using both or all of them simultaneously, so the text you wrote can be misleading if we want to get super technical.

[2016-02-19 04:45] bucaran commented on #110
What do you think about it now?

[code]

3. Install Fisherman.

[code]

[code]

[2016-02-19 05:00] ewilliam commented on #93
understandable! i might consider doing `tmux-zen` myself someday. on a separate note, I just created my first fish/erman plugin, https://github.com/ewilliam/import-aliases

is this satisfactory? if so, how do i get this added to Fishery? let me know, thanks!

[2016-02-19 08:36] bucaran commented on #93
@ewilliam Thanks! I left you some comments in your repo. If you want to add it to the registry, please add some basic documentation and maybe a couple of tests?

* https://github.com/fisherman/fisher-index

:+1:

[2016-02-20 00:58] #105 closed

[2016-02-20 01:05] bucaran commented on #73
Done.

![debug](https://cloud.githubusercontent.com/assets/8317250/13193297/74bdb220-d7b9-11e5-9b0d-aff53add1cff.gif)

[2016-02-20 01:05] #73 closed

[2016-02-20 01:06] bucaran commented on #104
48036fbc5d44c31548d99203db00c87540bbbff3

[2016-02-20 01:06] #104 closed

[2016-02-20 13:47] pickfire commented on #108
@bucaran The 3d image looks nice, how do you do it?

Ah, fisherman support for older version of fish, looks nice.

[2016-02-20 14:56] dangerrust opened #112 "dangerrust"

[2016-02-20 15:30] #112 closed

[2016-02-20 21:20] adaigre opened #113 "Installation error on Raspberry Pi"
I've just installed the lasted Raspbian lite on my raspberry and build Fish from source.
When I try to install fisherman I get :

 ✓ Downloading Fisherman to ~/.local/share/fisherman
 ✓ Creating the configuration in ~/.config/fisherman
 ✓ Updating the registry index
 × Installing CLI dependencies

 → Upgrade your Fish version (^2.2.0)
 → Make sure you can write to
 → Make sure you are connected to

[2016-02-21 13:34] pickfire commented on #113
@adaigre, I am using raspberry pi 2 with archlinux arm all the time, I don't found any issue installing fisherman with fish 2.2.0 and the latest git. (note that some version before that current latest git might have problem installing fisherman)

What is your `uname -a` and `fish -v`? Can you please try out the latest fish git if you have found any issues?

[2016-02-21 21:18] bucaran commented on #113
@pickfire It seems that the OP fish version is fine, probably, the problem is `fisher` failing to download the two deps it currently uses (spin and debug).

@adaigre The installer does not write logs anywhere. I'll work on that for Fisherman 0.9.0 :smile:

[2016-02-22 00:17] pickfire commented on #87
Done, but it is not very nicely translated, I don't know a lot of the terminology in chinese.

[2016-02-22 00:26] bucaran commented on #87
Awesome! Thanks @pickfire!

[2016-02-22 01:30] jethrokuan opened #114 "Search function for plugins"
- [ ] clicking div should show result
- [ ] width of search bar should be logo width at max
- [ ] Search bar should be big and pretty
- [ ] Should look good on mobile devices

[2016-02-22 01:31] jethrokuan commented on #114
Moved to fisherman.github.io

[2016-02-22 01:31] #114 closed

[2016-02-22 03:15] bucaran commented on #110
Closing as fixed :+1:

[2016-02-22 03:15] #110 closed

[2016-02-22 12:20] adaigre commented on #113
@pickfire I used the latest git to build
`git --version` -> `git version 2.1.4`
`uname -a` -> `Linux jim 4.1.17-v7+ #838 SMP Tue Feb 9 13:15:09 GMT 2016 armv7l GNU/Linux`
`fish -v` -> `fish, version 2.2.0-622-g613739b-dirty`

[2016-02-22 12:22] bucaran commented on #113
@adaigre Have you tried installing Fisherman again? Maybe there was a problem with the two deps that are pulled after installing Fisherman (debug and spin).

[2016-02-22 12:24] adaigre commented on #113
@bucaran Yes I tried few seconds ago from a different network connection and same result.

[2016-02-22 12:28] bucaran commented on #113
However, it seems you were able to get past installing Fisherman itself. So, do you have the `fisher` command? If you do, try `fisher install spin`.

[2016-02-22 13:01] pickfire commented on #113
@adaigre Can you try `fisher update` and `fisher install spin` like @bucaran said.

I can't reproduce this in archlinux arm.

[2016-02-22 13:04] adaigre commented on #113
It seems that I have an issue with my Fish anyway
`fish: Unknown command 'bc'` appears on autocompletion

[2016-02-22 13:20] pickfire commented on #113
@adaigre I recall that problem in fish issues, let me check.

[2016-02-23 00:58] bucaran opened #115 "Add --color option to fisher search or make fisher search use color by default and add --no-color option."
Add --color option to fisher search

### or

make fisher search use color by default and add --no-color option.

If we choose the latter, is more fun, but some updates need to be made in all commands using `search` internally.

[2016-02-23 07:16] alphapapa commented on #90
@pickfire I feel like we're talking past each other to some extent, but also you don't seem to understand what I'm saying.

That's the whole point here: to secure the code distribution process.  Piping from curl to the shell makes that impossible to begin with.  But even switching to a download-then-execute model isn't inherently secure.  That's why it requires strong crypto.

Here's a comprehensi

[2016-02-23 07:34] alphapapa commented on #82
@pickfire I'm not sure what article you mean.  But as I mentioned in the other bug report, here is one that I think should be considered required reading for anyone trying to deal with this issue: http://www.cryptnet.net/fdp/crypto/strong_distro.html  At least read Section 1 of the article, which gives an overview of the principles involved.

I'm glad to help if I can, but I think it's important t

[2016-02-23 09:55] tikolakin opened #116 "Can't install plugin"
[code]

[2016-02-23 11:00] bucaran commented on #116
@tikolakin Please upgrade to fish `2.2.0`.

I hope to release a patch to fail more gracefully in older fish versions with 0.9.0, but for the time being, just update your fish.

[2016-02-23 12:27] tikolakin commented on #116
Many thanks, I've upgraded it. Work fine now)

[2016-02-23 12:27] #116 closed

[2016-02-23 12:29] bucaran commented on #116
:+1: Awesome.

[2016-02-23 13:03] pickfire commented on #115
@bucaran, probably color should be enabled all the time, except during a pipe.

[2016-02-23 13:21] bucaran commented on #115
@pickfire We use `eval` to evaluate sub commands, so I believe there is no easy way to do this. I'll try, but I am almost sure this is impossible.

[2016-02-23 13:31] pickfire commented on #115
I have used `eval` in bash a few times (no choice or I wouldn't do it) but I doesn't know any info about adding this option currently, probably need some research.

[2016-02-23 13:43] bucaran commented on #115
In fish you use `isatty`, but inside `fisher_search` `isatty` will wrongly tell us we are inside a pipe even if we are not. I could be wrong, but if I recall correctly and the above is true, then like I said, it's not possible. But in any case, using a `--no-color` flag is also ok.

[2016-02-23 13:54] pickfire commented on #115
@bucaran, yeah, of course. I did `isatty | echo $status` in a terminal:
[code]
It seems like it doesn't know that it is in a pipe.

[2016-02-23 22:54] jonscottclark commented on #109
Ok.. I think I figured it out.

I followed the backtrace and found this: https://github.com/fisherman/fisherman/blob/master/functions/fisher_install.fish#L120-L122

That triggered a `git clone`: https://github.com/fisherman/fisherman/blob/master/functions/__fisher_url_clone.fish#L2

I tried to manually run this command, in this case `git clone -q --depth=1 https://github.com/oh-my-fish/sijfojafsfj

[2016-02-23 23:02] bucaran commented on #115
@pickfire I think we are discussing two different things!

Detecting the pipe is possible, but buggy in my experience (I will try again though) if the case was:

[code]

But our case is:

[code]

How does `fisher search` know that its output will be piped into `PARSE_OUTPUT`.

Which is why I think we need a `fisher search --no-color` option if we were to use color **by default** in search in the f

[2016-02-23 23:06] bucaran commented on #109
I am trying to test this on a different machine in which I am not authenticated, but I am not getting the desired results, meaning I still can't reproduce this.

For the record, what is the version of Git you are using?

One more thing, none of the repositories listed above are private, does Git treat unexisting repos as private kinda?

[2016-02-23 23:20] jonscottclark commented on #109
Right, but this is just a guess on my part. I just know that even _after_ I authenticated, it prompted me for authentication again when I tried cloning non-existent repos.

[2016-02-23 23:20] jonscottclark commented on #109
git version 2.4.5

[2016-02-23 23:22] ericwooley opened #117 "Creating nvm plugin"
I am trying to create an nvm wrapper that depends on bass and I get an error about a cache/nvm folder not existing.

[code]

My repo is here (it's a pretty basic setup)  https://github.com/ericwooley/fisherman-nvm

I noticed that `fisher install omf/nvm` yeilds a very similar result.

Anyone know more about this?

[2016-02-23 23:23] jonscottclark commented on #109
This is after upgrading to git 2.7.1:

[code]

[2016-02-23 23:25] jonscottclark opened #118 "Fisher update after git update"
Had an old version of git, so I updated it with homebrew.

Then I tried `fisher update`

[code]

[code]

[2016-02-23 23:26] jonscottclark commented on #109
p.s., Ran into this error when making sure I was all up to date: https://github.com/fisherman/fisherman/issues/118

[2016-02-23 23:30] bucaran commented on #109
@jonscottclark Thanks! Thank you for enabling debug mode, that was helpful. This definitely seems like a bug in Fisherman, and a very exciting one! :smile:

[2016-02-23 23:37] bucaran commented on #113
@adaigre Make sure you have fish 2.2.0 and `bc` in your system and let us know if that got everything fixed (likely).

[2016-02-23 23:48] bucaran commented on #109
This. Where do you store your Git credentials?

I think this can be solved easily by writing an error message inside `__fisher_url_clone` if Git fails.

[2016-02-24 00:05] bucaran commented on #109
@jonscottclark I was able to reproduce this in a new machine. The problem is just as you described it.

Maybe related:

* https://github.com/fisherman/fisherman/issues/89
* https://github.com/fisherman/fisherman/issues/117

[2016-02-24 00:08] bucaran commented on #117
@ericwooley Thanks! I think this could be related to https://github.com/fisherman/fisherman/issues/109

In the mean time a few tips:

* Do not use the `fisherman` prefix to name your repo as it has nothing to do with Fisherman. Think of it this way, Fisherman is a universal installer, it will work with any of the existing plugin systems (OMF, Wahoo, Tackle, and the extensions added by `__fisher_*`

[2016-02-24 00:19] bucaran commented on #109
@jonscottclark I think I might have just fixed this.

Can you check again?

[2016-02-24 00:41] ericwooley commented on #117
@bucaran
maybe! shoot, I wonder if that was the problem!

durp durp durp. https://github.com/derekstavis/plugin-nvm runs fine.

[2016-02-24 00:41] #117 closed

[2016-02-24 00:53] bucaran commented on #117
@ericwooley You are welcome to continue developing your wrapper using Bass though, or rather, use just bass?

Let me know if you need help with anything and if you need to troubleshoot something → <http://join.fisherman.sh>

[2016-02-24 00:56] ericwooley commented on #117
@bucaran Thanks, I really just wanted to be able to use this nvm command, and thought it would be a fine opportunity to make a plugin. Since I thought the other nvm plugin wasn't working.

I'll make another plugin someday, but I need to think of something useful first.

[2016-02-24 00:58] bucaran commented on #117
:+1: Cool!

[2016-02-24 01:26] jonscottclark commented on #109
I'm now getting:

[code]

Much better than before, even though the messaging isn't accurate :)

[2016-02-24 02:31] bucaran commented on #109
Good news! :relieved:

Agreed. We need to improve the error message in the future. Not just this error, but all errors, so I think we are done with this issue.

Can we close?

[2016-02-24 04:02] jonscottclark commented on #109
Yup, I think you've got everything you need from me :)

[2016-02-24 04:21] #109 closed

[2016-02-24 04:23] bucaran commented on #109
![untitled](https://cloud.githubusercontent.com/assets/8317250/13275568/b192d52a-daf9-11e5-9ef0-2abb35e28876.png)

[2016-02-24 05:04] pickfire commented on #115
Ah, I know more about it now, fisher doesn't know what will happen in the future.

[2016-02-24 05:16] bucaran commented on #113
@adaigre Do you happen to have `$fish_debug` variable set? Most probably not the problem here, but I just pushed a fix.

https://github.com/fisherman/install/commit/117f696e3c44412ecddc698f04c356cf03978abf

[2016-02-24 05:18] bucaran commented on #115
@pickfire Yeah, maybe we can make it know in time for 1.0 :smile: (jk)

[2016-02-24 09:45] jethrokuan commented on #118
:+1:

[2016-02-24 12:05] adaigre commented on #113
I install the `bc` package and re-run the fisherman install and it works !
Sorry for the inconvenience.

[2016-02-24 12:05] #113 closed

[2016-02-24 12:09] bucaran commented on #113
Glad to know you got things working. :+1:

[2016-02-24 12:10] bucaran commented on #84
I am going to track this here https://github.com/fishery/getopts/issues/11

[2016-02-24 12:11] #84 closed

[2016-02-24 12:37] jethrokuan opened #119 "Add --rollback option to `fisher update` to make updates potentially less frustrating"
This gives users a chance to try new updates. If the update breaks their config, they can simply rollback to the previously installed version.

[2016-02-24 12:48] bucaran commented on #119
Interesting idea. What do @daenney @pickfire @jonscottclark @josegonzalez @colstrom and @kballard   @alphapapa and @jethrokuan think about this?

[2016-02-24 12:53] jethrokuan opened #120 "Add --changelog option to `fisher update` to show changes after updates (both in fisherman and in plugins)"
The changelog file can be parsed and presented. Knowing what changes are made can be very helpful in self-debugging. Also, being transparent about what has changed can put the user at ease.

[2016-02-24 13:29] pickfire commented on #113
Good luck and have a nice day!

[2016-02-24 13:33] pickfire commented on #84
@bucaran, by the way, `fisher uninstall -h` shows:
[code]

[2016-02-24 13:43] pickfire commented on #119
@bucaran Looks nice, but it might be difficult to setup as there is a lot of differences between versions. And it might be even hard to rollback twice.

[2016-02-24 13:45] pickfire commented on #120
@jethrokuan, a NEWS file will do, nobody might know about `--changelog` based on my humble opinion.

[2016-02-24 13:46] jethrokuan commented on #119
@pickfire this would simply involve copying and backing up the current folder, i.e. simply caching the current working plugin. Rolling back would then be simple file manipulation. Rolling back twice is something that someone would be unlikely to do, can you think of someone's use case for that?

[2016-02-24 13:49] jethrokuan commented on #120
@pickfire `--changelog` is still syntax that is still largely undecided. Do you have any suggestions? Also, how would the `NEWS` file look different from the `CHANGELOG.md` file currently in the root directory? We would definitely have to be more choosy about phrasing stuff in there.

[2016-02-24 13:51] bucaran commented on #84
@pickfire Yeah, that's the usage help. :question:

[2016-02-24 13:54] pickfire commented on #119
@jethrokuan, that's a special case, it's possible.

[2016-02-24 13:55] bucaran commented on #120
NEWS is fine, but we already chose CHANGELOG and there would be no problem in making `fisher update --news` shadow the behavior of `fisher update --changelog` if that was the CLI we decide.

[2016-02-24 13:57] pickfire commented on #120
No, that's my only suggestion, `NEWS.md` is shorter than `CHANGELOG.md`. Well, both seems to have a similar meaning, I don't have any opinion about that. Need @bucaran's opinion for this.

[2016-02-24 13:59] pickfire commented on #84
@bucaran, just a simple change, no need for a pull request. I am suggesting for an aligned help. e.g. omxplayer is a good example of this, their `--help` is awesome. Just:
[code]

[2016-02-24 14:01] bucaran commented on #119
This is funny, especially because users should only be able to roll back to the first version that introduced the roll back feature.

I agree with @jethrokuan, this is actually simpler than it seems.

[code]

[2016-02-24 14:04] bucaran commented on #84
@pickfire I think you may be misunderstanding the issue here :sweat:

And, yeah, we could improve the usage help display. I based Fisherman usage help in Git, but I liked the example you showed me. Very neat.

[2016-02-24 14:06] bucaran commented on #120
NEWS is shorter and I think I considered using one instead of CHANGELOG for the novelty effect, but while I don't have any data to back this up, I will go out on a limb and suggest that a CHANGELOG file is way more common than a NEWS file.

[2016-02-24 15:02] jethrokuan commented on #119
@bucaran wrt encouragement of rolling back, at best we could only encourage reporting of such incidents. This could be facilitated with another flag, or simply just printing a plea to report whatever bug they're seeing so we can see to it.

[2016-02-24 15:13] bucaran commented on #119
@jethrokuan I am starting to think this should be a plugin. @pickfire ?

[2016-02-24 15:26] jethrokuan commented on #119
@bucaran definitely a possibility, but should it be opt in or should it come by default?

[2016-02-24 15:50] jethrokuan opened #121 "key_bindings.fish does not allow for conditional statements"
Minimum repro case:
[code]

key_bindings.fish:
[code]

functions/__echo_hello.fish:
[code]

Installation works fine, but uninstall fails:

[code]

[2016-02-25 00:13] bucaran commented on #119
Maybe? Or users can simply `fisher install *it*`.

[2016-02-25 01:14] bucaran opened #122 "Update plugins with merge conflicts."
Update plugins with merge conflicts by fetching HEAD and applying a hard reset as a last resort. This strategy should **only** be executed on the `master` branch, and other branches should not be affected.

So, if branch `my-feature` is checked out at the time of the update, Fisherman must save the branch name, check out master, do the update dance and check out `my-feature` again after the operat

[2016-02-25 01:15] bucaran commented on #107
Closing in favor of #122.

[2016-02-25 01:15] #107 closed

[2016-02-25 01:16] #121 closed

[2016-02-25 01:16] #122 closed

[2016-02-25 01:41] bucaran commented on #72
One problem I see with using `XDG_CACHE` is that if the user deletes the directory, how do we update the Fishfile? The fishfile is used to keep track of what plugins are installed and not.

I think the correct approach here is to modify the name `cache` and start using `stage` or similar. I used the term cache because `$fisher_cache` has characteristics of a cache, but it's more like a mixture bet

[2016-02-25 04:44] domoritz opened #123 "Plugin initialization throws error"
After a recent update I see the following

[code]

[2016-02-25 05:00] bucaran commented on #123
No problem here.

Did you install `autoinit`?

<img width="733" alt="screen shot 2016-02-25 at 1 59 17 pm" src="https://cloud.githubusercontent.com/assets/8317250/13310294/1dde876e-dbc8-11e5-8819-7b73daa92ba4.png">
<img width="688" alt="screen shot 2016-02-25 at 2 00 17 pm" src="https://cloud.githubusercontent.com/assets/8317250/13310295/1f05e344-dbc8-11e5-98fe-ea796ccb7d9a.png">

[2016-02-25 05:05] domoritz commented on #123
Interesting. In a new shell everything works. I guess it was because something from the new version has not been initialized yet. Sorry about that. Will test more carefully next time.

* Try again
* Uninstall/ install plugin
* Create a new shell
* Try again

[2016-02-25 05:05] #123 closed

[2016-02-25 05:09] bucaran commented on #123
It seems that plugin-thefuck was updated recently, this change brought new functions:

* https://github.com/oh-my-fish/plugin-thefuck/blob/master/functions/__tf_updt.fish

It's possible that Fisherman is evaluating `init.fish` before the functions are properly registered, which would explain you running into that problem, but it being fixed once the functions are loaded.

If you `fisher uninstall

[2016-02-25 05:12] bucaran commented on #123
I can't reproduce it.

<img width="1192" alt="screen shot 2016-02-25 at 2 11 10 pm" src="https://cloud.githubusercontent.com/assets/8317250/13310491/bd33051e-dbc9-11e5-8237-1e07ec9514ab.png">

If you get this again, please reopen*!*.

[2016-02-25 05:13] domoritz commented on #123
Yeah, I force uninstalled since you told me about it when we talked on slack. The issue was only in an old shell but it works fine once I start a new session so it's fine.

[2016-02-25 05:14] bucaran commented on #123
Great.

[2016-02-25 06:11] etu commented on #72
Then the fishfile shouldn't be in the cache folder. It should be in the
data folder.

On Thu, Feb 25, 2016, 02:41 Jorge Bucaran <notifications@github.com> wrote:

[2016-02-25 07:35] josegonzalez commented on #119
I like it, though as a default plugin.

[2016-02-25 08:11] bucaran commented on #72
@etu The fishfile is not in the cache directory, no worries.

So, I've had another chance too look at this and realized that

does not make much sense, in other words, this is not a problem.

So, _yes!_, we'll be moving `$fisher_cache` to `XDG_CACHE_HOME` in the next release. This change breaks backward compat, but we are still not 1.0, so it's not or never.

This means that Fisherman is pretty mu

[2016-02-25 13:26] bucaran commented on #72
EDIT: New issue showed up.

I just remembered we use the repositories downloaded to the cache to determine what files we should add / delete from $fisher_config. If the user deletes the cache, there will be no reliable method to remove a given plugin as each plugin may have an arbitrarily complex tree.

I'll think about this more, if no solution is arrived, I'll change the name from `cache` to `st

[2016-02-25 13:30] etu commented on #72
If it's not removable without being able to regenerate it on the fly, put it in Data or possibly config depending on nature of the data.

For example: My Emacs Config depend heavily on installed modules. But I have those in the Cache folder since it installs it on startup, so if I remove the cache-folder, the next startup will take more time.

[2016-02-25 14:03] bucaran commented on #72
It _is_ in config actually, not data, because data is only for Fisherman own data and functions.

[2016-02-26 02:42] luan opened #127 "install scripts should not override `fisher_config` and `fisher_home`"
I want to be able to:

[code]

And have my `config.fish` be generated accordingly, pointing to the write customized directories.

Thoughts?

CC @bucaran @jethrokuan

[2016-02-26 02:46] bucaran commented on #127
Sounds good to me. You want to export those variables, otherwise the child `fish` process won't pick them up, but other than that :+1: from me.

[2016-02-26 02:47] luan commented on #127
Like that?

[2016-02-26 02:49] bucaran commented on #127
Yes. @luan This feature is shipping in 0.9.0, but I would like to bring your attention to another issue here.

Why do you want to commit the entire config directory to your dotfiles? In Fisherman there are [fishfiles] → `$fisher_file`. This gentleman stores what plugins/prompts you have enabled / "activated".

That's all I need to commit to my dotfiles personally.

[fishfile]: https://github.com/f

[2016-02-26 02:55] luan commented on #127
That's a fair point, I currently have an `init.fish` file inside the `conf.d` directory there, where I set some variables such as `GIT_EDITOR` and such. I also have a couple of `.fish` files in the `functions` directory where I have a few utility functions that help me with day to day things.

I really need to version those few things, but they're now mixed up with all the plugins.

[2016-02-26 03:02] bucaran commented on #127
About init files, you don't have to name your files in any special way, if there are inside `conf.d` they will run. Now, if you want to name it `init` and put it inside `conf.d`, then that's alright.

By functions directory, do you mean ~/.config/fish/functions? If so, then great, that is where you should put those files.

There is no single best way to version everything. Maybe you will eventuall

[2016-02-26 04:58] bucaran opened #128 "Search should show only unique records if you use just list `--authors`"

[2016-02-26 05:39] pickfire opened #129 "Beautify man pages"
- [x] Beautify those ascii tree diagram
- [x] [Words to avoid](https://github.com/nicholaides/words-to-avoid.vim) in those articles
- [x] Misc fixes / forgotten updates

[2016-02-26 05:58] pickfire commented on #127
@luan Like this:
[code]
Or the soft link way:
[code]

[2016-02-26 06:00] pickfire commented on #128
Ah, probably like the arch linux `pacman -Sl aur`, it lists all the package.

It would be nice if fisherman have pacman-like syntax, like `-S` and `-Q`.

[2016-02-26 06:11] bucaran commented on #129
+1 for words to avoid and I am sure I can think of more things.

One more thing I am trying actively to avoid is using adverbs.

As for the ascii tree diagram, I recall my `man` would not display unicode characters, so I desisted.

[2016-02-26 06:14] pickfire commented on #129
Of course, I always know that and I will make that my first policy, I just want to say that the ascii tree diagram still looks a bit ugly and some part needs some fix.

I am not sure what you mean here, one more thing that I am doing is to make those sentences as short as possible as long as the original meanings remain.

[2016-02-26 07:01] bucaran commented on #129
Cool. Go for it.

[2016-02-26 08:03] #115 closed

[2016-02-26 08:04] #128 closed

[2016-02-26 08:04] bucaran commented on #119
Closing as likely, but later and as plugin.

[2016-02-26 08:04] #119 closed

[2016-02-26 08:10] daenney commented on #127
It's indeed possible to do it by simply using a universal variable though I dislike those for the simple reason that you can't "see" where they're being set, contrary to an entry in `config.fish`. For installation purposes it would work.

I did it the other way around, simply looked at what the install script would do and then applied that myself to my `config.fish` since I didn't want it wiping o

[2016-02-26 10:24] bucaran commented on #120
While this would be a nice feature, it seems that the idea showed up too late. After 1.0, which (is the next milestone) I expect Fisherman to become lock to major changes and hope to focus on the ecosystem.

I will honor this issue request by adding a little more information when Fisherman updates plugins, the index and / or itself, but nothing too fancy.

[2016-02-26 10:41] bucaran commented on #129
@pickfire Now that Fisherman API is essentially locked, I will go over the documentation and rewrite and fix as much as possible too. In addition, I will simplify the Wiki, re-shoot gifs with the current Fisherman and consolidate as much as possible in preparation for 1.0.

[2016-02-26 12:19] pickfire commented on #129
I need to go through all the docs, give me some time. At the moment, you can work on the wiki.

[2016-02-26 12:24] bucaran commented on #129
@pickfire If you haven't started, then leave that up to me, and you can review it after I push the new version. I will be doing this from now, over the next few hours. I would love if you can fix anything after that.

[2016-02-26 12:31] alphapapa commented on #119
I'm not sure I understand the idea here.  But it seems to me that the solution is to use git.  Operations like trialing and rolling back configurations are essentially branching and merging.  That's what git is designed for.  IMO any such feature that doesn't use git is doing it wrong.  :)

For example, I use Homeshick and git to manage my dotfiles.  If I wanted to test some kind of Fish stuff, I

[2016-02-26 12:37] bucaran commented on #119
@alphapapa I totally agree with you here.

Absolutely.

[2016-02-26 14:05] pickfire opened #130 "Update, root of plugin manager"
- [ ] Add `fisher update all` to update *all* plugins **concurrently**

[2016-02-26 14:08] pickfire commented on #129
I have started since last night, assign this to me and the other parallel thing (haven't started).

[2016-02-26 14:16] bucaran commented on #130
What's wrong with

[code]

[2016-02-26 14:17] bucaran commented on #129
Well, the thing is, I will remove some of the docs and consolidate them into one or two documents. I wrote too much docs to begin with.

[2016-02-26 15:18] jethrokuan commented on #119
I agree that git is a good solution, but it might not be the all-encompassing solution. Right now updates try to be completed gracefully, but if not it'll do a hard reset and pull from master. In the latter case I don't think git can save you. This is something that is not within fisher's control.

[2016-02-26 15:20] jethrokuan commented on #130
nothing is wrong with `fisher -l | fisher update`, but I'm expecting some users who are not proficient with the cli to struggle with this.

Anyway, i'd suggest `fisher update --all` or `fisher update -A` instead, `fisher update foo` should be reserved for updating the `foo` plugin.

[2016-02-26 23:20] eugenesvk commented on #85
So, my fork already has the attribution
"Copyright (c) 2015, Jorge Bucaran <jbucaran@me.com> for code taken from https://github.com/bucaran/wahoo/tree/master/lib"
You're also listed in the authors file
What else do you need?
You don't have the right to demand removal of the libs since you have them under MIT license.
You also can't demand that you're the only copyright holder in the license becaus

[2016-02-27 03:31] pickfire commented on #130
@jethrokuan, I suggest `fisher update all` which @bucaran suggest to me.

@bucaran, I did some research, the **report** is here:

Using `xargs`, `-P` means `--max-procs`:

    fisher -l | cut -c 2- | xargs -n 1 -P 0 fish -c 'fisher update'

Using `parallel` (not installed by default in many distros probably):

    setenv PARALLEL_ENV (functions fisher_update|perl -pe 's/\n/\001/')
    fisher -l |

[2016-02-27 03:45] pickfire commented on #119
Not sure about this but I currently don't have any experience with rollback, it's only nice for those people who have break fisherman. I will be here once fisherman is broken.

[2016-02-27 05:41] bucaran commented on #130
@pickfire Looks amazing to be honest. Have you actually tried that? What were your results? Maybe try running some benchmarks.

:+1:

[2016-02-27 07:03] jethrokuan commented on #130
@pickfire great stuff! parallel doesn't come with my distro. I'd personally like `xargs` as default, and `parallel` as part of a variable that can be set to choose the parallelization option.

[2016-02-28 08:44] pickfire commented on #130
I think I like `xargs` more as `parallel` have longer startup time (what they said so) but too bad `xargs` doesn't have any support for `functions`.

[2016-02-28 10:18] iONsky opened #132 "Error when installing plugin from folder with whitespace"
I tried to install a plugin/theme from a folder that contains a whitespace but sadly fisherman exits with an error.

Folder:

Output: `fisher install .`

[2016-02-28 10:23] pickfire commented on #132
I can reproduce this.

[2016-02-28 10:38] bucaran commented on #132
@iONsky Thanks. The validation should catch this is an invalid name and provide a better error message.

[2016-02-28 15:23] iONsky commented on #132
@bucaran You mean the name or the folder can't contain any whitespace?

[2016-02-28 15:40] bucaran commented on #132
@iONsky At the moment, it can't... but if we can figure out a way to extract the name of the plugin from the directory's name, then sure.

In this case, what do you want to use as the name for your plugin?

[2016-02-29 06:16] jethrokuan commented on #132
In my opinion, while fisherman can be accommodating with folder names like these, I think the appropriate action here is to only allow certain folder naming conventions and provide readable error messages if otherwise. Having a convention for things like these will ultimate minimize work done to provide support, so we can focus on the key features of fisherman.

[2016-02-29 06:21] bucaran commented on #132
Already fixed locally, ships in 1.0. Basically, we detect the invalid path and print an error message.

[2016-02-29 06:24] bucaran opened #133 "Allow users change the current prompt using fish_config"
Thanks to Gary, for [reporting](https://twitter.com/gaswold/status/703772914294902785) this.

Currently, you can't change your prompt using fish_config, as Fisherman is _before_ in $fish_function_path. You can `fisher uninstall $fisher_prompt` and then use fish_config, but Fisherman can detect if the user used fish_config and uninstall $fisher_prompt for them.

This is basically done, the solution

[2016-02-29 06:37] bucaran commented on #133
![s](https://cloud.githubusercontent.com/assets/8317250/13387486/54f1ef9a-defa-11e5-8e98-b86017c8f409.gif)

[2016-02-29 07:30] jethrokuan commented on #133
:+1: good fix. Moving forward I think we should encourage having all config managed by fisherman. I'm not sure what `segment` looks like now, but I hope it can replace `fish_config prompt`.

[2016-02-29 07:33] bucaran opened #134 "Introduce fisher list and deprecate fisher --list"
Use `fisher list` instead of `fisher --list`. The behavior was modified only slightly, but everything should work as usual.

![lvss](https://cloud.githubusercontent.com/assets/8317250/13388184/43c998e2-df01-11e5-9464-4fdece4d65a2.gif)

If you are confused about the difference between _list_ and _search_, here is the gist of it. List queries the local system ($fisher_cache) and search queries the r

[2016-02-29 07:35] bucaran commented on #133
Plugins!

[2016-02-29 08:01] iONsky commented on #132
I noticed something else...the problem occurs even if the **path** contains a whitespace.
For example `/Users/Test/Development Tools/theme/`

[2016-02-29 08:20] bucaran commented on #132
@iONsky Nice catch. Ah, this is tricky. It's fixed now and ships with 1.0, but if please keep reporting problems if you keep finding them.

[2016-02-29 14:37] bucaran commented on #16
@pickfire I missed your comment. Are you still interested in taking this one?

[2016-02-29 21:16] paxy97 opened #135 "Failed to update the registry index (can't run fisher)"
The fisherman installation fails on the updating registry step. I am using the latest fish and git versions, 2.2 and 2.7.2 respectively. I tried both the one-line and manual install with a cleanup in between the two.

Here's the output for the one-liner:

[code]

And the manual one:

[code]

I'm sorry If I didn't provide all the necessary information. I'll be glad to, just tell me what you need.

[2016-02-29 23:44] bucaran commented on #135
@paxy97 Hi. This seems like a problem with the `config.fish`.

Can you post your `config.fish`?

[2016-03-01 00:01] paxy97 commented on #135
I wiped it bewtween both of the installs and have not added anything by myself.

[code]

I left it like this after the installation. The strange thing is that fisherman is working on my laptop (this is my PC) which has pretty much the same Arch setup. I switched to fish because ZSH had some issues with showing the cwd. When I was in a directory that is a first subdirectory of my home folder, the p

[2016-03-01 00:04] bucaran commented on #135
There is a syntax error here:

[code]

[2016-03-01 01:06] paxy97 commented on #135
That is what I am talking about. I have not noticed it in this config file specifically, but for some reason, my whole system is adding a tilde prefix to every first subdirectory in my home folder. I'm sorry to have bothered you then, because it seems my assumption was right that it is system related and not fisherman. Time to ask on stackexchange I guess. Thank you very much

[2016-03-01 01:06] #135 closed

[2016-03-01 01:12] bucaran commented on #135
No problem, but wow. I have never heard of such thing.

@jethrokuan You are in Arch too, any thoughts what could be going here?

[2016-03-01 02:05] jethrokuan commented on #135
@paxy97 adding a tilde to every first subdirectory would be problematic, because fisherman installs in `~/.local/share/fisherman`. I've never seen this problem in arch before. Did you install a custom FS? could you share what's in you /etc/profile and /etc/profile.d?

[2016-03-01 02:50] pickfire commented on #16
@bucaran Yeah, I am still interested in it but haven't found any ideas to fix it.

@tuvistavie It seems like I am able to symlink the whole fish directory and nothing break.

[2016-03-01 02:57] pickfire commented on #130
It seems like the `xargs` command still doesn't work, the parallel command works instead:
[code]

[2016-03-01 03:20] pickfire commented on #130
For the current benchmarking:

1. `fisher -l | cut -c 2- | parallel fisher_update`: 14s
2. `fisher -l | cut -c 2- | fisher_update -`: 24s
3. `fisher -l | cut -c 2- | xargs -d "\n" -P0 -I {} fish -c 'fisher_update {}'`: Command too long (FAIL)

I have 4 cores, updating `debug`, `fishtape` and `spin`.

[2016-03-01 03:29] bucaran commented on #130
@pickfire Make sure you always use `fisher_update -`.

[2016-03-01 03:56] pickfire commented on #130
@bucaran As I said, it won't work as there is `*` in front of the words, I really hope that it is deleted. Output:
[code]