[2016-05-03 01:19] bucaran commented on #242
@laughedelic Yep. But it's a very subtle difference. What would be the best way to state this?

[2016-05-03 10:45] bucaran commented on #69
Hi @coldnew, can you check this?

[2016-05-03 18:50] colstrom opened #249 "`fisher ls-remote` does not play nice with pipes"
Output of ls-remote is in columns. At least when piped, it should be one record per line.

`isatty stdout` can be used to check for this.

Actual:
[code]

Expected:
[code]

[2016-05-03 18:52] bucaran commented on #249
Coming to theaters near you in 2.6.0.

[2016-05-03 18:57] colstrom opened #250 "`fisher ls-remote` hides installed packages"
Actual:
[code]

Expected:
[code]

There's currently no way to show all available packages, including those already installed. It may be reasonable to hide this information from the user, but seems less reasonable to be completely inaccessible. Perhaps different behaviour when STDOUT is a TTY, and when it is not?

There's reasonable cases to show or hide this, so it might make sense to have a pair

[2016-05-03 18:59] bucaran commented on #250
After #249 lands,

[code]

will do it.

[2016-05-03 19:54] bucaran commented on #250
@fisherman/all Thoughts?

Ping @jethrokuan @herrbischoff @orangecms @lordlycastle @Markcial @MadcapJake

[2016-05-03 20:00] Markcial commented on #250
Personally i would like to use the full color support to display what's going on on certain packages. So the installed packages would have orange color, the packages not yet installed would be green, the installed ones, blue. If the color support is not enabled then symbols would be appended/prepended to the packages.

Anyways it is true that ls-remote should not hide already installed packages if

[2016-05-03 20:05] bucaran commented on #250
My logic is clearly expressed in the README.

See what's installed.
[code]

See what you can install.
[code]

[2016-05-03 20:14] Markcial commented on #250
following that kind of logic we might end up with a new action for listing the packages that can be updated.

I guess that listing packages that are available remotely includes the ones already installed, but maybe not as the ones that are not installed.

[2016-05-03 20:24] bucaran commented on #250
That is the logic as it is written and described in the README since the feature was implemented and I don't see what's wrong with it.

And no, there will be no more new actions, there could be an internal `__fisher_*` like function, but I'd rather land #249 and then open the door to https://github.com/fisherman/fisherman/issues/250#issuecomment-216631163.

I am not very fond of `--show-installed`

[2016-05-03 20:24] MadcapJake commented on #250
@Markcial, @colstrom: what use do you two see in showing all packages (included installed)? "Other package managers do it" doesn't really explain what it's useful for.

[2016-05-03 20:29] bucaran commented on #250
* fisher ls-remote --format=*string*

You can embed colors in that string and get the output exactly the way you want it, that's why the format string exists. See: https://github.com/fisherman/fisherman/releases/tag/2.2.0

[2016-05-03 20:35] orangecms commented on #250
I'd also expect `ls-remote` to show everything and not just what's not installed. Otherwise it is misleading and I will not see if e.g. a package is removed. That is what I would understand now from the result. If I have something installed and `ls-remote` doesn't show it, it means that it cannot be installed, so it doesn't exist anymore. And yes, other package/pkugin managers wouldn't do this. Th

[2016-05-03 20:53] bucaran commented on #250
I will implement #249 which is somewhat related to this ASAP. But since I don't have a solid use case for #250, this is unlikely to be implemented any time soon. I have added the `PR WELCOME`, so if someone wants to take a stab at it, they are more than welcome to do so. Also make sure to update the documentation and propose the CLI changes in advance.

[2016-05-03 23:20] colstrom commented on #250
@MadcapJake "Other package managers do it" isn't a reason in itself, but it is a strong indicator of what a user is likely to expect. I found this behaviour to be very surprising, but I'm hardly a representative sample. ;p

- I can filter data I don't want.
- I cannot conjure data isn't there.
- This omission is deliberate, and silent.
- There is no mechanism to override this.

@bucaran I understa

[2016-05-04 03:37] bucaran commented on #250
So, what is your use case again?

[2016-05-04 09:56] bucaran commented on #69
Hi @bindiry and @lerencao, please check out the pros of fisherman vs omf.

[2016-05-04 10:48] bucaran commented on #69
Hi are you using fish? @yf92

[2016-05-04 13:47] elwan opened #251 "issue with grc install"
hello i have already installed grc  but when i do fisher up it said "You need to install grc!" .do you have faced to this issue?

[2016-05-04 14:01] detailyang commented on #251
can you show this output in terminal as follow:
[code]
:beers:

[2016-05-04 14:23] bucaran commented on #251
@elwan I don't use grc, but @domoritz could help you with it.

In short, the omf/grc plugin is just a fish-wrapper for grc, so you need to download the actual grc:
* https://github.com/garabik/grc

[2016-05-04 14:35] domoritz commented on #251
Everything worked just out of the box for me. I installed grc, made sure it's in the path (run `grc --version`) and then installed the omf/grc plugin.

[2016-05-04 14:46] bucaran commented on #251
@elwan I see what the problem is.

So, if you can't upgrade to the latest fish right now, just add:

[code]

to your config.fish until you can.

[2016-05-04 16:10] bucaran commented on #251
@elwan Is the problem solved now?

[2016-05-05 03:35] jethrokuan opened #253 "Error thrown when git is not installed"
Now that the installer has moved to a single curl command, there is no check whether `git` is installed on the system. I found out after trying to install some plugins, but the error message was less than friendly.

I'd suggest a `fisher doctor` command that checks for multiple things like fisherman being out of date, or command line utilities not being installed (awk, git etc).

What does @fisher

[2016-05-05 04:01] bucaran commented on #253
fisherman already does some basic health checks on startup / exit, so rather than introducing a new command, we could lazily catch the error before it happens and inform the user.

[code]

[2016-05-05 04:12] jethrokuan commented on #253
Great if that's already in place, but it didn't for me

[2016-05-05 04:15] orangecms commented on #253
All checks must be performed. However, it is sensible to assume LSB or basic *NIX/GNU tools to be installed.

[2016-05-05 04:17] bucaran commented on #253
Some checks are in place, but nothing for git or curl, which I'll add and ship with 2.6.0.

[2016-05-05 04:18] bucaran commented on #251
@elwan So, were you able to fix the problem?

[2016-05-05 08:50] andrew-kennedy opened #254 "fisherman crowds functions directory"
By default, `funcsave` puts user functions in `~/.config/fish/functions`, just as fisherman does. The problem is, whenever I look inside this directory, I can't tell at a glance which files I created and which ones came from fisher plugins. Is it possible for fisherman to place it's functions in a subdirectory, or otherwise to override the behavior of `funcsave`?

This also makes backups more diff

[2016-05-05 08:59] bucaran commented on #254
The only way to know whether it's a function you created or it's a function from a plugin installed with fisherman is that the latter is a symlink, whereas the first one is probably a regular file.

When you install a plugin from a directory, and run fisher ls, you know it's a directory/symlink because it is displayed as `@ plugin_name`.

That would require you to modify your configuration, and ze

[2016-05-05 10:14] bucaran opened #255 "use a single source of truth for the blacklisted plugins"
Do not repeat code, use a fisher.fish scoped variable to keep track of what plugins are blacklisted, and share the list with embedded awk scripts.

[2016-05-05 12:23] laughedelic commented on #254
@andrew-kennedy I solved it by putting all my functions (configuration and aliases) in a [separate place](https://github.com/laughedelic/.fish) and installing them as a plugin. This is quite convenient, because I don't touch `~/.config/fish/` anymore. All my configs any functions are just another plugin.

I don't use `funcsave`, just create files with functions and edit them, but I think it's easy

[2016-05-05 12:39] laughedelic opened #256 "Autocomplete is cluttered with uninstalled plugins"
I [raised](https://fisherman.slack.com/archives/feedback/p1461961539000126) this question in the chat before:

Choices  (Plugin)  install  (Install plugins)  ls-remote  (List what can be installed)  theme-eden  (Prompt)

@bucaran:

First, `fisher install <Tab>` shows only the plugins that were installed and then removed, not just "plugins you can install" (which would be, for example `fisher ls-re

[2016-05-05 12:42] bucaran commented on #256
@laughedelic Autocomplete shows you the plugins you _can_ install (it learns these from stuff you have installed previously). If you install `aquaman`, and later uninstall it, `fisher install <TAB>` will `aquaman` will be in the autocomplete.

[2016-05-05 13:03] bucaran commented on #256
#257

[2016-05-05 13:03] #256 closed

[2016-05-05 13:03] bucaran opened #257 "2.6 roadmap"
+ [x] No-column print in ls and ls-remote if piping isatty stdout. #249
+ [x] Do not hide installed plugins in fisher ls-remote. #250
+ [x] Auto-complete **only** fisher [install] with ls-remote output _if_ available. #256
+ [x] ~~Use a single source of truth for the blacklisted plugins. #255~~
+ [x] Check if `git`, `curl`, etc., are installed before using them and inform the user about it. #253

[2016-05-05 13:04] bucaran commented on #250
#257

[2016-05-05 13:04] #250 closed

[2016-05-05 13:04] bucaran commented on #255
https://github.com/fisherman/fisherman/issues/257

[2016-05-05 13:04] #255 closed

[2016-05-05 13:05] bucaran commented on #249
#257

[2016-05-05 13:05] #249 closed

[2016-05-05 13:05] bucaran commented on #253
#257

[2016-05-05 13:05] #253 closed

[2016-05-05 13:08] #251 closed

[2016-05-05 13:48] bucaran commented on #69
Ping @oiojin831, do you want to have a look? :)

[2016-05-05 14:13] laughedelic commented on #256
Sure, but these uninstalled plugins shouldn't have priority over other plugins that haven't been installed yet. In the old fisherman, I think there was a concept of _disabled_ plugins — it was also confusing for me, but at least there was a clear distinction..

👍

OK. ( To be honest, I haven't heard about XDG before I encountered fisherman "_ )

I, _personally_, think that this implicit default `i

[2016-05-05 14:17] laughedelic commented on #250
From #257:

I read some part of your long discussion on slack, but I missed the moment when @colstrom convinced @bucaran to make this decision. What's the reason? (I'm just curious)

[2016-05-05 14:17] laughedelic commented on #255
What's "blacklisted plugins"?

[2016-05-05 14:23] bucaran commented on #250
Well, in a way, you convinced me with https://github.com/fisherman/fisherman/issues/256

If we are going to use the index as the source of completions, there is no longer a need to hide installed plugins in ls-remote, since that will be the default behavior when auto completing the pager.

[2016-05-05 14:45] bucaran commented on #255
Stuff like the index, docker-builds, etc.

[2016-05-05 15:21] bucaran commented on #212
@fisherman/all
@jethrokuan

I think the index has served us well, but it's time to move on and start to query the organization for plugins instead of depending on the index.

[2016-05-05 15:39] jethrokuan commented on #212
this means that anything not in the fisherman org won't be displayed by default, right?

I thought the original idea was to have some indexable file in each plugin repo, and query github for that.

[2016-05-05 15:48] bucaran commented on #212
Yeah.

I thought about that one too, but if we make the org pure, then we don't have to worry about it.

[2016-05-05 16:25] bucaran commented on #257
https://github.com/fisherman/fisherman/commit/62e5b3e6b2bf4965baf8b3a4afea1e609abc7369

[2016-05-05 16:25] #257 closed

[2016-05-05 23:05] laughedelic opened #258 "Autocomplete for rm and ls commands"
I think that autocomplete for both of these commands should suggest all installed plugins (what is showed by `fisher ls`).

[2016-05-06 04:01] bucaran commented on #258
That's exactly what they do. The same is true for `fisher update`.

[2016-05-06 04:10] bucaran commented on #69
Hi @es-lee, would you mind having a look over this issue? Cheers!

[2016-05-06 04:14] bucaran commented on #212
Ping @herrbischoff.

[2016-05-06 05:01] jadengore opened #259 "Add dotfiles tutorial to README"
One of the things that really stood out to me was [oh-my-fish's dotfiles section](https://github.com/oh-my-fish/oh-my-fish#dotfiles). It really helped me as a newbie get all set up with it, and it would be cool if Fisherman had this as well.

[2016-05-06 05:44] bucaran commented on #259
@jadengore

What did you try and what didn't work?

When I built wahoo and oh-my-fish (I am no longer maintaining either of those projects, and they are pretty much inactive by now), the idea of doing dotfiles with fish was essentially the same as oh-my-zsh, which seemed pretty acceptable at the time.

With fisherman, you can do dotfiles in any way you like. In my case, I commit the entire fish di

[2016-05-06 06:37] bucaran commented on #258
@laughedelic

Yeah, and that's exactly what they do. Same for `fisher update` :)

[2016-05-06 06:53] jadengore commented on #259
My original post:

I was unable to reproduce the issues that turned me away from Fisherman in the first place. However, I think some simple documentation on dotfiles like @bucaran provided above in the README would be helpful.

[2016-05-06 07:01] bucaran commented on #259
👍 👍 👍 👍

[2016-05-06 08:18] laughedelic commented on #258
Then something doesn't work. They give me autocomplete for the files in current directory "/

[2016-05-06 08:47] bucaran commented on #258
@laughedelic If you create a new terminal window, you need to run fisher at least once. This is obvious from the fact `fisher` is self-contained. It does actually put some basic completions in your *completions* directory, but that's about it.

[2016-05-06 12:38] bucaran commented on #254
@andrew-kennedy I think @laughedelic's approach is the best in this case.

The reason fisherman works great out of the box is because we are opinionated about some things, but if this behavior is not desirable we could introduce a new `fisher_prefix` variable to let users customize the location where functions, completions and scripts are saved to.

Obviously, users would also be responsible for a

[2016-05-06 14:35] bucaran commented on #69
Hi @jackric, would you mind having a look over at this issue? Cheers :)

[2016-05-06 15:06] laughedelic commented on #242
Sorry, forgot to reply here. I'll think about it. But before that, I'm discovering new unexpected behaviour:

[code]

At this point fishfile doesn't contain my local plugins. The to get autocomplete as mentioned in https://github.com/fisherman/fisherman/issues/258#issuecomment-217386488, I run

[code]

- it tries to install my local plugins from their git remotes (which I think it shouldn't, if it

[2016-05-06 15:15] laughedelic commented on #258
Well, I got some new problems after running just `fisher` (see https://github.com/fisherman/fisherman/issues/242#issuecomment-217467825), but besides that, I've got autocomplete for _some_ installed plugins, except of the plugins installed from the oh-my-fish org. Even though they are all listed in `fisher ls`.

Also, autocomplete for the local plugins shows strange description:
[code]

(They are

[2016-05-06 15:17] bucaran commented on #258
This one is easy to fix, we should simply follow symlinks. Thanks for reporting that. Feel free to create an issue for this too if you want, I'll fix it right away.

Closing this as invalid.

[2016-05-06 15:17] #258 closed

[2016-05-06 15:19] laughedelic opened #260 "Autocomplete for installed plugins misses third-party ones"
See https://github.com/fisherman/fisherman/issues/258#issuecomment-217470659.

[2016-05-06 15:23] bucaran commented on #242
I see a few issues in one here. But let's see:

Yeah, I agree, but I don't understand why I have never experienced this issue. I often install fisherman plugins, like `fin` or `menu` locally (even though they exist remotely) and work with them just fine. I can even update them locally as you'd expect. Can you crete a project or a way to repro it?

I don't have the current state of your environment

[2016-05-06 15:23] laughedelic commented on #254
I'm going to write a readme in my repo explaining my setting. Could be probably useful for #259.

[2016-05-06 15:31] bucaran commented on #260
Not just omf, but also from any third party. This is doable.

[2016-05-06 15:40] laughedelic commented on #242
I'll play with it more tonight and tell you if I have some stable way of reproducing it.

Sure, just tell me which vars to show you. About the fishfile: when I remove `choices`, it removes

[code]

from the fishfile. They also disappear from `fisher ls`. When I run `fisher` without args after that, it installs them back and adds these lines back to the fishfile (and they appear again in `fisher ls

[2016-05-06 15:56] bucaran commented on #242
Wow. This is what I would like to repro. I tried a few scenarios, but everything is working normally.

[2016-05-06 16:41] bucaran opened #261 "auto-complete for local directories should show the real path"

[2016-05-06 16:44] laughedelic commented on #242
Some more info: after `fisher rm choices`, it disappears from `$fisher_config` dir, but stays in `$fisher_cache` dir. I guess, it's expected behaviour. I tried to remove them from cache, but they still reappear! This is quite amazing...

[code]

[2016-05-06 16:48] laughedelic commented on #242
One detail that I just noticed. Before I had `Markcial/Choices`, after I cleaned the cache, it installed me `fisherman/choices`. But I still cannot get rid of it.
@Markcial have you cursed this plugin? :trollface:

[2016-05-06 16:57] Markcial commented on #242
I cursed it with pure awesomeness

Let me check what happens with local installs. Maybe there is a way to remove that plugin without explicitly removing it in the config folder

[2016-05-06 17:17] #260 closed

[2016-05-06 17:17] #261 closed

[2016-05-06 17:18] laughedelic commented on #242
Tried both with `Markcial/choices` and `fisherman/choices`. Doesn't help. They get removed, but then reappear.

[2016-05-06 17:20] bucaran commented on #242
@la

I think `choices` could be in the dependency list of some other plugins you have installed (a mistake) or they are in your fishfile.

fisherman uses your fishfile to check what to install and nothing more. Please cat and paste your fishfile here.

[2016-05-06 17:25] bucaran commented on #242
@laughedelic

I think `choices` could be in the dependency list of some other plugins you have installed (a mistake) or they are in your fishfile.

fisherman uses your fishfile to check what to install and nothing more. Please cat and paste your fishfile here.

[2016-05-06 17:25] Markcial commented on #242
anicode uses choices as dependency, so here we have what is going on. 🔍   https://github.com/fisherman/anicode/blob/master/fishfile

[2016-05-06 17:25] laughedelic commented on #242
OK:

[code]

But I think that the problem is here:

[code]

I don't know how it got to 7, but anyway it got stuck there..

[2016-05-06 17:26] bucaran commented on #242
7 is the number of stars.

[2016-05-06 17:26] laughedelic commented on #242
Ah! I thought it's related to the count of dependent plugins! 😅

[2016-05-06 17:27] bucaran commented on #242
Nope. The ref count is $fisher_dependency_count, echoing its contents here too please.

[2016-05-06 17:28] Markcial commented on #242
wait a second, something is wrong, choices has 3 stars, so seems to be that choices is getting the stars from its parent dependency, anicode, the one that really has 7 stars.

[2016-05-06 17:30] bucaran commented on #242
@Markcial Good catch! I doubt this is the problem, but that's certainly a bug you just found!

[2016-05-06 17:30] laughedelic commented on #242
Strange:

[code]

I think, getopts wasn't multiplied before I cleaned cache..

[2016-05-06 17:32] bucaran commented on #242
getopts will show up as many times as you have installed it, 1 for direct installs and n times for plugins that depend in it. The problem is not there either, since ref count is not involved when running `fisher` without args.

[2016-05-06 17:32] laughedelic commented on #242
Just after that:

[code]

So getopts gets added every time choices reappears

[2016-05-06 17:33] Markcial commented on #242
seems legit => https://github.com/fisherman/choices/blob/master/fishfile

[2016-05-06 17:34] bucaran commented on #242
@

Do this:

[code]

[2016-05-06 17:36] laughedelic commented on #242
Done:

[code]

Didn't help. Also getopts is now listed as a local plugin for some reason:

[code]

[2016-05-06 17:39] bucaran commented on #242
@la How did you upgrade to fisherman from ~1.5 and what version are you currently running?

List this stuff too:

[code]

[2016-05-06 17:44] laughedelic commented on #242
I don't remember already. Followed the instructions from the chat. I forgot to add lines to the fish config, but then added them.

[code]

That stuff:

[code]

[2016-05-06 17:47] bucaran commented on #242
This is extremely weird ↓

[code]

[2016-05-06 17:49] bucaran commented on #242
I am sorry, but I can't explain this. Can you remove all the plugins and then install choices and run `fisher` again?

[2016-05-06 17:52] laughedelic commented on #242
Am I doing something wrong?

[code]

[2016-05-06 17:56] bucaran commented on #242
To remove all the plugins:

[code]

[2016-05-06 18:04] laughedelic commented on #242
After all this it doesn't reappear. One thing that I noticed on the way. When there are no plugins installed (empty fishfile), calling just `fisher` shows the usage message instead of the usual behaviour.

[2016-05-06 18:05] bucaran commented on #242
@laughedelic Yep, that's correct.

[2016-05-06 18:06] laughedelic commented on #242
LOL. It reappears again!

[2016-05-06 18:07] bucaran commented on #242
It should be very easy to identify the bug though, since you have no plugins.

Please share as much information as possible.

[2016-05-06 18:20] laughedelic commented on #242
It's a nightmare... 😩
I do

[code]

At this moment everything is empty: fishfile, `$fisher_cache` and `$fisher_config` dirs and the `$fisher_dependency_count` var.

Then I add following plugins to the fishfile:

[code]

Because I want them. The I run `fisher` and get a bunch of errors:

[code]

[2016-05-06 18:23] laughedelic commented on #242
Oh crap!!! I'm sorry @bucaran! All this choices thing was coming from the anicode! it depends on choices... 😓

[2016-05-06 18:27] bucaran commented on #242
This is `z`. I think @jethrokuan should be able to comment on that.

[2016-05-06 18:30] bucaran commented on #242
You reacted with thumbs-down to your own post, that's so funny.
<img width="365" alt="screen shot 2016-05-07 at 3 29 38 am" src="https://cloud.githubusercontent.com/assets/8317250/15082656/fb93fa94-1403-11e6-9116-1d8eb4ea5ab8.png"> XD

[2016-05-06 18:32] jethrokuan commented on #242
@laughedelic you need to have conf.d support for that to appear properly

[2016-05-06 18:33] laughedelic commented on #242
I'm angry that I wasted so much of yours and my time because of such a stupid thing.

Nevertheless, I still see those `cp` error messages if I add those 5 plugins to the fishfile and run `fisher`.

[2016-05-06 18:34] laughedelic commented on #242
@jethrokuan you mean [this](https://github.com/fisherman/fisherman#1-what-is-the-required-fish-version)? I have it 👌

[2016-05-06 18:35] jethrokuan commented on #242
@laughedelic yeah that. If you had it then the error message wouldn't appear like that if `z` installed correctly.

[2016-05-06 18:37] bucaran commented on #242
@laughedelic You did not waste my time at all. From this thread ~~I~~ @Markcial was able to discover a bug in the index that I am fixing right now and also found out about those nasty cp error messages which I'll get to after I am done with the index.

In the mean time, try removing everything once again and see if you can reproduce the `cp` errors with less plugins and let me know.

[2016-05-06 18:41] laughedelic commented on #242
@bucaran just did it. It fails with these two:

[code]

@jethrokuan I don't understand it. If I have `z` installed and try to remove it, I see

[code]

Is it supposed to be like that?

[2016-05-06 18:57] jethrokuan commented on #242
@laughedelic yup!

initially you had
[code]

[2016-05-06 18:57] bucaran commented on #242
Index problem fixed btw.

[2016-05-06 19:09] bucaran commented on #242
@laughedelic What's your OS?

[2016-05-06 19:10] bucaran commented on #242
I can't repro any of the errors :(

<img width="1018" alt="screen shot 2016-05-07 at 4 10 14 am" src="https://cloud.githubusercontent.com/assets/8317250/15083695/a013cdc4-1409-11e6-9c5f-d9bb97d06bd5.png">

[2016-05-06 19:11] bucaran commented on #69
Hi @felipe-campos!, I am no longer maintaining oh-my-fish, please upgrade to fisherman.

[2016-05-06 19:12] bucaran commented on #242
@jethrokuan Do you know of any weird differences between:

cp -rf and cp -Rf

between Linux and OS X?

[2016-05-06 19:22] bucaran commented on #259
I had a little change of heart. Let's keep the FAQ as it is and refer to future users to this issue. Here is the missing tenth question.

# 10. How do I use dotfiles with fisherman?

Commit *~/.config/fish* to your dotfiles.

[2016-05-06 19:22] #259 closed

[2016-05-06 20:07] laughedelic commented on #242
OS X

Is it my unlucky day? "_

[2016-05-06 20:09] bucaran commented on #242
@laughedelic If you are able to repro this, please create a new issue to track that.

[2016-05-06 20:25] laughedelic commented on #258
What I see in 2.6.4 is

<img width="493" alt="screen shot 2016-05-06 at 22 24 59" src="https://cloud.githubusercontent.com/assets/766656/15085248/66e182d8-13d9-11e6-8985-45d4081fb20c.png">

I guess, it's not supposed to be like this

[2016-05-06 20:54] bucaran commented on #258
That only occurs when the index is not available, so I guess you deleted it.

[code]

[2016-05-06 22:24] laughedelic commented on #258
Oh! I see.. After calling `fisher ls-remote`, I have good autocomplete.
It's so confusing and inconvenient that every time I start a new fish-shell session I have to call `fisher` just to get any autocompletion and then to call `fisher ls-remote` (at least once) to get good autocompletion... I mean, I understand why it work like this, but it's confusing and inconvenient from the user's perspective

[2016-05-06 22:26] laughedelic commented on #258
By the way, you can say that this good autocomplete doesn't work _"out of the box"_. Can't we have it as a plugin then? Minimal functionality out of the box and good extra autocomplete that _always_ works once installed.

[2016-05-07 01:11] andrew-kennedy commented on #254
@bucaran I honestly didn't think about turning my functions into a fisher plugin because I'm so used to doing things the old fish shell way. I like that idea and will probably do that. That will make it easy to just include it in my fishfile and makes dotfile backups even easier.

The `fisher_prefix` variable is probably a good idea as well though.

[2016-05-07 03:16] jethrokuan commented on #242
@bucaran `cp -r` and `cp -R` do the same thing on my OS

[2016-05-07 03:58] bucaran commented on #258
@laughedelic Yeah, it bothers me too. I'll try an experiment and get back to you.

[2016-05-07 05:47] jadengore commented on #259
@bucaran 👍

[2016-05-07 10:11] bucaran opened #262 "smart tab completions are not preserved across sessions unless you run `fisher [<command>]`"
This is not a problem within the same session / subshells as fisherman updates completions every time it runs, but if you create a new window / tab, you'll notice completions are not persisted accordingly.

[2016-05-07 10:13] #262 closed

[2016-05-07 10:25] bucaran commented on #258
@laughedelic Done ;)
f1b676e08a5c7d2c11c4ec4e823accf32cb57408

[2016-05-07 10:25] bucaran commented on #258
f1b676e08a5c7d2c11c4ec4e823accf32cb57408
@laughedelic Done ;)

[2016-05-07 12:27] laughedelic commented on #262
So how it's supposed to work? I run `fisher ls-remote` once, I have cached index now, then I open a new fish session and I should have good autocomplete for, say, `fisher rm`, right?

[2016-05-07 13:36] bucaran commented on #242
@laughedelic Any updates on this? Maybe we can close this and create a new issue for the `cp` error, if you can repro it.

[2016-05-07 16:09] laughedelic commented on #242
@bucaran I've removed all plugins and did `fisher self-uninstall`, installed it again and added those two plugins to the fishfile — it worked fine and I haven't seen these cp errors "_

This issue got too far away from the original topic. The behaviour with installing local plugins is still inconsistent. Let's close this one and open a new issue for that?

Also, `fisher` without args with an empty

[2016-05-07 17:05] bucaran commented on #242
Yeah, I kind of agree with this. I want to do that, but also show a special message. I should push that in the next patch.

[2016-05-07 17:06] #242 closed

[2016-05-07 17:07] bucaran commented on #254
@andrew-kennedy Thanks. So, let's do this. Try the fisherman approach and see how it goes. Adding a variable now, would not mean a lot much and we can always add such config option in the future if enough people want the feature.

[2016-05-07 17:32] bucaran commented on #254
Closing as resolved, but open to the possibility of adding this variable in the future as we get more feedback.

[2016-05-07 17:32] #254 closed

[2016-05-07 20:09] laughedelic opened #263 "Keybindings from {fish_,}key_bindings files are handled wrong"
Follow up of the [talk in the chat](https://fisherman.slack.com/archives/dev/p1462578443000618).

I have two plugins each of which defines some keybindings.

- If they define a function called `fish_user_key_bindings` then everything is handled as it's supposed to:

[code]

- if they define a function called `fish_key_bindings` or just `key_bindings`, then this is what comes out after reinstalling

[2016-05-07 20:27] laughedelic opened #264 "Local plugins are managed inconsistently"
See the beginning of #242. Questions that are left open:

1. There is an unclear notion of "hidden plugins", their name starts with a dot and they don't appear in the fishfile or `fisher ls`. So what are hidden plugins and why do we need them?
2. If a local plugin is a git repo with a remote, this remote will be added to the fishfile and the plugin will be listed in `fisher ls`.
3. If a local plug

[2016-05-07 20:31] bucaran commented on #263
Observed. Will fix right away.

[2016-05-07 20:49] #263 closed

[2016-05-07 21:06] bucaran commented on #264
1. Good question. Hidden plugins are probably useless and most likely a side effect. Just don't start your plugins with a dot.

2. Observed.

3. Observed.

---

I will start by making 2 consistent with 3, which is to not add the plugin to the fishfile.

[2016-05-07 21:28] bucaran commented on #264
Pushed 2.6.10.

1. Still pending.
2. Local plugins are not added to fishfile at all, I find this rather convenient. They do show if using `fisher ls`
3. See 2.

[2016-05-07 23:33] laughedelic commented on #264
Nice! Making 2 & 3 consistent is already a lot. Having a local plugin with a git remote in the fishfile was also messing up in #263 (it had duplicated keybindings, because of the 2 different names)

[2016-05-08 02:37] bucaran commented on #264
I'll experiment a bit with adding local plugins to the fishfile, and see how fisherman behaves.

[2016-05-08 02:37] #264 closed

[2016-05-09 00:18] bucaran commented on #69
Hi @cg505, would you mind having a look over this?

[2016-05-09 03:33] bucaran opened #265 "fisherman should not let you install fisherman"
[code]

will install the repository `https://github.com/fisherman/fisherman` as a plugin. We should teach fisherman to not let you install itself.

[2016-05-09 03:34] bucaran opened #266 "report a more useful error message if the user tries to uninstall a deadlink"

[2016-05-09 09:54] seagle0128 opened #267 "z plugin doesn't work"
I update to the latest version. z plugin doesn't work after I restart the fish terminal.

I got this error:
`fish: Unknown command 'z'`

if I run `fisher u`, then it works again.

[2016-05-09 09:56] bucaran commented on #267
@seagle0128

You are probably just missing snippet support.

for file in ~/.config/fish/conf.d/*.fish
    source $file
end

[2016-05-09 10:04] seagle0128 commented on #267
Thanks for the solution!

[2016-05-09 10:04] #267 closed

[2016-05-09 10:07] bucaran commented on #267
@seagle0128 One more thing:

If you've updated from 1.5 to 2.0, please refer to the linked issue.

[2016-05-09 11:09] #266 closed

[2016-05-09 11:09] #265 closed

[2016-05-09 11:23] bucaran commented on #69
@sstruct I forgot to attached this link, here is the main reason. Thanks.

[2016-05-09 17:43] colstrom opened #268 "fisher silently clobbers pre-existing functions"
Steps to reproduce:
- Create a function (let's use `mock` as an example).
- `fisher install mock` or any plugin with a conflicting name.
- Check your `$fish_functions_path` and see that `mock.fish` has been overwritten with a symlink to the plugin installed.
- `fisher uninstall mock`, and now both are deleted.

This is surprising behaviour, and may be (in the case of non-version-controlled functio

[2016-05-09 23:47] bucaran commented on #268
We can fail or fail that item if we are installing a list of items / plugins. What would be a good way to report this to the user?

[2016-05-09 23:54] bucaran commented on #181
@Sorin-Oprea With fisherman >2.0, a lot has changed, so I presume this is no longer a problem. Can you check again :)

[2016-05-09 23:57] bucaran commented on #69
Hi @bakiro, oh-my-fish is not longer actively maintained, and I have upgraded everything to fisherman. I recommend you to update as well. cheers

[2016-05-10 00:25] colstrom opened #269 "Install from branch or tag"
Would be nice to install from a branch or tag (both options, ideally).

`fisher install plugin@develop` or `fisher install plugin@1.0.0`. As a proposed syntax, which is consistent with similar use cases in the wild.

These represent two different use cases (branch-based deployment, and version pinning), but the implementation would likely be the same for both, give how git handles these things.

T

[2016-05-10 00:27] bucaran commented on #269
Would be nice to have. fishfile parser would need to change as well to support tags / versions this way.

Incidentally, for testing / developing, what I usually do, is _git clone_ the plugin, install it as link, test and publish when I am done.

[2016-05-10 00:40] colstrom commented on #269
@bucaran That's only as good as "works on my box". It's nice to ship pre-release builds for interested parties.

Totally agree about the fallback, I'd assume the sane fallback would be to do as it does now, and assume `master` if undefined.

[2016-05-10 01:20] bucaran opened #270 "add new fisher_prefix env var to customize where plugin files (functions, completions, etc.) are linked to"
This would allow

[code]

owner/repo to be installed, but have its functions / completions only available during that session.

Other commands would work as expected, as owner/repo would still be considered "installed".

This would also allow users, that don't appreciate fisherman filling up their functions directory with links, to customize this location.

To make this location persist, users wil

[2016-05-10 08:28] bucaran commented on #69
Ping @pyprism. Check your inbox ;) Thanks.

[2016-05-10 09:31] msikma opened #271 "Check Fish version, exit if too low"
Just now I updated my Fisherman (finally!) but started getting some strange errors. I realized it was because I was still on an old version of Fish, the 2.1 branch. After updating to 2.2.0, everything was fine.

Since Fisherman pretty much crashed and burned on the old version, maybe it's worth having a brief check? Something like this:

[code]

This is the first time I've actually written a Fish

[2016-05-10 09:39] bucaran commented on #271
I think we could perform this check outside the `fisher` function itself in the file. This way the code would run only "once", when the `fisher.fish` file is sourced by fish, that is, the first time the function is called, but only the first time.

[2016-05-10 09:45] bucaran commented on #69
Hey @kigawas, please check your inbox ;)

[2016-05-10 10:26] #268 closed

[2016-05-10 10:27] bucaran commented on #271
https://github.com/fisherman/fisherman/commit/846758a8528c4c2d1dfdf26bfbd6568865281b26

[2016-05-10 10:27] #271 closed

[2016-05-10 11:20] bucaran commented on #270
@colstrom I have been looking at this, and I had forgotten we already have a fisher_prefix-*like*, variable, it's called `fish_config`.

[code]

If you set `fish_config` in your config.fish or interactively, fisherman will put stuff under that prefix, which is what we were talking about.

[2016-05-10 12:32] bucaran opened #272 "Source key bindings during install."

[2016-05-10 12:33] #272 closed

[2016-05-10 21:42] ricobl opened #273 "Please stop the Slack invite spam"

[2016-05-10 21:48] #273 closed

[2016-05-10 22:08] stop-slack-invite-spam opened #274 "Please stop the Slack invite spam"
Please stop the Slack invite spam

[2016-05-10 22:09] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:09] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:09] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:09] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:10] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:10] stop-slack-invite-spam commented on #274
Please stop the Slack invite spam

[2016-05-10 22:24] please-stop-slack-invite opened #276 "Please stop the Slack invite spam"
Please stop the Slack invite spam

[2016-05-10 22:33] #276 closed

[2016-05-10 22:45] please-stop-slack-invite-spam opened #277 "Please stop the Slack invite spam"
Please stop the Slack invite spam

[2016-05-10 22:49] #277 closed

[2016-05-10 23:57] bucaran commented on #277
?

[2016-05-11 08:29] bucaran commented on #269
@colstrom Can you describe how this feature would work as far as the CLI is concerned?

[2016-05-11 08:29] bucaran commented on #270
@colstrom Edited.

[2016-05-11 15:06] cyrillk opened #278 "How to install OMF theme with the fisherman?"
[code]

[2016-05-11 15:23] bucaran commented on #278
@cyrillk

You need to use the same prefix omf uses `theme-`.

[code]

That should do it.

[2016-05-11 15:23] #278 closed

[2016-05-11 15:29] cyrillk commented on #278
Thanks! Yes, it works. Though it's not obvious unfortunately. Documentation suggests to install plugins as `fisher omf/tab` but not `fisher omf/plugin-tab`.

[2016-05-11 15:37] bucaran commented on #278
Yep, you are right. It's not obvious at all.

When I wrote this bit, I thought: "what are users most likely to install from omf; plugins or themes?" So, fisherman favors plugins over themes, but there is no good reason for that really.

To be honest, this has been bugging me for a while. Since there is no way to guess whether an omf plugin is a theme or not, perhaps we can use brute force and try

[2016-05-11 15:41] bucaran commented on #277
👉 https://github.com/fisherman/fisherman/issues/223

[2016-05-11 15:44] cyrillk commented on #278
Ok, I see.

I can update the code and send a pull request on it. If it is ok for you.

[2016-05-11 15:47] bucaran commented on #278
It's perfectly okay with me. If you figure out how to do this, I'd love to merge this feature.

[2016-05-11 15:48] cyrillk commented on #278
Cool. I'll give it a try )

[2016-05-12 05:04] brj opened #279 "Regex / fuzzy search in ls-remote"
fisher ls-remote and fisher ls-remote PLUGIN [PLUGIN...] allows you to list and search one or more plugins, but it would be nice if we could use a regex to search and match fields other than the default, plugin's name.

[code]

[2016-05-12 09:36] bucaran commented on #270
@colstrom Ping.

[2016-05-16 16:37] terlar opened #283 "Plugins with custom key bindings clears functions outside of fish_user_key_bindings"
It is quite common for people to define functions outside of the main `fish_user_key_bindings` function inside  `~/.config/fish/functions/fish_user_key_bindings.fish`.

The current implementation of fisherman will resave the function file without these functions and in that way they will disappear.

Example:

`~/.config/fish/functions/fish_user_key_bindings.fish`:
[code]

Installing plugin with ke

[2016-05-16 16:43] bucaran commented on #283
Thanks @terlar, I'll make this happen very soon.

[2016-05-16 17:15] dch opened #284 "#35d8273 breaks FreeBSD as date +%3N is not available"
recent commit https://github.com/fisherman/fisherman/commit/35d8273df4717a342bcef81bbfcfa321204fe477#diff-fdd5b8133144df4cb1ef77e46f142452R1752 in #L1852 breaks installation on FreeBSD as there is no %N format available on FreeBSD:

- https://www.freebsd.org/cgi/man.cgi?query=date
- https://www.freebsd.org/cgi/man.cgi?query=strftime&sektion=3&apropos=0&manpath=FreeBSD+10.3-RELEASE+and+Ports

I sim

[2016-05-16 17:36] dch commented on #284
An alternative might be to re-use the code for /Darwin/ in the preceding case statement, as perl is a reasonable dependency due to git for interactive shell users.

[2016-05-16 17:37] bucaran commented on #284
Yep, that's exactly what I was going to suggest :)

Since you are on FreeBSD already, maybe you can send me a patch?

[2016-05-16 19:49] gretel commented on #284
´FreeBSD´ is more ´POSIX´ than most so i suggest reverting the change.

[2016-05-16 22:12] laughedelic commented on #283
Huh.. 🤔 I didn't notice it, because I stored my custom key bindings in a plugin and it got all merged with other plugins.

[2016-05-16 23:06] laughedelic opened #285 "Key bindings get duplicated on plugin update"
I was quite happilly using `fisher up ...` (instead of rm+install) to reload my in-development keybindings, until I noticed that they get duplicated. At first I thought that it's just about local plugins, but now I see it with _pisces_:

[code]

I have two `### pisces ###` blocks in my `fish_user_key_bindings.fish`. Same with local plugins. If I repeat `up`, there will be three of them, etc.

[2016-05-17 03:43] bucaran commented on #69
Hi @danieljaouen, would you mind having a look over this comparison? Cheers :)

[2016-05-17 03:55] bucaran commented on #270
Ping @colstrom.

[2016-05-17 04:36] #283 closed

[2016-05-17 04:36] #284 closed

[2016-05-17 04:36] #285 closed

[2016-05-17 06:10] bucaran commented on #251
@elwan @domoritz I rewrote the plugin removing the startup time penalty and adding a proper uninstall script. Please upgrade to fisherman/grc.

[code]

[2016-05-17 07:42] seagle0128 opened #286 "Where is bobthefish theme?"
I am unable to install bobthefish theme now. It seems it has been removed, but why? Moreover, I cannot install omf/theme-bobthefish either.

[code]

[2016-05-17 07:48] bucaran commented on #286
Works here:

<img width="1280" alt="screen shot 2016-05-17 at 4 48 10 pm" src="https://cloud.githubusercontent.com/assets/8317250/15314832/293962ba-1c4f-11e6-8053-0d2d6962a502.png">

[2016-05-17 09:22] seagle0128 commented on #286
I am using Ubuntu mate 16.04 LTS with fish 2.2.0 and fisher 2.7.1.
I cleaned the cache and reinstalled successfully.
BTW, metro is cool!
Thanks and close it.

[2016-05-17 09:22] #286 closed

[2016-05-17 09:24] bucaran commented on #286
Great!

[2016-05-17 13:29] laughedelic commented on #285
Fixed 👌

[2016-05-18 08:28] #270 closed

[2016-05-18 08:33] bucaran commented on #212
Website is up and working, looks alright, search is useful, design is pretty. Sure, it could be improved, maybe we _will_ rewrite it in Elm someday or who knows what :)

I am going to close this for now, since I'd rather focus on improving the software and the person originally interested in revamping the site (@herrbischoff) vanished mysteriously anyway.

[2016-05-18 08:33] #212 closed

[2016-05-18 21:44] nyarly opened #287 "Submitting plugins to the index?"
Is there a process for submitting plugins to be added to the index?

[2016-05-18 21:46] bj commented on #287
Basically [this](https://github.com/fisherman/index#adding-plugins-to-this-list). Do note that the index only powers the online [search](http://fisherman.sh).

The CLI tool (fisher) queries the GitHub API instead, currently both github/orgs/{fisherman,oh-my-fish}.

[2016-05-18 21:47] nyarly commented on #287
Is the CLI going to change? It seems confusing to have one search do one thing and another do the other

[2016-05-18 21:51] bj commented on #287
It is like this at the moment for historical reasons. Before 2.0, we used to rely on that index for everything.

The new (current) fisherman's design querying the GitHub API is superior to whatever we had before, but the website didn't keep up to date. I would love to revamp the website search, but I'd rather focus on improving fisherman itself.

Recently some people have shown interest to help wi

[2016-05-19 11:42] terlar opened #288 "Error when installing plugin with init.d script that relies on functions"
If a plugin has a `conf.d` file that is using a function defined in the functions path it will generate error messages due to function not being found. This is due to the `conf.d` script being sourced before the function files are copied over.

[code]

I think it would be safe to put the functions and completions loading first, or at least the functions. As the functions should not need anything f

[2016-05-19 11:45] terlar commented on #288
Okay, I was a bit slow adding this one, it is working with the latest version 2.76

[2016-05-19 11:45] #288 closed

[2016-05-19 16:47] nyarly opened #289 "Key bindings?"
Does fisherman support plugins defining keybindings, or is the closest it comes allowing a function to be defined and letting the user include that in their fish_user_key_bindings.fish?

[2016-05-19 16:58] laughedelic commented on #289
Here's an example plugin for you: [pisces](https://github.com/laughedelic/pisces) 😉
And here's a relevant issue in the fish repo: https://github.com/fish-shell/fish-shell/issues/3032

[2016-05-19 20:56] nyarly opened #290 "Update plugins if given full original name or url"
fisher update <plugin> reports 'skipped <plugin>' even though the plugin has been updated remotely. `fisher rm <plugin>; fisher install <plugin>` succeeds, but restores the old version of the plugin

[2016-05-19 21:53] brj commented on #290
What are the steps to reproduce the problem?

[2016-05-19 21:59] brj commented on #289
@nyarly It does! This bit is not documented as much as I'd like to, but basically your plugin can expose bindings via a function named `key_bindings.fish` or `user_key_bindings.fish`.

During install, fisherman will extract the binding code and merge it into any existing key bindings inside your ~/.config/fish/functions/.

[2016-05-19 22:32] brj commented on #287
Closing as resolved.

[2016-05-19 22:32] #287 closed

[2016-05-19 22:41] laughedelic commented on #289
Also when your plugin is uninstalled fisherman erases those bindings that you do [explicitly](https://github.com/laughedelic/pisces/blob/master/key_bindings.fish#L15-L21), but if you call `bind` from a function of [in a cycle](https://github.com/laughedelic/pisces/blob/master/key_bindings.fish#L11-L13), you need an [uninstall script](https://github.com/laughedelic/pisces/blob/master/uninstall.fish

[2016-05-19 22:42] nyarly commented on #290
The trick here is that I'd

[code]

so I'd tried to
[code]
which led to
[code]

If I `fisher update cache-file`, it pulls the new commits.

So, I see now how to do that properly, but it was certainly surprising.

[2016-05-19 22:44] laughedelic commented on #290
Yep, I was also confused about this at first.

[2016-05-19 22:46] nyarly commented on #290
It seems to me that other commands make suggestions about namespaces etc. And somehow `fisher` changed `nyarly/fish-cache-file` into `cache-file` when it did the original install. Perhaps either it could do the same for update (maybe with a warning) or fail with "try <short name>"

[2016-05-19 22:51] brj commented on #290
Did you try just:

[code]

[2016-05-19 22:58] nyarly commented on #290
I did that, after doing `fisher ls` and noticing that it was listed as `cache-file`

[2016-05-19 22:59] brj commented on #290
Yeah, I just read you did. See my edits above as to why that makes sense.

[2016-05-19 23:23] brj opened #291 "Remove plugins if given full original name or url"
Related #290.

[2016-05-20 00:54] laughedelic opened #292 "Installing a "disabled" plugin should also update it"
1. I uninstalled plugin `foo` some days ago with `fisher rm foo`
2. I install it again with `fisher install foo`
3. I get `foo` from the cache which is not up to date
4. I need to do `fisher up foo`

This is actual when working on a plugin, removing it to check installation/uninstallation, pushing some commits and installing it again to check the latest public (non-local) version. This gets you th

[2016-05-20 00:59] laughedelic opened #293 "Run uninstall script before removing the plugin functions"
I don't know if it's a good idea, but here is my reasoning:

- uninstall script is not a function and I cannot reuse it in the plugin itself
- I want to define a function which will do plugin "unload" (part of the uninstall script) to reuse it for plugin "reload" feature
- but I cannot call it from the uninstall script, because at the moment it's run the function is already deleted

[2016-05-20 01:05] brj commented on #292
I see your point, but this would render the cache entirely useless.

[code]

seems simple enough.

[2016-05-20 01:05] laughedelic opened #294 "Help subcommand completion"
I don't get any completion on `fisher help <tab>`. At least the list of plugins installed would be useful, even better only those that actually provide help.

By the way, what is the way for plugins to provide a help page?

[2016-05-20 01:06] brj commented on #293
Sounds reasonable. This could be implemented as either a function or an event.

[2016-05-20 01:07] brj commented on #294
Good catch. I didn't add completions for help commands because I felt it would be too slow to walk the plugin tree and check if they include any man pages.

So, what we can do for now is, simply add all the installed plugins to help <TAB> completion.

[2016-05-20 01:38] #269 closed

[2016-05-20 01:38] #290 closed

[2016-05-20 01:38] #291 closed

[2016-05-20 01:53] laughedelic commented on #294
Ok. I'll take a look on how to generate a man page. But will `man spin` work as well?
How about showing plugin's README in pager as a fallback when there is no man page?

[2016-05-20 02:00] laughedelic commented on #292
My concern was not about the convenience, I agree that it's simple enough. I just think it's not obvious, why the plugin that I install is outdated. When I install a new plugin, its last version is fetched from github, but if I tried some plugin a month ago and it's still in the cache, install will give me an outdated version, which is confusing. It could also break depends plugins, I think.

If y

[2016-05-20 02:01] brj commented on #294
Nope. That would involve modifying the MANPATH on shell startup. We used to do that in <=2.0, but not anymore, as fisherman is completely standalone now.

That would be nice.

[2016-05-20 02:06] brj commented on #292
It's not for convenience, it's because it would defeat the purpose of having a cache in the first place. Updating the plugin after install would be very easy to implement.

Check 2.7.8. Now installing something that already exists in the cache gives you a hint:

[code]

[2016-05-20 02:09] brj commented on #292
I could think of another reason why this is not desirable. I often install plugins, to test them out and them remove them. Installing it again would let me use the version that I originally installed, instead of whatever is in HEAD.

So, while, fisherman currently has no version locking for plugins, this could be used as a manual form of using only the version you originally installed, which you c

[2016-05-20 22:48] laughedelic commented on #292
Well, I understand that you have reasons.

I just would like this hint to be more obvious.

[2016-05-21 02:21] brj commented on #292
How?

[2016-05-22 13:08] brj commented on #289
Closing as resolved!

[2016-05-22 13:08] #289 closed

[2016-05-22 15:15] brj commented on #69
Hi @cuekoo! Would you mind having a look over at this issue? Cheers!

[2016-05-22 15:16] brj commented on #69
https://github.com/oh-my-fish/oh-my-fish/issues/320

[2016-05-23 07:44] Silvery-Corgan commented on #181
@brj Sorry for the long delay. I can confirm that the installation works fine now. Things have changed quite a lot in the newer version and plugins have been renamed. Overall I like the fact that the framework looks a lot slimmer now.

[2016-05-23 07:49] brj commented on #181
That's great news. Thanks @Silvery-Corgan!

[2016-05-23 12:34] brj commented on #69
Hi @bentolor! Would you mind having a look over at this one here? I am no longer maintaining OMF, so I'd appreciate a ton if you could upgrade to fisherman instead.

[2016-05-24 14:55] brj commented on #293
What is this plugin "reload" thing and what kind of plugin are you talking about? Do you have any examples?

[2016-05-24 17:47] brj opened #296 "Deleting an entry from the fishfile should uninstall the missing plugin"
* Similar to [fin](https://github.com/fisherman/fin).

[2016-05-24 18:12] tentakel commented on #296
something to note is that this effects the readme and all of its translations

[2016-05-24 23:23] brj commented on #296
Certainly, but the title is misleading. This is just a proposal, if no one has much to say about this feature, I may not add it at all.

[2016-05-25 07:33] brj opened #297 "Do not copy plugin's repo from cache ↔ config, use tar instead"
Using `tar` is a very fast way to copy stuff and we can easily exclude stuff like the `.git` directory when moving things to the config.

[code]
* https://github.com/fisherman/fin/blob/master/fin.fish#L386

[2016-05-25 11:06] brj commented on #69
Hi @maman, this is the link I talked you about. Cheers.

[2016-05-25 14:27] brj commented on #296
@fisherman/all Thoughts?

[2016-05-25 14:27] brj commented on #297
@fisherman/all Thoughts?

[2016-05-25 14:35] detailyang commented on #297
no idea:(
it looks like okay. there are some ideas to copy files and exclude other files
[code]

[2016-05-25 15:12] laughedelic commented on #296
Would be nice to have this feature, but it's definitely not essential.. This would be even more useful with ability to comment out lines in the fishfile.

[2016-05-25 15:13] brj commented on #296
@laughedelic You can't comment lines in the fishfile?

[2016-05-25 16:26] brj opened #298 "Do not install 'test.fish' files if they exist in a plugin's root directory"
Otherwise plugin authors always need to put their tests inside a `test` directory.

Not to say that is not a good practice, though.

[2016-05-25 16:40] kopischke commented on #297
I think the underlying idea, i.e. not copying the entirety of the git repo from the cache, is good; however, I have my doubts about (mis)using `tar` just to do that (besides the costly but pointless “pack archive then unpack it immediately again” step, I would be worried about things like permissions, xattr, symlinks et al.). `find` and `rsync` would seem better options.

[2016-05-25 16:40] daenney commented on #297
Should run a benchmark, tar vs cp and when it makes sense. Since a lot of plugins are likely small the overhead of creating the archive, moving it and then unpacking it might not be worth it over a simple copy. Especially since this is on the local system.

[2016-05-25 16:45] brj commented on #297
I tried looking at the docs for `rsync`, but couldn't figure out the correct incantations to make it work, and `tar` was quite fast despite the involved overhead.

Whatever we go with is fine, thing is how to _not_ copy the .git repo when copying the plugin's directory from the cache into the config?

[2016-05-25 16:47] kopischke commented on #297
@brj I should have written “`find` **or** `rsync`”. The Stack Overflow question @detailyang linked to has a some good hints in that direction.

[2016-05-25 16:59] laughedelic commented on #296
Until now I didn't know that I can 😆

[2016-05-25 17:14] gretel commented on #297
rsync is a mess. please dont

[2016-05-25 17:20] brj commented on #296
Yep, you can.

[2016-05-26 05:32] brj commented on #69
Hi @newliver, check this out o/ :)

[2016-05-26 16:23] brj commented on #296
Closing this as wontfix.

I looked at how we are using the fishfile in fisherman, and it turns out the fishfile tracks down everything the user has installed including deps. This format is different to what I ended up doing in fin, so I see now it's not really compatible with fisherman.

fisherman emphasizes the CLI, fin the config, pick one :)

[2016-05-26 16:23] #296 closed

[2016-05-26 16:34] brj commented on #298
Pointless. Just put the fish file inside a test directory.

@brj 🔫

[2016-05-26 16:34] #298 closed

[2016-05-26 16:44] #294 closed

[2016-05-26 16:44] brj commented on #293
Now the uninstall script is sourced *before* the functions are erased.

[2016-05-26 16:44] #293 closed

[2016-05-26 16:45] brj commented on #241
Probably safe to close.

[2016-05-26 16:45] #241 closed

[2016-05-27 01:08] nesmyslny opened #300 "Prompt 'eco' removed?"
Actually this is not an issue with fisherman, but maybe someone here knows what is going on :)

I use the prompt `eco`. It's listed in the fisherman plugin list and the repository used to be here:
https://github.com/fisherman/eco

This repo is gone now and redirects to https://github.com/fisherman/fin

So after the last `fisher up` my beloved prompt disappeared 😭 Please help 😃

[2016-05-27 04:07] brj commented on #300
@nesmyslny Oops, sorry, I removed it, for a few random reasons that won't really bring it back right now, so let's try to find a copy instead. I've created an empty repo here https://github.com/fisherman/eco, would you happen to have a copy laying around?

[2016-05-27 04:14] #300 closed

[2016-05-27 07:14] nesmyslny commented on #300
Yeah! Thank you very much @brj 😄

[2016-05-27 07:15] brj commented on #300
👯

[2016-05-27 09:12] brj commented on #69
Hi @archmagees, is this what you mean?
https://github.com/fisherman/shark

[2016-05-28 08:26] brj opened #301 "Introduce fish_prefix OR fish_path var to improve compat. with fin and resolve #254"
By default, set this variable to ~/.config/fish (or wherever your fish configuration is).

If the user sets this variable, fisherman will install stuff under that prefix. This would rexsolve #254 correctly, and make fisherman and fin more compat.

Ping @fisherman/all.

[2016-05-28 08:26] brj commented on #254
@andrew-kennedy This may be of your interest :)
https://github.com/fisherman/fisherman/issues/301

[2016-05-28 09:06] bitwave opened #302 "Fisherman is broken with fish version 2.3.0"
The new fish version breaks fisherman.

Regards,
bitwave

[2016-05-28 09:10] #301 closed

[2016-05-28 09:11] brj commented on #302
Do you have any evidence?

[2016-05-28 09:15] #297 closed

[2016-05-28 09:18] brj commented on #302
@bitwave

[2016-05-28 09:18] brj commented on #302
@bitwave

Do you have any evidence, logs, or anything to show?

I'm on fish 2.3 and everything is apparently running fine.

[2016-05-28 09:19] brj commented on #302
@bitwave

Do you have any evidence, logs, or anything to show?

I'm on fish 2.3 and everything is (seemingly) running fine.

[2016-05-28 09:20] brj commented on #302
@bitwave

Do you have any evidence, logs, or anything to show?
I'm running fish 2.3 and everything is running fine.

Also, make sure you've seen this: https://github.com/fisherman/fisherman/issues/241

[2016-05-28 10:11] brj commented on #302
Ping @bitwave

[2016-05-28 12:47] bitwave commented on #302
I reinstalled it completely. It works now.

[2016-05-28 12:47] #302 closed

[2016-05-28 12:58] brj commented on #302
Thanks! Yeah, sorry about that.

[2016-05-28 16:39] brj commented on #69
@JimAmuro This is the issue :)

[2016-05-29 03:34] melotusme commented on #225
already get fixed by removing fisherman totally， and reinstall everything.  :)@brj

[2016-05-29 03:44] brj commented on #225
@melotusme Awesome! Thanks.

[2016-05-29 09:20] brj commented on #69
Hi @brickgao, this is the post is what you wanted to see :)

[2016-05-30 06:31] dynamotn opened #303 "Lost snippet when duplicate name of snippets"
I installed first plugin with snippet a.fish, then install second with also snippet a.fish but different contents => Only keep snippet a.fish of second plugin

Can you merge 2 snippets to one in conf.d instead of create softlink to last snippet?

[2016-05-30 07:15] brj commented on #303
If the first and second plugin have different names, say A and B, and both happen to include a `conf.d/x.fish` snippet, then we could prepend / append the name of the plugin to the soft link solving whatever issue you had.

If the first and second plugin have the same name, then you are out of luck.

Not impossible. They could be prepended to the existing snippet inside a `begin; end` block to pre

[2016-05-30 09:53] laughedelic commented on #303
I think that prepending snippet names with plugin names is a better solution. Even if it not about two conflicting plugins: (from the [docs](file:///usr/local/Cellar/fish/2.3.0/share/doc/fish/index.html#initialization))

So if a user has some snippet, say in `/usr/share/fish/vendor_conf.d/foo.fish` and then installs a plugin with `conf.d/foo.fish`, the original one won't be loaded.

About plugins

[2016-05-30 09:55] brj commented on #303
Yeah. Actually, I thought this was already the way it worked. Perhaps it changed in the transition to 2.0.

I think it will create a backup of such files inside functions/*, but that's it.

[2016-05-30 10:00] laughedelic commented on #303
How about storing plugins in `$fisher_config/org/name` instead of just `$fisher_config/name`? Same about cache.

[2016-05-30 10:24] brj commented on #303
That could be done, that's what fin does btw, but you still can't install two plugins with the same name just like you can't have two functions with the same name.

[2016-05-30 18:33] sooheon opened #304 "git.io/fisherman link is down"
This breaks installation instructions. Change to point to file on github master?

[2016-05-30 18:37] brj commented on #304
Use `https://raw.githubusercontent.com/fisherman/fisherman/master/fisher.fish` in the meantime, GitHub is going to fix this for me in a bit.

[2016-05-30 18:40] brj commented on #304
Actually is back up again. This is odd.

[2016-05-30 18:58] brj commented on #304
Confirmed. It's back :)

[2016-05-30 19:06] #304 closed

[2016-06-01 13:29] Globegitter commented on #279
On that note, is there a way now with `ls-remote` to e.g. only search for themes? That feature used to exist in the past but can not find any documentation on it, nor playing around with the command has lead me to anything.

[2016-06-01 14:06] brj commented on #279
@Globegitter Correct. There isn't a simple way since the search command was removed in favor of the simpler ls-remote (at first), now not so simple anymore.

You can which are omf themes since they show up like:
<img width="1280" alt="screen shot 2016-06-01 at 10 54 23 pm" src="https://cloud.githubusercontent.com/assets/8317250/15712073/cd2e8b90-284b-11e6-9b42-d18d198a049f.png">

But it's not tota

[2016-06-01 18:23] nyarly opened #305 "Absolute paths in links"
I'm using a dotfiles manager to coordinate my fish configuration between Linux and OS X. The trouble is that:

on the one hand, fisher builds links from $HOME/.config/fish/ to $HOME/.config/fisherman using absolute paths (and so /home/nyarly and /Users/nyarly clash),

on the other, running `fisher` doesn't detect the broken links to correct them.

Using relative links seems like the safest solutio

[2016-06-01 18:37] brj commented on #305
@nyarly I am here scratching my head trying to understand the problem, but my brain is not responding well. AFIK, and in a nutshell, fisherman creates soft links of .fish files in:

* ~/.config/fisherman/plugin_name/{functions,completions,conf.d}
* *into* $fish_path/{functions,completions,conf.d}

where $fish_path is ~/.config/fish by default (but can be configured in that variable).

And wrt to b

[2016-06-01 18:54] nyarly commented on #305
For instance, when fisherman creates a soft link  `~/.config/fish/functions/z.fish`, the target it uses is something like `/Users/nyarly/.config/fisherman/fasd/functions/z.fish`

When I commit my dotfiles to git and ship them to my linux machine, now `z` doesn't work because z.fish is `file not found` - which is true: I don't have `/Users/nyarly` on my Linux machines, I have `/home/nyarly`.

As a

[2016-06-01 19:45] brj commented on #305
@nyarly Thanks! I think I understand the first part of the issue now.

I think what you should be committing to git is the `fishfile` and not the $fish_path. Then when you switch machines, you pull from your dotfile repo to synchronize the `fishfile` with whatever you used last in the previous machine and run `fisher`.

[2016-06-01 20:07] nyarly commented on #305
The problem with that is that I tend to write quite a few one-off scripts for fish, and I *do* want to commit them. If I'm very careful only ever to commit the fishfile and my own work, I can probably make do, since fisherman will checkout (any) new plugins and create their links when new entries arrive.

Fixing the links as part of running `fisher` would be a huge reduction of annoyance if/when I

[2016-06-02 00:27] brj commented on #305
@nyarly

What I do, is that I manage those scripts with fisherman as a local file system plugins, **but** you don't have to change your workflow if you use a $fish_path.

[code]

Not a problem at all. If I can manage to reproduce what you are seeing here, I would be delighted to offer a solution.

What do I need to do to reproduce a state similar to yours?

[2016-06-02 09:16] Shadowigor opened #306 "Dependencies out of nowhere"
Hi

I tried to install my own theme. It has no fishfile and no dependencies, but fisherman is still asuming some (see picture). Is this a problem with my theme or with fisherman? The theme works flawless, except for that message.

![fisher](https://cloud.githubusercontent.com/assets/6695660/15739791/f8268bde-28b1-11e6-9f6a-2e8b740ddf0f.png)

[2016-06-02 09:34] brj commented on #306
@Shadowigor Observed! I'll send a fix shortly. Thanks for reporting :)

[2016-06-02 09:50] #306 closed

[2016-06-02 09:51] brj commented on #306
Fixed! Thanks again.

[2016-06-02 17:10] nyarly commented on #305
I think the easiest way would be: create a second user on your computer. Given that your fish/fishfile stuff is set up normally (i.e. no fish_path), copy `~normal_user/.config` to `~test_user/.config` and try using a fish-provided function as the test_user. Given that the test_user doesn't have read access to ~normal_user's homedir, the links should all be broken, but fixable.

[2016-06-02 21:57] brj commented on #305
I don't understand, do you have multiple users in your computer?

[2016-06-02 22:23] daenney commented on #305
So, the way I see it fisherman is doing the right thing. The locations are reconfigurable hence relative paths won't work for us in general, they have to be absolute. Hence use the fishfile and have your dotfile manager run `fisherman install` for you instead.

Now, for the one-off scripts I don't understand the problem. If you just drop them into `.config/fish/{conf.d, functions, completions.d}`

[2016-06-02 22:42] brj commented on #69
Ping @edblancas. Cheers and happy fishing:)

[2016-06-02 23:44] brj commented on #69
Ping @Baaaaam, see here please :) and happy fishing!

[2016-06-02 23:45] brj opened #307 "👍👎 Vote: fisherman v3?"
## [fisherman v3](https://github.com/fisherman/fisherman/tree/3)

Goals for the next major release:

* Require fish 2.3?
* Self-update by default after 3.
* Upgrading to fisherman 3 **should not** break anyone's system.
  <blockquote> 2.3 should include a temporary 2.2 shim **or** ask the user to upgrade to 2.3?</quote>
* Internally, fisherman 3 should use a cache/config directory layout similar t

[2016-06-02 23:54] brj commented on #303
@dynamotn What about using $fish_path. This would separate your fish config from fisherman's and there would never be clashes. You'd be responsible for adding the {functions,completions} to the path, but that's it.

[2016-06-02 23:55] brj commented on #279
Closing as I'd rather focus on the 3.0 roadmap. This whole thing may even go away in 3.0.

[2016-06-02 23:55] #279 closed

[2016-06-02 23:57] brj commented on #307
@fisherman/all

[2016-06-03 00:40] nyarly commented on #305
@brj The exact use case is as described above: create a git repo for .config/fish and .config/fisherman so that you can check it out onto a different computer where your home directory is different. The reason the files are in a different location seem immaterial to the problem, though, and a solution that involved a single computer seemed easier to reproduce/debug.

@daenney Ultimately, all I'm l

[2016-06-03 00:50] brj commented on #305
Ah, I missed this bit. I see. The problem is you are committing your functions directory to git and that includes symlinks to nothing, right?

[2016-06-03 00:53] brj commented on #305
I think the solution is to use either a $fish_path or do as fin, instead of creating symlinks, create hardlinks. That way it would work even if you _don't_ use $fish_path.

[2016-06-03 02:47] brj commented on #69
Ping @zpfbuaa, can you check? And happy fishing :)

[2016-06-03 05:26] brj commented on #307
Updated @fisherman/all

[2016-06-03 06:20] kopischke commented on #307
Ugh, no, please don’t. Installing a plugin is a conscious decision to modify my system, I for one want to know what happens when I do without having to remember adding a flag. If default behaviour is contentious, it might make sense to add a `fisher.config` or similar to store default flags.

Couldn’t disagree more: I don’t want to `cat` some file buried in an obscure config dir to know what is in

[2016-06-03 06:24] daenney commented on #307
But we're upgrading, so why does that matter? At upgrade time you can move the contents of the old `fisherman` directory out and put new stuff in.

[2016-06-03 06:29] brj commented on #307
@kopischke TBH I am not sure what or how to display progress. I think the current progress info is rather naive? and has changed numerous times since 0.1.

Pulled what commits? But then the problem is where do we cross the line of how much we display? Should I write a mini git diff in fish? To make it silent by default is my way of saying: I don't know what to do, so instead of doing it poorly, I'

[2016-06-03 06:31] brj commented on #307
Ah, you mean after the upgrade? Like adding some temporary code that will fix the directories?

[2016-06-03 06:34] kopischke commented on #307
@brj I’m perfectly fine with the current level of detail: what is fetched and roughly how much has changed, which I find far more useful than either nothing or every single `curl` request, but yeah, let’s bikeshed later. I am far more worried by the intended move from a CLI centred approach to a fishfile based approach the dropping of `ls` implies.

[2016-06-03 06:35] daenney commented on #307
@brj Not even after the upgrade, during. If you detect that there exists a `fisherman/` just move it out first and then pretend you're installing.

[2016-06-03 06:36] brj commented on #307
Ah, I see. This makes sense. How long is long enough before removing that code from the source?

[2016-06-03 06:36] daenney commented on #307
I would say the next major release 😄.

[2016-06-03 06:37] brj commented on #307
@daenney Haha, but that will break things for slow-adopters.

Using a different directory name has no weak points, other than creating another directory. But then, it's easy to advise users to delete the old `fisherman` dir and be done with it.

[2016-06-03 06:38] daenney commented on #307
That depends, hence my comment on maybe not using a single digit version number but at least having a `X.Y` version scheme where we can fold in updates and other things that don't really warrant a major version boundary.

And it does have weak points, it is confusing. Why is Fisherman using `.config/fisher`, it's disconnected.

[2016-06-03 06:40] kopischke commented on #307
That path leads to version numbers like Chrome 98 and Facebook.app 56 (iOS version numbering scheme) which, besides being rather silly, make it impossible to see which version changes are incompatible (normally denoted by the major number) and which are not (normally denoted by the minor number). Please let us keep using semantic version-ish numbering!

[2016-06-03 06:40] brj commented on #307
I prefer fisherman too, obviously. I just don't want to break stuff for future users. Let me see, maybe doing like you say is just one or two lines, so it's alright to keep it in the source for a few releases.

[2016-06-03 06:42] daenney commented on #307
For future releases you could go as far to have a layout along the lines of `.config/fisherman/VERSION/...` which would ease upgrades.

[2016-06-03 06:42] brj commented on #307
As for the version number, I think the Major.minor.patch scheme is great when you have tools that can enforce the rules to be applied. There is nothing like that here, and it's a lot of work to keep up with that. Alas, this is another point I am after all ambivalent. If people don't like single version numbers, maybe X.y  then.

[2016-06-03 06:44] brj commented on #307
@daenney Oh, that's funny, in an interesting way. I don't think I'll take that way. As I am really looking for a path to simplify my future work in the project and make things much simpler in the long run.

[2016-06-03 06:45] daenney commented on #307
It's not just about what tools enforce, it's what users have come to expect too. In most cases major version boundary = major (breaking) changes. Browsers and some mobile apps eschew that but most software releases still follow this practice. If fixing a typo in Fisherman 4 results in the release of Fisherman 5 that's going to get weird fast.

[2016-06-03 06:45] brj commented on #307
A-ha. The problem with this one is that `fisher ls` may seem trivial, but it's _not_. What about people that create plugins like `owner/fish-theme-ridiculous-name`? Currently fisherman has __fisher_name that is in charge of guessing a plugin's name from its URL. This is really difficult to deal with, always subject to change and a PITA to maintain. It's a lot of code.

Another example, what about

[2016-06-03 06:46] orangecms commented on #307
It would make sense to be able to list packages without having to know about `fishfile`, so why remove `fisher ls`?
Why change structures again? People will be annoyed when upgrading again and have trouble etc. Someone recently complained about the 1 -> 2 migration script gone missing btw. What are your plans for migrations this time?
fish 2.3 is not yet available for everyone. I would give people

[2016-06-03 06:47] daenney commented on #307
Why not ask plugins to ship with a `plugin.metadata` file that has things like the plugin name, author etc. correctly encoded?

[2016-06-03 06:47] brj commented on #307
@daenney Yeah, but fisherman is not a browser or a gigantic app. In fact, I am trying to make it simple. If I manage to get 3 through, I seriously expect almost no upgrades after that in a long time. As the current `fin` model is seriously indestructible.

True. I'll provide a shim for every place where I use a fish 2.3 feaure in the source. That's not so hard to do and I can do it.

[2016-06-03 06:50] daenney commented on #307
Famous last words 😄. I'll hold you to that 😉.

[2016-06-03 06:53] brj commented on #307
Hmm, is this complexity really worth it? I'd rather lower the bar, and encourage simpler plugins. After all, no one is really creating a lot of plugins. The plugin:ration is like 1:5 or worse. Most plugins useful plugins are stuff that do things only fish can provide, and those are very few.

[2016-06-03 06:57] brj commented on #307
@orangecms

Because which way is the correct way:

1. Show everything inside the configuration, including dependencies. Also show who depends on what.
2. Show only those plugins the users has installed themselves.

Other things to take in account:
* Should we show the names in their original form or translate the names using the rules in __fisher_name? Even someone once complained they didn't expe

[2016-06-03 07:00] nyarly commented on #305
What I was thinking is this: in order to do its symlinking, `fisher` needs to compute the target path anyway. What if, at the end of doing `fisher install`, all the links for all plugins got re-created? In the usual case this should be a quick no-op, and it covers this use case completely.

If that's acceptable, I'm more than happy to do the PR.

[2016-06-03 07:03] daenney commented on #307
But this wasn't about simple polygons, this was about removing complex and hard to maintain code in Fisherman that tries to guess this instead.

Considering that you say yourself there aren't that many plugins being created and a lot of them live in the fisherman org adding a file like that would be trivial.

[2016-06-03 07:05] brj commented on #305
@nyarly Before you do, can you take a look at #307?

[2016-06-03 07:10] brj commented on #307
I can't justify some plugins having a fishfile to declare deps and now also a config.meta.

What you are saying is to drop the fishfile entirely and create a new configuration file for plugins. Sure, this would be nice. Also writing the yaml or json parser in fish.

I was considering writing a new plugin manager in another language, and I still might do it for fun, but there is an issue with that

[2016-06-03 07:12] kopischke commented on #307
I disagree: in this case, less is less. If less is what you are after, there is *fin*. I don’t want to sound adversarial, but turning *fisherman* into *fin* is a serious breach of the implicit user contract of *fisherman*. If lower maintenance overhead is what you are after, why not share the load of maintaining the more complex tool? I’d gladly volunteer!

[2016-06-03 07:15] brj commented on #307
@kopischke Haha you are more than invited to volunteer! Everyone in the team is a maintainer AFIK :)

[2016-06-03 07:15] brj commented on #307
fisherman vs fin

| Feature                                                  | fin | fisherman |
|----------------------------------------------------------|-----|-----------|
| Support Wahoo / OMF / Tackle plugins and modules                            | No  | Yes       |
| Support uninstall hooks                                          | No  | Yes       |
| `set_color_custom`

[2016-06-03 07:43] kopischke commented on #307
@brj I am aware of the feature limitations of _fin_, but even at feature parity I would not use it as long as its interface is the fishfile

Personal opinion ahead: text file based user facing system management is a show stopping anti-feature (note “user facing”: it’s fine in sysops, devops and plain dev contexts!); one of the reasons I ended using _fish_ is it has less of that silliness.

I under

[2016-06-03 07:45] brj commented on #307
@fisherman/all

#### Simplify fisherman to [this](https://github.com/fisherman/fisherman/tree/3).

Everyone's opinion counts. Please vote thumbs up/down if you like/dislike the proposal.

To me, a simpler fisherman means a better legacy for future fish users that will undoubtedly stumble upon this project at some point. A simpler fisherman means we are less disruptive to fish-shell in general. The

[2016-06-03 08:56] brj commented on #307
@kopischke If the only problem you are having with my proposal is the lack of a CLI, that's a non-issue since I can make @3 work just as well with the commands you are used to install and rm (update would go away since fisherman would always update regardless tho).

Basically, install would just append 1 or more items to the fishfile and then the main loop would execute as if the user changed the

[2016-06-03 09:21] kopischke commented on #307
What would trigger such an update, assuming a stable set of plugins?

[2016-06-03 09:29] brj commented on #307
So, when you run `fisher`, it self-updates automatically. It also fetches plugins again, so there is no need to update plugins ever. And if the plugin can't be retrieved for some reason (bad network) it uses the cache if a copy exists in it.

[2016-06-03 09:45] brj commented on #307
@fabio-flubit?

[2016-06-03 12:10] laughedelic commented on #307
Probably I'm missing something, but that branch looks just like fin 😐

Regarding the interface I completely agree with @kopischke:
- Current output is informative and useful. It can be probably improved, but I vote against removing it or hiding under the `--verbose` flag.
- `ls` command is useful, even if it will just list (+maybe format) the fishfile

Regarding versioning, I agree with @brj about

[2016-06-03 12:15] brj commented on #307
To be honest, the answer is I don't like moving slow haha. If people are okay with the current way things are, then by all means, let's close this and keep fisherman as it is :)

[2016-06-03 12:17] laughedelic commented on #307
This looks to me more like "all or nothing" 😆

[2016-06-03 12:18] brj commented on #307
If you look at the table above, there are like 20 items there. Are you suggesting to create 20 issues? Lol.

[2016-06-03 12:20] laughedelic commented on #307
Nope, I wrote something different: one issue and a comment per proposed change. Also, I thought we are considering the proposal from the original post, not the fisherman vs. fin comparison.

[2016-06-03 12:22] brj commented on #307
Ah, yeah, that too.

[2016-06-03 12:26] brj commented on #307
Haha seems like @3 was not very popular.

[2016-06-03 12:34] brj commented on #307
@fisherman/all If the issue is losing the CLI, we can keep the CLI and still use fin's leaner model.

One more thing problematic with fisherman's current model is that there's a bug in the dep ref count, which is fixed in fin because there is no ref count.

[2016-06-03 12:36] FabioAntunes commented on #307
@brj Sorry @fabio-flubit is my github company profile, sometimes I do forget that I'm logged in with that.

As for the proposal I thing we are being to drastic in here it's either too much complex or too much simple. Can't we find a mid term? I understand that complexity makes things harder to maintain and to make future changes without breaking existing functionality.

I believe that we should ag

[2016-06-03 12:42] kopischke commented on #307
Agreed.

[2016-06-03 12:45] kopischke commented on #307
I suggested something similar on Slack. Let’s address separate issues separately.

[2016-06-03 13:21] #307 closed

[2016-06-03 13:24] brj commented on #307
I think the new fin model is superior, both in implementation and simplicity. In 1/10 of the code, we get fisherman's best. So, I have no regrets for suggesting this change. Even if the trend would change now, I don't want to disappoint the people in this thread, so I'll just close it now and keep things the way they are. Cheers!

[2016-06-03 13:26] brj commented on #305
@nyarly I decided to drop the proposal in #307, so by all means feel free to send a PR covering your fixes and let's review it then.

[2016-06-03 13:26] #305 closed

[2016-06-03 13:28] brj commented on #303
The solution is to use $fish_path.

[code]

If you do as above, fisherman will copy functions, completions and snippets under that prefix, so there will be no fear of name collisions.

Let me know how that goes.

[2016-06-03 13:28] #303 closed

[2016-06-03 13:58] gretel commented on #307
@brj i'm confused what `cli` actually means - i wonder how i'd install a theme without one, clear my fog please.

[2016-06-03 14:03] brj commented on #307
As you know, CLI stands for command line interface.

fisherman has a rich CLI, that is, it provides named commands to let you accomplish different tasks:

[code]
or if the theme is in the fisherman org:
[code]

In fact you can drop the `i`, as it's implied.

In contrast, the fin model _lacks_ a CLI. This is clearly on purpose. The reason it lacks a CLI is because it's not needed due to the configu

[2016-06-03 14:06] gretel commented on #307
ah, because i have not used `fin` yet i was unaware of it's file-based configuration - which oposses the `cli` apporach if i get you right.
how about having no `cli` but allow to add a simple (maybe even backwards-compatible one) as a plugin?

[2016-06-03 14:07] brj commented on #307
fin has no CLI and it's compatible with most fisherman plugins and even oh-my-fish (except for those doing the init event hacks and stuff like we used to do in Wahoo).

[2016-06-03 14:09] gretel commented on #307
sure. i'm saying that a proposed **v3** could have no `cli`. still, user could decide to add one and install it as a pluing (which is not authored yet but guess could be revised from the current code).

[2016-06-03 14:10] brj commented on #307
The proposed v3 has no CLI, so it'd be essentially a retouched fin. As you can see by reading this thread, a lot of people opposed the idea of making fisherman more like fin, so I decided to drop the proposal and leave things how they are.

fisherman and fin can coexist independently.

[2016-06-03 14:15] brj commented on #307
Similar to what @FabioAntunes was proposing. I think this might be more confusing to new users.

[2016-06-03 14:17] gretel commented on #307
@brj not sure if we match on thoughts. i've been reading over and also got the impression that it's about the `cli`. so i was thinking about a compromise, like a third approach, that would also well-exist with it's predecessors:
* fisherman as is (v2)
  * might move to a branch as discussed yesterday
* fin as is
* fisherman **v3**
  * has no `cli`, like `fin`
  * offers installation of a plugin (b

[2016-06-03 14:24] FabioAntunes commented on #307
What's the point of that? I don't see the point of having fin and try to make fisherman more like fin, you either have both the way they are, or just go for one. Having fisherman without cli and adding a plugin for me is the same has having fin and add a plugin.

Like I said if that's the point, just make fisherman v3 based on fin, something like:

`fisherman v3 = fin + plugins`

[2016-06-03 14:24] brj commented on #307
I suspect this would alienate some users, as they might feel relegated or second class citizens. Essentially, fisherman 3 would work out perfect for me out of the box, "but if you really feel you need your cli go install it".

What I would do instead is, write a CLI similar to current fisherman on top of fin's simple model. Basically,

* install or get PLUGINS // validated against fishfile
* rm PL

[2016-06-03 14:30] gretel commented on #307
@FabioAntunes for me, the table posted clearly shows the differences between the two. i don't see why and how a `cli` as optional plugin that would not be installed by default would change that.
but i also don't feel like getting religious about details that in the end will result in some progression that we won't be able to foresee now.

[2016-06-03 14:31] brj commented on #307
Who is actually using fin here? or likes fin's model? Other than me, is there anyone who thinks fin is preferred? I feel that if most people prefer fisherman, we might as well leave it like that.

[2016-06-03 14:32] gretel commented on #307
well actually i was using `wahoo` that was kinda proposed to stay and now it's like **v3** of it's predecessor 🔆

[2016-06-03 14:33] brj commented on #307
Haha, last time I check they are still 2.

[2016-06-03 14:34] jethrokuan commented on #307
fin's model is similar to that of vundle, and I think it makes sense precisely because vi is a text-editing tool, so editing a text file to install stuff feel natural.

fisherman manages fish snippets, and because it's the command line, I think a CLI makes perfect sense.

[2016-06-03 14:35] brj commented on #307
@jethrokuan Hmm, haha that sounds like a winning argument. You good debater bro?

[2016-06-03 14:40] gretel commented on #307
following up on the truth of @jethrokuan - a tool that does manage fish files could work with and without a `cli`. so why dont have it, optionally? i mean like how complex would that thing be, append/remove elements from text files?

[2016-06-03 14:44] jethrokuan commented on #307
I'm just saying it doesn't make sense *not* to have a CLI. Why would hopping into a text file and then running a command be simpler than just running an install/uninstall command?

Perhaps code-wise fin may be simpler, because there isn't the additional layer of abstraction, but I prefer this to that additional layer of indirection.

fin and fisherman serve two different audiences, and as a fan of

[2016-06-03 14:47] gretel commented on #307
agreed. maybe i am paranoid, but i do care about the original author's motivation in regards to maintain support for therefore project - which currenly has - in opposition to his proposal - a `cli`. 📊

[2016-06-03 14:54] brj commented on #307
@jethrokuan's logic is gold.

I'll write a CLI on top of fin's model and propose a new 3 branch.

[2016-06-03 14:56] brj commented on #307
@gretel It's cool. @jethrokuan has a way with words and I am a very rule { action } oriented kinda person I was convinced as soon as I understood his argument.

[2016-06-03 14:58] brj commented on #307
So, back to the plan, if we go on with fisherman 3 = fin + fisherman CLI, there are a few things that I'd like to remove or solve in a different way, such as uninstall hooks and key bindings.

[2016-06-03 15:02] FabioAntunes commented on #307
Can some of that things be ported has plugins? I'm asking that because if we can provide a way of recreating `fisherman v3 = fin + plugins = fisherman v2` that way we were able to have some support to users updating from v2 to v3 and reduce some migration problems. I would gladly try to help on that, might need some help though.

[2016-06-03 15:03] kopischke commented on #307
Please tell me you are not planning to **remove** either of them. I can understand, to a point, the annoyance with complex compatibility layers (OMF _et al_), but removing features that enable _fisherman_ to manage a plugin like [_pisces_](https://github.com/laughedelic/pisces) is not what I would call a positive development.

[2016-06-03 15:04] brj commented on #307
Definitely possible. But after agreeing with @jethrokuan's point of view I am scratching my head now as to where this makes any sense at all.

[2016-06-03 15:05] brj commented on #307
@kopischke And ls-remote. That part is quite complex. Haha forget about it.

[2016-06-03 15:09] FabioAntunes commented on #307
Well it makes sense in a way you are not creating a massive breaking change on fisherman, you are creating modular repos which makes code simpler and probably easier to receive contributions from other developers. Another thing is that you are not removing features/functionalities, the worst thing someone can do to a user is removing functionalities that he is used to.

I'm just giving my opinion

[2016-06-03 15:18] brj commented on #307
I'll try to simplify fisherman directly from fisherman's source to improve future maintenance, and keep fin alive and healthy too.

[2016-06-04 15:07] brj commented on #69
Hola @hmaciasc, ya no estoy manteniendo el OMF, te agradecería un montón si te actualizas al fisherman! saludos!

[2016-06-05 10:27] wk opened #308 "Merge fisherman/index into local cli cache"
Currently, the fisherman/index repository is used exclusively for the web-based search on [fisherman.sh](http://fisherman.sh).

It would be pretty cool if packages from the index are also discoverable and installable via CLI, since at the moment, an invocation of `fisherman install <package>` for a package that's present exclusively in the index, but is not a repository under the `oh-my-fish` or `

[2016-06-05 10:35] wk commented on #308
A few points on the rationale of allowing some plugins to remain outside the `fisherman` org can be found [here](https://github.com/wk/plugin-ssh-term-helper/issues/1#issuecomment-223802549).

[2016-06-05 11:43] brj commented on #308
Before 2.0, repos were read from fisherman/index. With 2.0, we started using the GitHub API to query the org/s, since maintaining an index was a lot of work and I wanted to make fisherman more of a "decentralized" tool.

The index still exists for historical reasons and because the website still uses it for search. TBH, I was hoping to make the website use the GitHub API at some point to query org

[2016-06-05 14:39] laughedelic commented on #308
What do you mean here by "decentralized"? Collecting all plugins in the same org seems to be the opposite..

I think that it can be a feature of fishkit to simplify how new plugins are submitted to the index. And what do you mean exactly by maintaining the index?

[2016-06-05 15:35] brj commented on #308
PR Welcome.

[2016-06-05 15:35] #308 closed

[2016-06-05 18:06] sevkin opened #309 "Display help for plugin not installed with "fisher help PLUGIN""
Ok, install fisherman then type `fisher ls-remote` and see "the list of some names"
How do I know about each of them?

I think `fisher help` must download, display and cache description for not installed plugins from registry.

[2016-06-05 19:01] laughedelic commented on #309
You can get short information about each plugin in the output of `ls-remote`, it has `--format` option. I don't know if it's documented anywhere besides the [release notes](https://github.com/fisherman/fisherman/releases/tag/2.2.0). So you can do something like

[code]

[2016-06-05 19:12] sevkin commented on #309
I see this short descriptions in suggestion list. But in order to make responsible decisions about how to install the plugin i need to know mooore :)

[2016-06-05 19:34] changyuheng opened #310 "Feature of exporting environment variables from plugins is broken"
To reproduce:

1. Install plugin `pyenv` and `https://github.com/yyuu/pyenv`.
2. Create another fish session.
3. Compare the results of `echo $PATH` before and after executing `fisher update`.

[2016-06-05 19:48] changyuheng commented on #310
Oh sorry, has documented here https://github.com/fisherman/fisherman#what-is-the-required-fish-version .

[2016-06-05 19:48] #310 closed

[2016-06-05 20:05] daenney commented on #310
See also the second note in the fisherman/pyenv README: https://github.com/fisherman/pyenv

[2016-06-05 23:28] brj commented on #309
@sevkin Hmm, in order to do what we need to download the plugin, then see if it has a man page or not. Problem is, few plugins include a man page. The vast majority have none, so fisherman would just say something:

[code]

[2016-06-05 23:38] laughedelic commented on #309
I just want to remind about idea that I suggested some time ago: https://github.com/fisherman/fisherman/issues/294#issuecomment-220498331 (showing readme when there's no manpage).
I don't know how hard is to do it, but another idea is to request just the man/readme file content from github, if the plugin is not installed/stored in cache yet.

[2016-06-05 23:46] brj commented on #309
That would be nice!

[2016-06-06 23:05] brj commented on #69
@helloworlderly

[2016-06-07 15:28] brj commented on #309
@laughedelic Question. When we read the README, do we just pipe the markdown in the user's default pager?

[2016-06-07 16:40] daenney commented on #309
I don't really want to be parsing Markdown. There's tools like `md2man` that can convert markdown in a sensible way but a generic README usually does not a great manpage make.

[2016-06-07 17:33] laughedelic commented on #309
I agree that any converting markdown to man won't give better results and doesn't make much sense. So I would just show the readme as is. Yes, sometimes it won't give much usage information, etc. but either it's better than nothing, or the author just didn't take time to write any kind of usage documentation, then there's nothing user or fisherman can do (the user should write to the author reques

[2016-06-07 17:53] sevkin commented on #309
Probably not worth thinking about the formatting of the README and an improvement in the registry?
Registry may issue a unified information about the plugin:
- name
- short description
- source url
- long description AKA help

[2016-06-07 17:59] laughedelic commented on #309
@sevkin what's registry? Current `ls-remote` information is collected without any kind of centralized index, it just uses github API to get information about all repos in the @fisherman/@oh-my-fish orgs. So there's no simple way to get that "long description AKA help" from anywhere except of readme.

[2016-06-07 19:05] sevkin commented on #309
@laughedelic i dont know. may be http://fisherman.sh ?
How work `fisher help` ?

[2016-06-07 19:11] laughedelic commented on #309
@sevkin the search on that website is powered by the [index](https://github.com/fisherman/index), which is manually curated (plugin authors add their plugins there), and **this is not related** to what you see when you do `fisher ls-remote` (see #308).

In the current version, `fisher help` is supposed to be used only for those plugins that are already installed (or were installed and remained in

[2016-06-07 19:26] sevkin commented on #309
imho perfectly!

[fisherman/index](https://github.com/fisherman/index) can be improved to download and install founded plugins (into docker image) then capture and save output of `fisher help`

The Registry :)

[2016-06-07 19:29] laughedelic commented on #309
Save where? Again, fisherman CLI and the online search/index are not connected anyhow.

[2016-06-07 19:34] sevkin commented on #309
pr welcome

[2016-06-07 19:36] laughedelic commented on #309
@sevkin The proposed solution is just to retrieve plugin's man-page when you do `fisher help` if it's not installed/in cache yet. Plus to show the readme if the plugin doesn't have a man page.
Aren't you happy with this solution? I'm not sure if @brj is already working on it or it will be left open for a third-party PR..

[2016-06-07 19:38] sevkin commented on #309
@brj add label WIP ?

[2016-06-07 19:43] laughedelic commented on #308
@brj if PR is actually welcome, could we leave this open?

[2016-06-07 21:34] brj commented on #308
This is not a trivial modification. If anyone really wants to take a stab at this, I'd be probably okay with it, but I don't want to leave this open here forever either.

[2016-06-07 21:42] brj commented on #69
@MITSUBOSHI こんにちは。こちらをご覧ください。https://github.com/fisherman/fisherman/wiki/%E6%97%A5%E6%9C%AC%E8%AA%9E

[2016-06-07 23:04] brj commented on #309
What about just looking at the help / README online?

[2016-06-08 08:00] daenney commented on #309
What @brj said. I'm not exactly convinced that showing unrendered markdown text in a terminal is any better than just going to look at the README on GitHub or wherever else it is hosted.

[2016-06-08 08:01] brj commented on #309
Yes, `fisher help` displays the repository link if no man page is available.

[2016-06-08 19:28] brettgoulder opened #311 "On fisherman.sh, can you implement a browse instead of just a search?"
On fisherman.sh, would you be able to implement a browse instead of just a search?

I really have no idea the names of the plugins to start looking for and it would be nice to poke around.

Is there a list somewhere?

[2016-06-08 20:41] laughedelic commented on #311
There's some fragmentation:
- you can do `fisher ls-remote --format="%name: %info\n"` to see the list of plugins from the @oh-my-fish and @fisherman orgs (or just browse these orgs on Github)
- you can check the [index](https://github.com/fisherman/index/blob/master/index) that powers fisherman.sh search. But it's just a text file and probably is not very convenient.

These two lists have a big in

[2016-06-09 02:32] brj commented on #311
@BretJohnson You can get the list of plugins you can install using `fisher ls-remote`.

The website is still here for historical reasons; it used to be more useful. Ideally, it would query the GitHub API to retrieve repos from the orgs, just like the CLI client does currently, but no one has gotten around that.

[2016-06-09 12:22] brj commented on #69
@AbdelQuddous

[2016-06-09 18:54] ianferguson opened #312 "github api rejects calls when `fisher ls-remote` is run too frequently"
Currently if `ls-remote` is run too frequently, fisher will begin returning the following error,

[code]

This might potentially be due to github throttling/rejecting anonymous api searches occurring above a similar rate, similar to the conditions that led to homebrew to support passing an API token to homebrew for searches: https://gist.github.com/christopheranderton/8644743

Would it be possible

[2016-06-09 23:34] brj commented on #312
Hi @ianferguson.

* GITHUB_USER and
* GITHUB_TOKEN

are available.

[code]

[2016-06-09 23:46] ianferguson commented on #312
Awesome, thanks! Would it be helpful if I opened a PR to updates the docs
somewhere with that info?
On Thu, Jun 9, 2016 at 7:34 PM Jorge Bucaran <notifications@github.com>
wrote:

[2016-06-10 00:48] brj commented on #312
@ianferguson Yes, it would be! Can you add a new question to the FAQ?

[2016-06-10 03:59] ghost opened #313 "Replace /dev/stderr for >&2 so fisherman does not break in systems that don't support dev channels."

[2016-06-10 12:49] ianferguson commented on #312
opened #314

[2016-06-10 13:44] brj commented on #309
Related
![man_page](https://cloud.githubusercontent.com/assets/8317250/15966167/e9047a4c-2f5c-11e6-863c-00c62d2a446c.png)

* https://xkcd.com/1692/

[2016-06-10 15:27] #312 closed

[2016-06-10 20:49] brj commented on #69
Hi @zzag!

[2016-06-10 22:13] brj commented on #69
Hi @SpyderSC

[2016-06-11 07:05] brj commented on #69
Hi @brokenbeta, check out this comparison omf / fisherman! :)

[2016-06-11 13:54] ianferguson opened #315 "fishfile does not contain enough information to reclone plugin repos"
I currently have a set up where I have just my config.fish and fishfile checked into my dotfiles repo in git: https://github.com/ianferguson/dotfiles/blob/master/fish/.config/fish/fishfile and want to use it across multiple computers.

This currently works fine only if all the fisherman plugins installed are github.com repos, in which case when a new plugin is in the fishfile (after pulling from t

[2016-06-11 14:16] ianferguson commented on #315
It also just occurred to me that rather than trying to squeeze the repository information into the fishfile, it may make more sense to use an approach more similar to homebrew's tap system, and allow a user to add custom taps/endpoints which the $username/$pluginname combos from the fishfile could be tried against in succession until a match was found

[2016-06-11 16:10] brj commented on #315
Really? I think this could be partially fixed if we make fisherman's fishfile behave like fin's fishfile.

Are you familiar with fin? https://github.com/fisherman/fin

Just like fisherman, fin too, ignores the git host, i.e. `github`, `bitbucket`, etc., when copying the repos into the cache, but _fin_ stores the repo inside a namespace like `fisherman/repo` or `oh-my-fish/repo`, etc., whereas fish

[2016-06-11 16:19] ianferguson commented on #315
@brj I looked at fin a bit, is the main difference that fin _only_ does installs/removals/etc via working from its fishfile, vs fisher supporting that and interactive commands?

Do you anticipate fin being developed long term? I may just be able to switch to using that if it already supports full URLs in the fishfile, but was hesitant to do so if most/all development was going to stay behind fishe

[2016-06-11 17:10] brj commented on #315
Yes, that's the main difference, but fin supports less features than fisherman too, see:
* https://github.com/fisherman/fin/issues/5#issuecomment-222481377

Absolutely. Both will be developed and maintained.

I actually use fin, since I really don't need most of fisherman's advanced feature set, e.g. key bindings. The idea with fin is to stay small and simple, but still useful.

[2016-06-11 17:22] ianferguson commented on #315
after reading through the fin source, I think I'm going to go ahead and switch over to that (configuration only+simple mechanics match what I actually want/need), though it does seem like it would be a nice improvement if the line `fisher install $plugin_name_or_url` added to the fishfile was added in a way that included the host/full url if needed, but maybe not worth the effort given that I thin

[2016-06-13 11:32] #309 closed

[2016-06-13 11:35] #311 closed

[2016-06-16 14:21] kupusc opened #316 "how to deal with it behind a firewall?"
I'm behind a corpo firewall, and I guess I need a proxy to be able to fetch anything (ls-remote works, though).

[2016-06-16 15:13] detailyang commented on #316
hi, maybe you can check this [post](https://wiki.archlinux.org/index.php/proxy_settings), it use env http_proxy to proxy http connection in terminal.

wish it's useful to you :grin:

[2016-06-17 22:20] brj commented on #315
@ianferguson How's fin? Going to close this for now.

[2016-06-17 22:20] #315 closed

[2016-06-19 02:14] brj commented on #316
I hope these articles are helpful:

* http://stackoverflow.com/questions/783811/getting-git-to-work-with-a-proxy-server
* http://stackoverflow.com/questions/5529218/how-to-use-git-behind-a-proxy

[2016-06-23 04:37] #316 closed

[2016-06-29 15:14] zacheryph opened #317 "WIki: Bootstrap Instructions"
Not an issue, but wanted to make the people that need to know know.  I didn't realize wiki pages on github were open to all.  Wanted to let people know in case this is not needed.

I added a wiki page: https://github.com/fisherman/fisherman/wiki/Bootstrap

This is an easy way to only put `config.fish` and `fishfile` in your dotfiles repository and ensure fish installs fisherman and plugins if need

[2016-06-30 01:23] brj commented on #317
Thanks @zacheryph! It's great.

[2016-07-04 08:29] sotayamashita commented on #317
I changed `fisher` to `fisher -v`.

[2016-07-06 21:28] bbqtd opened #318 "fisher doctor (like brew doctor)"
It would be nice if fisherman will have `doctor` for regenerating soft links regarding installed plugins without fetching update

[2016-07-06 21:59] bbqtd opened #319 "Why plugins in $XDG_CONFIG_HOME/fisherman instead $XDG_DATA_HOME/fisherman?"
Just a question. For me `$XDG_DATA_HOME` more viable than `$XDG_CONFIG_HOME` for storing data that I want `share` between my or local devices (like vendoring) instead populate `$XDG_CONFIG_HOME` that I want share between my coworkers and hold this directory small as possible for symlinking whole directory.

[2016-07-07 04:17] brj commented on #318
@bbqtd How do these dead soft links get generated?

[2016-07-07 10:08] bbqtd commented on #318
One of cases is user changed (and moved folder content) `$fisher_path` directly for any reason. I believe at this moment `update` doing part of this job but with fetching update. Of course `update` in any time is better, but it would be nice have just `doctor` without `update` if something going wrong.

[2016-07-07 10:21] brj commented on #318
Thanks. Do you think this happens often enough to require the doctor command? What about an arbitrarily complex solution via a plugin?

@fisherman/all Thoughts?

[2016-07-07 10:28] Markcial commented on #318
IMHO would be something like a package manager but for "recipes" or "vaccines".

This means that if you have a missing conf.d loader script for example, doctor looks for the "missing_include_fix_vaccine" adds it and fixes the missing snippet with some sort of conditions the solutions can be done with snippets or includes.

Simply an idea, thoughts

[2016-07-07 10:54] brj commented on #318
We should identify diseases first. How many do we know so far?

[2016-07-07 11:06] Markcial commented on #318
I have found very few if not none. But this is because when I am done with getting my setup done I stop fiddling around. So my insight might be very biased because i tend to fix by myself issues I face around.

Anyways I posted the comment because one thing I love from fisherman is it's lightweight nature. This is why even do not having a lot of trouble with it, the doctor idea sounds nice for not

[2016-07-07 11:11] brj commented on #318
I proposed adding the project scaffolder functionality to core [some time](https://github.com/fisherman/fisherman/issues/245) ago. The conclusion was to add this functionality via a plugin, which is what we did with [fishkit](https://github.com/fisherman/fishkit).

[2016-07-07 11:14] #318 closed

[2016-07-07 23:31] brj commented on #317
If there's nothing to add here, then I'll close this. Thanks again.

[2016-07-07 23:31] #317 closed

[2016-07-10 13:45] brj commented on #319
What about sharing the fishfile? That way you can simply clone your dotfiles repo, cd into the directory and run `fisher` to get everything like your other machine.

[2016-07-11 11:40] bbqtd commented on #319
Yes, it's most simple way when you just clone it and make install all plugins by `fishfile`. But I think about plugins as _data_ for `fisherman`, not configuration, because it's not configuration files for `fisherman` it's _data_ that `fisherman` link it and update it.

It's not very important but I think it's unclear when you share your `configs` with some kind of `data` that users in most cases

[2016-07-15 01:21] brj commented on #319
@bbqtd Don't want to fix what's not broken, but if you are able to come up with a compelling PR, I would be happy to merge, prepare for the transition and cut a new release :)

[2016-07-15 05:58] bbqtd commented on #319
@brj Cool, I'm ready to do it.

[2016-08-03 21:09] pwwang opened #320 "Error while running fisher"
I have no problem in installing. But after that, when I try to run `fisher`, an error shows:
[code]
My fish version:
[code]

[2016-08-03 21:32] bucaran commented on #320
Hi @pwwang! You only need to upgrade to fish 2.3.1.

[2016-08-03 22:08] pwwang commented on #320
Hi @bucaran, I upgraded fish to 2.3.1:
[code]
but it didn't help.

Here is my OS information:
[code]

[2016-08-03 22:13] pwwang commented on #320
@bucaran My bad, it worked. I should stop all old fishes that are running and rerun the new fish.

[2016-08-03 22:13] #320 closed

[2016-08-10 01:59] bucaran commented on #319
Hi @bbqtd! Haven't heard from you in almost a month and since I am not particularly inclined to work on this myself I'm going to close the issue. Feel free to bring this back up to life when you are ready to give it a shot.

[2016-08-10 01:59] #319 closed

[2016-08-11 01:38] robsonpeixoto opened #321 "fisher update should remove broken links"
If some script change the name, fisherman keep the old symlink pointing to a file that not exists.

[2016-08-11 02:15] bucaran commented on #321
There's no way to do this, unless fisherman runs a script in the background that's always checking the integrity of your links/files.

Related?
* https://github.com/fisherman/fisherman/issues/182
* https://github.com/fisherman/fisherman/issues/305

[2016-08-11 02:53] robsonpeixoto commented on #321
Run a script after the update is a good solution, IMHO, @bucaran

[2016-08-11 06:54] bucaran commented on #321
Thanks @robsonpeixoto. Sure, I'd be happy to review and merge a PR for this.

[2016-08-11 21:36] Perlence opened #322 "fishfile empties after installing packages on WSL"
I'm running fisherman on Windows Subsystem for Linux. Installing and deleting packages works, but all contents of fishfile are replaced by a single byte `'0x0a'`.

[2016-08-13 06:26] bucaran commented on #322
Hi @Perlence. What version of fisherman are you running?

[2016-08-13 06:57] Perlence commented on #322
I'm using fisherman v2.10.0

[2016-08-13 07:07] bucaran commented on #322
@Perlence Thanks for your patience. I will ask on the slack channel if there is anyone using fish on windows and see if they have experienced any issues.

[2016-08-14 13:10] #321 closed

[2016-08-18 06:55] killua99 opened #323 "fisher update"
I've had a few problems updating to the latest fisherman build.

When I run fisher update I get: Aye! Fisherman updated to version 0.7.0 (0s)

Why is not updating to the latest one, 2.x.x ? what if I install fisherman again? I'm gonna lose the setting I've ?

[2016-08-18 07:10] laughedelic commented on #323
Check https://github.com/fisherman/fisherman/issues/241

[2016-08-18 07:19] killua99 commented on #323
I guess I was the last to read this, might be helpful to be on the main README.md

Thanks for the support!

[2016-08-18 07:19] #323 closed

[2016-08-18 14:22] bucaran commented on #323
@laughedelic Thanks.

@killua99 Were you able to get everything back up okay?

[2016-08-18 17:58] tylerbenson opened #324 "Error when trying to run fisherman"
`$ fisher`

results in the following error:

[code]

[2016-08-18 18:05] bucaran commented on #324
Hi @tylerbenson. What's your fish version and your fisherman version?

[2016-08-21 06:11] bucaran commented on #324
@tylerbenson Ping.

[2016-08-21 07:15] garyp opened #326 "`fisher` wipes out fishfile if stdin is /dev/null"
Steps to reproduce:

1. Start with a clean install (i.e. no plugins)
2. Add some plugins to `~/.config/fish/fishfile`
3. Run `fisher < /dev/null`

Expected results:

* Fisherman installs the plugins added in step 2

Actual results:

* Fisherman does not install the plugins added in step 2
* Output of `fisher` command is "No plugins to install or dependencies missing."
* `fishfile` is truncated, re

[2016-08-22 00:29] bucaran commented on #326
Hi @garyp!

<img width="624" alt="screen shot 2016-08-22 at 9 29 19 am" src="https://cloud.githubusercontent.com/assets/8317250/17840825/f7f07a84-684a-11e6-9bd9-c04377175beb.png">

[2016-08-22 00:38] bucaran commented on #326
We can't set `__fisher_read_bundle_file < "$fisher_file" | read -az argv` as that would remove the ability to install plugins from stdin, which is a "feature".

See L182

[code]

Try adding `echo` log statements in there and see what branch fisherman is running when you use it from your ansible playbook.

[2016-08-24 08:37] kumarharsh commented on #324
+1 even i'm not able to get this running (under Bash on Ubuntu on Windows). Fish version 2.0.0. Fisher - don't know, but I just ran the `install` command from the main readme in this repo.
It used to run about 20-25 days back, as I've used it successfully in BoUoW before.

[2016-08-24 08:41] bucaran commented on #324
@tylerbenson @kumarharsh Hi all! Fisherman requires fish >= 2.3.0.

[2016-08-24 08:41] #324 closed

[2016-08-24 08:44] kumarharsh commented on #324
Haha, just saw that in the error it was throwing. Actually doing a `sudo apt-get install fish` installed this old version. Adding the correct ppa: `sudo apt-add-repository ppa:fish-shell/release-2` and installing it fixed the issue.

[2016-08-24 08:46] bucaran commented on #324
@kumarharsh Awesome! 😅

[2016-08-30 09:35] padurean opened #327 "How do you uninstall fisherman?"
I tried to use it to install nvm wrapper for fish, but no success.
I've installed latest version, but i can not seem to get rid of:

[code]

Permissions on `./local/share`:

[code]

Versions:

[code]

Realising there's no `uninstall` command i've run the installer multiple times:
`curl -Lo ~/.config/fish/functions/fisher.fish --create-dirs git.io/fisher`, but the problem persisted.

I've also defi

[2016-08-30 10:19] bucaran commented on #327
It's just a file, you can just delete it `~/.config/fish/functions/fisher.fish`.

Or use the built in self-implosion command :)

[code]

What fisherman version you are running?

Which one? https://github.com/fisherman/nvm ?

[2016-08-30 10:21] padurean commented on #327
I've mentioned the version in the initial description:

ogg@ogg-machine ~/w/g/P/client-web (master) λ fish --version
fish, version 2.3.1
ogg@ogg-machine ~/w/g/P/client-web (master) λ fisher --version
fisherman version 2.10.0 ~/.config/fish/functions/fisher.fish
[code]

[2016-08-30 10:24] padurean commented on #327
I've run the `self-uninstall` command (shouldn't this be listed in doc/help? as i didn't saw it mentioned until you said) - it didn't help with the error:

[code]

[2016-08-30 10:27] padurean commented on #327
@bucaran Event if i deleted the function, i still got the error.
I suppose i also need to delete the symlinks:

[code]

[2016-08-30 10:30] padurean commented on #327
Even after deleting those links (`debug.fish` and `spin.fish`) i still get that error when starting fish :(

[code]

[2016-08-30 10:44] bucaran commented on #327
@padurean Is there any chance you updated to the latest fisherman from a very old version recently? I'm willing to bet that's the problem.

Check https://github.com/fisherman/fisherman/issues/241

[2016-08-30 10:46] bucaran commented on #327
@padurean Could help you on real time if you get on the slack channel.

[2016-08-30 10:50] bucaran commented on #327
Ah, yes, this is the problem.

You are/were using the _old_ fisherman, which used to source stuff on startup and other stuff.

Remove all mention of fisherman from your config.fish and install it again with the instructions in the README. Fisherman >=2.0 is a totally different thing.

[2016-08-30 11:16] padurean commented on #327
@bucaran thanks - removing the lines from `config.fish` fixed the error.
However, i've reinstalled fisherman as described in _README_ and tried to install `nvm`:

`fisher nvm`

Installation went fine, however i can not really use the nvm wrapper:

[code]

In my `.bash_profile` file i have the following:
[code]

`nvm` itself is installed using `brew` and as can be seen from above, works fine in `ba

[2016-08-30 11:21] bucaran commented on #327
Glad we sorted this out.

@FabioAntunes can you help @padurean with nvm?

And if everything else fails and you are flexible to try another tool, check out [fnm](console.log(slack.dataStore.users)) or [verman](https://github.com/fisherman/verman/).

[2016-08-30 11:22] #327 closed

[2016-08-30 11:30] padurean commented on #327
@bucaran nevermind - i will just use `fnm` - worked straight out of the box! 😄
Thanks again.

[2016-08-31 08:22] edouard-lopez opened #328 "getopts: command not found"
I have trouble whille updating fisher with : `fisher update`. I reinstall and still got the following errors:

[code]

[2016-08-31 10:21] bucaran commented on #328
Seems like you were running an old version and just recently updated?

Check: https://github.com/fisherman/fisherman/issues/241 https://github.com/fisherman/fisherman/issues/323

[2016-08-31 10:23] bucaran commented on #328
Yes, that's likely the cause. You need to completely remove fisherman (also check your config.fish to make sure there is no mention of it in there) and then install it again using the method described in the README.

[2016-09-01 02:41] bucaran commented on #328
@edouard-lopez Ping ↑

[2016-09-01 08:02] edouard-lopez commented on #328
Tried the following:

1. solution from #241: `curl -L git.io/fisher-up-me | fish` ;
2. `rm ~/.config/fish -rf` then reinstall ;

Still got:

[code]

[2016-09-01 08:04] edouard-lopez commented on #328
Uninstalling using #327 worked.

[2016-09-01 08:04] #328 closed

[2016-09-01 08:04] bucaran commented on #328
I was just going to suggest trying that.

Thanks for reporting back.

[2016-09-01 08:06] bucaran commented on #328
I see you are using nvm. If you are not having trouble with it, then nevermind, otherwise don't forget about fnm, our lesser known little node version manager.

[2016-09-01 11:16] CrashyBang opened #329 "Could we possible have a way to view all 87 plugins as opposed to having to search."
It is a bit of a pain not being able to view the plugins as sometimes you want to browse to simply improve your workflow.

Cheers,
Otis.

[2016-09-01 11:18] CrashyBang opened #330 "Drop into editor command"
I have the following function:

[code]

Which basically drops the current command into neovim, would be cool to have a plugin for this and but maybe use `$EDITOR` instead of hardcoding `vim`/`nvim`?

[2016-09-01 20:51] bucaran commented on #330
Sure! I just invited you to join the org. You can create repos and manage your plugins that way if you like.

[2016-09-01 20:52] bucaran commented on #329
You can use
[code]
for that.

<img width="1280" alt="screen shot 2016-09-02 at 5 52 21 am" src="https://cloud.githubusercontent.com/assets/8317250/18183909/79dc6d6c-70d1-11e6-9598-19bfa3282d3e.png">

[2016-09-01 21:21] CrashyBang commented on #329
Hey @bucaran,

Happy as with that :).

Cheers,
Otis.

[2016-09-01 21:21] #329 closed

[2016-09-01 21:22] CrashyBang commented on #330
Hey @bucaran,

Okay I will look into setting this up as a plugin over the coming week :).

Cheers.

[2016-09-02 03:00] bucaran commented on #330
Sounds good to me :)

[2016-09-03 02:43] rodonn opened #331 "Can't install anything"
When I try running the example command from the readme
` fisher z fzf edc/bass omf/thefuck`

I get the following error:
Installing 4 plugin/s
! Fetch z github.com/fisherman/z
! Fetch fzf github.com/fisherman/fzf
! Fetch bass github.com/edc/bass
! Fetch thefuck github.com/oh-my-fish/plugin-thefuck
! There was an error installing z or more plugin/s.
Try using a namespace before the plugin name: owne

[2016-09-03 04:13] CrashyBang commented on #331
Hey @rodonn,

Just out of curiosity what happens when you run: `fisher ls-remote`?

Cheers,
Otis.

[2016-09-04 04:38] bucaran commented on #330
Closing in favor of a future PR! Up to you @CrashyBang :)

[2016-09-04 04:38] #330 closed

[2016-09-04 04:40] bucaran commented on #331
@rodonn Please make sure this is not tied to https://github.com/fisherman/fisherman/issues/327 somehow.

Did you update to 2.10 recently from 1.5 or a very old version. If so, that's the problem! So, you would need to completely remove fisherman and use the new version (which was updated many months and nights ago :P)

[2016-09-05 05:33] rodonn commented on #331
Sorry for the false alarm. Doing a clean install of 2.10 fixed the problem.

[2016-09-06 12:25] narqo opened #332 "fisherman installs conf.d staff to fish_path, but searches for it in fish_config"
My fish / fisherman setup looks like this:

I store common configs in the `$HOME/.local/share/fish` directory, so my `$fish_path` is set to it. The main fish config (`$HOME/.config/fish`) depends on a particular machine, and in general, it looks like:

[code]

When I run `fisher <package>`, the package is fetched and installed to `$HOME/.local/share/fish/conf.d`. But it looks like fisher doesn't l

[2016-09-07 06:52] CrashyBang opened #333 "OMF themes that rely on OMF lib"
What do we do when an OMF plugin relies on the [OMF lib](https://github.com/oh-my-fish/oh-my-fish/tree/master/lib)?

I am using the [sushi theme](https://github.com/umayr/theme-sushi) which heavily relies on the `git` functions provided by OMF, have we run into this in the past?

Cheers,
Otis.

[2016-09-07 14:36] Alsan opened #334 "What is the correct way to build a plugin?"
I'm trying to build a simple plugin, and then push to github, and install back with fisher install command. My plugin works as expected immediately after install, but when I open another shell session, it's not loaded as other plugin.

So, what am I miss?

[2016-09-07 15:30] jbucaran commented on #334
@Alsan Maybe you are running fish <=2.2.0.

What is your fish --version?

[2016-09-07 22:25] Alsan commented on #334
2.2.0，installed from official linuxmint repo

[2016-09-08 00:48] jbucaran commented on #334
@Alsan That's what I figured. In order for plugins to be loaded automatically at the start of each session, you need fish >=2.2.3

If you can't update at least to 2.2.3, simply add this piece to your config.fish

[code]

[2016-09-08 13:06] Alsan commented on #334
@bj Thanks for you kindly help, but neither update to the  fish nightly (from launchpad), or source the files under conf.d work for me. I have to move the file which generated by generated by the fishkit and placed in the functions directory of the plugin folder to the root of the plugin folder and symlink that file to ~/.config/fish/conf.d to match up your second solution.

The above steps work f

[2016-09-08 13:08] Alsan commented on #334
Ok, my bad, I just checkup the version of the fish nightly from launchpad, it's still 2.2.0, and that's why the first solution not work (I think).

[2016-09-08 13:09] #334 closed

[2016-09-12 02:34] chamini2 opened #335 "Configure the directory of fisherman"
I would really appreciate an option to set the directory `fisherman` should store the plugins it downloads, using the `fish_function_path` to autoload the plugins.

That way we could keep `functions` for custom functions and maybe a `fisherman_functions` file dedicated for `fisherman` installed plugins.

[2016-09-15 01:04] jbucaran commented on #335
@chamini2

You can achieve this (or close enough) using the `fish_path` variable.

See https://github.com/fisherman/fisherman#where-does-fisherman-put-stuff

You can customize the

[2016-09-15 01:04] #335 closed

[2016-09-15 01:56] jbucaran commented on #333
@CrashyBang There are very few plugins that rely on it. One thing that you could do is create a private plugin that exports the required functions and make it a dependency to your theme.

[2016-09-15 01:56] #333 closed

[2016-09-15 01:57] jbucaran commented on #331
Great!

[2016-09-15 01:57] #331 closed

[2016-09-15 01:58] jbucaran commented on #326
@garyp!

<img width="624" alt="screen shot 2016-08-22 at 9 29 19 am" src="https://cloud.githubusercontent.com/assets/8317250/17840825/f7f07a84-684a-11e6-9bd9-c04377175beb.png">

My fishfile is not truncated.

---

We can't set `__fisher_read_bundle_file < "$fisher_file" | read -az argv` as that would remove the ability to install plugins from stdin, which is a "feature".

See L182

[code]

Try add

[2016-09-15 01:58] #326 closed

[2016-09-15 02:21] CrashyBang commented on #333
Hey @jbucaran,

That's cool, would it be worth while creating a blacklist of OMF plugins (even if it is just in the Wiki/README) that includes a list of any OMF plugins with known issues?

Cheers.

[2016-09-15 02:28] jbucaran commented on #333
A new page in the wiki to list OMF plugins with known issues sounds good to me :)

[2016-09-15 03:07] CrashyBang commented on #333
Sweet I will get onto that tonight, can you think of any plugins off the top of your head that I should be adding besides the `sushi` theme.

[2016-09-15 03:10] jbucaran commented on #333
Thanks @CrashyBang.

See https://github.com/fisherman/fisherman/issues/46

[2016-09-15 06:29] CrashyBang commented on #333
Hey @jbucaran,

Please review new wiki page [here](https://github.com/fisherman/fisherman/wiki/Oh-My-Fish-Plugins---Known-Issues).

Cheers.

[2016-09-15 08:45] jbucaran commented on #333
Hey @CrashyBang! Thanks for taking the time :)

[2016-09-15 21:40] chamini2 commented on #335
shouldn't it be `fisher_path`? `fish_path` seems it could mess with other `fish` stuff.

[2016-09-16 13:20] Shadowigor opened #336 "Some plugins are not set up correctly"
If I install a plugin I created (https://github.com/Shadowigor/fish-ssh-agent), it doesn't immediately recognize the new function. `fisher ls` lists it, but running it gives me a `fish: Unknown command`. After I run `fisher up`, everything works fine. I have to run `fisher up` for every terminal I open to make it work. For a different plugin I made (https://github.com/Shadowigor/plugin-errno-grep)

[2016-09-16 13:46] jbucaran commented on #336
Make sure you are running fish 2.3 or superior.

[2016-09-16 13:47] Shadowigor commented on #336
I'm running fish 2.3.1.

[2016-09-16 13:48] jbucaran commented on #336
I had a look at your plugin.

The reason is that the function name is `ssha` and the file name `ssh-agent.fish`.

They must have the same name.

[2016-09-16 13:49] Shadowigor commented on #336
Oh, ok, I didn't know that. Is this written somewhere in the documentation?

[2016-09-16 13:51] #336 closed

[2016-09-16 13:52] jbucaran commented on #336
Try the fish docs https://fishshell.com/docs/current/tutorial.html#tut_autoload

It could be more explicit IMO.

[2016-09-27 07:49] Rush opened #337 "Feature request: install from Gitlab"
Proposed syntax `fisher gitlab:Rush/foo`

[2016-09-27 14:06] jbucaran commented on #337
Sure. We can do that.

[2016-09-29 01:32] CrashyBang commented on #337
Hey @jbucaran while we are at it might as well do bitbucket to if it isn't already.

[2016-10-06 10:54] chrisduong opened #338 "local plugin - cannot be installed if there is "space" in path"
I'm using **fisher** version 2.10.0.

Fisher failed with this error.

[code]

[2016-10-06 10:59] chrisduong commented on #338
And one more thing, **local plugin**, does not get updated with command `fisher up`, AND when I add new function in my local plugin, it has not been "autoload". So I have to remove and reinstall the local plugin.

[2016-10-06 11:42] jbucaran commented on #338
I am not sure I understand the second comment. `fisher up` updates local plugins. Is that related to the first comment?

[2016-10-07 04:36] chrisduong commented on #338
@jbucaran, as in `fisher --help`, it says it update everything, so I thought so.  By the way, it can be discussed later. Thank you.

[2016-10-07 04:47] jbucaran commented on #338
@chrisduong Sorry. I wrote that in haste. You are correct, `fisher up` updates everything, including local plugins. Feel free to open an issue for each problem you are having.

Also, notice that if you write

[code]

the tilde will not expand to your $HOME directory. I suggest you write instead

[code]

Let me know if that works okay.

[2016-10-07 04:54] chrisduong commented on #338
@jbucaran, Thanks. You are brilliant.

btw, I don't see **local plugin cduong shown up** when running update. There is some "
usage complaints" but I don't know. There is also no config for "log verbose". :(

[code]

[2016-10-12 10:54] askl56 opened #339 "Post install issues"
Hey all,

Just installed fisherman after resetting all of my fish config. Have a strange error I can't seem to find any documentation on.

After installing, when typing in fisher I get:

[code]

So obviously fisher is not recognised, but then I go to try to install something (as an example, Mono):

[code]

Any advice would be welcome

[2016-10-12 11:18] jbucaran commented on #339
Hi @askl56. What fish version are you using and what is your OS?

[2016-10-12 12:31] askl56 commented on #339
Hey @jbucaran

Fish version:

[code]

El Capitan most recent update.

Cheers

[2016-10-12 13:16] askl56 commented on #339
[code]

Ran that command, but with same result.

Config.fish:

[code]

[2016-10-12 13:41] jbucaran commented on #339
@askl56 What about commenting out everything in your config.fish and trying one more time?

Again, just in case.

If you want live assistance please [join us](https://fisherman-wharf.herokuapp.com/) on slack.

[2016-10-12 13:48] jbucaran commented on #339
I wonder is `fisher_cmd_name` is not getting properly set. Can you try

[code]

and post the result?

[2016-10-12 14:10] askl56 commented on #339
@jbucaran on Slack now, no response from that command

[2016-10-12 17:41] jbucaran commented on #339
@askl56 Fixed by reinstalling awk via brew.

[2016-10-12 17:41] #339 closed

[2016-10-13 07:09] pkpowell commented on #337
or any git server. I'd love to be able to use fisherman with my 'gogs' install.

[2016-10-13 08:55] jbucaran commented on #337
@pkpowell For WIW, this feature request is to expand gitlab:Rush/foo to https://gitlab.com/Rush/foo.git.

In the case of a custom gogs server, you just need to use the full URL, so I believe you can already use fisherman with your gogs install.

[2016-10-13 09:27] pkpowell commented on #337
Ah, sorry about that.
I did try using the full URL and got

`fisher gogs@mini.local:phil/fish_settings.git`
`Installing 1 plugin/s`
`! Fetch gogs github.com/fisherman/gogs (mini.local:phil/fish_settings)`
`! There was an error installing gogs or more plugin/s.`
`Try using a namespace before the plugin name: owner/gogs`

 http:// gives a similar error

`fisher http://mini.local:3210/phil/fish_setti

[2016-10-13 10:46] jbucaran commented on #337
@pkpowell Ouch! 😅

Yes, kind of. Fisherman thinks this is _not_ an URL, so it adds github.com/ to it.

Is not a URL pattern fisherman knows yet. You should be able to get away with an http/s like URL for the moment.

[2016-10-13 19:18] pkpowell commented on #337
So I stuck `case http://\*` into the switch statement around line 557, and the URL now looks fine (no github insert), but I still get the same error:

`fisher http://mini.local:3210/phil/fish_settings.git`
`Installing 1 plugin/s?`
`! Fetch fish_settings http://mini.local:3210/phil/fish_settings`
`! There was an error installing fish_settings or more plugin/s.`
`Try using a namespace before the plu

[2016-10-14 04:15] jbucaran commented on #337
@pkpowell I will look into why using your auth in the URL fails when 2.11 is ready.

For GitHub we got:

[code]

but that does not help you I know.

Out of curiosity, have you tried installing a plugin from one of your servers that does not require auth?

[2016-10-14 08:27] pkpowell commented on #337
yep, that worked!
Weirdly it now seems that all my repos are open (no biggie as the server's not publically accessible) - will pass that on to the gogs people.
Any chance `case http://\*` will make it's way into the repo so it's still there after I update?
Cheers & thanks

[2016-10-14 09:42] jbucaran commented on #337
@pkpowell Right, we don't check for `case http://\*`, but we could, no probs.

[2016-10-14 12:05] pkpowell commented on #337
awesome! thanks

[2016-10-15 05:35] jbucaran commented on #313
I could not find a simple way to use >&2 and still be able to assign the stdout or stderr channels to variables like in:

[code]

[2016-10-15 05:35] #313 closed

[2016-10-15 05:37] jbucaran commented on #338
@chrisduong By the way what is your OS?

[code]

[2016-10-15 05:41] jbucaran commented on #322
@Perlence Sorry for the delay with this issue. What is your current status on this?

[2016-10-15 06:15] jbucaran commented on #332
@narqo Sorry for the delay with this issue.

Plugins you install with fisherman are downloaded to `$fisher_config`.

You can use `$fish_path` to customize the location where the downloaded plugins are installed to.

Installing a plugin means traversing the downloaded git repo's directory and copying relevant files to a location that will be automatically picked up by fish.

fish will automatically

[2016-10-15 06:15] #332 closed

[2016-10-15 06:29] jbucaran commented on #338
I believe

[code]

fixes the issue

please create new issues for other problems you are having to track this stuff easily. Let's catch all those bugs :)

[2016-10-15 06:29] #338 closed

[2016-10-15 06:36] jbucaran commented on #337
@Rush Decided on gitlab.com/Rush/foo or bitbucket.org/Rush/foo for ease of implementation.

[2016-10-15 06:36] #337 closed

[2016-10-15 13:00] Perlence commented on #322
@jbucaran Still an issue, even on 2.11.0.

[2016-10-15 13:52] jbucaran commented on #322
@Perlence Thanks for the update. I don't have WSL, but I don't want to give up on this either.

[Here](https://github.com/fisherman/fisherman/blob/master/fisher.fish#L348) is the line where the fishfile is updated:

[code]

If you navigate to that line and add some instrumentation code before or inside the function `__fisher_plugin_get_url_info`, you could help me debugging this guy.

[2016-10-15 17:02] Perlence commented on #322
I guess, the problem comes from `echo > "fisher_file"`. Variable `$config` is empty because:

[code]

[2016-10-15 18:43] jlesquembre opened #340 "Custom functions and fisherman plugin functions are mixed"
First of all, thanks for writing fisherman, it is great!

I have some custom files at `~/.config/fish/functions/`. When I install a fisherman plugin, fisherman pollutes this directory, making difficult to know which files are the custom ones and which ones belong to the plugins. I want to keep my custom files and the plugin files separately.
It looks like that I'm not the only one thinking that th

[2016-10-15 22:11] jbucaran commented on #322
@Perlence Thanks!

[2016-10-16 01:11] jbucaran commented on #340
@jlesquembre Hi there!

$fish_path was created for use cases like yours. Your script is good and is essentially what fish does too in ~/.config/fish at the start of the shell, great.

One of fisherman's features is that it does not rely on your fish configuration to be usable, it's just a function. This means fisherman is configuration agnostic, you don't even need a config.fish if that's your pre

[2016-10-16 01:11] #340 closed

[2016-10-24 00:57] dideler opened #341 "How to add plugins to remote list?"
I'm really excited to see how far fisherman has come. It does a great job representing the ethos of fish and its design laws. So thank you and well done.

I noticed that `ls-remote` only shows plugins that are under the GitHub org for fisherman or oh-my-fish.

How can we, or what is the proposed way, to include community plugins?

If this is still undecided, some ideas to kickstart discussion:
- R

[2016-10-24 01:36] jbucaran commented on #341
@dideler We would need to host the plugin under the fisherman or omf organization or create a new organization and add its URL to the list of registries fisherman knows about.

In fisherman there is the concept of "registries", essentially GitHub org URLs, and we know two at the moment:

* https://github.com/oh-my-fish
* https://github.com/fisherman

[2016-10-24 02:25] dideler opened #342 "Including test dependencies in fishfile"
When a plugin contains tests that depend on other plugins such as fishtape and mock, should those dependencies be specified in the fishfile?

For distribution, it doesn't seem necessary because fisherman doesn't run tests after installing a plugin. For development however, it would help to include such dependencies, but I wouldn't want them to bloat user installation of the plugin.

Should there b

[2016-10-24 11:20] Perlence opened #343 "Symlinked key bindings"
Installing new plugin with key bindings breaks symlinked `~/.config/fish/functions/fish_user_key_bindings.fish`, i.e. it creates a new file in place of symlink. Is this expected behavior, and if so, where should I store my own version controlled key bindings?

[2016-10-26 13:30] nagromc commented on #335
@chamini2 Yes, it is quite confusing, but you have to understand `$fish_path` as seen by `fisherman`. The `fisher.fish` script uses `$fish_path` to target the default `fish` directory to make it work out-of-the-box. But as pointed out earlier, you can change `$fish_path` to another path to prevent `fisherman` from polluting your `fish` directory (`~/.config/fish` by default).

For instance, I set

[2016-10-27 00:19] tylerbenson commented on #324
Sorry for the delayed response... I have version `2.2.0`.  I'll try again after upgrading.

[2016-10-27 02:23] jbucaran commented on #335
@chamini2 Sorry for the confusion, but given that it targets the fish directory and not the fisherman directory, that's the best name we came up with. Anyway, it won't mess with any other fish stuff.

I also have little to add to @nagromc's answer.

Cheers.

[2016-10-27 09:09] jbucaran commented on #341
Sure, then your option is to create a new org with your packages and teach the URL to fisherman.

[2016-10-27 09:09] #341 closed

[2016-10-27 09:14] jbucaran commented on #342
@dideler

I'd say no.

Exactly.

Maybe. If you are testing, you already have fishtape anyway. The other plugin you could possibly want that end users don't care about is mock, so I'd find easier to have mock integrated with fishtape.

[2016-10-27 09:16] jbucaran commented on #322
@Perlence Hi. Did you open the issue on the WSL tracker? I haven't seen any cross-referenced issues, so I'll assume you are busy.

Please reopen if you got any news :)

[2016-10-27 09:16] #322 closed

[2016-10-27 09:18] jbucaran commented on #343
That's not the expected behavior. IIRC what it does is to merge your existing key bindings with the plugin's ones, _that's_ the expected behavior.

[2016-10-27 11:27] Perlence commented on #343
Were you able to reproduce the problem? Can I do something to help here?

[2016-10-27 11:42] jbucaran commented on #343
@Perlence I think I get it now. Your fish_user_key_bindings is a symlink right?

This is a bug then. 😅

[2016-10-27 11:45] Perlence commented on #343
Yes, my fish_user_key_bindings is a symlink, that's right.

[2016-10-27 13:21] Perlence commented on #322
@jbucaran Hey, I opened the issue https://github.com/Microsoft/BashOnWindows/issues/1210, so we can only wait while folks at Microsoft figure it out.

[2016-11-04 08:12] nagromc opened #344 "Add requirements in README.md"
Fisherman seems to require [`bc`](https://packages.debian.org/jessie/bc):

[code]

It may be a good idea to add the requirement installation to README.md for every system (`apt-get` for Debian, `brew` for macOS, etc.)

Related issue: https://github.com/fisherman/fisherman/issues/113#issuecomment-187968096

[2016-11-04 09:07] seagle0128 opened #345 "error message in startup screen"
I am using fish 2.3 + fisherman in cygwin on Windows 7. Recently I upgraded fisherman and z plugin, and encountered this error while starting fish shell every time. Please check.

[code]

[2016-11-04 10:56] jbucaran commented on #345
@seagle0128 Hey! This is an issue with the z plugin, so let's track it over there instead.

https://github.com/fisherman/z/issues/24

[2016-11-04 10:56] #345 closed

[2016-11-04 10:57] jbucaran commented on #344
@nagromc

Another idea, let's get rid of bc in favor of awk. Awk is definitely required, so it makes sense.

[2016-11-04 11:03] jbucaran commented on #344
@nagromc

Another idea, let's get rid of bc in favor of awk. Awk is definitely required, so it would make sense.

[2016-11-04 12:56] nagromc commented on #344
Well, do you mean I just need `awk` to be installed on the system, or it's just a memo for you?

At the moment, I do have `awk` pre-installed on my system:

[code]

Actually, I've no idea why `bc` is needed.

[2016-11-04 13:37] jbucaran commented on #344
@nagromc Sorry for the confusion. What I am saying is I'll cut a new release removing any incidence of `bc` with a functional equivalent using awk. This way fisherman is only dependent in awk.

[2016-11-04 13:45] nagromc commented on #344
Great! So I let you close this issue whenever you find it appropriate. To me, it is a now a known bug and I know you'll fix it soon.

Thanks.

[2016-11-05 02:28] aristidesfl opened #347 "git.io/fisher-up-me 404 not-found"
http://git.io/fisher-up-me

[2016-11-05 02:36] jbucaran commented on #347
@aristidesfl Unfortunately the link is not available anymore. I think it may be somewhere buried in the fisherman's Slack history.

It's been more than half a year since it was relevant though. What problem are you having?

[2016-11-05 03:41] aristidesfl commented on #347
[code]

[2016-11-05 03:55] jbucaran commented on #347
@aristidesfl Current version is 2.10.0! Before you try to update, remove fisherman $fisher_home and $fisher_config, and remove whatever mention to fisherman from your config.fish.

Then install using the procedure in the README and you should be okay.

[2016-11-05 05:07] aristidesfl commented on #347
It works, thanks!

[2016-11-05 05:07] #347 closed

[2016-11-06 14:40] laughedelic opened #348 "Can't change main/right prompt independently"
See https://github.com/fisherman/index/pull/86

[2016-11-06 14:41] maxelewis commented on #348
ok.   contact me here : emma45314.@gmail.com

On 6 November 2016 at 20:40, Alexey Alekhin <notifications@github.com>
wrote:

[2016-11-06 16:21] jbucaran commented on #348
@laughedelic Thanks.

[2016-11-07 12:19] cmarqu opened #349 "Make onboarding even easier"
Hi,

fresh fish and fisherman user here. Both fish+fisherman work nicely out of the box (thanks very much!). However, there is one thing that could be improved IMO.

Here is my story:
* installed fish, played around with ``fish_config`` and customized color theme and prompt, also set my terminal's background color
* discovered fisherman, installed it without problem, liked the way it provided me w

[2016-11-07 14:05] jbucaran commented on #349
@cmarqu Hi there. That's possible, but first let me clarify something.

Did you try uninstalling the plugin?

[code]

That should restore your prompt to whatever it was before.

If that's not the actual behavior, we have a bug then.

[2016-11-07 17:35] cmarqu commented on #349
When I do ``fisher uninstall mono``, the mono prompt is gone, but fish is now running with a different prompt (is this the default one?: ``maq3rt@rt-x1su11-4 ~/tools/bin>``). When I then exit fish and start it again, *then* I have my own custom prompt back.

[2016-11-08 01:17] jbucaran commented on #349
@cmarqu Thanks! I will try to repro this and get back to you.

[2016-11-14 17:50] patresi opened #350 "Allow using a GitHub API token to allow greater number of API requests"
Using fisher in a corporate environment is almost impossible because GitHub blocks requests to the API originating from the same IP.

Brew gets around this by using [an environment variable](https://github.com/Homebrew/brew/blob/7d31a70373edae4d8e78d91a4cbc05324bebc3ba/Library/Homebrew/manpages/brew.1.md.erb#L181:L186). I'm proposing that something like this is implemented for fisher

[2016-11-14 22:28] jbucaran commented on #350
@patresi Good news! You can export the GITHUB_USER and GITHUB_TOKEN environment variables, to prevent GitHub's search API from rejecting anonymous requests.

[code]

[2016-11-14 22:28] #350 closed

[2016-11-15 18:17] corysimmons commented on #186
Everyone still having problems:

Replace

[code]

with

[code]

Per https://github.com/rnorth/bobthefish/commit/ba3b165371ff90ef916ac008a25f60f62f56c84a

[2016-11-28 15:16] orefalo opened #353 "How to contribute a new plugin?"
Send email, no answers so far... how does one contribute a new plugin?

[2016-11-28 15:28] jbucaran commented on #353
@orefalo Hi there! I No one has been monitoring that email IIRC. Thanks for reminding me too.

If you'd like to publish the plugin, so that it is available to everyone when running `fisher ls-remote`, you are welcome to join the organization and create the repo/s.

You are also welcome to join <http://join.fisherman.sh>.

Cheers!

[2016-11-28 15:28] #353 closed

[2016-11-29 06:57] jethrokuan opened #354 "files in conf.d get sourced twice"
Does fisherman handle conf.d files in a different way from vanilla fish?

I'm trying to add a warning to the `fzf` plugin, but it seems that the warning gets printed out twice.

In `conf.d/__fzf_warnings.fish`:

[code]
results in:

[code]

[2016-11-29 07:01] jbucaran commented on #354
@jethrokuan What fzf branch?

[2016-11-29 07:01] jethrokuan commented on #354
@jbucaran have yet to push it up, will give you one in a sec.

[2016-11-29 07:03] jethrokuan commented on #354
https://github.com/fisherman/fzf/tree/dev/keybindings

[2016-11-29 07:14] jbucaran commented on #354
@jethrokuan Does it happen on every new shell?

[2016-11-29 07:17] jethrokuan commented on #354
Yes, it does. Ideally I wouldn't need to do this. Rather invasive changes are being made to the keybindings of fzf, and I'd like for current users to know about them (https://github.com/fisherman/fzf/issues/22). Can you think of a better way?

[2016-11-29 07:19] jbucaran commented on #354
@jethrokuan I mean, does the message get printed twice on every new shell?

I can't repro this after installing from /dev/keybindings. It works as expected, that is, it gets printed only once.

Try commenting `__fzf_install` and see what you get. Maybe is something inside `__fzf_install.fish`.

[2016-11-29 07:25] jbucaran commented on #354
@jethrokuan Maybe this is a `await`? I recall it needs to create a subshell to do its thing. The problem could be solved by not using `await` or not bootstraping yourself via conf.d, but lazily, i.e, the first time the user tries to interact with fzf.

[2016-11-29 10:16] jethrokuan commented on #354
@jbucaran yeah, this is likely me spawning another shell instance and printing the output in the current shell. I've decided against the whole warning thing anyway; it caused  troubles for fzf reads.

[2016-11-29 10:16] #354 closed

[2016-12-13 21:27] gyakovlev opened #356 "fisher ls-remote --format"
Hi, running ls-remote --format with empty format argument produces following output

[code]

adding actual format or even = with empty following arg works fine.

[code]

[2016-12-13 22:14] stewarto commented on #356
contact me here:: ana377190.@gmail.com

On 14 December 2016 at 03:27, Georgy Yakovlev <notifications@github.com>
wrote:

[2016-12-14 03:27] jbucaran commented on #356
Thanks @gyakovlev! I was able to reproduce this. What a funny bug.

[2017-01-04 10:31] #342 closed

[2017-01-04 10:39] jbucaran commented on #342
@dideler Just to be clear, just include both deps and dev deps in the fishfile and voila!

[2017-01-05 01:27] jbucaran commented on #349
@cmarqu Hi after a long time. When you uninstall a prompt, fisherman will restore your previous prompt, and if there was not one will use fish default prompt.

How does fisherman know what is your previous prompt? If your previous prompt was in ~/.config/fish/functions/fish_prompt.fish, it will make a copy of that file that it can restore later.

[2017-01-05 01:27] #349 closed

[2017-01-05 15:39] milkypostman opened #357 "Need info on how to develop a plugin locally."
I cannot tell from the docs how one would go about developing a plugin or theme locally. More info would be appreciated.

[2017-01-05 15:49] jbucaran commented on #357
@milkypostman You are right, the README only explains how to use fisherman. A tutorial would serve this project more.

In the meantime, here you go.

**Developing a plugin / theme (it's the same thing) locally**:

* Create directory for my_plugin
[code]

* Edit my_plugin.fish file
[code]

* Install my_plugin
[code]

* Test it works
[code]

<img width="614" alt="screen shot 2017-01-06 at 0 47 09" s

[2017-01-05 15:50] jbucaran commented on #357
<img width="614" alt="screen shot 2017-01-06 at 0 47 09" src="https://cloud.githubusercontent.com/assets/56996/21686733/bc7f7412-d3a9-11e6-8947-5af0d2aefd33.png">

[2017-01-10 03:41] iquabius commented on #357
I have a related question:

I'm starting fresh with Fisherman, and I'm wondering which files should I track with git. I know I should track the `fishfile`, but what about my custom functions, completions, and etc. Placing them at the `completions/` and `functions/` directories under `~/.config/fish/` doesn't seem a good idea, since they are full of Fisherman's stuff.

One idea is to make everythin

[2017-01-10 03:55] jbucaran commented on #357
@iquabius This question does not have a clear-cut answer, but I can tell you how I do it.

Make your custom functions, themes and snippets into plugins. You can then publish those plugins and share them with everyone else.

If sharing is not an option, turn them into local plugins. Like you said, create a directory, anywhere is fine: ~/Code/fish and put each one of your local plugins in it.

What

[2017-01-10 06:06] iquabius commented on #357
It sure helps. Thank you!

[2017-01-18 04:05] jbucaran commented on #344
Hi @nagromc. I'm sorry it has taken me forever to answer to this issue properly. `bc` is not really used anywhere in fisherman. But I know that fish's native `math` function uses `bc` under the hood. Do you still have this problem?

[2017-01-18 07:45] nagromc commented on #344
That's okay @jbucaran Don't worry about that 😉

You seem to be right. `bc` is needed by `fish`:

[code]

Those are the logs from a "real" Debian Jessie 8.7. I think my mistake comes from using [Raspbian](https://www.raspbian.org/) where I installed `fish` manually -- the version I needed not being available on the repo at the moment I stumbled upon the issue.

Thanks for your time.

[2017-01-18 07:45] #344 closed

[2017-01-31 08:32] hemedani opened #358 "fnm forget installed node after reopn"
I'm install node with FNM after that throw this text on terminal :
[code]

After close an reopen the terminal the node version i installed do not remember in terminal and I should type `fnm use 9.6.4` every-time I open a terminal or tab.

with `nvm` I have the same issue

[2017-01-31 08:35] FabioAntunes commented on #358
Could you type `fish -v` on your terminal and tell us which fish shell version you are using?

[2017-01-31 08:36] hemedani commented on #358
fish, version 2.2.0

[2017-01-31 08:42] jbucaran commented on #358
@hemedani What version of fisherman are you using?

[2017-01-31 08:44] hemedani commented on #358
fisherman version 2.11.0 ~/.config/fish/functions/fisher.fish

[2017-01-31 08:57] jbucaran commented on #358
@hemedani fisherman ought to work with fish 2.2, so this may be a problem with fnm.

Can you update fish? 2.2 is pretty old :)

[2017-01-31 11:32] hemedani commented on #358
fixed with
fish, version 2.4.0

many tanks

[2017-01-31 11:36] FabioAntunes commented on #358
@jbucaran So it seems fish 2.2.0 doesn't support the -w after the function

[2017-01-31 12:01] jbucaran commented on #358
@hemedani @FabioAntunes

Another case solved!

We need to update fnm to indicate it requires at least fish 2.3.

[2017-01-31 12:01] #358 closed

[2017-02-01 04:39] alexachurch commented on #358
ok
contact me here:: gigi598955.@gmail.com .
don't reply my craiglist mail.

On 31 January 2017 at 14:33, SydAmir <notifications@github.com> wrote:

[2017-02-02 02:17] DjWoolfy commented on #358
Ye, it's fixed with v 2.4.0

[2017-02-03 16:37] predmijat opened #359 "fisher ls error"
Hi,

`fisher ls` returns:
[code]

`fisher ls-remote` is working ok. `fisher up` updated plugins.

`fish -v` - `fish, version 2.5.0`
`fisher -v` - `fisherman version 2.11.0 ~/.config/fish/functions/fisher.fish`

I have some customizations of the theme I'm using (budspencer), some symlinked directories, but it would be kinda hard to give you info on all that :)

If I can provide something specific t

[2017-02-03 16:55] jbucaran commented on #348
Why do you want to change the right prompt independently? Is there a plugin that only uses a right prompt?

[2017-02-03 16:57] #359 closed

[2017-02-03 17:02] aristidesfl commented on #348
fisherman/done was using the right prompt, but now using the post and pre exec hooks

[2017-02-03 17:02] jbucaran commented on #359
@predmijat Fixed! Thanks for reporting.

[2017-02-03 17:04] jbucaran commented on #348
@aristidesfl You mean, only the right prompt, and no (left) fish_prompt.fish file. Correct?

[2017-02-03 17:04] aristidesfl commented on #348
Correct

[2017-02-03 17:05] jbucaran commented on #357
@milkypostman There's still no "official" guide to develop plugins locally, other than what I posted there above, but we'll get there soon. In the meantime, I've been working on a cookbook for fish. Perhaps you'll find that useful.

* https://github.com/jbucaran/fish-shell-cookbook

[2017-02-06 14:51] seemsindie opened #360 "Where do you find plugins?"
Just a simple question, where do you find plugins, do you have some sort of registry or a repo?

[2017-02-06 14:52] sotayamashita commented on #360
Here you are. https://fisherman.github.io/

[2017-02-06 14:55] laughedelic commented on #360
And that search is powered on this index: https://github.com/fisherman/index (where you can add your own plugins). Plus you can just browse the https://github.com/fisherman org.

[2017-02-06 14:55] seemsindie commented on #360
@sotayamashita thanks man

[2017-02-06 14:55] #360 closed

[2017-02-07 10:05] edouard-lopez commented on #357
closing as question has been anwered.

@jbucaran  I created a wiki pages from your post [Developing a plugin or themes locally](https://github.com/fisherman/fisherman/wiki/Developing-a-plugin-or-themes-locally).

[2017-02-07 10:05] #357 closed

[2017-02-07 10:07] jbucaran commented on #357
Thanks @edouard-lopez! 🙏

[2017-02-07 16:20] franciscolourenco opened #361 "Delete old plugin files on fisher update"
If a plugin releases a new version with deleted or renamed files, `fisher update` may result in duplicate files and unexpected functionality from plugins.

Would perhaps be a good idea to clean a plugin's previous files before linking new ones.

[2017-02-07 16:29] jbucaran commented on #361
From conversation https://github.com/fisherman/done/issues/12#issuecomment-278049153.

[2017-02-07 16:30] aristidesfl opened #362 "Snippets 2.3.0+ compatibility"
As an example, `conf.d/` *snippets* were introduced in `fish v2.3.0`.

If plugins start using *snippets*, but the user is still on `v2.2.0` - like a lot of Ubuntu users - the plugin will stop working silently.

Are there any solutions for fisherman to warn the user about incompatibilities like this, or does every plugin need to check the installed fish version and print a warning.

[2017-02-07 16:31] jbucaran commented on #362
I think the title is misleading. What you are asking is for a way to patch users that can't upgrade fish to at least 2.3 correct?

[2017-02-07 16:32] jbucaran commented on #362
Anyway, for snippet support in <=2.2, simply append the following code to your ~/.config/fish/config.fish.

[code]

[2017-02-07 16:35] aristidesfl commented on #362
I presume you can't patch users automatically, in that case its more about making them aware.

[2017-02-07 16:37] jbucaran commented on #362
@aristidesfl We could, but they'd have to run fisherman first. There's no simple way to do it because of how fisherman is first installed in your system. As you may have notice, fisherman has no installer or curl | sh kind of stuff.

So, no code actually runs on behalf of fisherman until the user enters `fisher` and that's the normal behavior.

[2017-02-07 16:41] aristidesfl commented on #362
That sounds better than having each plugin deal with it. A simple warning stating fish is out of date and 2.3.0 is required for some plugins. Fisherman already throws exceptions for fish  <2.2.0.

[2017-02-07 16:54] jbucaran commented on #362
I believe this issue is about snippet support? The way we handle <2.2.0 would be better discussed somewhere else. I'm not too worried about 2.2.2, fish is already 2.5 and counting. Ubuntu better upgrade soon.

[2017-02-07 16:57] aristidesfl commented on #362
The point would be improve the warnings which are being printed for <2.2.0 to include warnings about <2.3.0.

[2017-02-07 16:58] aristidesfl commented on #361
Would this be as simple as doing `fisher uninstall` automatically before performing `fisher install`?

[2017-02-07 17:06] jbucaran commented on #362
I see, right. Fisherman used to work well with 2.2, since it was created around the time (before) 2.3 was released, but I guess it's not so much the case anymore?

Adding warnings for 2.3 seems like a fairly simple change.

Do you want to do it?

[2017-02-07 17:07] jbucaran commented on #361
@aristidesfl 🤔 Maybe, but that'd be unacceptably slow.

[2017-02-07 17:09] aristidesfl commented on #361
Because of the plugins which don't need to be updated?

[2017-02-07 17:10] aristidesfl commented on #362
Sure

[2017-02-07 17:12] jbucaran commented on #361
No, that's okay, you can always specify the name of the plugin/s you want to update.

Because removing the files will take some time, that's why. Probably, not too slow.

[2017-02-10 13:59] aristidesfl opened #363 "Too many blank lines in fisher help"
I'm getting some extra blank lines which I guess are not intended?

fisherman 2.12.0
fish 2.4.0 / 2.5.0

[code]

[2017-02-10 14:01] aristidesfl opened #364 "Document how to install branches"
- [ ] REAME.MD
- [ ] man pages / fisher help

[2017-02-10 14:06] aristidesfl commented on #269
Apologies for reviving this issue. Where was the `@` notation inspired from?
Github seems to use `:`

![screen shot 2017-02-10 at 15 04 37](https://cloud.githubusercontent.com/assets/208149/22829351/746e6560-efa2-11e6-83fa-7be344a548b8.png)

[2017-02-10 14:17] FabioAntunes commented on #269
Be guess would be npm https://docs.npmjs.com/cli/install

[2017-02-10 14:37] jbucaran commented on #269
@aristidesfl We could support `:` too. I don't really have a strong preference since I don't use this feature.

[2017-02-10 14:38] aristidesfl commented on #269
@jbucaran useful to test plugins pull requests no?

[2017-02-10 14:39] jbucaran commented on #363
I couldn't repro this. What Linux are you using?

<img width="1280" alt="screen shot 2017-02-10 at 23 38 16" src="https://cloud.githubusercontent.com/assets/56996/22830490/0755591e-efea-11e6-85a6-bf639a136999.png">

[2017-02-10 14:40] jbucaran commented on #269
@aristidesfl I guess the reason we went with `@` was from:

[2017-02-10 14:44] jbucaran commented on #269
* https://github.com/fisherman/fisherman/blob/master/fisher.fish#L480

This is the regex, can you send a PR?

[2017-02-10 15:01] aristidesfl commented on #363
macOS 10.11.6

[2017-02-10 15:11] jbucaran commented on #363
@laughedelic Can you check too?

[2017-02-10 16:27] laughedelic commented on #363
@jbucaran I have the same as on your screenshot. I'm also on OS X 10.11.6. checked in iTerm2 and Terminal 👌

[2017-02-10 16:28] aristidesfl commented on #362
`function __fisher_log` doesn't work in fish <2.2.0 so the warning message is currently broken. Should we replace __fisher_log with a simple echo  in this case? https://github.com/fisherman/fisherman/blob/master/fisher.fish#L19

[code]

[2017-02-10 16:32] jbucaran commented on #362
@aristidesfl Sounds good to me!

[2017-02-10 16:44] aristidesfl opened #366 "Development instructions"
How install local version? `fisher install ~/local/fisherman` doesn't seem to work.

[2017-02-10 16:48] jbucaran commented on #366
If you mean a plugin, it's in the docs:

[code]

[2017-02-10 16:51] aristidesfl commented on #366
I meant fisherman/fisherman

[2017-02-10 16:54] jbucaran commented on #366
There isn't a preferred way since there are multiple ways you can developer fisherman locally. You can use a softlink, edit the file directly, edit a copy of the file, and `source my/local/fisherman` every time to test changes.

[2017-02-10 17:14] aristidesfl commented on #362
Any special reason the warning suggests using `brew upgrade fish` with `--HEAD`?

[2017-02-10 17:27] jbucaran commented on #362
@aristidesfl No idea, I really don't know how to use brew other than the basic stuff. What would be a better recommendation?

[2017-02-10 17:32] aristidesfl commented on #362
Don't see a reason to use anything else besides `brew upgrade fish`

[2017-02-10 18:08] jbucaran commented on #362
LGTM

[2017-02-12 17:41] franciscolourenco opened #368 "Unload functions on uninstall"
After uninstalling fisherman/done I get these errors:

[code]

I guess this happens because the functions are still loaded and executed on `fish_prompt` hook, but humanize_duration is no longer available?

[2017-02-12 17:49] jbucaran commented on #368
@aristidesfl

fisherman already erases/unloads functions when you uninstall a plugin:
* https://github.com/fisherman/fisherman/blob/master/fisher.fish#L841

In the case of `done` that would be impractical, because (didn't we had this conversation before?) the functions are eagerly loaded inside conf.d/done.fish and fisherman can't guess the names of the functions by looking at the plugin's name `d

[2017-02-12 17:55] aristidesfl commented on #368
Right, makes sense. So this problem was introduced in 2.3.0 and would not occur if functions were not unloaded at all..

[2017-02-12 17:58] jbucaran commented on #368
For the record, I contemplated doing stuff like looking at the environment for functions named like so
[code]

and erase them. Hacky.

[2017-02-12 18:06] aristidesfl commented on #368
Even if imperfect, sounds like an incremental improvement over not unloading anything. What is the probability of unloading a function which doesn't belong to the plugin?

`^_+`

[2017-02-12 18:20] jbucaran commented on #368
Low. The reason I didn't implement this was "lock in", but now in hindsight, why not?

This is _possibly_ just a matter of unloading related names during plugin disable.

[2017-02-15 19:33] aristidesfl commented on #363
Found the problem: `set -x PAGER cat`

This was an experiment to see how necessary `less` is in gui terminals with good and long scroll support.

[2017-02-15 19:33] #363 closed

[2017-02-15 20:15] #362 closed

[2017-02-15 22:51] #364 closed

[2017-02-28 20:00] nathankleyn opened #370 "Fisherman 2.11.0 and 2.12.0 not tagged"
The releases of Fisherman 2.11.0 and 2.12.0 were not tagged in Git. I would like to submit a PR to bump the homebrew tap (https://github.com/fisherman/homebrew-tap) but it's not very nice to do that without the tag (would have to use the commit SHA instead).

AFAICT, the tags should be the following:

* **2.11.0** -> 56e80d2
* **2.12.0** -> ab6442e

[2017-03-01 03:10] gyakovlev commented on #370
hey, thanks for reporting.
I was waiting for someone to do it but realized I have access =)
tagged.

[2017-03-01 03:10] #370 closed

[2017-03-01 03:35] jbucaran commented on #370
@nathankleyn @gyakovlev Thank you! 🙇

[2017-03-02 23:47] mrak opened #371 "Duplicate entries in fishfile"
I use my own set of fish scripts as a plugin, so I have this in my `fishfile`:

[code]

For convenience, I have set the origin push url to be `git@github.com:mrak/mrak.fish` so that I can my local edits and push them. I have also tried, instead of modifying the origin push url, adding a new remote as `upstream`

When I run `fisher up`, it adds the following to my fishfile:

[code]

[code]

It woul

[2017-03-03 03:07] jbucaran commented on #371
@mrak Oh, I vaguely remember seeing something like this, but I'm not sure. What version are you running?

[2017-03-03 04:12] mrak commented on #371
[code]

[2017-03-03 04:18] jbucaran commented on #371
@mrak What's mrak/mrak.fish by the way? Don't you mean only `mrak`?

[2017-03-03 05:12] jbucaran commented on #371
@mrak It seems fisherman is doing the wrong thing, because your fishfile should not have any duplicates, on the other hand `mrak/mrak.fish` seems like a bad name, since fish already uses the `.fish` extension for script files, but `mrak/mrak.fish` is actually a directory.

I think @laughedelic was having the same issue?

[2017-03-03 05:16] jbucaran commented on #371
Maybe related?
* https://github.com/fisherman/fisherman/issues/242

[2017-03-03 06:23] mrak commented on #371
ah, `mrak/mrak.fish` is just my github repo with my fish configuration: https://github.com/mrak/mrak.fish

[2017-03-03 06:32] jbucaran commented on #371
@mrak Could you confirm this behavior persists if you rename mrak.fish to not end in .fish?

[2017-03-03 07:06] mrak commented on #371
I created a simple fish plugin at https://github.com/mrak/fisherman_371, but you could the following with any github fish plugin you create.

[code]

[2017-03-03 07:36] jbucaran commented on #371
Thanks a lot @mrak!

I think a good place to start investigating is here:
* https://github.com/fisherman/fisherman/blob/master/fisher.fish#L1640

We're reading .git/config and parsing the URL here:
* https://github.com/fisherman/fisherman/blob/master/fisher.fish#L1651

Perhaps we need to change this regex `/https:\/\/gist/`, or use git to query the right info.

Would you like to hack on this?

[2017-03-03 16:50] mrak commented on #371
I can take a look. I'm pretty sure it's the `awk` script iterating over all `url` lines in the `.git/config` instead of just finding the one for `origin`.

Is there a way to prevent fisherman from updating itself every time you run `fisher up`? It always blows away any local changes I do

[2017-03-03 17:05] jbucaran commented on #371
@mrak There is no conventional way. I simply comment it out during local development, but I am open to more sophisticated workflows!

I think installing fisherman _with_ fisherman locally could work.

Please do 🙏. I noticed you were not in the org, so I sent you an invite.

[2017-03-03 17:06] jbucaran commented on #371
@aristidesfl Could you have a look as well?

[2017-03-03 17:41] aristidesfl commented on #371
I've been just using `source fisher.fish` when working on plugins. Is there an even simpler way?

[2017-03-03 17:42] jbucaran commented on #371
@mrak Does that work for you?

[2017-03-03 17:45] mrak commented on #371
for now I'm using `fisher up <plugin name>` which appears to skip the self-update

[2017-03-03 17:46] jbucaran commented on #371
@mrak Ah, yup, I forgot about that one. 👍

[2017-03-03 17:59] mrak commented on #371
addressed by #372

[2017-03-03 17:59] #371 closed

[2017-03-19 21:05] mgee opened #373 "Installation should also initialize submodules"
If a plugin or prompt theme contains a submodule it is currently not initialized by fisherman upon installation. The initialization of the submodule has to be done manually in the repository cloned by fisherman.

It would be nice if fisherman automatically initializes the submodules or clones the plugin/prompt with the git option `--recursive`.

An example of an affected prompt is [slimfish](https

[2017-03-20 00:13] jbucaran commented on #373
Hi @mgee, fisherman already has a dependency mechanism based in fishfiles.

But, should we introduce yet another way?

[2017-03-20 05:34] mgee commented on #373
Hi @jbucaran I was using a submodule and not a dependency since the submodule refers to a python script and not a fish plugin. But maybe that distinction is unnecessary since fisherman can handle this as well.

I just tested it with a dependency in the fishfile instead of a submodule and it works very well. This is an even better solution. Thanks!

[2017-03-20 05:34] #373 closed

[2017-03-20 09:32] jbucaran commented on #373
@mgee Glad it works out for you. Keep us posted! 👍

[2017-03-23 16:51] michaeltarleton commented on #186
The above bgbthefish fix is a package specific fix but to fix your whole RBENV system see the following:

So it looks like after you install RBENV there is no ~/.rbenv/version file. To create it just run `rbenv global system` . Then that file will be created and everything will work.

To change the version from system just run something like `rbenv global 2.4.1` (of course after you've installed v

[2017-03-28 14:01] Nicd opened #374 "FAQ and "Why?" links on homepage are dead"
See title. The domains' DNS is not working.

[2017-03-28 14:45] jbucaran commented on #374
https://github.com/fisherman/fisherman.github.io/commit/21296b72964013d14aa70f232b9f7970dffbbdaa

👋 Thanks!

[2017-03-28 14:45] #374 closed

[2017-04-03 03:09] simonsmh opened #375 "Error when running fisherman in termux"
`An error occurred while redirecting file '/dev/stderr'
open: unknown error (errno was 13)`

[2017-04-03 04:26] jbucaran commented on #375
@simonsmh Hi, I'm pretty sure this could be fixed if we replace `/dev/stderr` with `2>&1` or whatever was the right syntax, I can't always remember off the top of my head 😄.

PR much welcome! 👍

[2017-04-04 13:38] plgruener opened #376 "(empty) fishfile necessary to install own plugins ?"
I wanted to move my custom fish-aliases to a local plugin, so I created a directory

my-aliases/
+ functions/
    + alias1.fish
    + alias2.fish

Now running `fisher my-aliases` threw 'no plugins to install or dependencies missing'.
However, adding an empty `fishfile` to my-aliases solved this.
Is this intended ? (there are plugins without fishfile) Or is there a better way to manage my custom fu

[2017-04-04 14:26] jbucaran commented on #376
@plgruener What's inside alias1.fish and alias2.fish?

Can you share the contents inside those files?

[2017-04-04 14:33] plgruener commented on #376
sure, most of them are very simple, like
[code]
and
[code]

[2017-04-04 14:35] jbucaran commented on #376
@plgruener This is odd then, those files looks correct; the file name matches the function name. I don't understand what is the problem?

How I can I repro this?

[2017-04-06 13:20] plgruener commented on #376
I'm sorry, I could not reproduce this myself; when I try now everything works as it should. Thanks for your help :)

[2017-04-06 13:20] #376 closed

[2017-04-06 13:21] jbucaran commented on #376
@plgruener No probs, if you encounter this behavior again, let us know! 👋

[2017-04-08 09:10] martinffx opened #377 "How do you backup and restore your plugins?"
Is there a to backup and restore your fisherman plugins? kinda like bundler or pip but for all your neat fish plugins.

So you can keep your shell aligned across environments?

[2017-04-08 11:51] jbucaran commented on #377
@martinffx You could commit your [fishfile](https://github.com/fisherman/fisherman#what-is-a-fishfile-and-how-do-i-use-it) to your dotfiles and run `fisher` or `fisher install` to get everything in it installed again on a fresh system.

[2017-04-12 22:32] balupton opened #378 "color choices make reading text hard on white/light themes"
pretty much impossible for me to read that `1` and `OK`

<img width="283" alt="screen shot 2017-04-13 at 6 31 18 am" src="https://cloud.githubusercontent.com/assets/61148/24982212/d88baa4e-2012-11e7-9f0c-8e8ac91bf1c6.png">

proposed change:

- if a dark color was used as a background, also set the color of the text to a light color

currently it seems it is assumed the text color is light (that th

[2017-04-13 01:49] jbucaran commented on #378
Is there a way to query the console for this info?

[2017-04-13 10:05] edouard-lopez commented on #378
It's a bit better with [`pure` theme](https://github.com/rafaelrinaldi/pure) (I'm a maintainer) with [base16-konsole](https://github.com/cskeeters/base16-konsole/) but it's still difficult to read:
![selection_039](https://cloud.githubusercontent.com/assets/1212392/25000232/d4aa5050-2040-11e7-9969-054fcb6c4986.png)

[2017-04-13 10:43] jbucaran commented on #378
@balupton Unfortunately this is difficult to solve because **AFIK** there is not way to query the console/terminal to tell you the current background color.

[2017-04-13 12:09] balupton commented on #378
from my understanding, the 1st (index 0) ansi colour is meant to be dark and the 8th (index 7) ansi colour is meant to light - however dark themes inverse this

[2017-04-14 04:49] Markcial commented on #378
Actually there is a way to check all the session properties, but it is very hacky, is via configuration settings for linux and via osascript for mac.

I have to still dig on a linux box for the linux solution, but for mac would be with this applescript if the console is the iterm2

[code]

and this one if is a standard terminal

[code]

[2017-04-14 05:04] jbucaran commented on #378
@Markcial This is incredible Mark!

[2017-04-14 06:36] balupton commented on #378
Seems the answers on https://unix.stackexchange.com/q/245378/50703 are also a good resource

[2017-04-14 07:12] Markcial commented on #378
Maybe we should create a plugin for this.

We can add ways to dig for the foreground and background saturations and set environment vars to:
  * LIGHT_FG_SATURATION: when the font color has a saturation lower than the 40%
  * MID_FG_SATURATION: when the font color has a saturation in between 40% and 60%
  * HIGH_FG_SATURATION: when the font color has a saturation higher than the 60%
  * LIGHT_BG_S

[2017-04-14 07:36] balupton commented on #378
whatever you guys think is best

[2017-04-14 07:50] jbucaran commented on #378
@balupton My console's background is white too, so I could certainly use this. My current theme is https://github.com/fisherman/boss btw.

[2017-04-16 23:36] lee2sman opened #379 "error after running fish_prompt"
I launched ```fish_prompt``` and chose a different prompt. THen immediately after I get these errors. (note, for below, i ran ```fisher -v``` which is how first line came up.

any suggestions for what to do? uninstall fisher? fisherman? i tried reinstalling but still got stuck.

[code]

[2017-04-16 23:39] lee2sman commented on #379
if i remove fish_prompt.fish from my functions then instead i get the following error:

[code]

[2017-04-16 23:52] jbucaran commented on #379
@lee2sman Try uninstalling all plugins `fisher ls | fisher rm`, but if you could make a step by step sequence that would help repro this, it would be helpful.

I was just able to install a theme, use fish_prompt to switch to another theme, then install another theme on top, uninstall it, and it was okay.

[2017-04-16 23:57] lee2sman commented on #379
Thanks for getting back to me so fast.

running ```fisher ls | fisher rm``` unfortunately doesn't solve the issue. I still get the following error message:
[code]

This whole thing started after i launched ```fish_prompt```. After I had selected a prompt, that's when the errors started.

[2017-04-17 00:00] lee2sman commented on #379
step by step to reproduce this (sorry i can't be more detailed)

1. already have been using fisherman for a year or two. so far so good!
2. today i ran ```fish_prompt```, chose a prompt in the gui/browser, and saved, and quit. then got the following error.

you should know that i keep my fish functions in a dotfiles, which i'm wondering if that's related to getting these errors.

[2017-04-17 00:06] jbucaran commented on #379
@lee2sman It seems fish_prompt is "corrupted" or fisherman can't get at it for some reason. After you run `fisher ls | fisher rm` all plugins should have been uninstalled, but it seems that didn't happen.

What's inside your fishfile?

[2017-04-17 00:08] lee2sman commented on #379
Hmmm.
Here's what's in my fishfile.

[code]

[2017-04-17 00:11] jbucaran commented on #379
@lee2sman Wow, it seems you're being hit by the rename from git-function-name to git_function_name that happened more than a year ago! 😲

Let's remove:

[code]

from your fishfile first.

[2017-04-17 00:12] lee2sman commented on #379
you're right. my fish_prompt is wiped out. i just checked, empty file.

[2017-04-17 00:13] lee2sman commented on #379
i removed the git-* things from fishfile

[2017-04-17 00:15] jbucaran commented on #379
@lee2sman BTW, if your fish_prompt is empty, then previous fish_prompt function must be loaded in the session, so try opening a new session.

[2017-04-17 00:18] lee2sman commented on #379
relaunching doesn't help.

how do i totally remove fisherman? and then reinstall?

[2017-04-17 00:20] lee2sman commented on #379
oh i see, relaunching does work. it loads the following in my fish_prompt.fish

[code]

[2017-04-17 00:21] jbucaran commented on #379
If you want to completely remove fisherman, try `fisher self-uninstall`, it's fun!

But don't think that will solve the problem.

[2017-04-17 00:22] lee2sman commented on #379
haha, it is fun. but you're right, i still get the exact same errors.

[2017-04-17 00:26] lee2sman commented on #379
for fun, i also uninstalled fish and reinstalled. at startup i get these errors:

[code]
and then the whole error message above that starts with ```fish: Unknown command 'git_branch_name'```

[2017-04-17 00:30] jbucaran commented on #379
You said in https://github.com/fisherman/fisherman/issues/379#issuecomment-294382714 that the contents of your fish_prompt is that, so the problem is obviously fish is running the wrong fish_prompt.

What's the contents inside ~/.config/fish/functions?

[2017-04-17 00:31] jbucaran commented on #379
@lee2sman What's in /Users/2sman/.local/share/fisherman/config.fish?

[2017-04-17 00:33] lee2sman commented on #379
very ineresting, there is no config.fish there. a guess, maybe i was symlinking from dotfiles and that got removed?

for previous question, all my functions are there in the ~/.config/fish/functions directory.

thanks for sticking with me! :)

[2017-04-17 00:35] lee2sman commented on #379
[here](https://github.com/lee2sman/dotfiles/blob/master/fish/config.fish)'s my dotfiles' config.fish

[2017-04-17 00:37] jbucaran commented on #379
@lee2sman

Are you completely sure this is good?

[code]

I ask because fisherman _requires no configuration_, but it used to (like 2 years ago) so if you are an old-timer you may have never heard about it.

[2017-04-17 00:41] lee2sman commented on #379
i've been using fish maybe 2 years or more.
hmmm.
i just commented out those two lines and now my terminal hangs on launch.

[2017-04-17 00:43] jbucaran commented on #379
BTW there's a Slack room, which you are welcome to join for real-time support! :P

[2017-04-17 00:43] lee2sman commented on #379
haha, that would be great. where is that?

[2017-04-17 00:44] jbucaran commented on #379
https://fisherman-wharf.herokuapp.com/

[2017-04-17 01:47] #379 closed

[2017-04-26 17:52] jbucaran commented on #377
@martinffx Did the above solve your issue?

[2017-05-01 21:46] tomkel opened #380 "If dotfiles are in a git repo, very bad things happen."
When using fisherman with GNU Stow, which is a bunch of symlinks from `~/.config` to the stow git repo, the fishfile references to the plugins get replaced. Here is an example when running `fisher up`.

[code]

Also, some unstaged/uncommitted changes in my dotfiles local git repo were erased after i ran `fisher rm plugin`. Erasing unstaged changes is a very serious issue. This may be due to the gi

[2017-05-02 12:08] Fuco1 opened #381 "Persist the results of dependency resolution"
Hi.

It is a very good practice to keep builds reproducible: if I version my config and install it on another system, I want to get the same result.

Right now, because fisherman just pulls the master if I don't specify the versions I can get a broken setup or config in an unknown state.

You can read more here: https://blog.ometer.com/2017/01/10/dear-package-managers-dependency-resolution-results

[2017-05-02 12:29] jbucaran commented on #381
Yes. This would be nice to have.

[2017-05-04 10:28] christianrondeau commented on #375
I started looking at this, and in general using `>&2` works... But there's this one that is bugging me:

    set -g __fisher_stderr /dev/stderr

Since I'm using redirection rather than a "file", I would need to replace that everywhere, but why does this exists in the first place?

Otherwise, what *should* be there? I can't use `&2` here.

An idea? Thanks!

[2017-05-04 14:24] jbucaran commented on #375
@christianrondeau This exists because then it's very easy to assign /dev/null to `__fisher_stderr` to mute the channel for one or another reason.

I don't use termux, so I can't test this easily.

[2017-05-05 02:49] christianrondeau commented on #375
Ok, I'll try to find a way to get the `/dev/stderr` real file descriptor, since there seems to be no redirection for this in termux (but `&2` does work). I'll fiddle around, but I'm afraid even though it's simple, it might be a pretty "big" change. I'll get back to you on that in a few weeks.

[2017-05-05 06:07] jbucaran commented on #375
@christianrondeau I would not mind changing everything to use fish 1 and 2 descriptors at all and remove all the /dev/stderr, /dev/null, etc., as long as we don't break things! 😅

[2017-05-05 15:04] christianrondeau commented on #375
Ok I made a proof of concept (there's a few todo in there), I'm going on vacation and I'm just trying out fish shell, so if someone wants to take over please do :)

https://github.com/christianrondeau/fisherman/compare/master...christianrondeau:termux

Otherwise I'll try to finish this PR sometime in the future. If you have feedback on the direction I'm taking, let me know :)

[2017-05-09 13:02] bertdecock opened #382 "Downloading plugins gives error (behind Proxy)"
I'm running fish and fisher in Cygwin behind a proxy, and when I try to install a plugin (z for example), I get the following response.
[code]
I set the HTTP_PROXY and HTTPS_PROXY env variables.

Any idea if this can be solved, or if it even is related to being behind a proxy?

Thanks,
Bert

[2017-05-09 15:02] jbucaran commented on #382
@bertdecock 🤔 I'm not sure if it has anything to do with that, but I bet it is.

How do HTTP_PROXY and HTTPS_PROXY work?

[2017-05-10 07:30] bertdecock commented on #382
Shell commands like curl can use these environment variables to use proxy settings. As far as I know there are 4 of these variables: HTTP_PROXY, HTTPS_PROXY, FTP_PROXY and ALL_PROXY. In my environment, curl didn't work until I set ALL_PROXY to the correct value.

I've played around with them a bit they don't seem to impact the result I get with Fisherman.

[2017-05-10 09:35] jbucaran commented on #382
Thanks @bertdecock! If you are completely sure the problem is in your environment, feel free to close, otherwise leave it open and do report back if you find out anything else.

[2017-05-11 16:21] christianrondeau commented on #375
Hi! Quick update (yes, I'm coding on vacation, who would have thought? :P ) - I finished the branch and it's pretty much ready, but I don't have a Linux machine to test on, so even though it looks like it's working fine in Termux, there may be edge cases I have missed:

* I use $PREFIX to determine if termux is running. I'm sure there's a better way (like checking for /dev/stderr existence) but I'

[2017-05-11 23:02] jbucaran commented on #375
@christianrondeau Thanks! Next week is always good and yes, please, go ahead and create a PR when you can or better, when you get back! Enjoy your holidays. 👋

[2017-05-15 12:56] #382 closed

[2017-05-15 19:38] christianrondeau commented on #375
A PR has been created: https://github.com/fisherman/fisherman/pull/383

[2017-05-18 06:39] bertdecock commented on #382
Update: the issue is related to Cygwin. I use a virtual machine Linux now with the same proxy setup and fisherman works like a charm there!

[2017-05-18 10:12] jbucaran commented on #382
@b4b4r07 Thanks for the update! 👍

[2017-05-26 17:54] slavaGanzin opened #385 "Feature request: install single file"
Hello thanks for your project.
I want to manage with fisher one file plugins, like:

https://github.com/jakubroztocil/httpie/blob/master/extras/httpie-completion.fish
or
https://github.com/justinmayer/tackle/blob/master/plugins/extract/extract.fish

[2017-05-26 21:19] jbucaran commented on #385
@slavaGanzin Hi. Thanks.

What did you try with and what didn't work? Those look fine to me.

[2017-05-26 21:55] slavaGanzin commented on #385
[code]

[2017-05-27 00:09] jbucaran commented on #385
@slavaGanzin This would be a nice feature. 👍

Is not a link to the file, but we can guess the URL in the case of GitHub, parse the name of the file and install it.

[2017-06-05 12:49] imsus opened #386 "Unknown command 'isatty'"
### Environment
**Fish version**: 2.6.0 (install via brew macos sierra 10.12.5)
**Fisherman version**: 2.12.0

### How to Repro:
**Type**: `fisher u`

**Expected**: Fisherman updates all plugins

**Error output**:
[code]

[2017-06-05 13:21] jbucaran commented on #386
Just upgraded to fish 2.6 and tried `fisher u` and all was good.

[2017-06-05 13:21] jbucaran commented on #386
<img width="1280" alt="screen shot 2017-06-05 at 22 20 11" src="https://cloud.githubusercontent.com/assets/56996/26785418/3110722c-4a3d-11e7-9a66-b9f751bcbd04.png">

[2017-06-05 13:23] jbucaran commented on #386
@imsus Please make sure you were not a victim of #241. 😅

[2017-06-05 15:19] imsus commented on #386
Reinstalling fisherman (removing all folders related to fisherman) fix the problem.

[2017-06-05 15:19] #386 closed

[2017-06-09 02:07] #377 closed

[2017-06-09 02:08] #348 closed

[2017-06-09 02:09] jbucaran commented on #343
@Perlence Whoops, deleted a comment by mistake! This issue has been opened for a while, do you think it would be possible for you to send a PR?

[2017-06-09 02:10] jbucaran commented on #380
Hi @tomkel, what do you suggest we do then?

[2017-06-09 02:11] jbucaran commented on #381
@Fuco1 I'd be happy to merge a PR, but I don't really have a critical need for this feature at the moment.

[2017-06-09 02:12] jbucaran commented on #378
@Markcial I am going to close here since I don't think this has a reasonable solution.

[2017-06-09 02:12] #378 closed

[2017-06-09 06:10] Perlence commented on #343
Okay, let's try.

[2017-06-09 08:31] Fuco1 commented on #381
Well, I'm not really great with fish programming.  I tried couple weeks ago briefly to go over the code to see how things work and haven't got very far :/

Maybe I'll give it another shot one day, but we also need to understand that doing this would likely need to result in some breaking UI changes:
y
- running `fisher` would look into the lock file and pull stuff from that, so adding things to `f

[2017-06-09 08:42] jbucaran commented on #381
@Fuco1 Thanks for the useful report.

Fisherman would be much faster if it was written in a real language like go, rust, node.js, etc.
Then we could use .json or .yml for the fishfile instead of the current naive approach.

Perhaps I should consider this again. 🤔

[2017-06-09 09:04] Fuco1 commented on #381
I kind of like the approach of writing the package manager for X in X because that ensures you definitely have X installed if you want to use it :D If we rewrote this in say ruby then people who don't use ruby much (like myself) would moan about having to install ruby just to manage X (fish in this case).

On the other hand, I don't know how high the entry barrier for contributing is in fish, cert

[2017-06-09 09:11] jbucaran commented on #381
Exactly. Also, it's "fair" to the language, or so I felt when I first wrote this.

Noted. Another take is to use a compiled language and distribute a binary.

[2017-06-09 09:12] jbucaran commented on #381
@Fuco1 Oh, how I love to write fish plugin managers. There's also https://github.com/fisherman/fin, which I like more than fisherman, but unfortunately didn't become as popular.

[2017-06-09 18:05] tomkel commented on #380
Is there a way to be explicit about which git repo you want the commands to apply to?

[2017-06-12 05:44] braham-snyder opened #388 "Preventing removal of existing dependencies by installing them again"
Currently, it appears that removing a plugin removes each of its dependencies as well, for each dependency not already installed prior to the installation of the dependent plugin about to be removed. Perhaps, ideally, `install`ing a plugin already installed as a dependency of another plugin could also prevent that dependency from being removed upon removal of the dependent plugin.

This is the cur

[2017-06-12 06:03] jbucaran commented on #388
@braham-snyder Hi. I am not sure I fully get what you are saying (sorry! 😅), but by looking at the console output I think what's happening is that your prompt (specifically your right prompt) depends on last_job_id and if you remove this plugin, the prompt breaks.

Notice that, if you remove a plugin that depends on last_job_id, last_job_id won't get uninstalled along if there's another plugin tha

[2017-06-12 06:05] jbucaran commented on #388
I think I see what you are saying. Instead of complicating the UI, I'd rather make sure `$fisher_dependency_count` works the way it is supposed to work assuming it is buggy.

[2017-06-13 02:35] braham-snyder commented on #388
My apologies, my example almost certainly would have been better had I attempted to just call `last_job_id` manually.

I don't think I'd call `$fisher_dependency_count` buggy, if you're asking that -- to clarify: I'm just thinking it might be useful (though more complicated, as you mention) to allow the "promotion" of installed dependencies ("promotion" as used [here](https://github.com/Homebrew/b

[2017-06-13 02:45] jbucaran commented on #388
@braham-snyder No worries. $fisher_dependency_count must be buggy, otherwise you should not be getting that error after you uninstall fzf.

Installing a prompt that has `last_job_id` adds +1 to `last_job_id` in `$fisher_dependency_count`. +1 from installing fzf and you get 2. Uninstalling fzf, should not have caused fisherman to uninstall `last_job_id` prematurely.

[2017-06-16 15:22] braham-snyder commented on #388
Sorry about that, I believe that was just another flaw in my (quite poor, in retrospect) example: I manually removed `last_job_id` before that excerpt while toying with `fisher`'s dependency management. I really should have chosen a smaller example.

[2017-06-16 15:29] jbucaran commented on #388
@braham-snyder It's cool. Do you have another example?

I understand the feature request (and it also seems relatively simple to implement), but one of the reasons `$fisher_dependency_count` was introduced is so that users don't have to manually update a plugin's internal ref count.

[2017-06-22 03:42] igrep opened #389 "Wrong source command printed when warning"
[code]

The warning message above seems wrong:
The `source` command should be fed with `"$file"` argument.
I'm new to fish shell, so it was a bit confusing...

[2017-06-22 03:59] jbucaran commented on #389
@igrep Whoops, you are totally right.

- https://github.com/fisherman/fisherman/blob/master/fisher.fish#L50

To fix this, just add a backslash before `$file` like this `\$file`.

Do you want to send a PR?

[2017-06-22 04:00] igrep commented on #389
Okay, let me make my contribution map more green! 😏

[2017-06-22 04:40] #389 closed

[2017-06-29 14:53] externl opened #391 "fisher.fish completion always installed into wrong folder"
I keep my fisherman install in a separate folder from my user config. In my `config.fish` I have:

[code]

Everything is installed into the correct location except for the fisher.fish completion. It's installed to `~/.config/fish/completions/fisher.fish`, instead of `~/.config/fish/fisherman/completions/fisher.fish` like everything else.

[2017-06-29 15:01] jbucaran commented on #391
@externl I don't understand your config.fish. Why don't you let fisher to put stuff in the default fish_function/complete_path?

[2017-06-29 15:02] jbucaran commented on #391
@externl The line we want to edit is [here](https://github.com/fisherman/fisherman/blob/d2db99402367810dfc666d7d204fd24ad6d6ac17/fisher.fish#L120).

[2017-06-29 15:04] externl commented on #391
@jbucaran Fisher installs too much stuff into the functions folder. I have many other functions in there that I've written, it's painful to maintain them while having to sift through the fisher installed ones.

[2017-06-29 15:05] jbucaran commented on #391
@externl Yes, I can understand some people feel that way. For that reason, there is $fish_path.

[2017-06-29 15:06] externl commented on #391
Ah, I did not think fisher was updating these values.

[2017-06-29 15:11] jbucaran commented on #391
@externl Fisherman will put stuff into fish fish_function/complete_path by default (but it doesn't update or touch their values).

You can opt out this behavior by setting $fish_path. If you do so, fisherman will put stuff under $fish_path/{functions,complete}, etc., which is what you probably need.

[2017-06-29 15:12] externl commented on #391
@jbucaran. That's what I'm doing. See my first message.

The issue is that fisher installs one file (fisher.fish completion) into the wrong location. It should be in `$fish_path/completions`, but it's not.

[2017-06-29 15:57] externl commented on #391
So, after staring that this I realized I was not exporting `fish_path`.

[2017-06-29 19:03] externl commented on #391
Actually, I was mistaken to close this issue. There is a bug.

In https://github.com/fisherman/fisherman/blob/d2db99402367810dfc666d7d204fd24ad6d6ac17/fisher.fish#L120,

[code]

`$fish_config` is incorrect. This should be `$fish_path`.

[2017-06-29 19:07] jbucaran commented on #391
@externl Then we should replace all `$fish_config`s with `$fish_path`. 🤔

If you want you can make the change and test if things still work as expected.

[2017-06-29 19:08] externl commented on #391
Sure, will do.

[2017-06-30 19:13] #391 closed

[2017-06-30 19:13] externl commented on #391
Fixed with https://github.com/fisherman/fisherman/issues/391

[2017-07-02 01:33] Dorian opened #393 "Installing with homebrew"
e.g. doing `brew install fisherman`

https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

I'm not sure how complicated this would be.

[2017-07-02 05:07] jbucaran commented on #393
@Dorian IIRC you can install fisherman via brew, but it is not recommended. The same way you install brew manually using a script, you should install fisherman manually. Fortunately, the process is simple. Copy `fisher.fish` and put it into your ~/.config/fish/functions. That's it. 😄

[2017-07-02 11:34] Dorian commented on #393
It's not in homebrew-core, but in a separate tap: https://github.com/fisherman/homebrew-tap/blob/master/fisherman.rb

[2017-07-02 12:10] jbucaran commented on #393
Yes, I should've posted the link! Whoops. 😅

If if it works for you then fine.

BTW if you installed fisherman using the recommended procedure and then what to uninstall, you can run `fisher self-uninstall`. 😉

Alright, is it okay to close here?

[2017-07-02 12:17] #393 closed

[2017-07-02 13:40] Dorian commented on #393
I opened a pull request on homebrew-core, you got 2300+ stars, should be more than enough to quality

[2017-07-02 18:13] jbucaran commented on #393
@Dorian That's awesome! Can you take care of that? I can help if you need help, but I am not well versed in the arts of brew.

[2017-07-10 13:04] gimoh commented on #326
I just came across this when trying to run fisher during docker build. Given the following `Dockerfile`:

[code]

when I run `docker build` I get:

[code]

In this case, in the code you referenced `isatty` returns false, so it just goes into the `else` `set cmd "install"` branch.

[2017-07-10 13:55] gimoh commented on #326
BTW, this works around it:

[code]

[2017-07-11 14:19] laughedelic opened #394 "Loading abbreviations on plugin install"
Hi. What is the usual way to persist the abbreviations list? I made a file with a list of `abbr` command calls, to be just sourced when I want to setup a new machine with my settings.

If there is no standard way of keeping abbreviations and other similar commands, it would be a nice feature to source some plugins files only once on installation (and update?).

[2017-07-11 14:42] jbucaran commented on #394
@laughedelic I don't use abbreviations, but if I were you, I would create a "guarded" snippet that has all the `abbr` function calls and then sets a universal variable "on" so that the next time the snippet runs you skip running the `abbr` commands.

What do you think?

[2017-07-12 00:10] sethfowler commented on #380
There are `--git-dir=<path/.git>` and `--work-tree=<path>`. Newer git can also do `git -C <path>`, which is the most minimalist option.

[2017-07-17 15:38] DjebbZ opened #395 "Plugin not enabled after installation"
Hello,

I installed the following plugin https://github.com/jichu4n/fish-command-timer, installation went fine, plugin file is located at both places `~/.{cache,config}/fisherman/command-timer/fish_command_timer.fish` (looks normal to me), it's listed the fishfile (line `jichu4n/fish-command-timer` exists) but the plugin is not enabled. I have to manually call the `fish_command_timer` command in t